        /*input  {
          width: 80%;
          padding: 8px 15px;
          box-sizing: border-box;
          float: left;
        }*/
        /* The switch - the box around the slider */
html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: system-ui;
    left: 0;
    top: 0;
    display: table-caption;
    position: absolute;
    margin: 0;
    cursor: default;
}
        
        #emailer{
            position: fixed;
            width: 100%;
        }
        .btn {
            padding: 2px 0px 1px 0px;
        }
        .btnn{
            background: rgb(7 58 128 / 4%) !important;
            border: none;
            /* margin-bottom: 1.2px; */
            box-shadow: inset 0px 0px 5px rgb(1 59 138 / 9%);
            /* margin-left: 1.7px; */
            font-size: 13px !important;
            display: flex;
            /* width: 100px !important; */
            flex-direction: row;
            flex-wrap: nowrap;
            align-content: center;
            justify-content: center;
            align-items: center;
            border-radius: 2px;
            /* padding: 3px 15px; */
            position: relative;
            cursor: pointer;
        }


        .editButtons{
            /*border-style: solid;
            border-width: 1px 1px*/ 0px 1px;

            padding: 4px;
            width: 80%;
            float: left;
            margin-left: 20px;
            border-color: #c3c6ca;
            min-height:36px;
            max-height: 36px;
            background-color: #f7f8f9;
        }
        .error-message {
          color: #cc0033;
          display: inline-block;
          font-size: 16px;
          line-height: 18px;
          margin: 5px 0 0;
        }
        .api{
          width: 300px;
          padding: 12px 20px;
          margin: 8px 0;
          box-sizing: border-box;
        }
        #linkForm{
            display:none;
        }
        .editIcon{
            float:left;
            padding-left: 10px;
            cursor: pointer;
        }
        .editIcons{
            display:none;
        }
        .edit{
            display:block;
            cursor: pointer;
        }
        .footer{
            width: 615px;
            position: relative;
            top: 12px;
            height: max-content;
            display: flex;
            align-items: flex-end;
        }
        .editable {
            width: 100%;
            height: 225px;
            border-style: solid;
            border-width: 0;
            /* border-color: #ccc; */
            padding: 8px 12px;
            padding-right: 25px;
            overflow: auto;
            /*white-space: pre;*/
            font-weight: 400;
            float:left;
            margin: 0px;
            outline: 0;
            box-sizing: border-box;
            box-shadow: inset 0px 0px 5px #ffffff, 0px 0px 2px #bfbfbfad;
            border-radius: 1px;
            font-size: 15px;
            cursor: default;
            border: 1px solid #dfdfdf;
            background-color: #63634d08;
            position: relative;            
            cursor: default;
            line-height: 1.8;
        }

.subject{
    width: 615px;
    height: 36px;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: #ccc;
    padding: 5px;
    overflow: auto;
    white-space: pre;
    font-weight: 400;
    float:left;
    margin: 0px;
}
.saveButtons{
     height: 300px;
     float:left;
     padding:30px;
/*   padding-left: 5px;
     padding-top: 140px;*/
}
/*ul li {
  margin: 10px;
}*/
strong {
  font-weight: bold;
}
   .goog-te-banner-frame.skiptranslate {
            display: none !important;
        }
        body {
            /* top: 0px !important; */
        }
        @font-face {
  font-family: 'zb-fonticons';
  src:  url('/fonts-icon/zb-fonticons.eot?9bjl2c');
  src:  url('/fonts-icon/zb-fonticons.eot?9bjl2c#iefix') format('embedded-opentype'),
    url('/fonts-icon/zb-fonticons.ttf?9bjl2c') format('truetype'),
    url('/fonts-icon/zb-fonticons.woff?9bjl2c') format('woff'),
    url('/fonts-icon/zb-fonticons.svg?9bjl2c#zb-fonticons') format('svg');
  font-weight: normal;
  font-style: normal;
}
#loader {
    width: 100%;
    height: 100%;
    justify-content: center;
    display: flex;
    box-sizing: border-box;
    background-color: white;
    text-align: left;
    align-items: center;
    position: absolute;
    z-index: 1000;
    left: 0;
    top: 0;
    margin: 0;
}

.check{
    border: 0.5px solid grey;
    cursor: pointer;
    float:left;
    width:50px;
    height:30px;
    padding-left:10px;
    background-color: white;
}
.button {
  background-color:#f7f8f9;
  border: none;
  width: 33px;
  padding-top: 3px;
  max-height:33px;
  /*padding: 3px;*/
}
.dropdown-item {
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    /* background-color: whitesmoke; */
    white-space: nowrap;
    box-shadow: none;
}
    /* The actual popup */
.popup{
    display: none;
}

.mappingDiv{
    width: 100%;
    height: 100%;
    padding: 40px;
    padding-top: 35px;
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
}

.calendar{
    float: left;
    width: 40%;
    text-align:left;
    max-width: 250px;
     overflow: auto;
}
.arrow{
    float: left;
    width: 20%;
    text-align:left;
    padding-left: 10px;
}
.map{
    width: 100%;
}
.opaque{
     opacity: 0.3;
     filter: Alpha(opacity=50); /* IE8 and earlier */
     pointer-events:none;
}
.send{
    padding: 6px 40px 4px 40px;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    background-color: rgb(45 109 198);
    border: 0;
    border-radius: 2px;
    color: #ebf4ff;
    cursor: pointer;
    box-shadow: 0px 2px 3px rgb(49 90 147);
    position: relative;
    top: -5px;
}
.choosemodules{
    float:left;
    width: 100px;
    font-size:16px;
    background-color: whitesmoke;
    border :1px solid grey;
}
.choose, .templateChoose, .senderChoose {
    float:left;
    width: 155px;
    font-size: 13px;
    /* background-color: #fff; */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    top: -0.5px;
    position: relative;
    text-transform: capitalize;
}
.ellipses{
  overflow: hidden;
  text-overflow: ellipsis; 
  white-space: nowrap; 
}
.arrowIcon, .dp_arrowIcon{
    display: inline-block;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
    position: relative;
    top: 1px;
    right: -4px;
} 

.templateItem:hover {
    background-color: #15588414;
}
.overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 300;
}

.text{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 17px;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);  
}

.api-key-highlight{
    border: 2px solid white;
    padding:2px 10px;
    border-radius: 5px;
    color: white;
    margin: 0px 5px;
    font-size: 14px;
    background-color: green;
  }
  .save{
    padding: 10px 15px;
    box-sizing: border-box;
    float:left;
    width:20%;
    cursor:pointer;
    color: #fff;
    background: #8e8d8d;
}
.insert{
    clear:both;
    display: flex;
    /* max-width: 615px; */
}
.schedule{
    font-family: 'ProximaNovaRegular';
    font-size: 15px;
    font-weight: 300;
}
.scheduleCheck{
    width: 50px;
    position: relative;
    display: flex;
    height: 100%;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    box-sizing: border-box;
    justify-content: flex-end;
    box-sizing: border-box;
    padding-right: 5px;
}

.datetimeText{
    color:blue;
    cursor: pointer;
}

.dropdown-menu{
    overflow: auto;
    margin: auto;
    background-color: rgb(253 253 253);
    z-index: 10;
    width: 100%;
    border-radius: 3px;
    box-shadow: 0px 0.5px 2px #52525261;
    padding: 3px 0px;
    position: absolute;
    top: 29.5px;
    max-height: 215px;
}
#dateTime{
    display: none;
}
.dateTime{
    background: #00000047;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    font-size: 17px;
    color: white;
    /* transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);*/
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding-top: 62px;
    cursor: default;
}
.scheduleIcon{
    float: left;
    padding: 5px;
    color:black;
    background-color: white;
    border-radius: 49px;
}
#datepicker{
    max-width: 81px;
    float: left;
    padding: 6px 13px;
    padding-top: 11px;
    cursor: pointer;
    margin-left: 5px;
    font-size: 16px;
    border: 0px;
    border-radius: 3px;
    /* border-top-right-radius: 0px; */
    /* border-bottom-right-radius: 0px; */
    outline: 0;
}
.timings {
    float: left;
    /* background: white; */
    cursor: pointer;
}
.scheduleClose{
    margin-left:10px;
    padding: 8px 35px;
    margin-top: 8px;
    box-shadow: none;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    background-color: rgb(45 109 198);
    border: 0;
    border-radius: 2px;
    color: #ebf4ff;
    cursor: pointer;
    position: relative;
    top: -3px;
}
.cancel{
    padding: 8px 30px;
    float: left;
    font-size: 15px;
    text-align: center;
    border-radius: 3px;
    cursor: pointer;
    background-color: white;
    color:black;
    border:solid 1px #c4c4c4;
    position: relative;
    top: -3px;
}
.singleLine{
    clear:both;
    width: 100%;
    position: relative;
    display: flex;
    box-sizing: border-box;
    padding: 10px 40px;
    /* height: 50px; */
    align-items: center;
}
.textLable{
    width: 120px;
    font-size: 14px;
    font-family: system-ui;
    font-weight: 500;
}
#templateName{
    width: 230px;
    padding: 8px 12px 5px;
    border-bottom: 2px solid #09427a !important;
    position: relative;
    border-radius: 0px;
    outline: 0;
    box-shadow: 1px 1px 2px rgb(0 0 0 / 30%);
    border: 0px !important;
    border-left: 2px solid #09427a !important;
    box-sizing: border-box;
    cursor: default;
    border-top-right-radius: 3px;
    background-color: rgb(232, 240, 254);
    border-bottom-right-radius: 3px;
}
.dropdown .tooltiptext {
  visibility: hidden;
  width: 155px;
  font-weight:100; 
  font-size: 15px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.template{
    /* float:left; */
    /* margin-left :20px; */
    position: relative;
    /* top: -1px; */
    width: calc(100% - 120px);
}


/* message loading style */

.wcMsgLoadingInner {
    margin: 0 auto;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.06),0 2px 5px 0 rgba(0,0,0,.2);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    color: rgba(0,0,0,0.25);
}

.wcMsgLoadingOuter {
    display: flex;
    flex: none;
    justify-content: center;
    padding: 15px 0px;
    box-sizing: border-box;
}

.wcMsgLoadingSvgCircle {
    stroke: #ccc;
    stroke-dasharray: 1,150;
    stroke-dashoffset: 0;
    stroke-linecap: round;
    animation: wcMsgLoadingSvgCircle 1.5s ease-in-out infinite;
}

.wcMsgLoadingSVG {
    animation: wcMsgLoadingSVG 2s linear infinite;
}

@keyframes wcMsgLoadingSVG{
    to{transform:rotate(1turn)}
}

@keyframes wcMsgLoadingSvgCircle{
    0%{stroke-dasharray:1,150;stroke-dashoffset:0}
    50%{stroke-dasharray:90,150;stroke-dashoffset:-35}
    to{stroke-dasharray:90,150;stroke-dashoffset:-124}
}

/* message loading style */

/* Alart function style */

.wcConfirmOuter {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #36363680;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    z-index: 200;
}

.wcConfirmInner {
    position: absolute;
    min-width: 417px;
    max-width: calc(100% - 500px);
    min-height: 100px;
    max-height: max-content;
    border-radius: 5px;
    background-color: #f7f7f7;
    display: flex;
    justify-content: flex-start;
    align-content: space-between;
    align-items: flex-end;
    flex-wrap: nowrap;
    flex-direction: column;
    box-shadow: 0px 2px 12px #767676;
}

.wcConfirmBody {
    position: relative;
    width: 100%;
    height: max-content;
    min-height: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 20px 30px;
    justify-content: flex-start;
}

.wcConfirmButt {
    position: relative;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    align-items: flex-start;
    flex-wrap: nowrap;
    align-content: center;
    flex-direction: row;
    height: 54px;
    /* right: 20px; */
    padding-right: 20px;
    /* bottom: 20px; */
    box-sizing: border-box;
}

.wcConfirmYes {
    background-color: #3f4fcc;
    color: white;
    box-sizing: border-box;
    padding: 2px 10px;
    border-radius: 3px;
    margin: 5px 5px;
    box-shadow: inset 0px 0px 11px #4244707a;
    cursor: pointer;
}

.wcConfirmCancel {
    background-color: #d6d6d6;
    color: #525252;
    box-sizing: border-box;
    padding: 2px 10px;
    border-radius: 3px;
    margin: 5px 5px;
    box-shadow: inset 0px 0px 11px #c5c5c57a;
    cursor: pointer;
}

/* Alart function style */

.dropListButt, .senderFieldDivButt, .templateFieldDivButt {
    background-color: whitesmoke;
    padding: 5px 15px !important;
    border-radius: 3px;
    box-shadow: 1px 1px 3px rgb(0 0 0 / 30%);
    font-size: 14px !important;
    color: black;
    border: none !important;
    text-align: left;
    outline: 0 !important;
    width: 200px;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

select#countryCode {
    background-color: transparent;
    padding: 2px 10px 6px !important;
    border-radius: 5px;
    /* box-shadow: 0px 2px 5px rgb(0 0 0 / 30%); */
    font-size: 12px !important;
    color: transparent;
    border: none !important;
    text-align: left;
    box-sizing: border-box;
    outline: 0;
    text-overflow: ellipsis;
    cursor: pointer;
    max-width: 85px;
    height: 27px;
    z-index: 10;
    position: relative;
}

.dropdown-item:active, .templateItem:active {
    
    background-color: #94a7b847 !important;
}

.dropdown-item:hover {
    background-color: #15588414;
}

input#editNumber::placeholder {
    color: #808ebd;
}

input#editNumber {
    max-width: 165px;
    border-radius: 3px;
    outline: 0;
    padding: 7.2px 10px 4.8px 10px;
    box-shadow: 1px 1px 2px rgb(0 0 0 / 30%);
    border: 0px !important;
    border-left: 2px solid #09427a !important;
    box-sizing: border-box;
    margin-left: 5px;
    font-size: 14px;
    position: relative;
    top: 0px;
    cursor: default;
    background-color: rgb(232, 240, 254);
}

::-webkit-scrollbar-thumb {
    background: #2d7dcb;
    border-radius: 8.2px;
}

::-webkit-scrollbar-track {
    background-color: rgb(253 253 253);
}

::-webkit-scrollbar {
    width: 2px;
}

#countryCodeStyleOut, #countryCodeStyleOutBulk {
    box-shadow: 1px 1px 3px rgb(0 0 0 / 30%);
    /* padding-right: 7px; */
    background-color: whitesmoke;
    float: left;
    border-radius: 3px;
    margin-left: 5px;
    position: relative;
    overflow: hidden;
}

#countryCodeStyleOutBulk {
    padding-right: 7px;
    margin-left: 10px;
}

select#bulkCountryCode {
    background-color: whitesmoke !important;
    padding: 2px 10px 2px !important;
    border-radius: 5px;
    /* box-shadow: 0px 2px 5px rgb(0 0 0 / 30%); */
    font-size: 12px !important;
    color: black;
    border: none !important;
    text-align: left;
    box-sizing: border-box;
    outline: 0;
    text-overflow: ellipsis;
    cursor: pointer;
    max-width: 155px;
    height: 28px;
}


.dropdown-toggle::after {
    position: relative;
    left: 5px;
    top: 2px;
}

select#timeList {
    border: 0;
    height: 36px;
    border-radius: 3px;
    margin-left: 5px;
    outline: 0;
    box-sizing: border-box;
    padding: 6px 0px;
    font-size: 15px;
    padding-top: 9px;
}

li {
    cursor: pointer;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    font-size: 12px;
    /* padding: 5px 10px; */
}

.saveSettingsButt:hover {
    box-shadow: 0px 4px 4px rgb(51 87 138);
}

.saveSettingsButt{
    padding-bottom: 2px;
    box-sizing: border-box;
    float:left;
    width: 100px;
    height: 30px;
    cursor:pointer;
    color: #fff;
    background: #006ec2;
    display: flex;
    text-align: center;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    position: relative;
    box-shadow: 0px 2px 3px rgb(49 90 147);
}
.settingInputOut{
    min-width: 400px;
    float:left;
    clear: both;
}
#webHookurl{
    width: calc(100% - 404px);
    height: max-content;
    word-break: break-all;
    padding: 10px 15px;
    background-color: #eaeaea;
    border: 1px;
    border-style: dashed;
    border-color: #9a9a9a;
    cursor: default;
    border-width: thin;
    font-size: 14px;
}

.overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
}


/* The switch - the box around the slider */
        /*.switch {
          position: relative;
          display: inline-block;
          width: 60px;
          height: 34px;
        }
        .btn {
            padding: 2px 0px 1px 0px;
        }*/
        /* Hide default HTML checkbox */
        /*.switch input {
          opacity: 0;
          width: 0;
          height: 0;
        }*/

        /* The slider */
        /*.slider {
          position: absolute;
          cursor: pointer;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: #ccc;
          -webkit-transition: .4s;
          transition: .4s;
        }

        .slider:before {
          position: absolute;
          content: "";
          height: 26px;
          width: 26px;
          left: 4px;
          bottom: 4px;
          background-color: white;
          -webkit-transition: .4s;
          transition: .4s;
        }

        input:checked + .slider {
          background-color: #2196F3;
        }

        input:focus + .slider {
          box-shadow: 0 0 1px #2196F3;
        }

        input:checked + .slider:before {
          -webkit-transform: translateX(26px);
          -ms-transform: translateX(26px);
          transform: translateX(26px);
        }*/

        /* Rounded sliders */
        /*.slider.round {
          border-radius: 34px;
        }

        .slider.round:before {
          border-radius: 50%;
        }
        .styled-select {
           height: 29px;
           width :200px;
             overflow: hidden;
             text-overflow: ellipsis; 
  white-space: nowrap; 
        }*/
     /*   .styled-select select {
           background: transparent;
           border: none;
           font-size: 14px;
           height: 29px;
           padding: 5px; 
           width :200px;
            overflow: hidden;
  text-overflow: ellipsis; 
  white-space: nowrap; 
        }*/
       /* .styled-select.slate {
           height: 32px;
           text-overflow: ellipsis; 
  white-space: nowrap; 
        }

        .styled-select.slate select {
           border: 1px solid #ccc;
           font-size: 16px;
           height: 32px;
        }*/

.messageMethodOut {
    display: flex;
    /* border: 1px solid #ececec8a; */
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: 2px 2px 5px #c7c7c7;
    position: relative;
    top: -4px;
    width: 175px;
    overflow: hidden;
}

.voiceButtMsg {
    display: flex;
    box-sizing: border-box;
    padding: 6px 10px;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    color: rgb(160, 160, 160);
    width: 50%;
}

.TextButtMsg {
    display: flex;
    box-sizing: border-box;
    padding: 6px 10px;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    cursor: default;
    background-color: rgb(15, 90, 193);
    color: white;
    width: 50%;
}

.voiceButtMsgSpan {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.voiceButtMsgSpan span {
    font-size: 17px;
}

.voiceButtMsgtxt {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    box-sizing: border-box;
    padding: 0px 5px 0px 5px;
    position: relative;
    top: 0px;
}

.TextButtMsgSpan {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.TextButtMsgtxt {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    box-sizing: border-box;
    padding: 0px 5px 0px 5px;
    position: relative;
    top: 0px;
}

.TextButtMsgSpan span {
    font-size: 17px;
    position: relative;
    top: 0px;
}

.extensionCredential {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-end;
    align-items: center;
    height: 30px;
    width: 100%;
}

.dropdown {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
}

.extensionHeadOut {
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}

.extensionLogo {
    width: 100%;
    position: relative;
}

.extensionLogoDiv {
    /* background-color: black; */
    box-sizing: border-box;
    /* padding: 5px 5px; */
    width: 135px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 10px;
    /* box-shadow: 0px 0px 3px black; */
}

.creditsOfextensionDiv {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
    box-sizing: border-box;
    position: relative;
    font-family: system-ui;
    font-weight: 600;
    right: 0px;
    top: 0px;
    text-shadow: 0px 0px 1px #0b155b96;
    color: #030c50;
}

#msgBoxHead {
    padding: 0px;
    height: 23px;
}

.creditsOfextension {
    position: relative;
    top: 0px;
    box-sizing: border-box;
    padding-left: 2px;
}

.creditsOfextensionSpan {
    position: relative;
    top: 0px;
}

span#selectedTemplate {
    width: 100px;
    text-align: left;
}

.dropdown.tempDropdown {
    justify-content: flex-end;
    position: relative;
    top: -1.7px;
}

.dp_arrowIcon {
    border-top: .25em solid;
    border-right: .25em solid transparent;
    border-bottom: 0;
    border-left: .25em solid transparent;
    color: #3e3e3e;
    position: relative;
    top: 1.5px;
}

#bulkNumberList li {
    width: 100%;
}

#NumberList {
    padding: 3px 0px;
    position: absolute;
    left: 0px;
}

#bulkNumberList li:hover {
    background-color: #15588414 !important;
}

#NumberList li:hover {
}

.dropUlOut, .template_FieldDiv, .sender_FieldDiv {
    position: relative;
    display: flex;
    flex-direction: column;
}

.moduleFieldDiv, .userFieldDiv, .templateFieldDiv {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: 1.4px;
}

.userFieldDiv {
    width: 154px;
}

div#container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

button.dropdown_Butt, .templateItem {
    border: 0;
    background-color: transparent;
    width: 100%;
    padding: 7px 15px 5px 15px;
    margin: 0;
    font-size: 11px;
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-align: left;
    box-sizing: border-box;
    cursor: default;
    text-transform: capitalize;
}

ul#dropdown-menu-user, ul#dropdown-menu-email, #templateList {
    top: 26px;
    border-radius: 2px;
    padding: 2.8px 0px 3px 0px;
    z-index: 20;
    margin-left: 1.4px;
    width: calc(100% - 1.4px);
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

button.msgBoxInsertFieldButt {
    background-color: transparent;
    border: 0;
    outline: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    padding: 3px 15px;
    z-index: 0;
    font-size: 13px;
    font-family: system-ui;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

div#ulg_extensionDetail {
    position: relative;
    height: 70px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.showSelectedCode {
    width: 100%;
    height: 100%;
    background-color: #83242400;
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    color: black;
    display: flex;
    padding: 0px 10px;
    box-sizing: border-box;
    justify-content: center;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    flex-direction: row;
    padding-right: 23px;
}

select#countryCode option {
    color: #454545;
}

.selectedCountryCodeShow {position: relative;top: 0px;font-size: 13.5px;}

.downArrowSVG svg {
    width: 18px;
    height: 29px;
    fill: #a7a7a7;
}

.downArrowSVG {margin-left: 5px;position: absolute;right: 8px;padding-top: 5.5px;}

.selectedCountryCodeHint {
    margin-right: 0px;
    position: relative;
    top: -1px;
}

div#countryCodeOutSingle {margin: 0;/* margin-left: 10px; */width: calc(100% - 150px);padding: 0;box-sizing: border-box;display: flex;position: relative;flex-direction: row;flex-wrap: nowrap;align-content: center;justify-content: flex-end;align-items: center;}

input#scheduleCheck {
    font-size: 30px;
    cursor: pointer;
}

.sms_userDetaildivision {
    box-sizing: border-box;
    font-weight: 400;
    position: relative;
    right: 13px;
    display: flex;
}

.sms_credentialHead {
    display: flex;
    font-size: 13px;
    font-weight: 400;
    box-sizing: border-box;
    padding-right: 5px;
    position: relative;
    top: -2px;
    align-items: flex-end;
}

.sms_userDetainBar {
    padding: 0px 10px;
    font-size: 16px;
    font-weight: 100;
}

input.extensionSettingInput {
    width: 100%;
    height: 100%;
    padding: 12px 15px;
    min-width: 247px;
    border-radius: 3px;
    outline: 0;
    border: 0.1px #d0e7f9;
    border-style: groove;
    box-sizing: border-box;
    position: relative;
    border-top-left-radius: 0;
    padding-right: 35px;
    background-color: rgb(232, 240, 254);
    border-bottom-left-radius: 0;
    padding-top: 11px;
    color: #081763;
    font-weight: 500;
    font-size: 14px;
    font-family: system-ui;
}

h3.smsPortalName {
    width: max-content;
}

details.dropUlOut.chooseModuleTemp {
    top: 0px;
}

.createTemplateOuterDiv {
    position: relative;
    box-sizing: border-box;
    padding-top: 0px;
}

.extensionCredentialMain {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    position: relative;
    left: -15px;
}

.extensionDetailsSetting {
    position: relative;
    width: 100%;
    height: max-content;
    font-family: system-ui;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    padding: 40px;
    box-sizing: border-box;
}

.headofExtensionSetting {
    font-size: 29px;
    font-weight: 500;
    width: 70%;
}

.outerOfSettingDetails {
    width: 70%;
    box-sizing: border-box;
    position: relative;
    margin: 20px 0px 71px 0px;
    display: flex;
}

.inputDeatilsOut {
    width: 100%;
    display: flex;
    height: 50px;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    border-radius: 3px;
    outline: 0;
    box-shadow: 0px 2.5px 3px #09427a57;
    border: 0px #d0d7dd;
    /* border-left: 2px solid #09427a; */
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    margin: 5px 0px;
}

.inputDeatilsTittle {
    background-color: #1e5f9f;
    height: 100%;
    width: 175px;
    position: relative;
    z-index: 100;
    justify-content: center;
    align-items: center;
}

.inputDeatilsTitBody {
    font-size: 13px;
    display: flex;
    height: 100%;
    position: absolute;
    right: 6px;
    top: 10.7px;
    z-index: 100;
}

.saveSettingsButtOut {
    /* width: 100%; */
    position: absolute;
    display: flex;
    align-items: flex-end;
    bottom: -33px;
    right: 0;
    justify-content: space-evenly;
}

.WebhookUrlShowOut {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    /* position: absolute; */
    /* left: 5.5%; */
    bottom: 100px;
    box-sizing: border-box;
    padding: 0px 7%;
}

.WebhookUrlHeadHint {
    width: 404px;
    word-break: break-all;
}

.WebhookUrlDescription {
    font-size: 13px;
}

.inputDeatilsBody {
    height: 100%;
    width: calc(100% - 174px);
    display: flex;
    margin-left: -1px;
}

.inputDeatilsTitHead {
    display: flex;
    height: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
}

.inputDeatilsHintEdit {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    color: white;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 0px 18px;
}

svg.inputDeatilsHintEditSVG {
    fill: white;
    width: 25px;
    height: 25px;
    padding-right: 15px;
}

.inputDeatilsHintVerfied {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    color: white;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 0px 15px;
}

svg.inputDeatilsHintVerfiSVG {
    fill: white;
    width: 25px;
    height: 25px;
}

div#numberLoader {
    position: absolute;
    width: 30px;
    height: 30px;
    z-index: 200;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    top: 0.2px;
}

/*dot circle loader style */

#floatingCirclesG{
    position:relative;
    width:26px;
    height:26px;
    margin:auto;
    transform:scale(0.6);
        -o-transform:scale(0.6);
        -ms-transform:scale(0.6);
        -webkit-transform:scale(0.6);
        -moz-transform:scale(0.6);
}

.f_circleG{
    position:absolute;
    background-color: rgb(255 255 255 / 0%);
    height:5px;
    width:5px;
    border-radius:2px;
    -o-border-radius:2px;
    -ms-border-radius:2px;
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
    animation-name:f_fadeG;
    -o-animation-name:f_fadeG;
    -ms-animation-name:f_fadeG;
    -webkit-animation-name:f_fadeG;
    -moz-animation-name:f_fadeG;
    animation-duration:1.35s;
    -o-animation-duration:1.35s;
    -ms-animation-duration:1.35s;
    -webkit-animation-duration:1.35s;
    -moz-animation-duration:1.35s;
    animation-iteration-count:infinite;
    -o-animation-iteration-count:infinite;
    -ms-animation-iteration-count:infinite;
    -webkit-animation-iteration-count:infinite;
    -moz-animation-iteration-count:infinite;
    animation-direction:normal;
    -o-animation-direction:normal;
    -ms-animation-direction:normal;
    -webkit-animation-direction:normal;
    -moz-animation-direction:normal;
}

#frotateG_01{
    left:0;
    top:10px;
    animation-delay:0.51s;
        -o-animation-delay:0.51s;
        -ms-animation-delay:0.51s;
        -webkit-animation-delay:0.51s;
        -moz-animation-delay:0.51s;
}

#frotateG_02{
    left:3px;
    top:3px;
    animation-delay:0.68s;
        -o-animation-delay:0.68s;
        -ms-animation-delay:0.68s;
        -webkit-animation-delay:0.68s;
        -moz-animation-delay:0.68s;
}

#frotateG_03{
    left:10px;
    top:0;
    animation-delay:0.85s;
        -o-animation-delay:0.85s;
        -ms-animation-delay:0.85s;
        -webkit-animation-delay:0.85s;
        -moz-animation-delay:0.85s;
}

#frotateG_04{
    right:3px;
    top:3px;
    animation-delay:1.01s;
        -o-animation-delay:1.01s;
        -ms-animation-delay:1.01s;
        -webkit-animation-delay:1.01s;
        -moz-animation-delay:1.01s;
}

#frotateG_05{
    right:0;
    top:10px;
    animation-delay:1.18s;
        -o-animation-delay:1.18s;
        -ms-animation-delay:1.18s;
        -webkit-animation-delay:1.18s;
        -moz-animation-delay:1.18s;
}

#frotateG_06{
    right:3px;
    bottom:3px;
    animation-delay:1.35s;
        -o-animation-delay:1.35s;
        -ms-animation-delay:1.35s;
        -webkit-animation-delay:1.35s;
        -moz-animation-delay:1.35s;
}

#frotateG_07{
    left:10px;
    bottom:0;
    animation-delay:1.52s;
        -o-animation-delay:1.52s;
        -ms-animation-delay:1.52s;
        -webkit-animation-delay:1.52s;
        -moz-animation-delay:1.52s;
}

#frotateG_08{
    left:3px;
    bottom:3px;
    animation-delay:1.69s;
        -o-animation-delay:1.69s;
        -ms-animation-delay:1.69s;
        -webkit-animation-delay:1.69s;
        -moz-animation-delay:1.69s;
}



@keyframes f_fadeG{
    0%{
        background-color:rgb(49 61 176);
    }

    100%{
        background-color:rgba(255,255,255,0);
    }
}

@-o-keyframes f_fadeG{
    0%{
        background-color:rgb(49 61 176);
    }

    100%{
        background-color:rgba(255,255,255,0);
    }
}

@-ms-keyframes f_fadeG{
    0%{
        background-color:rgb(49 61 176);
    }

    100%{
        background-color:rgba(255,255,255,0);
    }
}

@-webkit-keyframes f_fadeG{
    0%{
        background-color:rgb(49 61 176);
    }

    100%{
        background-color:rgba(255,255,255,0);
    }
}

@-moz-keyframes f_fadeG{
    0%{
        background-color:rgb(49 61 176);
    }

    100%{
        background-color:rgba(255,255,255,0);
    }
}

/*dot circle loader style */

div#templateNotSelect {
    width: calc(100% - 0px);
    height: 400px;
    position: absolute;
    left: 0;
    top: 20px;
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    /*background-color: #dfdfdf8f;*/
    cursor: default;
    z-index: 100;
}

div#templateNotSelectSub {
    box-sizing: border-box;
    background-color: #d9d9d9;
    padding: 5px 15px;
    border-radius: 3px;
    color: #7e7e7e;
    position: relative;
    top: -52px;
}

div#smsTypeSetting {
    display: flex;
    justify-content: space-between;
}

.msgSendOutterDiv {
    position: relative;
    z-index: 200;
}

.inputDeatilsTitBody a {
    height: 16px;
}

.settingcontentDiv {
    display: flex !important;
    align-items:center;
    justify-content: center;
    padding: 0;
}

input#apikey::placeholder {
    color: #808ebd;
    font-weight:400;
}

input#senderId::placeholder {
    color: #808ebd;
    font-weight:400;
}

input#extraId::placeholder {
    color: #808ebd;
    font-weight:400;
}

.innerOfSettingDetails1, .innerOfSettingDetails2, .innerOfSettingDetails3 {
    display: flex;
    width: 100%;
    position: relative;
}

.innerOfSettingDetails {
    width: 100%;
    position: relative;
}

/*sending loader style */

.cssload-contain {
    height: 0;
    margin: auto;
    position: relative;
    top: 7px;
    left: -2px;
}

.cssload-dot {
    float: left;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background-color: rgb(0,0,0);
    background-image: -webkit-linear-gradient(rgba(255,255,255,0.3), transparent), radial-gradient(rgb(34,100,214), rgb(27,88,194));
        -o-radial-gradient(rgb(34,100,214), rgb(27,88,194));
        -ms-radial-gradient(rgb(34,100,214), rgb(27,88,194));
        -webkit-radial-gradient(rgb(34,100,214), rgb(27,88,194));
        -moz-radial-gradient(rgb(34,100,214), rgb(27,88,194));
    background-position: top center;
    margin: 0 1.5px;
    animation: cssload-bounce 0.52s infinite ease alternate;
        -o-animation: cssload-bounce 0.52s infinite ease alternate;
        -ms-animation: cssload-bounce 0.52s infinite ease alternate;
        -webkit-animation: cssload-bounce 0.52s infinite ease alternate;
        -moz-animation: cssload-bounce 0.52s infinite ease alternate;
}
.cssload-dot:nth-child(1) {
    animation-delay: -0.09s;
        -o-animation-delay: -0.09s;
        -ms-animation-delay: -0.09s;
        -webkit-animation-delay: -0.09s;
        -moz-animation-delay: -0.09s;
}
.cssload-dot:nth-child(2) {
    animation-delay: -0.17s;
        -o-animation-delay: -0.17s;
        -ms-animation-delay: -0.17s;
        -webkit-animation-delay: -0.17s;
        -moz-animation-delay: -0.17s;
}
.cssload-dot:nth-child(3) {
    animation-delay: -0.26s;
        -o-animation-delay: -0.26s;
        -ms-animation-delay: -0.26s;
        -webkit-animation-delay: -0.26s;
        -moz-animation-delay: -0.26s;
}
.cssload-dot:nth-child(4) {
    animation-delay: -0.35s;
        -o-animation-delay: -0.35s;
        -ms-animation-delay: -0.35s;
        -webkit-animation-delay: -0.35s;
        -moz-animation-delay: -0.35s;
}
.cssload-dot:nth-child(5) {
    animation-delay: -0.43s;
        -o-animation-delay: -0.43s;
        -ms-animation-delay: -0.43s;
        -webkit-animation-delay: -0.43s;
        -moz-animation-delay: -0.43s;
}
.cssload-dot:nth-child(6) {
    animation-delay: -0.52s;
        -o-animation-delay: -0.52s;
        -ms-animation-delay: -0.52s;
        -webkit-animation-delay: -0.52s;
        -moz-animation-delay: -0.52s;
}



@keyframes cssload-bounce {
    0% {
        transform: translateY(0);
        box-shadow: 0 1.5px 1px rgba(71,34,86,0.2);
    }
    100% {
        transform: translateY(-31px);
        box-shadow: 0 70px 9px rgba(0,0,0,0.1);
    }
}

@-o-keyframes cssload-bounce {
    0% {
        -o-transform: translateY(0);
        box-shadow: 0 1.5px 1px rgba(71,34,86,0.2);
    }
    100% {
        -o-transform: translateY(-31px);
        box-shadow: 0 70px 9px rgba(0,0,0,0.1);
    }
}

@-ms-keyframes cssload-bounce {
    0% {
        -ms-transform: translateY(0);
        box-shadow: 0 1.5px 1px rgba(71,34,86,0.2);
    }
    100% {
        -ms-transform: translateY(-31px);
        box-shadow: 0 70px 9px rgba(0,0,0,0.1);
    }
}

@-webkit-keyframes cssload-bounce {
    0% {
        -webkit-transform: translateY(0);
        box-shadow: 0 1.5px 1px rgba(71,34,86,0.2);
    }
    100% {
        -webkit-transform: translateY(-31px);
        box-shadow: 0 70px 9px rgba(0,0,0,0.1);
    }
}

@-moz-keyframes cssload-bounce {
    0% {
        -moz-transform: translateY(0);
        box-shadow: 0 1.5px 1px rgba(71,34,86,0.2);
    }
    100% {
        -moz-transform: translateY(-31px);
        box-shadow: 0 70px 9px rgba(0,0,0,0.1);
    }
}

/*sending loader style */

.sendingLoaderOuter {
    width: 100%;
    display: flex;
    height: 132px;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}

.sendingLoaderInner {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    box-sizing: border-box;
    padding-top: 15px;
    padding-left: 0px;
}

.sendingLoaderHint {
    width: 100%;
    font-size: 14px;
    font-weight: 200;
    text-shadow: 1px 1px 2px #afafaf;
}

.sendingMsgSuccessSpan {
    width: 50px;
    fill: #1717a7;
    height: 50px;
}

.sendingMsgSuccess {
    display: flex;
    height: calc(100% - 0px);
    width: 100%;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    box-sizing: border-box;
    padding-top: 8px;
}

.sendingMsgSuccessHint {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -12px;
    font-weight: 600;
}

.extensionLogoSetting {
    width: 189px;
    position: relative;
    top: 27px;
    left: -3px;
    /* background-color: black; */
    box-sizing: border-box;
    padding: 2px 10px;
    justify-content: center;
    align-items: center;
    padding-left: 0;
    padding-right: 7px;
    /* box-shadow: 0px 0px 3px black; */
}


.smsPortalName {
    position: relative;
    /* left: -5px; */
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    box-sizing: border-box;
    color: rgb(105,105,107);
    padding-bottom: 5px;
    font-family: system-ui;
    font-weight: 400;
    text-shadow: 0px 0px 1px;
}

.noNumberListStyle {
    padding: 5px 15px;
    cursor: default;
    box-sizing: border-box;
    font-size: 12px;
    color: #777777;
}

.noNumberListStyle:hover {
    background-color: rgb(253 253 253) !important;
}

.editable[placeholder]:empty:before {
    content: attr(placeholder);
    color: rgba(0,0,0,0.55);
    white-space: nowrap;
    font-size: 13px;
}

.creditsOfextensionSpanSvg {
    width: 25px;
    fill: #0c1b83;
    height: 21px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    cursor: default;
    text-shadow: 0px 0px 1px #08167a;
}

.userListHead {
    cursor: default;
    box-sizing: border-box;
    padding: 5px 15px;
    text-shadow: 0px 0px 1px #616161;
    font-weight: 400;
}

.selectedUserList {
    box-sizing: border-box;
    padding: 4px 20px;
    cursor: default;
}

.selectedUserList:hover {
    background-color: #63737d14 !important;
}

.selectedUserTick {
    position: absolute;
    left: 7px;
    text-shadow: 1px 1px 2px #8a8a8a;
}

.userSelectedHover, .userSelectedHover:hover {
    background-color: #eae1f3 !important;
}

.send:hover {
    box-shadow: 0px 4px 5px rgb(51 87 138);
}

input#templateName::placeholder {
    color: #808ebd;
}

.singleLineSender {
    display: flex;
    align-items: center;
}

summary.senderFieldDivButt {
    width: 115px;
}

.hideCredentialsDetails {
    position: absolute;
    height: 100%;
    width: calc(100% - 174px);
    display: flex;
    z-index: 40;
    align-items: center;
    padding: 0px 15px 0px 15px;
    cursor: default;
    font-size: 12px;
    box-sizing: border-box;
    color: #4b5d91d9;
    box-shadow: inset 0px 0px 50px #666fbf2b;
    min-width: 247px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.editCredentialsDetails {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    right: 0;
    top: -27px;
    box-sizing: border-box;
    padding: 3px 4px 3px 10px;
    cursor: pointer;
    color: #f4f8ff;
    background-color: #000000c2;
    border-radius: 3px;
    box-shadow: 1px 1px 2px #2a2b2d6e;
}

.editCredentialsDetailsSVG svg {
    width: 20px;
    height: 15px;
    fill: #f4f8ff;
}

.editCredentialsDetailsText {
    font-size: 15px;
    margin-right: 5px;
}

.editCredentialsDetails:hover {
    background-color: #345dc5;
    color: #f4f8ff;
    box-shadow: 1px 1px 2px #0432798f;
}

.editCredentialsDetails:active {
    background-color: #2649a2;
}

.cancelSettingsButt {
    padding-bottom: 2px;
    box-sizing: border-box;
    float: left;
    width: 100px;
    height: 30px;
    cursor: pointer;
    color: #424242;
    background: #e4e4e4;
    display: flex;
    text-align: center;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    position: relative;
    top: 0px;
    right: 7px;
    box-shadow: 0px 2px 3px rgb(32 32 32 / 30%);
}

.cancelSettingsButt:hover {
    box-shadow: 0px 3px 3px rgb(32 32 32 / 43%);
}

span#selectedTemplate {
    width: 160px;
    text-align: left;
}

.templateItem:hover {
    background-color: #15208414;
}

.senderItem:hover {
    background-color: #a74b7d17;
}
.senderItem:active {
    background-color: #a74b7d2e !important;
}


.selectInsertTextField {
    cursor: pointer;
    font-weight: 500;
    box-sizing: border-box;
    background-color: hsl(51deg 20% 93%);
    padding: 1px 5px 2px;
    outline: 0;
    border-radius: 2px;
    line-height: 1.4;
}

div#templateNotSelect {
    width: calc(100% - 0px);
    height: 400px;
    position: absolute;
    left: 0;
    top: 20px;
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    /*background-color: #dfdfdf8f;*/
    cursor: default;
    z-index: 100;
}

div#templateNotSelectSub {
    box-sizing: border-box;
    background-color: #d9d9d9;
    padding: 5px 15px;
    border-radius: 3px;
    color: #7e7e7e;
    position: relative;
    top: -52px;
}

.sendingLoaderOuter {
    width: 100%;
    display: flex;
    height: 132px;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}

.sendingLoaderInner {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    box-sizing: border-box;
    padding-top: 15px;
    padding-left: 0px;
}

.sendingLoaderHint {
    width: 100%;
    font-size: 14px;
    font-weight: 200;
    text-shadow: 1px 1px 2px #afafaf;
}

.sendingMsgSuccessSpan {
    width: 50px;
    fill: #1717a7;
    height: 50px;
}

.sendingMsgSuccess {
    display: flex;
    height: calc(100% - 0px);
    width: 100%;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    box-sizing: border-box;
    padding-top: 8px;
}

.sendingMsgSuccessHint {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -12px;
    font-weight: 600;
}


.loadingStatusShowDiv {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    position: relative;
    top: -15px;
}

.loadingStatusShowDivStart {box-sizing: border-box;position: relative;width: 20%;display: flex;justify-content: flex-end;padding-right: 20px;align-items: center;}

.loadingStatusShowDivEnd {box-sizing: border-box;
    position: relative;
    width: 20%;
    display: flex;
    justify-content: flex-start;
    padding-left: 20px;
    align-items: center;font-weight: 500;color: #004000;}

.loadingStatusShowDivLoader {width: 60%;box-sizing: border-box;
    position: relative;
    
    display: flex;
    justify-content: flex-end;
    
    align-items: center;}

.loadingStatusShowDivStartDiv {font-size: 18px;font-weight: 600;position: relative;top: -2px;color: #767676;}

.loadingStatusShowDivStartTot {font-weight: 700;}

.loadingStatusShowDivStartThis {font-weight: 700;}

.checkModuleHoverDiffClass, .checkModuleHoverDiffClass:hover {
    background-color: #3104040f;
}

.outerOfSettingDetailsBody {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
}

.outerOfSettingDetailsBSup1 {
    display: flex;
    flex-direction: column;
    /* height: 70px; */
    width: 100%;
}

.outerOfSettingDetailsBSup2 {
    display: flex;
    flex-direction: column;
    /* height: 70px; */
    width: 100%;
    position: relative;
    top: 20px;
}

.outerOfSettingDetailsBSup1Body {
    display: flex;
    width: 100%;
}

.outerOfSettingDetailsBSup2Body {
    display: flex;
}

.outerOfSettingDetailsBSup1BSelected {
    background-color: #6633990f;
    /* height: 100%; */
    width: calc(100% - 240px);
    position: relative;
    /* text-overflow: ellipsis; */
    /* white-space: nowrap; */
    /* overflow: hidden; */
    box-sizing: border-box;
    padding: 4px 15px;
    font-size: 13px;
    box-shadow: 0px 0px 1px rgb(0 0 0 / 60%);
    color: #250643;
    left: 10px;
    word-break: break-word;
}

.outerOfSettingDetailsBSup2BSelected {
    background-color: #6633990f;
    height: 100%;
    width: calc(100% - 240px);
    position: relative;
    left: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
    padding: 4px 15px;
    font-size: 13px;
    box-shadow: 0px 0px 1px rgb(0 0 0 / 60%);
    color: #250643;
}

.outerOfSettingDetailsHead {
    width: max-content;
    height: 27px;
    font-size: 16px;
    text-shadow: 0px 0px 1px;
    display: flex;
    border: 0;
    border-bottom: 2px;
    border-style: inset;
    margin-bottom: 18px;
}

.outerOfSettingDetailsBSup1Head, .outerOfSettingDetailsBSup2Head {
    font-size: 14px;
    height: 24px;
    font-weight: 300;
}

.outerOfSettingDetailsBSup2BList {
    width: 230px;
}

.outerOfSettingDetailsBSup1BList {
    width: 230px;
}

span.emptyouterOfSettingDetailsBSelected {
    color: #25064373;
}

.checkModuleCreateHoverDiffClass, .checkModuleCreateHoverDiffClass:hover {
    background-color: #04310917;
}

.outerOfSettingOutDetails {
    width: 100%;
}

.outerOfSettingOutDetails .outerOfSettingDetailsBody {
    top: -15px;
    position: relative;
}



.progress-shadow {
    height: 3em;
    position: absolute;
    top: 100%;
    width: 100%;
    transform: skew(314deg);
    -o-transform: skew(45deg);
    -ms-transform: skew(45deg);
    -webkit-transform: skew(314deg);
    -moz-transform: skew(45deg);
    transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    /* background-image: linear-gradient(to bottom, rgb(234,236,238), transparent); */
    background-image: -o-linear-gradient(to bottom, rgb(234,236,238), transparent);
    background-image: -ms-linear-gradient(to bottom, rgb(234,236,238), transparent);
    background-image: -webkit-linear-gradient(to bottom, rgb(234,236,238), transparent);
    background-image: -moz-linear-gradient(to bottom, rgb(234,236,238), transparent);
}

div#pageUploader {
    width: 100%;
    height: 100%;
    appearance: auto;
    position: absolute;
    margin-bottom: -65px;
    transition: 0.3s;
    background-color: #3d90cd;
border-radius: 2px;}

div#pageUploaderOuter {
    width: 100%;
    height: 2px;
    appearance: auto;
    position: absolute;
    margin-bottom: -4px;
    transition: 0.3s;
    background-color: #0000001c;
border-radius: 2px;}
