body{
  margin: 0px;
  margin-top: 0px;
  font-family: "Roboto";
  background-color: #f9f9f9;
}
body{
    font-family: "Roboto";
}
.instructions-title{
    font-size: 20px;
    font-weight: 100;
}
.instructions-list{
    padding: 10px;
    margin-bottom: 20px;
}
.instructions-item{
    padding: 10px;
}
.api-key-highlight{
    border: 2px solid green;
    padding:2px 10px;
    border-radius: 5px;
    color: green;
    margin: 0px 5px;
    font-size: 14px;
}
.form-holder{
    border: 1px dotted silver;
    padding:10px 20px;
}
.input-form{
    font-size: 16px;
    width: 50%;
    border-radius: 3px;
    border: 1px solid black;
    border-width: 0px 0px 2px 0px;
    padding: 5px;
    margin: 5px 0px 5px;
}
.form-label{
    margin-top: 25px;
}
.input-form:focus{
    border-color: royalblue;
}
.btn-save{
    background-color: royalblue;
    display: inline-block;
    font-size: 16px;
    color: white;
    padding:5px 15px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
}
.btn-save:hover{
    cursor: pointer;
    background-color: navy;
}
.highlight-custom-field{
    border: 1px dotted grey;
    padding: 5px 7px;
    border-radius: 5px;
    font-size: 14px;
    margin: 0px 2px;
}
.process-item{
    display: none;
    border: 1px dotted silver;
    margin-bottom: 10px;
    padding: 10px;
    color: grey;
    margin: 15px;
}
#process_apikey{
    display: none;
}
#process_help{
    display: none;
}
.dropdown-holder{
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.3);
    padding: 5px 0px;
    margin-top: -1px;
    max-height: 250px;
    overflow-y: auto;
}
.dropdown-select-item{
    padding: 7px 20px 7px 10px;
}
.dropdown-select-item:hover{
    cursor: pointer;
    background-color: whitesmoke;
}
.dropdown-value-label i{
    font-size: 18px;
    position: absolute;
    margin-left: 10px;
    margin-top:1px;
}
.dropdown-value-label{
    margin-top: 10px;
    min-width: 150px;
    padding: 4px 10px;
    display: inline-block;
    border-radius: 3px;
    border: 1px solid black;
    border-width: 0px 0px 2px 0px;
}
.dropdown-value-label:hover{
    cursor: pointer;
    color: navy;
}
.blurnow{
    opacity: 0.5;
    cursor: not-allowed;
}
.statusMsg{
    box-sizing: content-box;
    padding: 2px 25px 2px 10px;
}
#incoming-integ-status{
    position: absolute;
    right: 5%;
    top: 50px;
}
#incoming-integ-status i{
    float: left;
    margin-top: -2px;
    margin-right: 5px;
}
.c-grey{
    color: gray;
}
.c-green{
    color: green;
}
.form-holder{
    position: relative;
}
#resetBtn{
    position: absolute;
    right: 5%;
    bottom: 10px;
    color: crimson;
    font-size: 14px;
    padding: 5px 7px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0,0, 0, 0.1);
}
#resetBtn:hover{
    cursor: pointer;
    background-color: crimson;
    color: white;

}
.c-silver{
    color: silver;
}
.error-window-outer,.process-window-outer{
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: rgba(256, 256, 256, 0.95);
    display: none;
    z-index: 100;
}
.btn-reset{
        float: right;
        box-shadow: 0px 0px 5px rgba(0,0,0, 0.4);
        padding: 3px 15px;
        border-radius: 3px;
        cursor: pointer;
}
.error-window-inner,.process-window-inner{
    display: inline-block;
    text-align: left;
    margin-top: 5%;
    margin-left: 10%;
}
.error-window-title,.process-window-title{
    font-size: 25px;
    margin-bottom: 40px;
}
.error-window-title{
    color: crimson;
}
.process-window-item{
    padding: 7px 30px 7px 15px;
    background-color: white;
    margin: 20px;
    box-shadow: 0px 5px 5px rgba(0,0,0,0.1);
    border-radius: 3px;
    border:1px solid black;
    color: black;
    border-width: 1px 1px 1px 10px;
}
.error-window-outer{
    display: block;
}
.error-window-close{
    margin-top: 10px;
    display: inline-block;
    position: absolute;
    right: 10%;
    top: 7%;
    color: white;
    background-color: crimson;
    padding:5px 20px 5px 10px;
    border-radius: 25px;
}
.error-window-close:hover{
    cursor: pointer;
}
.error-window-close i{
    float: left;
    vertical-align: middle;
    font-size: 20px;
    margin-right: 5px;
}
.error-window-close:hover{
    cursor: pointer;
    background-color: red;
}
.c-crimson{
    color: crimson;
}
.c-black{
    color: black;
}
#helpWindow{
    display: none;
}
.help-step-question{
    font-size: 25px;
    color: royalblue;
    margin-top: 50px;
    margin-bottom: 20px;
}
.help-step-btn{
    padding: 5px 20px 5px 10px;
    display: inline-block;
    font-size: 18px;
    color: white;
    margin-left: 10px;
    border-radius: 5px;
    box-shadow: 0px 5px 5px rgba(0,0,0,0.1);
    margin-top: 20px;

}
.help-step-btn i{
    float: left;
    font-size: 22px;
    margin-right: 10px;
}
.help-step-btn:hover{
    cursor: pointer;
}
.bg-green{
    background-color: darkgreen;
}
.bg-crimson{
    background-color: crimson;
}
.bg-royalblue{
    background-color: royalblue;
}
.help-doc-btn{
    position: absolute;
    bottom: 65px;
    right: 20px;
    color: darkcyan;
    margin-top: 10px;
}
.help-doc-btn:hover{
    cursor: pointer;
    color: darkorange;
}
.help-doc-btn i{
    font-size: 18px;
    float: left;
    margin-right: 5px;

}

.item-list-popup{
    position: fixed;
    right: 0px;
    padding: 25px;
    top: 0px;
    bottom: 0px;
    background-color: white;
    box-shadow: -20px 10px 15px rgba(0,0,0, 0.2);
    z-index: 100;
    min-width: 25%;
}
.item-list-popup-content{
    max-height: 600px;
    overflow-y: auto;
}
.item-list-popup-title{
    font-size: 25px;
    margin:20px 0px;
}
.item-list-popup-item{
    padding: 10px;
    border-bottom:1px solid rgba(0,0,0,0.1);
}
.c-name{
    font-size: 16px;
}
.item-list-popup-item .c-phone:hover{
    cursor: pointer;
    background-color: whitesmoke;
}
.c-phone{
    color: grey;
    font-size: 14px;
    margin-left: 10px;
}
.item-search-box .input-form{
    width: 100%;
}
.item-search-box{
    margin-bottom: 20px;
}
.btn-input-autofill-popup{
    position: absolute;
    right: 10%;
    background-color: black;
    color: white;
    padding:5px 10px;
    border-radius: 5px;
    bottom: 10px;
    font-size: 14px;
}
.btn-input-autofill-popup:hover{
    cursor: pointer;
    background-color: darkblue;
}
.group-elem{
    position: relative;
}
#sms-form{
    width: 40%;
}
#sms-form .input-form{
    width: 90%;
}
.form-title{
    font-size: 20px;
}
input:read-only{
    border: 1px dotted silver;
}
.item-list-popup{
    display: none;
}
textarea.input-form{
    font-family: "Roboto";
    min-height: 70px;
    border-radius: 5px;
    padding: 7px 10px;
    box-shadow: 0px 0px 5px rgba(0,0, 0,0.2);
}
#input-sms-content{
    min-height: 180px;
}
.c-orange{
    color: orange;
}
#helpWindow .error-window-inner{
    max-height: 500px;
    padding-bottom: 200px;
    width: 700px;
    overflow-y: auto;
}
.help-t-tip i{
    float: left;
    margin-right: 10px;
}
.help-t-tip{
    color: white;
    background-color: #1e2733;
    padding: 6px 15px;
    border-radius: 5px;
    display: inline-block;
    box-shadow: 0px 5px 5px rgba(0,0,0,0.2);
    cursor: pointer;
}
.help-t-tip:hover{
    cursor: pointer;
    background-color: black;
}
.help-step-answer{
    line-height: 1.5;
}
.pop-win-close{
    float: right;
    color: crimson;
    margin-right: 5px;
    cursor: pointer;
}
.c-phone {
    border: 1px dotted silver;
    padding: 5px 12px 5px 10px;
    border-radius: 20px;
}
.c-phone i {
    margin-right: 0px;
    padding-right: 0px;
    margin: 0px;
    float: none;
    width: 18px;
    font-size: 18px;
    vertical-align: middle;
}
.contactme{
    position: fixed;
    bottom: 0px;
    right: 0px;
    z-index: 1000;
    box-shadow: -5px -5px 15px rgba(0,0,0,0.2);
    padding: 7px 10px 0px 10px;
    border-radius: 5px;
    text-align: right;
}
.contactme a {
    text-decoration: none;
}
.ua-brand{
    color: grey;
}
.ua-brand a {
    color: grey;
    text-decoration: none;
}
span.brand-brand {
    margin: 0px 5px;
    font-weight: 100;
    color: black;
}
.contactme img {
    vertical-align: middle;
    max-height: 25px;
}
.btn-copy{
    background-color: #00a3fe;
    color: white;
    padding: 3px 10px;
    border: none;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.3);
    font-size: 12px;
    cursor: pointer;
}
.mainSearchBarHolder{
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  background-color: white;
  padding:12px 15px;
  box-shadow: 0px 2px 2px rgba(0,0,0,0.15);
  text-align: left;
  background-color: white;
  z-index: 2;
    height: 25px;
}
.signUserInfoHolder>div{
    display: inline-block;
}
.siteName{
  display: inline-block;
  font-size: 20px;
  vertical-align: middle;
  margin-right: 50px;
  margin-left: 5px;
  color: black;
   font-weight: 100;
}
.mainSearchBarHolder input {
    width: 40%;
    padding: 5px 10px;
    vertical-align: middle;
    font-size: 16px;
    outline: none !important;
    outline-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    box-shadow: inset 0 0 1px 1px rgba(0,0,0,0.1);
    background: #fff;
}
input:focus, input:active{
    outline: none !important;
  outline-width: 0;
  /*box-shadow: inset 0 0 3px 1px rgba(0,0,0,0.2);*/
}
.mainSearchBarHolder button{
  margin: 0px;
  background-color: whitesmoke;
  color: rgba(0,0,0,0.7);
  padding: 5px 20px;
  margin-left: -5px;
  border-radius: 0px 2px 2px 0px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 16px;
}
.mainSearchBarHolder button:hover{
  background-color: #eaeaea;
}
.siteLogo {
    width: 0px;
    height: 0px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 16px solid grey;
    display: inline-block;
    float: left;
    margin-right: 5px;
    margin-top: 2px;
    color: silver;
}
.mainSearchBarHolder .g-signin2{
    float: right;
    display: inline-block;
}
button.g-signin2{
  background-color: royalblue;
  color: white;
}
#notSignedInError{
  font-size: 20px;
  margin-top: 65px;
  text-align: center;
  color: royalblue;
}
#notSignedInError {
    font-size: 20px;
    margin-top: 0px;
    padding-top: 20px;
    text-align: center;
    color: royalblue;
    position: fixed;
    left: 0px;
    right: 0px;
    bottom: 0px;
    padding-bottom: 35px;
    /* top: 0px; */
    display: none;
    background-color: white;
    z-index: 100;
    box-shadow: 0px -10px 15px rgba(0,0,0,0.1);
    overflow-y: auto;
}
#notSignedInError .g-signin2{
  margin-top: 10px;
  padding: 5px 15px;
  font-size: 16px;
  box-shadow: 0px 4px 5px rgba(0,0,0,0.2);
}
.g-signin2:hover{
  cursor: pointer;
  background-color: royalblue !important;
  color: white !important;
}
.signed-in{
  background-color: grey !important;
  color: white;
}
.signed-in:hover{
  background-color: crimson !important;;
}
.focusBackground{
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background-color: rgba(0,0,0,0.5);
}
img#signInUserImg {
    vertical-align: middle;
    height: 30px;
    width: 30px;
    border-radius: 50px;
    margin-right: 3px;
    border: 2px solid #c7c7c7;
    margin-top: -3px;
}
.g-signin2{
    display: none;
}
.mainSearchBarHolder .signUserInfoHolder{
    float: right;
}
.signedUserOptions{
  position: fixed;
  top: 50px;
  right: 0px;
  bottom: 0px;
  background-color: white;
  padding: 20px 0px 10px;
  box-shadow: 0px 30px 20px rgba(0,0,0,0.5);
}
.signedUserOptions div{
  display: block;
}
.suo-item{
  padding: 10px 100px 10px 20px;
}
.suo-item .material-icons{
  margin-right: 5px;
  vertical-align: middle;
  color: grey;
}
.suo-item:hover{
  background-color: whitesmoke;
  cursor: pointer;
}
.signedUserOptions{
    right: -1000px;
}
.userInfoBtn:hover{
    cursor: pointer;
    background-color: whitesmoke;
}
.userInfoBtn:hover img{
    box-shadow: 0px 1px 5px rgba(0,0,0,0.7);
}
#signInUserName{
    color: rgb(86,86,86);
}
.signedIn{
    display: none;
}
.pageTitle{
  font-size: 20px;
  margin-top: -2px;
  background-color: whitesmoke;
  padding: 10px 25px;
  color: #393636;
  box-shadow: 0px 2px 10px rgba(0,0,0,0.3);

}

.spinnow {
    font-size: 35px;
    color: royalblue;
    -webkit-animation: spin 2s linear infinite;
    -moz-animation: spin 2s linear infinite;
    -ms-animation: spin 2s linear infinite;
    -o-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
@-ms-keyframes spin {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
.signTtl{
    margin-top: 20px;
    font-size: 22px;
}
.signOutbackWindow{
    position: fixed;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    background-color: rgba(0,0,0,0.6);
    z-index: 1;
}
.signedOut{
    display: none;
}
.appFocusView{
    margin-top: 50px;
}
a{
    text-decoration: none;
}
.waitToResolve{
    position: relative;
}
.waitToResolve:before{
    position: relative;
    content: "";
    font-size: 25px;
    display: block;
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    background-color: rgba(256,256,256,0.6);
    color: black;
    text-align: center;
}
.waitToResolve:after{
  border: 5px solid #f3f3f3; /* Light grey */
  border-top: 5px solid royalblue; /* Blue */
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 2s linear infinite;
  content: "";
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    margin: 5px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.4);
    margin: 10px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
button:disabled:hover{
    background-color: unset;
}
.stepItem button .material-icons{
    font-size: 18px;
    float: left;
    vertical-align: middle;
    margin-right: 5px;
}
.contactSite span{
    vertical-align: middle;
}
.contactSite{
    display: inline-block;
    position: absolute;
    right: 100px;
    margin-top: 3px;
    color: royalblue;
}

.error-window-outer,.process-window-outer{
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: rgba(256, 256, 256, 0.4);
    display: none;
    z-index: 100;
    backdrop-filter: blur(8px);
}
.btn-reset{
        float: right;
        box-shadow: 0px 0px 5px rgba(0,0,0, 0.4);
        padding: 3px 15px;
        border-radius: 3px;
        cursor: pointer;
}
.error-window-inner,.process-window-inner{
    display: inline-block;
    text-align: left;
    margin-top: 5%;
    margin-left: 10%;
}
.error-window-title,.process-window-title{
    font-size: 25px;
    margin-bottom: 40px;
}
.error-window-title{
    color: crimson;
}
.process-window-item{
    padding: 7px 30px 7px 15px;
    background-color: white;
    margin: 20px;
    box-shadow: 0px 5px 5px rgba(0,0,0,0.1);
    border-radius: 3px;
    border:1px solid black;
    color: black;
}
.process-window-item .material-icons.spinnow{
    font-size: 20px;
    margin-right: 5px;
    vertical-align: middle;
}
.error-window-outer{
    display: block;
}
.error-window-close{
    margin-top: 10px;
    display: inline-block;
    position: absolute;
    right: 10%;
    top: 7%;
    color: white;
    background-color: crimson;
    padding:5px 20px 5px 10px;
    border-radius: 25px;
}
.error-window-close:hover{
    cursor: pointer;
}
.error-window-close i{
    float: left;
    vertical-align: middle;
    font-size: 20px;
    margin-right: 5px;
}
.error-window-close:hover{
    cursor: pointer;
    background-color: red;
}
.c-crimson{
    color: crimson;
}
.c-black{
    color: black;
}
.c-green{
    color: green;
}
#helpWindow{
    display: none;
}
button.unsubscribe:hover{
    cursor: pointer;
    background-color: red;
}
button.subscribe:hover{
    cursor: pointer;
    background-color: forestgreen;
}
button.delete:hover{
    cursor: pointer;
    color: red;
}
button:hover{
    cursor: pointer;
    background-color: navy;
    color: white;
}
button{
    padding: 3px 10px;
    border-radius: 2px;
}
.phoneItems:empty:after {
    content: "You have no phone numbers subscribed";
    display: block;
    color: grey;
    text-align: center;
}

.pmtw-outer{
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(0,0,0,0.7);
    text-align: center;
    z-index: 10000;
}
.pmtw-holder{
    background-color: white;
    display: inline-block;
    text-align: left;
    margin-top: 30px;
    padding: 10px 15px 30px;
    border-radius: 5px;
    position: relative;
        box-shadow: 0px 5px 25px rgb(0 0 0 / 30%);
        max-width: 90%;
    max-height: 85%;
    overflow-y: auto;
}
.pmt-content{
    margin-top: 10px;
}
.pmtp-item{
    display: inline-block;
    padding:0px 10px;
    /*border-right: 1px solid rgba(0,0,0,0.1);*/
    margin-bottom: 15px;
    vertical-align: top;
}
.pmtp-item:last-child{
    border: none
}
.pmtp-item:last-of-type{
    border: none;
}
.pmtp-planname{
    font-size:19px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0px 5px;
}
.pmtp-plan-features{
    margin-top: 5px;
    padding: 5px 10px;
    max-width: 200px;
}
.pmtppf-item{
    font-size: 13px;
    margin: 5px 0px;
    color: rgb(50,50,50);
    display: list-item;
    list-style-type: circle;
    text-align: left;

}
.pmt-ttl{
    font-size: 22px;
    color: royalblue;
    padding: 10px 0px 0px 5px;
    margin-bottom: 5px;
}
.pmtp-planprice{
    text-align: center;
    font-size: 17px;
    color: rgb(86,86,86);
}
.pmtp-plan-actions{
    text-align: center;
    margin-top: 5px;
}
.pmtppa-btn{
    padding: 7px 15px;
    border: none;
    border-radius: 5px;
    background-color: royalblue;
    color: white;
    font-size: 14px;
}
.pmtppa-btn:hover{
    background-color: navy;
    cursor: pointer;
}
.pmt-plansholder{
        min-width: 450px;
    text-align: center;
    padding: 0px 20px;
}
.pmtp-item:hover{
/*     cursor: pointer; */
/*     box-shadow:0px 0px 1px rgba(0,0,0,0.3); */
}
.pmtp-planperhow{
    font-size: 12px;
    text-align: center;
    color: grey;
}
.pmt-ttl select{
    position: absolute;
    right: 15px;
    top:19px;
    padding: 4px 10px;
    border-radius: 25px;
    box-shadow: 0px 2px 5px rgb(0 0 0 / 20%);
    border: 1px solid darkorange;
    color: darkorange;
    font-size: 12px;
}
.pmt-userquantityholder{
    position: absolute;
    bottom: 0px;
    background-color: white;

    left: 0px;
    right: 0px;
    top: 0px;
    background-color: rgba(0,0,0,0.2);
}
.pmtqn-inner{
    background-color: white;
    position: absolute;
    left: 0px;
    bottom: 0px;
    right: 0px;
    box-shadow: 0px -10px 10px rgba(0,0,0,0.2);
    padding: 10px 20px 30px;
}
.pmtqn-back{
    color:rgb(86,86,86);
    font-size: 14px;
    padding: 5px 0px;
    color: crimson;
    margin-bottom: 10px;
}
.pmtqn-back:hover{
    cursor: pointer;
    color: red;
}
.pmtqn-content>div{
    display: inline-block;
}

.pmtqn-inc-btn{
    padding: 0px 3px;
    width: 20px;
    text-align: center;
    background-color: darkorange;
    color: white;
    font-size: 20px;
    border-radius: 4px;
}
.pmtqn-inc-btn:hover{
    cursor: pointer;
    background-color: orange;
}
.pmtqn-inc-inp input{
    padding: 7px 5px;
    width: 70px;
    text-align: center;
    vertical-align: middle;
    margin-top: -5px;
    border:1px solid orange;
    font-size: 17px;
    color: darkgoldenrod;
}
.pmtqn-ttl{
    font-size: 19px;
}
.pmtqn-subttl{
    font-size: 14px;
    color: grey;
}
.pmtqn-content{
    margin-top: 10px;
    text-align: center;
    padding: 15px 10px 15px;

}
.ualic_sub_status_tip{
    float: left;
    margin-right: 130px;
    margin-top: 3px;
    cursor: pointer;
}







.addUserEmailIdOut {position: relative;box-sizing: border-box;padding: 0px 0px;margin: 10px;height: 50px;width: calc(100% - 20px);box-shadow: 0 2px 5px rgb(0 0 0 / 20%);}

.addUserEmailIdBox {
    width: 100%;
    height: 100%;
    position: relative;
}

input.addUserEmailIdInput {
    width: 100%;
    position: relative;
    padding: 20px;
    box-sizing: border-box;
    height: 100%;
    font-size: 19px;
    outline: 0;
    border: 0;
    border-bottom: 2px solid;
    /*border-bottom: 2px solid #2172f6;*/
}

.addUserEmailIdInputErr {
    border-color: #e52828 !important;
}

.addUsersEmailIdSaveButt:hover {
    background-color: #075e07;
    box-shadow: 2px 2px 9px rgb(0 0 0 / 41%);
}

.addedUserEmailIdOut {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    align-items: center;
}

.addedUserEmailId {
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
}

.addUserEmailIdRemove {
    position: inherit;
    box-sizing: border-box;
    padding: 25px;
    font-size: 21px;
    color: #afafaf;
    font-weight: 300;
    cursor: pointer;
}

.addUserEmailIdRemove:hover {
    font-weight: 400;
    text-shadow: 1px 1px 2px #b2b2b2a1;
    color: #b02e2e;
}

.addUsersEmailIdSaveButt {
    margin-top: 25px;
    background-color: green;
    font-size: 16px;
    padding: 12px 30px;
    border-radius: 5px;
    /* width: 100%; */
    box-shadow: 0 3px 3px rgb(0 0 0 / 30%);
    cursor: pointer;
    /* background: crimson; */
    border: none;
    color: #fff;
    margin: 10px;
    text-align: center;
    position: relative;
}

.license-configure-panel{
  margin: 0px 7%;
  box-shadow: 0px 10px 25px rgba(0,0,0,0.3);
  padding: 15px;
  border-radius: 5px;
}
.lcp-ttl{
  font-size: 22px;
  color: green;
}
.lcp-content{
  padding: 10px;
}
.lcp-lic-item{
  padding: 15px;
  border: 1px solid rgba(0,0,0,0.1);
  margin: 10px;
  box-shadow: 0px 1px 5px rgba(0,0,0,0.2);
  border-radius: 5px;
}
.lcp-lic-item-ttl{
  font-size: 20px;
  margin-bottom: 7px;
}
.lcpi-quantity{
  font-size: 14px;
  color: grey;
  margin-bottom: 5px;
}
.lcpi-user-item>div{
  display: inline-block;
  margin: 0px 5px;
}
.lcpi-user-item{
  padding: 10px;
  width: 100%;
}
.lcpi-u-inp input{
  padding: 7px 10px;
  border: 1px solid rgba(0,0,0,0.2);
  box-shadow: inset 0px 0px 3px rgba(0,0,0,0.2);
  font-size: 15px;
  border-radius: 3px;
  width: 50vw;
}
.lcpi-u-inp input:disabled{
  border: none;
  background-color: whitesmoke;
  box-shadow: none;
}
.lcpi-action{
  margin-top: 5px;
  padding-left: 35px;
}
.lcpi-action-save{
  padding: 7px 20px;
  font-size: 14px;
  background-color: royalblue;
}
.lcpi-user-tip{
  background-color: whitesmoke;
  font-size: 14px;
  padding: 5px 15px;
  border-radius: 15px;
  margin: 15px;
  margin-bottom: 5px;
  color: grey;
}
.lcpi-action-save:hover{
  cursor: pointer;
  background-color: navy;
}
.lcpi-itemmeta>div{
  display: inline-block;
  margin-right: 8px;
}
.lcpi-icon img{
  max-height: 45px;
}

.lcpi-plantype{
  background-color: darkcyan;
  color: white;
  padding: 4px 10px;
  font-size: 12px;
  border-radius: 15px;
  display: inline-block;;
}
.lcpi-action-save{
    color: white;
    cursor: pointer;
    border: none;
    color: #fff;
    border-radius: 3px;
    padding: 5px 10px 6px;
    outline: 0;
}
.c-red{
  color: red;
}

.lcpi-item-fetch-status {
    text-align: center;
    width: 100%;
    color: grey;
    font-size: 14px;
    display: block;
    padding: 15px 0px;
}
.ualic_sub_status_tip button{
        background-color: royalblue;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgb(0 0 0 / 20%);
    color: white;
    margin-top: -3px;
    font-size: 14px;
}
.ualic_sub_status_tip button:hover{
    background-color: navy;
}
.lcpi-buymore-lic-btn{
    background-color: green;
    color: white;
    border: none;
    float: right;
    padding: 5px 15px;
    border-radius: 20px;
    box-shadow: 0px 2px 5px rgb(0 0 0 / 30%);
        margin-left: 10px;
            margin-right: 30px;
}
.pmtw-close-btn{
    border: none;
    font-weight: bold;
    color: white;
    font-size: 16px;
    vertical-align: bottom;
    padding: 4.5px 8px;
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: crimson;
}
#lic-sub-allowed-user-holder .pmt-ttl{
    margin-bottom: 20px;
}

.pmtp-item:last-of-type {
    border-right: none !important;
}

.ua-lic-process-loading{
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    background-color: rgba(250,250,250,0.90);
    color: black;
    font-size: 22px;
    text-align: center;
    padding-top: 70px;
    text-shadow: 0px 2px 2px rgb(0 0 0 / 10%);
    display: none;
}
.ua-lic-process-loading .material-icons{
    margin-top: 20px;
}
.ualic-noplan-exist-err-outr{
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: whitesmoke;
    text-align: center;
}
.ualicner-holdr{
    display: inline-block;
    background-color: white;
    margin: 20px;
    border-radius: 5px;
    text-align: left;
    padding: 10px 20px;
    padding-bottom: 20px;
}
.ualicner-ttl{
    font-size: 24px;
    margin-bottom: 10px;
    color: crimson;
}
.ualicner-content{
    color: rgb(86,86,86);
    font-size: 14px;
}
.ualic-pur-lic-usr-btn{
    background-color: royalblue;
    color: white;
    border: none;
    margin: 10px 5px;
    border-radius: 3px;
    font-size: 15px;
    box-shadow: 0px 4px 5px rgba(0,0,0,0.3);
}
.ualic-pur-lic-usr-btn:hover{
    cursor: pointer;
    background-color: navy;
}

.ualic_acd_user{
    margin: 10px 0px;
    font-size: 13px;
    color: grey;
}