html, body, .outerMainBody, .innerMainBody {
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    font-weight: 600;
    box-sizing: border-box;
    overflow: hidden;
}

div#headerOfMainDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.headerOfMainDivSub {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.headerOfMainDivSubDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

img {
    width: 100%;
    height: 100%;
}

.headerOfMainDivSubImg {width: 309px;position: fixed;left: 1px;top: 1px;height: 101px;}

img#ivonneMainLogo {
    width: 100%;
}

.headerOfMainDivSubDate {
    width: 100%;
    display: flex;
    flex-direction: row;
    font-size: 20px;
    padding-left: 8px;
    position: absolute;
    top: 120px;
    font-size: 26px;
    padding-left: 18px;
}

div#headerOfMainDivSubLogo {
    width: 30%;
}

div#headerOfMainDivSubHeadTit {
    width: 70%;
    display: flex;
    padding-left: 35px;
}

.headerOfMainDivSubTit {
    font-size: 75px;
    font-weight: 600;
    padding-top: 10px;
    padding-bottom: 0px;
    /* text-shadow: 0px 0px 2px black; */
    font-family: sans-serif;
}

.headerOfMainDivSubDetails {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-size: 26px;
    font-family: system-ui;
    font-weight: 650;
    padding-bottom: 11px;
    padding-left: 5px;
    position: relative;
    top: -3px;
    padding-top: 3px;
}

.headerOfMainDivSubDetfield {
    width: 72%;
    display: flex;
    flex-direction: column;
}

div#headerOfMainDivSubDetTit {
    width: 30%;
}

.headerOfMainDivSubDetSer {
    display: flex;
    width: 100%;
}

.headerOfMainDivSubDetTre {
    width: 100%;
    display: flex;
}

.headerOfMainDivSubAns {
    padding-left: 5px;
}

div#headerDivBody {
    border: 3px solid black;
    background-color: black;
    border-radius: 53px;
    margin: 0px 15px;
    height: 0px;
}

.bodyOfMainDivSubList {
    display: flex;
    align-items: flex-end;
}

.bodyOfMainDivSubListBody {
    padding-left: 15px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding-right: 20px;
    font-weight: normal;
    width: calc(100% - 395px);
}

.bodyOfMainDivSubListTit {
    width: 325px;
    /* text-align: end; */
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.bodyOfMainDivSubMainList {
    /* margin: 10px 0px; */
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    text-align: left;
    width: 100%;
    padding-top: 10px;
    /* height: 170px; */
    font-size: 24px;
}

.bodyOfMainDivSubDivTit {
    font-size: 32px;
    height: 30px;
    padding-bottom: 20px;
    font-weight: 700;
}

div#bodyOfMainDiv {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-direction: row;
    padding: 0px 15px;
    box-sizing: border-box;
}

div#bodyOfMainDivSub {
    width: 50%;
    display: flex;
    flex-direction: column;
    font-size: 17px;
    line-height: 1.3;
    padding-right: 5px;
    align-items: flex-start;
}

div#bodyOfMainDivSubMaskMain {
    color: white;
    width: 275px;
    text-align: center;
    background-color: #0056b9;
    padding: 15px 5px;
    border-radius: 20px;
    font-size: 26.5px;
    font-weight: 300;
    border: 2px solid black;
    position: relative;
    top: 7px;
    box-sizing: border-box;
    height: 295px;
    line-height: 1.28;
}

div#bodyOfMainDivSubConset {
    display: flex;
    width: 100%;
    font-size: 25px;
    right: 0;
    box-sizing: border-box;
    flex-direction: column;
    align-items: flex-start;
}

div#bodyOfMainDivSubConsetListTit {
    display: flex;
    align-items: center;
}

div#bodyOfMainDivSubConsetList {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 40px;
    width: 100%;
    position: relative;
    right: 0px;
    line-height: 1;
}

div#bodyOfMainDivSubMask {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 35px;
    box-sizing: border-box;
}

.bodyOfMainDivSubPhotoSubBody {
    width: 100%;
    display: flex;
    box-sizing: border-box;
    padding: 5px;
}

div#bodyOfMainDivSubPhotoSub {
    display: flex;
    flex-direction: column;
    width: 220px;
    margin: 0px 20px;
}

div#bodyOfMainDivSubPhoto {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    box-sizing: border-box;
    padding-top: 20px;
    padding-left: 20px;
    position: relative;
    left: -45px;
}

.bodyOfMainDivSubPhotoSubTit {
    text-align: center;
    padding: 2px;
    box-sizing: border-box;
    font-size: 24px;
    font-weight: 550;
}

.bodyOfMainDivSubPhotoSubImg {
    border-radius: 3px;
    border: 5px solid;
    /* width: 100%; */
    box-sizing: border-box;
    box-sizing: border-box;
    height: 275px;
    display: flex;
    width: 220px;
    align-items: center;
    justify-content: center;
    font-size: 21px;
}

.bodyOfMainDivSubDivBody {
    text-align: left;
    font-size: 25px;
    /* font-weight: 550; */
}

#bodyOfMainDivSubPerson .bodyOfMainDivSubListTit {
    text-align: end;
    width: 180px;
}

div#bodyOfMainDivSubPerson {
    width: 100%;
    height: 320px;
    position: relative;
}

#bodyOfMainDivSubPerson .bodyOfMainDivSubList {
    font-size: 28px;
    font-weight: 550;
    line-height: 1.85;
}

div#bodyOfMainDivSubConsetListTitSvg svg {width: 50px;height: 50px;box-sizing: border-box;}

.bodyOfMainDivSubConsetListBody {
    padding-left: 15px;
    text-overflow: ellipsis;
    white-space: pre;
    overflow: hidden;
    padding-right: 20px;
    font-weight: 540;
}

div#bodyOfMainDivSubConsetListTitSvg {
    padding-top: 0px;
    padding-right: 10px;
    box-sizing: border-box;
}
img#ivonneMainLogoLarge {
    width: 80%;
    height: auto;
}

div#ivonneMainLogoLargeDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    height: 100%;
    position: absolute;
}

div#bodyOfMainDivSubAllergies {
    padding-left: 25px;
    padding-top: 8px;
    height: 170px;
}

div#bodyOfMainDivSubMedic {
    padding-top: 0;
    padding-left: 25px;
    height: 173px;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    position: relative;
}

div#bodyOfMainDivSubSkin {
    padding-top: 20px;
    padding-left: 25px;
    height: 130px;
}

.bodyOfMainDivSubListBox {
    position: absolute;
    right: 25px;
    width: 350px;
    border: 2px solid #3e3e3e;
    box-sizing: border-box;
    padding: 15px;
    height: 180px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 3px;
    top: 20px;
}

.bodyOfMainDivSubLisBoxTit {
    height: 30px;
    padding-bottom: 8px;
    font-size: 28px;
    font-weight: 550;
    /* line-height: 1.85; */
}

.bodyOfMainDivSubLisBoxDisTit {
    text-align: left;
    font-size: 20px;
    width: 110px;
}

.bodyOfMainDivSubLisBoxDis {
    width: 100%;
    box-sizing: border-box;
    display: flex;
}

div#alumiermd {
    box-sizing: border-box;
    padding-left: 15px;
    width: calc(100% - 110px);
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 15px;
    font-size: 20px;
    font-weight: normal;
    white-space: nowrap;
}

.bodyOfMainDivSubMainListSub {
    width: 100%;
}

.bodyOfMainDivSubListTit.bodyOfMainDivSubListTitBox {
    width: 145px;
}

.bodyOfMainDivSubListBodyBox {
    width: calc(100% - 145px);
    box-sizing: border-box;
    padding-right: 60px;
}