td {
		  text-align: left;
		  padding: 25px;
		}
		
		.styled-select {
		   height: 29px;
		   overflow: hidden;
		   width :120px;
		}
		.styled-select select {
		   background: transparent;
		   border: none;
		   font-size: 14px;
		   height: 29px;
		   padding: 5px; 
		   width :120px;
		}
		.styled-select.slate {
		   height: 32px;
		}

		.styled-select.slate select {
		   border: 1px solid #ccc;
		   font-size: 16px;
		   height: 32px;
		}
		input  {
		  width: 100%;
		  padding: 8px 15px;
		  box-sizing: border-box;
		}
		/* The switch - the box around the slider */
		.switch {
		  position: relative;
		  display: inline-block;
		  width: 40px;
		  height: 20px;
		}
		.btn {
			padding: 2px 0px 1px 0px;
		}
		/* Hide default HTML checkbox */
		.switch input {
		  opacity: 0;
		  width: 0;
		  height: 0;
		}

		/* The slider */
		.slider {
		  position: absolute;
		  cursor: pointer;
		  top: 0;
		  left: 0;
		  right: 0;
		  bottom: 0;
		  background-color: #ccc;
		  -webkit-transition: .4s;
		  transition: .4s;
		}

		.slider:before {
		  position: absolute;
		  content: "";
		  height: 18px;
		  width: 18px;
		  left: 1px;
		  bottom: 1px;
		  background-color: white;
		  -webkit-transition: .4s;
		  transition: .4s;
		}

		input:checked + .slider {
		  background-color: #2196F3;
		}

		input:focus + .slider {
		  box-shadow: 0 0 1px #2196F3;
		}

		input:checked + .slider:before {
		  -webkit-transform: translateX(20px);
		  -ms-transform: translateX(20px);
		  transform: translateX(20px);
		}

		/* Rounded sliders */
		.slider.round {
		  border-radius: 34px;
		}

		.slider.round:before {
		  border-radius: 50%;
		}
		.editButtons{
			border-style: solid;
 			border-width: 1px 1px 0px 1px;
 			border-color: #c3c6ca;
			display:none;
			min-height:32px;
			max-width: 550px;
			background-color: #f7f8f9;
		}
        .error-message {
		  color: #cc0033;
		  display: inline-block;
		  font-size: 16px;
		  line-height: 18px;
		  margin: 5px 0 0;
		}
		.api{
		  width: 300px;
		  padding: 12px 20px;
		  margin: 8px 0;
		  box-sizing: border-box;
		}
		#linkForm{
			display:none;
		}
		.editIcon{
			float:left;
			padding-left: 10px;
			cursor: pointer;
		}
		.editIcons{
			display:none;
		}
		.edit{
			display:block;
			cursor: pointer;
		}
		div.editable {
	width: 550px;
    height: 300px;
    border: 1px solid #ccc;
    padding: 5px;
    overflow: auto;
    white-space: pre;
    font-weight: 400;
    float:left;
}
.WhatsApp{
    height: 200px;
}
div.subject{
	width: 550px;
    height: 30px;
    border: 1px solid #ccc;
    padding: 5px;
    overflow: auto;
    white-space: pre;
    font-weight: 400;
    float:left;
}
.saveButtons{
	 height: 300px;
	 float:left;
	 padding-left: 5px;
	 padding-top: 140px;
}
/*ul li {
  margin: 10px;
}*/
strong {
  font-weight: bold;
}
   .goog-te-banner-frame.skiptranslate {
            display: none !important;
        }
        body {
            top: 0px !important;
        }
        @font-face {
  font-family: 'zb-fonticons';
  src:  url('/fonts-icon/zb-fonticons.eot?9bjl2c');
  src:  url('/fonts-icon/zb-fonticons.eot?9bjl2c#iefix') format('embedded-opentype'),
    url('/fonts-icon/zb-fonticons.ttf?9bjl2c') format('truetype'),
    url('/fonts-icon/zb-fonticons.woff?9bjl2c') format('woff'),
    url('/fonts-icon/zb-fonticons.svg?9bjl2c#zb-fonticons') format('svg');
  font-weight: normal;
  font-style: normal;
}
#loader {
	margin: 300px;
	border: 5px solid #f3f3f3;
	-webkit-animation: spin 1s linear infinite;
	animation: spin 1s linear infinite;
	border-top: 5px solid #555;
	border-radius: 50%;
	width: 50px;
	height: 50px;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.check{
	border: 0.5px solid grey;
	cursor: pointer;
	float:left;
	width:50px;
	height:30px;
	padding-left:10px;
	background-color: white;
}
.button {
  background-color:#f7f8f9;
  border: none;
  width: 33px;
  max-height:30px;
}
.dropdown-item {
	padding: 5px 5px 5px 13px
	}
