body{
    font-family: "Roboto";
}
.instructions-title{
    font-size: 20px;
    font-weight: 100;
}
.instructions-list{
    padding: 10px;
    margin-bottom: 20px;
}
.instructions-item{
    padding: 10px;
}
.api-key-highlight{
    border: 2px solid green;
    padding:2px 10px;
    border-radius: 5px;
    color: green;
    margin: 0px 5px;
    font-size: 14px;
}
.form-holder{
    border: 1px dotted silver;
    padding:10px 20px;
}
.input-form{
    font-size: 16px;
    width: 50%;
    border-radius: 3px;
    border: 1px solid black;
    border-width: 0px 0px 2px 0px;
    padding: 5px;
    margin: 5px 0px 5px;
}
.form-label{
    margin-top: 25px;
}
.input-form:focus{
    border-color: royalblue;
}
.btn-save{
    background-color: royalblue;
    display: inline-block;
    font-size: 16px;
    color: white;
    padding:5px 15px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
}
.btn-save:hover{
    cursor: pointer;
    background-color: navy;
}     
.highlight-custom-field{
    border: 1px dotted grey;
    padding: 5px 7px;
    border-radius: 5px;
    font-size: 14px;
    margin: 0px 2px;
}
.process-item{
    display: none;
    border: 1px dotted silver;
    margin-bottom: 10px;
    padding: 10px;
    color: grey;
    margin: 15px;
}   
#process_apikey{
    display: none;
}
#process_help{
    display: none;
}
.dropdown-holder{
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.3);
    padding: 5px 0px;
    margin-top: -1px;
    max-height: 250px;
    overflow-y: auto;
}
.dropdown-select-item{
    padding: 7px 20px 7px 10px;
}
.dropdown-select-item:hover{
    cursor: pointer;
    background-color: whitesmoke;
}
.dropdown-value-label i{
    font-size: 18px;
    position: absolute;
    margin-left: 10px;
    margin-top:1px;
}
.dropdown-value-label{
    margin-top: 10px;
    min-width: 150px;
    padding: 4px 10px;
    display: inline-block;
    border-radius: 3px;
    border: 1px solid black;
    border-width: 0px 0px 2px 0px;
}
.dropdown-value-label:hover{
    cursor: pointer;
    color: navy;
}
.blurnow{
    opacity: 0.5;
    cursor: not-allowed;
}
.statusMsg{
    box-sizing: content-box;
    padding: 2px 25px 2px 10px;
}
#incoming-integ-status{
    position: absolute;
    right: 5%;
    top: 50px;
}
#incoming-integ-status i{
    float: left;
    margin-top: -2px;
    margin-right: 5px;
}
.c-grey{
    color: gray;
}
.c-green{
    color: green;
}
.form-holder{
    position: relative;
}
#resetBtn{
    position: absolute;
    right: 5%;
    bottom: 10px;
    color: crimson;
    font-size: 14px;
    padding: 5px 7px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0,0, 0, 0.1); 
}
#resetBtn:hover{
    cursor: pointer;
    background-color: crimson;
    color: white;
    
}
.c-silver{
    color: silver;
}
.error-window-outer,.process-window-outer{
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: rgba(256, 256, 256, 0.95);
    display: none;
    z-index: 100;
}
.btn-reset{
	    float: right;
        box-shadow: 0px 0px 5px rgba(0,0,0, 0.4);
        padding: 3px 15px;
        border-radius: 3px;
        cursor: pointer;
}
.error-window-inner,.process-window-inner{
    display: inline-block;
    text-align: left;
    margin-top: 5%;
    margin-left: 10%;
}
.error-window-title,.process-window-title{
    font-size: 25px;
    margin-bottom: 40px;
}
.error-window-title{
    color: crimson;
}
.process-window-item{
    padding: 7px 30px 7px 15px;
    background-color: white;
    margin: 20px;
    box-shadow: 0px 5px 5px rgba(0,0,0,0.1);
    border-radius: 3px;
    border:1px solid black;
    color: black;
    border-width: 1px 1px 1px 10px;
}
.error-window-outer{
    display: block;
}
.error-window-close{
    margin-top: 10px;
    display: inline-block;
    position: absolute;
    right: 10%;
    top: 7%;
    color: white;
    background-color: crimson;
    padding:5px 20px 5px 10px;
    border-radius: 25px;
}
.error-window-close:hover{
    cursor: pointer;
}
.error-window-close i{
    float: left;
    vertical-align: middle;
    font-size: 20px;
    margin-right: 5px;
}
.error-window-close:hover{
    cursor: pointer;
    background-color: red;
}
.c-crimson{
    color: crimson;
}
.c-black{
    color: black;
}
#helpWindow{
    display: none;
}
.help-step-question{
    font-size: 25px;
    color: royalblue;
    margin-top: 50px;
    margin-bottom: 20px;
}
.help-step-btn{
    padding: 5px 20px 5px 10px;
    display: inline-block;
    font-size: 18px;
    color: white;
    margin-left: 10px;
    border-radius: 5px;
    box-shadow: 0px 5px 5px rgba(0,0,0,0.1);
    margin-top: 20px;
   
}
.help-step-btn i{
    float: left;
    font-size: 22px;
    margin-right: 10px;
}
.help-step-btn:hover{
    cursor: pointer;
}
.bg-green{
    background-color: darkgreen;
}
.bg-crimson{
    background-color: crimson;
}
.bg-royalblue{
    background-color: royalblue;
}
.help-doc-btn{
    position: absolute;
    bottom: 65px;
    right: 20px;  
    color: darkcyan;
    margin-top: 10px;
}
.help-doc-btn:hover{
    cursor: pointer;
    color: darkorange;
}
.help-doc-btn i{
    font-size: 18px;
    float: left;
    margin-right: 5px;
    
}

.item-list-popup{
    position: fixed;
    right: 0px;
    padding: 25px;
    top: 0px;
    bottom: 0px;
    background-color: white;
    box-shadow: -20px 10px 15px rgba(0,0,0, 0.2);
    z-index: 100;
    min-width: 25%;
}
.item-list-popup-content{
    max-height: 600px;
    overflow-y: auto;
}
.item-list-popup-title{
    font-size: 25px;
    margin:20px 0px;
}
.item-list-popup-item{
    padding: 10px;
    border-bottom:1px solid rgba(0,0,0,0.1);
}
.c-name{
    font-size: 16px;
}
.item-list-popup-item .c-phone:hover{
    cursor: pointer;
    background-color: whitesmoke;
}
.c-phone{
    color: grey;
    font-size: 14px;
    margin-left: 10px;
}
.item-search-box .input-form{
    width: 100%;
}
.item-search-box{
    margin-bottom: 20px;
}
.btn-input-autofill-popup{
    position: absolute;
    right: 10%;
    background-color: black;
    color: white;
    padding:5px 10px;
    border-radius: 5px;
    bottom: 10px;
    font-size: 14px;
}
.btn-input-autofill-popup:hover{
    cursor: pointer;
    background-color: darkblue;
}
.group-elem{
    position: relative;
}
#sms-form{
    width: 40%;
}
#sms-form .input-form{
    width: 90%;
}
.form-title{
    font-size: 20px;
}
input:read-only{
    border: 1px dotted silver;
}
.item-list-popup{
    display: none;
}
textarea.input-form{
    font-family: "Roboto";
    min-height: 70px;
    border-radius: 5px;
    padding: 7px 10px;
    box-shadow: 0px 0px 5px rgba(0,0, 0,0.2);
}
#input-sms-content{
    min-height: 180px;
}
.c-orange{
    color: orange;
}
#helpWindow .error-window-inner{
    max-height: 500px;
    padding-bottom: 200px;
    width: 700px;
    overflow-y: auto;
}
.help-t-tip i{
    float: left;
    margin-right: 10px;
}
.help-t-tip{
    color: white;
    background-color: #1e2733;
    padding: 6px 15px;
    border-radius: 5px;
    display: inline-block;
    box-shadow: 0px 5px 5px rgba(0,0,0,0.2);
    cursor: pointer;
}
.help-t-tip:hover{
    cursor: pointer;
    background-color: black;
}
.help-step-answer{
    line-height: 1.5;
}
.pop-win-close{
    float: right;
    color: crimson;
    margin-right: 5px;
    cursor: pointer;
}
.c-phone {
    border: 1px dotted silver;
    padding: 5px 12px 5px 10px;
    border-radius: 20px;
}
.c-phone i {
    margin-right: 0px;
    padding-right: 0px;
    margin: 0px;
    float: none;
    width: 18px;
    font-size: 18px;
    vertical-align: middle;
}
.contactme{
    position: fixed;
    bottom: 0px;
    right: 0px;
    z-index: 1000;
    box-shadow: -5px -5px 15px rgba(0,0,0,0.2);
    padding: 7px 10px 0px 10px;
    border-radius: 5px;
    text-align: right;
}
.contactme a {
    text-decoration: none;
}
.ua-brand{
    color: grey;
}
.ua-brand a {
    color: grey;
    text-decoration: none;
}
span.brand-brand {
    margin: 0px 5px;
    font-weight: 100;
    color: black;
}
.contactme img {
    vertical-align: middle;
    max-height: 25px;
}
.btn-copy{
    background-color: #00a3fe;
    color: white;
    padding: 3px 10px;
    border: none;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.3);
    font-size: 12px;
    cursor: pointer;
}
.mainSearchBarHolder{
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  background-color: white;
  padding:12px 15px;
  box-shadow: 0px 2px 2px rgba(0,0,0,0.15);
  text-align: left;
  background-color: white;
  z-index: 2;
    height: 25px;
}
.signUserInfoHolder>div{
    display: inline-block;
}
.siteName{
  display: inline-block;
  font-size: 20px;
  vertical-align: middle;
  margin-right: 50px;
  margin-left: 5px;
  color: black;
   font-weight: 100;
}
.mainSearchBarHolder input {
    width: 40%;
    padding: 5px 10px;
    vertical-align: middle;
    font-size: 16px;
    outline: none !important;
    outline-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    box-shadow: inset 0 0 1px 1px rgba(0,0,0,0.1);
    background: #fff;
}
input:focus, input:active{
    outline: none !important;
  outline-width: 0;
  /*box-shadow: inset 0 0 3px 1px rgba(0,0,0,0.2);*/
}
.mainSearchBarHolder button{
  margin: 0px;
  background-color: whitesmoke;
  color: rgba(0,0,0,0.7);
  padding: 5px 20px;
  margin-left: -5px;
  border-radius: 0px 2px 2px 0px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 16px;
}
.mainSearchBarHolder button:hover{
  background-color: #eaeaea;
}
.siteLogo {
    width: 0px;
    height: 0px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 16px solid grey;
    display: inline-block;
    float: left;
    margin-right: 5px;
    margin-top: 2px;
    color: silver;
}
.mainSearchBarHolder .g-signin2{
    float: right;
    display: inline-block;
}
button.g-signin2{
  background-color: royalblue;
  color: white;
}

.focusBackground{
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background-color: rgba(0,0,0,0.5);
}
img#signInUserImg {
    vertical-align: middle;
    height: 30px;
    border-radius: 50px;
    margin-right: 3px;
    border: 2px solid #c7c7c7;
    margin-top: -3px;
}
.g-signin2{
    display: none;
}
.mainSearchBarHolder .signUserInfoHolder{
    float: right;
}
.signedUserOptions{
  position: fixed;
  top: 50px;
  right: 0px;
  bottom: 0px;
  background-color: white;
  padding: 20px 0px 10px;
  box-shadow: 0px 30px 20px rgba(0,0,0,0.5);
}
.signedUserOptions div{
  display: block;
}
.suo-item{
  padding: 10px 100px 10px 20px;
}
.suo-item .material-icons{
  margin-right: 5px;
  vertical-align: middle;
  color: grey;
}
.suo-item:hover{
  background-color: whitesmoke;
  cursor: pointer;
}
.signedUserOptions{
    right: -1000px;
}
.userInfoBtn:hover{
    cursor: pointer;
    background-color: whitesmoke;
}
.userInfoBtn:hover img{
    box-shadow: 0px 1px 5px rgba(0,0,0,0.7);
}
#signInUserName{
    color: rgb(86,86,86);
}
.signedIn{
    display: none;
}
.pageTitle{
  font-size: 20px;
  margin-top: -2px;
  background-color: whitesmoke;
  padding: 10px 25px;
  color: #393636;
  box-shadow: 0px 2px 10px rgba(0,0,0,0.3);

}

.spinnow {
    font-size: 35px;
    color: royalblue;
    -webkit-animation: spin 2s linear infinite;
    -moz-animation: spin 2s linear infinite;
    -ms-animation: spin 2s linear infinite;
    -o-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
@-ms-keyframes spin {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
.signTtl{
    margin-top: 20px;
    font-size: 22px;
}
.signOutbackWindow{
    position: fixed;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    background-color: rgba(0,0,0,0.6);
    z-index: 1;
}
.signedOut{
    display: none;
}
.appFocusView{
    margin-top: 20px;
}
a{
    text-decoration: none;
}
.waitToResolve{
    position: relative;
}
.waitToResolve:before{
    position: relative;
    content: "";
    font-size: 25px;
    display: block;
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    background-color: rgba(256,256,256,0.6);
    color: black;
    text-align: center;
}
.waitToResolve:after{
  border: 5px solid #f3f3f3; /* Light grey */
  border-top: 5px solid royalblue; /* Blue */
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 2s linear infinite;
  content: "";
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    margin: 5px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.4);
    margin: 10px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
button:disabled:hover{
    background-color: unset;
}
.stepItem button .material-icons{
    font-size: 18px;
    float: left;
    vertical-align: middle;
    margin-right: 5px;
}
.contactSite span{
    vertical-align: middle;
}
.contactSite{
    display: inline-block;
    position: absolute;
    right: 100px;
    margin-top: 3px;
    color: royalblue;
}

.error-window-outer,.process-window-outer{
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: rgba(256, 256, 256, 0.4);
    display: none;
    z-index: 100;
    backdrop-filter: blur(8px);
}
.btn-reset{
	    float: right;
        box-shadow: 0px 0px 5px rgba(0,0,0, 0.4);
        padding: 3px 15px;
        border-radius: 3px;
        cursor: pointer;
}
.error-window-inner,.process-window-inner{
    display: inline-block;
    text-align: left;
    margin-top: 5%;
    margin-left: 10%;
}
.error-window-title,.process-window-title{
    font-size: 25px;
    margin-bottom: 40px;
}
.error-window-title{
    color: crimson;
}
.process-window-item{
    padding: 7px 30px 7px 15px;
    background-color: white;
    margin: 20px;
    box-shadow: 0px 5px 5px rgba(0,0,0,0.1);
    border-radius: 3px;
    border:1px solid black;
    color: black;
}
.process-window-item .material-icons.spinnow{
    font-size: 20px;
    margin-right: 5px;
    vertical-align: middle;
}
.error-window-outer{
    display: block;
}
.error-window-close{
    margin-top: 10px;
    display: inline-block;
    position: absolute;
    right: 10%;
    top: 7%;
    color: white;
    background-color: crimson;
    padding:5px 20px 5px 10px;
    border-radius: 25px;
}
.error-window-close:hover{
    cursor: pointer;
}
.error-window-close i{
    float: left;
    vertical-align: middle;
    font-size: 20px;
    margin-right: 5px;
}
.error-window-close:hover{
    cursor: pointer;
    background-color: red;
}
.c-crimson{
    color: crimson;
}
.c-black{
    color: black;
}
.c-green{
    color: green;
}
#helpWindow{
    display: none;
}
button.unsubscribe:hover{
    cursor: pointer;
    background-color: red;
}
button.subscribe:hover{
    cursor: pointer;
    background-color: forestgreen;
}
button.delete:hover{
    cursor: pointer;
    color: red;
}
button.btn-save:hover{
    cursor: pointer;
    background-color: navy;
    color: white;
}
button{
    padding: 3px 10px;
    border-radius: 2px;
}
.phoneItems:empty:after {
    content: "You have no phone numbers subscribed";
    display: block;
    color: grey;
    text-align: center;
}


.settingsWindow{
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 11;
  background-color: white;
  padding: 20px;
}
.stTtl{
  font-size: 23px;
  margin: 5px 0px 5px;
}
.stItem{
  line-height: 1.5;
  margin-bottom: 15px;
}
.stItem label{
  font-size: 16px;
  color: darkcyan;
  display: block;
}
.stItem span{
  font-size: 12px;
  color: silver;
  display: block;
  margin-bottom: 5px;
}
.stItem input[type='text']{
  width: 80%;
  padding: 4px 7px;
  border: 1px solid silver;
  border-radius: 3px;
  vertical-align: middle;
  
}
.stItem button{
  background-color: royalblue;
  color: white;
  border: none;
  padding: 3px 10px;
  margin-left: 5px;
  font-size: 13px;
  border-radius: 5px;
}
.stItem button:hover{
  cursor: pointer;
  background-color: navy;
}
.win-close{
  position: absolute;
  right: 20px;
  background-color: crimson;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 20px;
}
.win-close:hover{
  cursor: pointer;
  background-color: red;
}
#SETTINGS-APP-BTN{
    background-color: darkmagenta;
color: white;
padding: 4px 10px;
border: none;
font-size: 12px;
border-radius: 5px;
box-shadow: 0px 2px 5px rgba(0,0,0,0.3);
}
.win-back{
    padding: 3px 10px;
    border-radius: 5px;
    margin-bottom: 10px;
  background-color: black;
  color: white;
  border: none;
  box-shadow:  0px 2px 4px rgba(0,0,0,0.5);
}
.win-back:hover{
  background-color: grey;
  cursor: pointer;
}

.fromNumChooserOuter{
    position: fixed;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(0,0,0,0.5);
    text-align: center;
    z-index: 9;
}
.fnco-holder{
    background-color: white;
    display: inline-block;
    text-align: left;
    border-radius: 5px;
    margin-top: 5%;
    padding: 15px 30px 40px;
    position: relative;
    max-width: 70%;
}

.fnco-ttl{
    font-size: 24px;
    color: royalblue;
}
.fnco-subitem{
    margin: 10px 0px 25px;
}
.fnco-subttl{
    font-size: 18px;
    font-weight: bold;
}
.fnco-item{
    padding: 10px 20px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.3);
    border-radius: 5px;
    margin: 10px 0px;
    color: rgb(50,50,50);
}
.fnco-item span{
    color: green;
    margin-left: 5px;
    font-size: 14px;
}
.fnco-item:hover{
    cursor: pointer;
    background-color: whitesmoke;
    color: black;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.3);
}
.fnco-close{
    position: absolute;
    right: 15px;
    top: 5px;
    color: crimson;
    font-weight: bold;
    padding: 5px 10px;
}
.fnco-close:hover{
    cursor: pointer;
    color: red;
}
.fnco-not-loggedin{
    font-size: 14px;
    color: rgb(86,86,86);
    padding:10px 30px;
    margin: 5px 0px;
    background-color: whitesmoke;
}
.fnco-loggedin-btn{
    margin: 10px 5px;
    display: inline-block;
    box-shadow: 0px 1px 3px;
    border-radius: 5px;
    padding: 5px 15px;
    color: white;
}
.fncol-signin{
    background-color: royalblue;
}
.fncol-signup{
    background-color: green;
}
.fnco-loggedin-btn:hover{
    cursor: pointer;
    box-shadow: 0px 3px 5px rgba(0,0,0,0.3);
}
.fnco-item img{
    height: 23px;
    float: left;
    margin-top: 0px;
    margin-right: 3px;
    border-radius: 25px;
}
.fnco-ico{
    height: 28px;
    width: 28px;
    display: inline-block;
    vertical-align: middle;
    background-size: 100% auto;
    background-color: whitesmoke;
    border-radius: 30px;
    margin-right: 6px;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
}
.sender-tools-waweb, .sender-tools-whatcetra{
    display: none;
}
.err-wa-conn-label {
    padding: 2px 12px;
    margin-left: 5px;
    border-radius: 25px;
    background-color: green;
    color: white;
    border: none;
    box-shadow: 0px 2px 5px rgb(0 0 0 / 30%);
    font-size: 15px;
}
.err-wa-conn-label:hover{
    cursor: pointer;
    background-color: darkgreen;
}