html,body {
    /* overflow: hidden; */
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

			/*input  {
		  width: 80%;
		  padding: 8px 15px;
		  box-sizing: border-box;
		  float: left;
		}*/
		/* The switch - the box around the slider */
		#container{
			display: none;
		}
		#emailer{
			position: fixed;
			width: 100% !important;
			height: 100% !important;
			box-sizing: border-box;
			padding-top: 15px;
			overflow: auto;
			padding-bottom: 50px;
		}
		.btn {
			padding: 2px 0px 1px 0px;
		}
		.btnn{
			background: #e1e1e1;
			border: none;
			margin-bottom: 5px;
			box-shadow: 1px 1px 3px #5d5d5da1;
		}
		.btnn:hover { 
		 	background-color: #627d8f;
		 	color: white;
		}

		.editButtons{
			/*border-style: solid;
 			border-width: 1px 1px 0px 1px; */

 			padding: 4px;
 			width: 80%;
 			float: left;
 			margin-left: 20px;
 			border-color: #c3c6ca;
			min-height:36px;
			max-height: 36px;
			background-color: #f7f8f9;
		}
        .error-message {
		  color: #cc0033;
		  display: inline-block;
		  font-size: 16px;
		  line-height: 18px;
		  margin: 5px 0 0;
		}
		.api{
		  width: 300px;
		  padding: 12px 20px;
		  margin: 8px 0;
		  box-sizing: border-box;
		}
		#linkForm{
			display:none;
		}
		.editIcon{
			float:left;
			padding-left: 10px;
			cursor: pointer;
		}
		.editIcons{
			display:none;
		}
		.edit{
			display:block;
			cursor: pointer;
		}
		.footer{
			width: 100%;
			clear: both;
			/* margin-top: 10px; */
			position: relative;
		}
		div.editable {
			width: 100%;
			height: 200px;
			border-style: solid;
			border-width: 1px 1px 1px 1px;
			border-color: #ccc;
			padding: 5px 10px;
			overflow: auto;
			/*white-space: pre;*/
			font-weight: 400;
			float:left;
			margin: 0px;
			font-size: 14px;
			box-shadow: inset 0px 0px 10px rgba(0,0,0,0.1);
		}

div.subject{
	width: 615px;
    height: 36px;
    border-style: solid;
	border-width: 0px 0px 1px 0px;
	border-color: #ccc;
    padding: 5px;
    overflow: auto;
    white-space: pre;
    font-weight: 400;
    float:left;
    margin: 0px;
}
.saveButtons{
	 height: 300px;
	 float:left;
	 padding:30px;
/*	 padding-left: 5px;
	 padding-top: 140px;*/
}
/*ul li {
  margin: 10px;
}*/
strong {
  font-weight: bold;
}
   .goog-te-banner-frame.skiptranslate {
            display: none !important;
        }
        body {
            top: 0px !important;
        }
        @font-face {
  font-family: 'zb-fonticons';
  src:  url('/fonts-icon/zb-fonticons.eot?9bjl2c');
  src:  url('/fonts-icon/zb-fonticons.eot?9bjl2c#iefix') format('embedded-opentype'),
    url('/fonts-icon/zb-fonticons.ttf?9bjl2c') format('truetype'),
    url('/fonts-icon/zb-fonticons.woff?9bjl2c') format('woff'),
    url('/fonts-icon/zb-fonticons.svg?9bjl2c#zb-fonticons') format('svg');
  font-weight: normal;
  font-style: normal;
}
#loader {
	margin-top: 220px;
	margin-left: 324px;
	margin-right: 320px;
	margin-bottom: 220px;
	border: 5px solid #f3f3f3;
	-webkit-animation: spin 1s linear infinite;
	animation: spin 1s linear infinite;
	border-top: 5px solid #555;
	border-radius: 50%;
	width: 55px;
	height: 55px;
}
#mloader {
  margin-top: 220px;
  margin-left: 324px;
  margin-right: 320px;
  margin-bottom: 220px;
  border: 5px solid #f3f3f3;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
  border-top: 5px solid #555;
  border-radius: 50%;
  width: 55px;
  height: 55px;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.check{
	border: 0.5px solid grey;
	cursor: pointer;
	float:left;
	width:50px;
	height:30px;
	padding-left:10px;
	background-color: white;
}
.button {
  background-color:#f7f8f9;
  border: none;
  width: 33px;
  padding-top: 3px;
  max-height:33px;
  /*padding: 3px;*/
}
.dropdown-item {
	padding: 5px 5px 5px 13px;
}
	/* The actual popup */
.popup{
    /*top: 456px;*/
    /*left: 302px;*/
  	display: none;
}
.mappingDiv{
	float: left;
	clear: both;
	width: 100%;
	box-sizing: border-box;
	padding: 15px 40px;
}
#contentDiv{
	/* display: none; */
	/* display: grid; */
}
.calendar{
	float: left;
	width: 40%;
	text-align:left;
	max-width: 250px;
	 overflow: auto;
}
.arrow{
	float: left;
	width: 20%;
	text-align:left;
	padding-left: 10px;
}
.map{
	width: 100%;
}
.opaque{
	 opacity: 0.3;
 	 filter: Alpha(opacity=50); /* IE8 and earlier */
 	 pointer-events:none;
}
.send{
    padding: 3px 15px;
    float: left;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    border: none;
    background-color: #42a2eb!important;
    border: solid 1px #42a2eb!important;
    border-radius: 2px;
    color: white;
    cursor: pointer;
    margin-top: 12px !important;
}
.choosemodules{
	float:left;
    width: 100px;
    font-size:16px;
    background-color: #fff;
    border :1px solid grey;
}
.choose {
  float:left;
    width: 155px;
/*     font-size:16px; */
/*     background-color: #fff; */
    overflow: hidden;
    text-overflow: ellipsis; 
    white-space: nowrap; 
}
.ellipses{
  overflow: hidden;
  text-overflow: ellipsis; 
  white-space: nowrap; 
}
.arrowIcon{
	display: inline-block;
	margin-left: .255em;
	vertical-align: .255em;
	content: "";
	border-top: .3em solid;
	border-right: .3em solid transparent;
	border-bottom: 0;
	border-left: .3em solid transparent;
	position: relative;
	top: 10px;
	} 
.template{
}
.templateItem{
	padding : 5px;
	cursor: pointer;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
.templateItem:hover { 
 	background-color: #d8dee2;
}
.overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
}

.text{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 17px;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}
.api-key-highlight{
    border: 2px solid white;
    padding:2px 10px;
    border-radius: 5px;
    color: white;
    margin: 0px 5px;
    font-size: 14px;
    background-color: green;
  }
  .save{
  	padding: 10px 15px;
	box-sizing: border-box;
	float:left;
	width:20%;
	cursor:pointer;
	color: #fff;
    background: #8e8d8d;
}
.insert{
	clear:both;
	max-width: 100%;
}
.schedule{
	font-family: 'ProximaNovaRegular';
    font-size: 15px;
    font-weight: 300;
	padding: 8px 0px 8px 0px;
	float: left;
}
.scheduleCheck{
	padding: 11px 0px 10px 22px;
float:left;
min-width: 50px;

}
.webdesktop{padding: 15px 0px 10px 10px;float:left;min-width: 20px;position: relative;left: 12px;}
.datetimeText{
	color:blue;
	cursor: pointer;
}
.dropdown-menu{
	max-height: 300px;
	max-width:160px;
	overflow: auto;
}
#dateTime{
	display: none;
}
.dateTime{
	padding:5px;
	background: white;
	float: left;
	min-width:480px;
	min-height: 40px;
	position: absolute;
  top: 83% !important;
  left: 23%;
  font-size: 17px;
  color: white;
 /* transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);*/
}
.scheduleIcon{
	float: left;
	padding: 5px;
	color:black;
	background-color: grey;
}
#datepicker{
	max-width: 110px;
	max-height: 36px;
	float: left;
	padding: 5px;
	padding-left: 10px;
	cursor: pointer;
	margin-left: 5px;
}
.timings {
	float: left;
	background: white;
	min-height: 36px;
	cursor: pointer;
	
}
.scheduleClose{
	margin-left:10px;
	float: left;
	min-height: 36px;
}
.cancel{
	padding: 6px 15px;
    float: left;
    font-size: 15px;
    text-align: center;
    border-radius: 2px;
    cursor: pointer;
	background-color: white;
	color:black;
	border:solid 1px #c4c4c4;
}
.singleLine{
    clear:both;
    /* margin-left :40px; */
    width: 100%;
    box-sizing: border-box;
    padding: 8px 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
}
.textLable{
	width: 150px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
#templateName{
	float: left;
	margin-left: 20px;
	width:280px;
}
.dropdown .tooltiptext {
  visibility: hidden;
  width: 155px;
  font-weight:100;
  font-size: 15px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  display: none;
}
.dropdown:hover .tooltiptext {
  visibility: visible;
}
.insertdropdown{
	max-width: 300px;
	min-width: 300px;
}
div.template{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-content: center;
	justify-content: flex-start;
	align-items: center;
	margin-left: 10px;
}
#whatsAppUrlList{
	display: none;
	width: 100%;
    padding: 10px;
}
.whatsappLink{
    padding: 10px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
.whatsappLink>div{
	display: inline-block;
    vertical-align: middle;
}
.contactName{
padding: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.messagelink{
	padding:5px;
    border: 1px solid grey;
    white-space: nowrap;
    overflow-x:auto;
}
.sendButton{
	padding: 5px 15px;
    border: 1px solid #007514;
    background-color: forestgreen;
    color: white;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
    border-radius: 3px;
    position: absolute;
    right: 25px;
}
.sendButton.sending{
	display: none;
    background-color: #eab800;
    border: none;
    box-shadow: none;
}
.sendButton.sent{
	display: none;
    background-color: grey;
    border: none;
    box-shadow: none;
}
.bottomTip {
        position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    padding: 8px;
    background-color: #016d96;
    color: white;
    text-align: center;
    font-size: 14px;
}
.bottomTip a:hover {
    color: white;
    background-color: rgba(0,0,0,0.2);
    cursor: pointer;
    text-decoration: none;
}
.bottomTip a {
       background-color: #0192bd;
    color: white;
    padding: 4px 10px;
    border-radius: 3px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.3);
    /* margin-top: 24px; */
    font-size: 14px;
}
.bottomTipActions {
    margin: 6px 0px 1px;
}
span.tt-close {
    /* float: right; */
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 12px;
    background-color: rgba(0,0,0,0.3);
    padding: 3px 8px;
    border-radius: 50px;
    cursor: pointer;
}
   .extensionVersionCheck {
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: rgba(239, 239, 239, 0.9);
    z-index: 10;
    color: #f10000;
    font-size: 20px;
    text-align: center;
    padding-top: 5%;
}

.alerttl {
    color: #000000;
    margin-bottom: 15px;
    font-size: 30px;
}

.extensionVersionCheck a {
    border: 1px solid royalblue;
    padding: 5px 15px;
    border-radius: 5px;
    font-size: 14px;
    margin: 2px;
}

.closealertdia {
    font-size: 16px;
    border: 1px solid royalblue;
    display: inline-block;
    background-color: royalblue;
    color: white;
    padding: 1px 10px;
    border-radius: 3px;
    cursor: pointer;
    margin: 0px 2px;
}
#notSignedInError{
	position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    top: 0px;
    backdrop-filter: blur(5px);
    z-index: 10;
    text-align: center;
    padding: 50px;
	background-color: rgba(0,0,0,0.9);
	color: white;
}


.fb-sign-cancel-btn{
	border-radius: 5px;
	color: rgb(50,50,50);
	border: 1px solid white;
	padding:3px 15px;
	font-size: 14px;
}
.fb-sign-cancel-btn:hover{
	cursor: pointer;
	color: black;
}
.dd-label-holder>div{
	display: inline-block;
	vertical-align: middle;
}
.dd-label-holder, select,.dropdown button:not(.dropdown-toggle){
  background-color: whitesmoke !important;
  padding: 7px 15px 4px !important;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.3);
  font-size: 14px !important;
  color: black;
  border: none !important;
  text-align: left;
  /*  border: 1px solid rgba(0,0,0,0.2); */
  display: flex;
}
select{
  padding: 7px;
}
.dd-label-icon .material-icons{
	margin-top: 0px;
	float: left;
}
.dd-label-holder:hover{
	cursor: pointer;
	background-color: white;
	color: black;
}
.stw-attachbutton{
	margin-top: 5px;
	padding: 5px 10px 5px;
	background-color: whitesmoke;
	display: inline-block;
	border-radius: 5px;
	color: rgb(50,50,50);
	font-size: 14px;
	border: 1px solid rgba(0,0,0,0.1);
}

.stw-attachbutton .material-icons{
	float: left;
	font-size:16px;
	vertical-align:middle;
	margin-top:2.5px;
	margin-right:5px;
}
.stw-attachbutton:hover{
	cursor: pointer;
	color: white;
	background-color: black;
}
.inlblock{
	display: inline-block;
}

div#emailEditorsEmail {
    width: 100%;
    position: relative;
}

div#emailEditorEmail {
    width: 100%;
    position: relative;
}

ul#dropdown-menu-email {transform: none !important;top: 29px !important;left: 9px !important;height: 234px;}

input#editNumber {padding: 4px 10px !important;margin-left: 10px;border-radius: 3px;border: 0px !important;border-left: 2px solid #4b7bc2 !important;box-shadow: 0px 0px 3px #e2e2e2;}

div#templateOption {
    position: relative;
    top: 4px;
    left: 10px;
}

::-webkit-scrollbar-thumb {
    background: #2d7dcb;
    border-radius: 8.2px;
}

body::-webkit-scrollbar-thumb {
    display:none;
}

::-webkit-scrollbar-track {
    background-color: rgb(253 253 253);
}

::-webkit-scrollbar {
    width: 3px;
}

::-webkit-scrollbar:horizontal {
    height:0px;
}


.addTempleteCreateOutDiv {
    width: 34px;
    height: 32px;
    background-color: whitesmoke;
    border-radius: 3px;
    box-shadow: 0px 0px 2px rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    cursor: pointer;
    position: relative;
    top: 1px;
    left: 10px;
}

.createTemplateMainOuterDiv {
    background-color: white;
    width: calc(100% - 100px);
    position: absolute;
    box-sizing: border-box;
    box-shadow: 0px 0px 4px rgb(0 0 0 / 50%);
    padding: 15px 0px 10px 0px;
    z-index: 1;
    left: 50px;
    top: 60px;
    border-radius: 3px;
}

.textLable.createTemplateHead {
    font-size: 18px;
    text-shadow: 0px 0px 1px;
    position: relative;
    top: -2px;
}

span#close_integarationDiv {
    position: absolute;
    right: 20px;
    font-size: 22px;
    cursor: pointer;
    top: 10px;
    color: #3907078f;
}

span#close_integarationDiv:hover {
    color: #990606;
    text-shadow: 0px 0px 1px;
}

.addTempleteCreateOutDiv.addTempleteCreateOutDivBulk {
    width: 27px;
    height: 26.5px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    position: relative;
    left: 0;
    top: 0px;
}