.stepHolder{
  margin:40px 10%;
}
.stepMainTitle{
  font-size: 20px;
  color: rgb(80,80,80);
  margin: 10px 0px;
  color: royalblue;
}
.stepItem{
  padding: 10px 15px;
  background-color: white;
  box-shadow: 0px 5px 5px rgba(0,0,0,0.1);
  margin: 20px;
  border-radius: 5px;
}
.stepTtl{
  font-size: 14px;
  margin-bottom: 10px;
  background-color: black;
  color: white;
  display: inline-block;
  padding: 5px 15px;
}
.stepContent{
  padding: 15px 10px 10px 10px;
}
.stepContent button,#addNewNumberBtn{
  background-color: royalblue;
  border: none;
  color: white;
  padding: 5px 15px;
  border-radius: 50px;
  font-size: 15px;
  box-shadow: 0px 3px 3px rgba(0,0,100,0.3);
}
.stepContent .btn-plus:hover:not(:disabled){
    cursor: pointer;
    background-color: navy !important;
}
.integStatusStrip{
  padding: 10px;
  background-color: white;
  margin: 0px 10%;
  box-shadow: 0px 5px 10px rgba(0,0,0,0.1);
  box-sizing: border-box;
  padding: 15px 25px;
}
.integStatusStrip>div{
  display: inline-block;
}
.is-left{ 
  width: 49%;
}
.is-right{
  width: 49%;
  text-align: right;
}
#INTEG-STATUS{
  font-size: 20px;
  background-color: grey;
  color: white;
  padding:5px 15px;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  margin-left: 10px;
}
.btn-minus{
  background-color: crimson;
  color: white;
  padding:5px 15px 7px;
  font-size: 14px;
  border: none;
  border-radius: 50px;
  box-shadow: 0px 5px 5px rgba(200,0,0,0.2);
}
.btn-minus:hover, #UNINSTALL-APP-BTN:hover{
  cursor: pointer;
  background-color: red;
  box-shadow: 0px 5px 5px rgba(200,0,0,0.2);
  color: white;
}

#UNINSTALL-APP-BTN{
    background-color: white; 
    border: 1px solid crimson; 
    color: crimson; 
    box-shadow: none;
}
.formOuter{
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  text-align: center;
  background-color: rgba(0,0,0,0.5);
  z-index: 10;
}
.formInner{
  display: inline-block;
  background-color: white;
  margin-top: 5%;
  padding:20px 30px 30px;
  text-align: left;
  border-radius: 5px;
  min-width: 400px;
  box-shadow: 0px 5px 15px rgba(0,0,0,0.25);
}
.formItem{
  padding: 10px;
}
.formItem input{
  padding: 10px;
  font-family: inherit;
  width: 90%;
}
.phoneItems{
  background-color: white;
  padding: 10px 20px 30px;
  border-radius: 5px;
}
.phoneItem{
  border-bottom: 1px solid rgba(0,0,0,0.1);
  padding: 5px;
  display: flex;
}
.phoneItem>div{
  width: 100%;
  vertical-align: middle;
  padding: 5px;
}
.phoneAct{
  text-align: right;
}
.phoneNum{
  padding-left: 10px;
}
.phoneAct button{
  padding: 4px 15px 5px;
  vertical-align: middle;
  font-size: 14px;
}
.phoneAct .delete{
  background-color: white;
  color: crimson;
  box-shadow: none;
  padding-top: 5px;
}
button.subscribe{
  background-color: green;
}
button.unsubscribe{
  background-color: crimson;
}
.sub-sts{
  margin-top: 5px;
  font-size: 13px;
}
.addNumberDiv{
  text-align: center;
  padding: 10px;
}
.phoneItem:hover{
  cursor: pointer;
  background-color: whitesmoke;
}
#addNewNumberBtn{
  vertical-align: middle;
  margin-left: 10px;
}
label a{
  font-size: 14px;
  margin-left: 10px;
}
.help-step-question{
    font-size: 25px;
    color: royalblue;
    margin-top: 50px;
    margin-bottom: 20px;
}
.help-step-btn{
    padding: 5px 20px 5px 10px;
    display: inline-block;
    font-size: 18px;
    color: white;
    margin-left: 10px;
    border-radius: 5px;
    box-shadow: 0px 5px 5px rgba(0,0,0,0.1);
    margin-top: 20px;
   
}
.help-step-btn i{
    float: left;
    font-size: 22px;
    margin-right: 10px;
}
.help-step-btn:hover{
    cursor: pointer;
}
.bg-green{
    background-color: darkgreen;
}
.bg-crimson{
    background-color: crimson;
}
.bg-royalblue{
    background-color: royalblue;
}
.help-doc-btn{
    position: absolute;
    bottom: 65px;
    right: 20px;  
    color: darkcyan;
    margin-top: 10px;
}
.help-doc-btn:hover{
    cursor: pointer;
    color: darkorange;
}
.help-doc-btn i{
    font-size: 18px;
    float: left;
    margin-right: 5px;
    
}

.settingsWindow{
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 11;
  background-color: white;
  padding: 20px;
}
.stTtl{
  font-size: 23px;
  margin: 5px 0px 5px;
}
.stItem{
  line-height: 1.5;
  margin-bottom: 15px;
}
.stItem label{
  font-size: 16px;
  color: darkcyan;
  display: block;
}
.stItem span{
  font-size: 12px;
  color: silver;
  display: block;
  margin-bottom: 5px;
}
.stItem input[type='text']{
  width: 80%;
  padding: 4px 7px;
  border: 1px solid silver;
  border-radius: 3px;
  vertical-align: middle;
  
}
.stItem button{
  background-color: royalblue;
  color: white;
  border: none;
  padding: 3px 10px;
  margin-left: 5px;
  font-size: 13px;
  border-radius: 5px;
}
.stItem button:hover{
  cursor: pointer;
  background-color: navy;
}
.win-close{
  position: absolute;
  right: 20px;
  background-color: crimson;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 20px;
}
.win-close:hover{
  cursor: pointer;
  background-color: red;
}
#SETTINGS-APP-BTN{
    background-color: darkmagenta;
color: white;
padding: 4px 10px;
border: none;
font-size: 12px;
border-radius: 5px;
box-shadow: 0px 2px 5px rgba(0,0,0,0.3);
}
.win-back{
    padding: 3px 10px;
    border-radius: 5px;
    margin-bottom: 10px;
  background-color: black;
  color: white;
  border: none;
  box-shadow:  0px 2px 4px rgba(0,0,0,0.5);
}
.win-back:hover{
  background-color: grey;
  cursor: pointer;
}