    body{
    font-family: sans-serif;
    margin-top: 5px;
    padding:0px;
}
.chatbox-outer,.chatbox-initiator{
    width: 525px;
        display: inline-block;
        border: 10px solid whitesmoke;
        padding: 10px 0px 5px;
        position: relative;
}
.chatbox-outer,.chatbox-initiator{
    width: 525px;
        display: inline-block;
        border: 10px solid whitesmoke;
        padding: 10px 0px 5px;
        position: relative;
}
.chatbox-inner{
    overflow:   hidden;
    position:   relative;
    width:      100%;
    height:     350px;
      z-index: 1;
      box-sizing: border-box;
          
}
.chat-message-author {
    margin-bottom: 3px;
    font-size: 12px;
    color: darkcyan;
    text-align: right;
    cursor:pointer;
}
img.cma-ppic:hover {
    transform: scale(2);
}
.chatmessages-inner{
    
    overflow:   auto;
    position:   absolute;
      left: 0px;
      right: 0px;
    bottom:     0;
    max-height: 350px;
      padding:0px 15px 0px 10px;
}
.chatmessage-item{
    padding-top: 7px;
    width: 100%;
}
.chatmessage-content img, .chatmessage-content video{
    max-width: 100%;
        max-height: 400px;
}
.chatmessage-content a{
    color: white;
}
.chatmessage-content{
    display: inline-block;
    max-width: 85%;
    background-color: whitesmoke;
        text-align: left;
        line-height: 1.28; 
            word-break: break-word; 
}
.chatmessage-item.direction-out{
    text-align: right;
}
.chatmessage-item.direction-in .chatmessage-content{
    background-color: #1b87e5;
    border-radius: 0px 15px 15px 15px;
    color: white;
    padding: 5px 15px 5px;
    box-sizing:  border-box;
    font-size: 14px;
}
.chatmessage-item.direction-out .chatmessage-content{
    background-color: white;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 15px 15px 0px 15px;
    color: black;
    padding: 5px 15px 5px;
    box-sizing:  border-box;
    font-size: 14px;
}
.chatmessage-item.direction-in.unread{
    background-color: lightyellow;
}
.chatmessage-item.direction-out .chatmessage-content a{
    color: black;
}
.chatmessage-time{
    font-size: 10px;
  padding: 5px 5px 5px 0px;
    color: grey;
}
.inp-sendmessage {
    font-family: sans-serif;
    box-sizing: border-box;
    width: 100%;
    padding: 10px 15px;
    font-size: 14px;
    line-height: 1.3;
    height: 68px;
    outline: none;
    max-width: 100%;
    border-radius: 5px;
    z-index: 2;
    position: sticky;
    border: none;
}
.chataction{
    box-shadow: 0px -7px 5px rgba(0,0,0,0.1);
    text-align: right;
}
.cich-iocd-form-inp textarea:focus{
    border-color: grey;
}
.btn-sendmessage{
    padding: 5px 15px;
    font-size: 14px;
    border: none;
    background-color: royalblue;
    color: white;
    border-radius: 5px;
    margin: 1px;
    margin-right: 10px;
}
.btn-sendmessage:hover{
    cursor: pointer;
    background-color: navy;
}
.chatmessage-time .fullTime{
    display: none;
}

.loadingdiv{
    z-index: 5;
    background-color: royalblue;
    color: white;
    padding: 25px 15px;
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
}
.loadingdiv .spinnow{
    color: white;
}
.prevMessageBtn{
        text-align: center;
    background-color: aliceblue;
    padding: 7px;
    margin-bottom: 10px;
    color: grey;
}
.prevMessageBtn:hover{
    cursor: pointer;
    color: black;
}
.loadedLoadmore{
    padding: 3px;
}
.loadedLoadmore:hover{
    cursor: default;
}
.msgStatus{
    border-left: 1px solid silver;
    padding-left: 3px;
}
#sms-form {
    width: 90%;
    border: none;
    position: relative;
}
.form-title{
    display: block;
}
div#selSnippet{
    width: 80%;
    padding:5px 15px;
}
.btn-input-autofill-popup, .btn-input-autofill-popup:hover{
    display: block;
    background: none;
    padding: 0px;
}
input:focus, textarea{
    outline: none;
}
textarea{
    font-family: sans-serif !important;
}
.processingFull{
        position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 0px;
    font-size: 25px;
    text-align: center;
    padding-top: 15%;
    z-index: 2;
    background-color: rgba(250,250,250,0.885);
}
.conv-list-item {
    padding: 10px;
    border-bottom: 1px solid whitesmoke;
}
.conv-list-item:hover{
    cursor: pointer;
    background-color: whitesmoke;
    color: royalblue;
}
.conv-number{
        margin-top: 5px;
    font-size: 14px;
    color: grey;
}
.conv-list-item:hover{
    background-color: aliceblue;
}
.conv-list-item.selected{
    background-color: whitesmoke;
}
.chatbox-initiator{
    vertical-align: top;
}
div#backToConvBtn {
    display:none;
    position: absolute;
    top: -30px;
}
.initiateConv{
    /* display:none; */
}
.chat-no-perm-send{
    padding: 15px 15px 7px 15px;
    background-color: whitesmoke;
    color: grey;
    margin-top: 5px;
    margin-bottom: -5px;
}
img.cma-ppic {
    max-width: 20px;
    vertical-align: middle;
    border-radius: 50px;
    margin-left: 2px;
}
.conv-access{
    color: silver;
    font-size: 14px;
    text-align: right;
    margin-bottom: -4px;
}
.chat-send {
    text-align: right;
}
.chat-channel-choose{
        font-size: 12px;
    color: grey;
}
.replychosediv select {
    margin: 0px 10px 0px 2px;
    font-size: 14px;
    outline: none;
    border-color: silver;
}
.replychosediv{
    display: inline-block;
    font-size: 12px;
}

.chatmessage-item.direction-out {
    border-width: 0px 2px 0px 2px;
    border-style: solid;
    padding-right: 5px;
}

.chatmessage-item.direction-in {
    border-width: 0px 0px 0px 2px;
    border-style: solid;
    padding-left: 5px;
}
.attach{
    border:none;
    cursor:pointer;
}
.chatmessage-item.col-0{
    border-color: #16a085;
}
.chatmessage-item.col-1{
    border-color: #f39c12;
}
.chatmessage-item.col-2{
    border-color: #2980b9;
}
.chatmessage-item.col-3{
    border-color: #d35400;
}
.chatmessage-item.col-4{
    border-color: #6c5ce7;
}
.chatmessage-item.col-5{
    border-color: #e84393;
}
.chatmessage-item.col-6{
    border-color: #2c3e50;
}
.chatmessage-item.col-7{
    border-color: #00cec9;
}
.chatmessage-item.col-8{
    border-color: #8e44ad;
}
.chatmessage-item.col-9{
    border-color : black;
}
.chat-message-author {
    margin-bottom: 3px;
    font-size: 12px;
    color: darkcyan;
    text-align: right;
    cursor:pointer;
}
img.cma-ppic:hover {
    transform: scale(2);
}
.chatmessages-inner{
    
    overflow:   auto;
    position:   absolute;
      left: 0px;
      right: 0px;
    bottom:     0;
    max-height: 350px;
      padding:0px 15px 0px 10px;
}
.chatmessage-item{
    padding-top: 7px;
    width: 100%;
}
.chatmessage-content img, .chatmessage-content video{
    max-width: 100%;
        max-height: 400px;
}
.chatmessage-content a{
    color: white;
}
.chatmessage-content{
    display: inline-block;
    max-width: 85%;
    background-color: whitesmoke;
        text-align: left;
        line-height: 1.28; 
            word-break: break-word; 
}
.chatmessage-item.direction-out{
    text-align: right;
}
.chatmessage-item.direction-in .chatmessage-content{
    background-color: #1b87e5;
    border-radius: 0px 15px 15px 15px;
    color: white;
    padding: 5px 15px 5px;
    box-sizing:  border-box;
    font-size: 14px;
}
.chatmessage-item.direction-out .chatmessage-content{
    background-color: white;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 15px 15px 0px 15px;
    color: black;
    padding: 5px 15px 5px;
    box-sizing:  border-box;
    font-size: 14px;
}
.chatmessage-item.direction-in.unread{
    background-color: lightyellow;
}
.chatmessage-item.direction-out .chatmessage-content a{
    color: black;
}
.chatmessage-time{
    font-size: 10px;
  padding: 5px 5px 5px 0px;
    color: grey;
}
.inp-sendmessage {
    font-family: sans-serif;
    box-sizing: border-box;
    width: 100%;
    padding: 10px 15px;
    font-size: 14px;
    line-height: 1.3;
    height: 68px;
    outline: none;
    max-width: 100%;
    border-radius: 5px;
    z-index: 2;
    position: sticky;
    border: none;
}
.chataction{
    box-shadow: 0px -7px 5px rgba(0,0,0,0.1);
    text-align: right;
}
.cich-iocd-form-inp textarea:focus{
    border-color: grey;
}
.btn-sendmessage{
    padding: 5px 15px;
    font-size: 14px;
    border: none;
    background-color: royalblue;
    color: white;
    border-radius: 5px;
    margin: 1px;
    margin-right: 10px;
}
.btn-sendmessage:hover{
    cursor: pointer;
    background-color: navy;
}
.chatmessage-time .fullTime{
    display: none;
}

.loadingdiv{
    z-index: 5;
    background-color: royalblue;
    color: white;
    padding: 25px 15px;
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
}
.prevMessageBtn{
        text-align: center;
    background-color: aliceblue;
    padding: 7px;
    margin-bottom: 10px;
    color: grey;
}
.prevMessageBtn:hover{
    cursor: pointer;
    color: black;
}
.loadedLoadmore{
    padding: 3px;
}
.loadedLoadmore:hover{
    cursor: default;
}
.msgStatus{
    border-left: 1px solid silver;
    padding-left: 3px;
}
#sms-form {
    width: 90%;
    border: none;
    position: relative;
}
.form-title{
    display: block;
}
div#selSnippet{
    width: 80%;
    padding:5px 15px;
}
.form-label{
    margin-top: 15px;
    margin-bottom: 5px;
    color: slategray;
    font-size: 14px;
}
.btn-input-autofill-popup, .btn-input-autofill-popup:hover{
    display: block;
    background: none;
    padding: 0px;
}
input:focus, textarea{
    outline: none;
}
textarea{
    font-family: sans-serif !important;
}
.processingFull{
        position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 0px;
    font-size: 25px;
    text-align: center;
    padding-top: 15%;
    z-index: 2;
    background-color: rgba(250,250,250,0.885);
}
.conv-list-item {
    padding: 10px;
    border-bottom: 1px solid whitesmoke;
}
.conv-list-item:hover{
    cursor: pointer;
    background-color: whitesmoke;
    color: royalblue;
}
.conv-number{
        margin-top: 5px;
    font-size: 14px;
    color: grey;
}
.conv-list-item:hover{
    background-color: aliceblue;
}
.conv-list-item.selected{
    background-color: whitesmoke;
}
.chatbox-initiator{
    vertical-align: top;
}
div#backToConvBtn {
    display:none;
    position: absolute;
    top: -30px;
}
.chat-no-perm-send{
    padding: 15px 15px 7px 15px;
    background-color: whitesmoke;
    color: grey;
    margin-top: 5px;
    margin-bottom: -5px;
}
img.cma-ppic {
    max-width: 20px;
    vertical-align: middle;
    border-radius: 50px;
    margin-left: 2px;
}
.conv-access{
    color: silver;
    font-size: 14px;
    text-align: right;
    margin-bottom: -4px;
}
.chat-send {
    text-align: right;
}
.chat-channel-choose{
        font-size: 12px;
    color: grey;
}
.replychosediv select {
    margin: 0px 10px 0px 2px;
    font-size: 14px;
    outline: none;
    border-color: silver;
}
.replychosediv{
    display: inline-block;
    font-size: 12px;
}

.chatmessage-item.direction-out {
    border-width: 0px 2px 0px 2px;
    border-style: solid;
    padding-right: 5px;
}

.chatmessage-item.direction-in {
    border-width: 0px 0px 0px 2px;
    border-style: solid;
    padding-left: 5px;
}

#templatesList{
    display: none;
}
.chatmessage-item.col-0{
    border-color: #16a085;
}
.chatmessage-item.col-1{
    border-color: #f39c12;
}
.chatmessage-item.col-2{
    border-color: #2980b9;
}
.chatmessage-item.col-3{
    border-color: #d35400;
}
.chatmessage-item.col-4{
    border-color: #6c5ce7;
}
.chatmessage-item.col-5{
    border-color: #e84393;
}
.chatmessage-item.col-6{
    border-color: #2c3e50;
}
.chatmessage-item.col-7{
    border-color: #00cec9;
}
.chatmessage-item.col-8{
    border-color: #8e44ad;
}
.chatmessage-item.col-9{
    border-color : black;
}

.spinnow {
    vertical-align: middle;
    font-size: 35px;
    color: royalblue;
    -webkit-animation: spin 2s linear infinite;
    -moz-animation: spin 2s linear infinite;
    -ms-animation: spin 2s linear infinite;
    -o-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
@-ms-keyframes spin {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
.msgsts-failed .chatmessage-content,.msgsts-rejected .chatmessage-content {
    border: 1px solid red !important;
    box-shadow: 0px 5px 10px rgba(200,0,0,0.1);
}
.msgsts-failed .chat-message-author,.msgsts-rejected .chat-message-author {
    color: crimson;
}
#existingConvListWindow{
    width: 35% !important;
}
#existingConvWindow{
    width: 60%;
    box-sizing: border-box;
}
.error-window-outer, .process-window-outer {
    background-color: rgba(256, 256, 256, 0.4);
    display: none;
    z-index: 100;
    backdrop-filter: blur(10px);
}
select {
    padding: 3px 10px;
    /* border: 1px solid silver; */
    box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
    border: none;
}

.fMItem {
    display: inline-block;
    vertical-align:middle;
    margin: 0px 5px;
}
.fMItem .material-icons{
    border:none;
    padding:0px;
    margin:0px;
    color: darkcyan;
    font-size: 18px;
}
.fieldMapp{
    margin: 10px 0px;
}

.fMItem:first-child{
    font-size: 14px;
    background-color: darkcyan;
    color:white;
    padding:3px 7px 5px;
}
.fMItem input{
    padding : 5px 10px;
    border: 1px solid darkcyan;
    border-radius: 3px;
    color: darkcyan;
}

.direction-out a.addChatUrl {
    color: #d4e6ce !important;
}

a.addChatUrl:hover {
    text-decoration: underline;
}

.direction-out span.addChatMobile {
    color: #d4e6ce !important;
}

.direction-in span.addChatMobile {
    color: #02a242 !important;
}

.direction-in a.addChatUrl {
    color: #02a242 !important;
}