		td {
		  text-align: left;
		  padding: 25px;
		}
		input  {
		  max-width: 750px;
		  width: 70%;
		  padding: 8px 15px;
		  box-sizing: border-box;
		  float: left;
		}
      

   .goog-te-banner-frame.skiptranslate {
            display: none !important;
        }
        body {
            top: 0px !important;
        }
        @font-face {
  font-family: 'zb-fonticons';
  src:  url('/fonts-icon/zb-fonticons.eot?9bjl2c');
  src:  url('/fonts-icon/zb-fonticons.eot?9bjl2c#iefix') format('embedded-opentype'),
    url('/fonts-icon/zb-fonticons.ttf?9bjl2c') format('truetype'),
    url('/fonts-icon/zb-fonticons.woff?9bjl2c') format('woff'),
    url('/fonts-icon/zb-fonticons.svg?9bjl2c#zb-fonticons') format('svg');
  font-weight: normal;
  font-style: normal;
}
#loader {
	margin-top: 220px;
	margin-left: 324px;
	margin-right: 320px;
	margin-bottom: 220px;
	border: 5px solid #f3f3f3;
	-webkit-animation: spin 1s linear infinite;
	animation: spin 1s linear infinite;
	border-top: 5px solid #555;
	border-radius: 50%;
	width: 50px;
	height: 50px;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.button {
  background-color:#f7f8f9;
  border: none;
  width: 33px;
  max-height:30px;
}
.saveapikey{
  	padding: 10px 15px;
	box-sizing: border-box;
	float:left;
	max-width: 60px;
	width:20%;
	cursor:pointer;
	color: #fff;
    background: #42a2eb;
}
.apikeyinput{
	min-width: 400px;
	float:left;
	clear: both;
}
#webHookurl{
	    background-color: whitesmoke;
    padding: 10px;
    width: min-content;
    border: 2px dotted silver;
}
 .error-message {
	  color: #cc0033;
	  display: inline-block;
	  font-size: 16px;
	  line-height: 18px;
	  margin: 5px 0 0;
}
.overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
}

.text{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 17px;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}
/* The switch - the box around the slider */
		.switch {
		  position: relative;
		  display: inline-block;
		  width: 60px;
		  height: 34px;
		}
		.btn {
			padding: 2px 0px 1px 0px;
		}
		/* Hide default HTML checkbox */
		.switch input {
		  opacity: 0;
		  width: 0;
		  height: 0;
		}

		/* The slider */
		.slider {
		  position: absolute;
		  cursor: pointer;
		  top: 0;
		  left: 0;
		  right: 0;
		  bottom: 0;
		  background-color: #ccc;
		  -webkit-transition: .4s;
		  transition: .4s;
		}

		.slider:before {
		  position: absolute;
		  content: "";
		  height: 26px;
		  width: 26px;
		  left: 4px;
		  bottom: 4px;
		  background-color: white;
		  -webkit-transition: .4s;
		  transition: .4s;
		}

		input:checked + .slider {
		  background-color: #2196F3;
		}

		input:focus + .slider {
		  box-shadow: 0 0 1px #2196F3;
		}

		input:checked + .slider:before {
		  -webkit-transform: translateX(26px);
		  -ms-transform: translateX(26px);
		  transform: translateX(26px);
		}

		/* Rounded sliders */
		.slider.round {
		  border-radius: 34px;
		}

		.slider.round:before {
		  border-radius: 50%;
		}
		.styled-select {
		   height: 29px;
		   width :200px;
		     overflow: hidden;
		     text-overflow: ellipsis; 
  white-space: nowrap; 
		}
		.styled-select select {
		   background: transparent;
		   border: none;
		   font-size: 14px;
		   height: 29px;
		   padding: 5px; 
		   width :200px;
		    overflow: hidden;
  text-overflow: ellipsis; 
  white-space: nowrap; 
		}
		.styled-select.slate {
		   height: 32px;
		   text-overflow: ellipsis; 
  white-space: nowrap; 
		}

		.styled-select.slate select {
		   border: 1px solid #ccc;
		   font-size: 16px;
		   height: 32px;
		}
		.fieldMapperContainer{
			padding-top: 10px;
			float: left;
			clear: both;
			min-width: 750px;
		  	display: none;
		}
		.fieldMapp{
			padding-top: 10px;
			float: left;
			clear: both;
			min-width: 1050px;
		}
		.fromField{
			padding-right: 5px;
			float: left;
			min-width: 20%;
		}
		.toField{
			padding-left: 5px;
			float: left;
			min-width: 30%;
		}
		.arrowIcon{
			padding-left: 22px;
			padding-top: 3px;
			float: left;
			width: 15%;
			text-align: center;
		}
		.styled-select.fieldMap {
		   height: 29px;
		   overflow: hidden;
		   width :200px;
		}
		.styled-select.fieldMap select {
		   background: transparent;
		   border: none;
		   font-size: 14px;
		   height: 29px;
		   padding: 5px; 
		   width :200px;
		}
		.styled-select.slate.fieldMap {
		   height: 32px;
		}

		.styled-select.slate.fieldMap select {
		   border: 1px solid #ccc;
		   font-size: 16px;
		   height: 32px;
		}
		.eventFieldMap{
			padding-top: 10px;
			float: left;
			clear: both;
		}
		.countyCode{
			width: 185px;
			height: 33px;
		}

		.help-doc-btn{
			display: none;
		}

.fieldMapp .material-icons:hover{
	cursor: pointer;
	color: crimson;
}
.cainput{
			width: 330px;
			float: left;
			margin-right: 10px;
			height: 32px;
		}
.contactme {
    position: absolute;
    right: 0px;
    top: 85px;
    width: 400px;
    line-height: 2;
    border: 1px solid #73dfff;
    padding: 15px;
    border-radius: 5px;
    background-color: aliceblue;
    box-shadow: 0px 5px 5px rgba(0,0,0,0.1);
}
#api-key-form{
	min-width: 600px !important;
	max-width: 600px !important;
}

.error-window-outer, .process-window-outer {
    background-color: rgba(256, 256, 256, 0.4);
    display: none;
    z-index: 100;
    backdrop-filter: blur(10px);
}

.channelItem{
	width: 450px;
	margin:5px;
	padding: 5px;
	border: 1px solid grey;
    border-radius: 5px;
    box-shadow: 0px 5px 5px rgba(0,0,0,0.1);
}


/* The slider */
.slider2 {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.switch2 {
  position: relative;
  display: inline-block;
  width: 43px;
  height: 22px;
}
.slider2:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 0px;
  bottom: 1px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .slider2 {
  background-color: #2196F3;
}

input:focus + .slider2 {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider2:before {
  -webkit-transform: translateX(22px);
  -ms-transform: translateX(22px);
  transform: translateX(22px);
}
.slider2.round {
  border-radius: 34px;
}

.slider2.round:before {
  border-radius: 50%;
}