body{
    font-family: "Roboto";
}
.instructions-title{
    font-size: 20px;
    font-weight: 100;
}
.instructions-list{
    padding: 10px;
    margin-bottom: 20px;
}
.instructions-item{
    padding: 10px;
}
.api-key-highlight{
    border: 2px solid green;
    padding:2px 10px;
    border-radius: 5px;
    color: green;
    margin: 0px 5px;
    font-size: 14px;
}
.form-holder{
    border: 1px dotted silver;
    padding: 20px;
}
.input-form{
    font-size: 16px;
    width: 50%;
    border-radius: 3px;
    border: 1px solid black;
    border-width: 0px 0px 2px 0px;
    padding: 5px;
    margin: 5px 0px 5px;
}
.form-label{
    margin-top: 25px;
}
.input-form:focus{
    border-color: royalblue;
}
.btn-save{
    background-color: royalblue;
    display: inline-block;
    font-size: 16px;
    color: white;
    padding:5px 15px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
}
.btn-save:hover{
    cursor: pointer;
    background-color: navy;
}     
.highlight-custom-field{
    border: 1px dotted grey;
    padding: 5px 7px;
    border-radius: 5px;
    font-size: 14px;
    margin: 0px 2px;
}
.process-item{
    display: none;
    border: 1px dotted silver;
    margin-bottom: 10px;
    padding: 10px;
    color: grey;
    margin: 15px;
}   
#process_apikey{
    display: none;
}
#process_help{
    display: none;
}
.dropdown-holder{
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.3);
    padding: 5px 0px;
    margin-top: -1px;
    max-height: 250px;
    overflow-y: auto;
}
.dropdown-select-item{
    padding: 7px 20px 7px 10px;
}
.dropdown-select-item:hover{
    cursor: pointer;
    background-color: whitesmoke;
}
.dropdown-value-label i{
    font-size: 18px;
    position: absolute;
    margin-left: 10px;
    margin-top:1px;
}
.dropdown-value-label{
    margin-top: 10px;
    min-width: 150px;
    padding: 4px 10px;
    display: inline-block;
    border-radius: 3px;
    border: 1px solid black;
    border-width: 0px 0px 2px 0px;
}
.dropdown-value-label:hover{
    cursor: pointer;
    color: navy;
}
.blurnow{
    opacity: 0.5;
    cursor: not-allowed;
}
.statusMsg{
    box-sizing: content-box;
    padding: 2px 25px 2px 10px;
}
#incoming-integ-status{
    position: absolute;
    right: 5%;
    top: 50px;
}
#incoming-integ-status i{
    float: left;
    margin-top: -2px;
    margin-right: 5px;
}
.c-grey{
    color: gray;
}
.c-green{
    color: green;
}
.form-holder{
    position: relative;
}
#resetBtn{
    position: absolute;
    right: 5%;
    bottom: 10px;
    color: crimson;
    font-size: 14px;
    padding: 5px 7px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0,0, 0, 0.1); 
}
#resetBtn:hover{
    cursor: pointer;
    background-color: crimson;
    color: white;
    
}
.c-silver{
    color: silver;
}
.error-window-outer,.process-window-outer{
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: rgba(256, 256, 256, 0.95);
    display: none;
    z-index: 100;
}
.btn-reset{
	    float: right;
        box-shadow: 0px 0px 5px rgba(0,0,0, 0.4);
        padding: 3px 15px;
        border-radius: 3px;
        cursor: pointer;
}
.error-window-inner,.process-window-inner{
    display: inline-block;
    text-align: left;
    margin-top: 5%;
    margin-left: 10%;
}
.error-window-title,.process-window-title{
    font-size: 25px;
    margin-bottom: 40px;
}
.error-window-title{
    color: crimson;
}
.process-window-item{
    padding: 7px 30px 7px 15px;
    background-color: white;
    margin: 20px;
    box-shadow: 0px 5px 5px rgba(0,0,0,0.1);
    border-radius: 3px;
    border:1px solid black;
    color: black;
    border-width: 1px 1px 1px 10px;
}
.error-window-outer{
    display: block;
}
.error-window-close{
    margin-top: 10px;
    display: inline-block;
    position: absolute;
    right: 10%;
    top: 7%;
    color: white;
    background-color: crimson;
    padding:5px 20px 5px 10px;
    border-radius: 25px;
}
.error-window-close:hover{
    cursor: pointer;
}
.error-window-close i{
    float: left;
    vertical-align: middle;
    font-size: 20px;
    margin-right: 5px;
}
.error-window-close:hover{
    cursor: pointer;
    background-color: red;
}
.c-crimson{
    color: crimson;
}
.c-black{
    color: black;
}
#helpWindow{
    display: none;
}
.help-window-item{
    display: none;
}
.help-step-question{
    font-size: 25px;
    color: royalblue;
    margin-top: 50px;
    margin-bottom: 20px;
}
.help-step-btn{
    padding: 5px 20px 5px 10px;
    display: inline-block;
    font-size: 18px;
    color: white;
    margin-left: 10px;
    border-radius: 5px;
    box-shadow: 0px 5px 5px rgba(0,0,0,0.1);
    margin-top: 20px;
   
}
.help-step-btn i{
    float: left;
    font-size: 22px;
    margin-right: 10px;
}
.help-step-btn:hover{
    cursor: pointer;
}
.bg-green{
    background-color: darkgreen;
}
.bg-crimson{
    background-color: crimson;
}
.bg-royalblue{
    background-color: royalblue;
}
.help-doc-btn{
    position: absolute;
    bottom: 0px;
    right: 20px;  
    color: darkcyan;
    margin-top: 10px;
}
.help-doc-btn:hover{
    cursor: pointer;
    color: darkorange;
}
.help-doc-btn i{
    font-size: 18px;
    float: left;
    margin-right: 5px;
    
}

.item-list-popup{
    position: fixed;
    right: 0px;
    padding: 25px;
    top: 0px;
    bottom: 0px;
    background-color: white;
    box-shadow: -20px 10px 15px rgba(0,0,0, 0.2);
    z-index: 100;
    min-width: 25%;
}
.item-list-popup-content{
    max-height: 600px;
    overflow-y: auto;
}
.item-list-popup-title{
    font-size: 25px;
    margin:20px 0px;
}
.item-list-popup-item{
    padding: 10px;
    border-bottom:1px solid rgba(0,0,0,0.1);
}
.c-name{
    font-size: 16px;
}
.item-list-popup-item:hover{
    cursor: pointer;
    background-color: whitesmoke;
}
.c-phone{
    color: grey;
    font-size: 14px;
    margin-left: 10px;
}
.item-search-box .input-form{
    width: 100%;
}
.item-search-box{
    margin-bottom: 20px;
}
.btn-input-autofill-popup{
    position: absolute;
    right: 10%;
    background-color: black;
    color: white;
    padding:5px 10px;
    border-radius: 5px;
    bottom: 10px;
    font-size: 14px;
}
.btn-input-autofill-popup:hover{
    cursor: pointer;
    background-color: darkblue;
}
.group-elem{
    position: relative;
}
#sms-form{
    width: 40%;
}
#sms-form .input-form{
    width: 90%;
}
.form-title{
    font-size: 25px;
}
input:read-only{
    border: 1px dotted silver;
}
.item-list-popup{
    display: none;
}
textarea.input-form{
    font-family: "Roboto";
    min-height: 70px;
    border-radius: 5px;
    padding: 7px 10px;
    box-shadow: 0px 0px 5px rgba(0,0, 0,0.2);
}
#input-sms-content{
    min-height: 180px;
}
.c-orange{
    color: orange;
}
#helpWindow .error-window-inner{
    max-height: 500px;
    padding-bottom: 200px;
    width: 700px;
    overflow-y: auto;
}
.help-t-tip i{
    float: left;
    margin-right: 10px;
}
.help-t-tip{
    color: white;
    background-color: #1e2733;
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
}
.help-step-answer{
    line-height: 1.5;
}