.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
    position: relative;
    left: 25px;
    top: 4px;
    cursor: pointer;
}
#select_customer_dropdown_icon {
    position: relative;
    padding: 1px 4px;
    left: 0px;
    top: 0;
    font-size: 25px;
    font-weight: 600;
    color: #0087a2;
    cursor: pointer;
}
div#select_stripe_customer_name_div {
    position: relative;
    width: 90%;
}
body::-webkit-scrollbar {
  display: none;
}
div#stripe_invoice_full_div {
    position: relative;
    width: 90%;
    height: 100%;
    left: 5%;
    top: 10px;
    font-family: roboto;
    display: flex;
    flex-direction: column;
}
div#stripe_invoice_customer_div {
    position: relative;
    width: 80%;
    height: 50px;
    display: flex;
    flex-direction: row;
}
div#select_invoice_cusomer_div {
    position: relative;
    width: 15%;
    display: flex;
    flex-direction: column;
}
div#select_invoice_cusomer_opt_title_div {
    position: relative;
    width: 100%;
    height: 100%;
}
span.material-icons {
    position: relative;
    padding: 1px 0px;
    font-size: 25px;
    font-weight: 600;
    color: #0087a2;
    cursor: pointer;
}
div#select_customer_name_div {
    position: relative;
    min-width: 20%;
    padding: 6px 12px;
    max-width: max-content;
    font-size: 20px;
    height: 25px;
    font-weight: 600;
    color: #0087a2;
    border: 1px solid #f0f0f0;
    border-left: 4px solid #0087a2;
    border-radius: 4px;
    box-shadow: 1px 1px 2px #aaa;
    display: flex;
    flex-direction: row;
    cursor: pointer;
}
div#select_stripe_customer_update_div {
    position: relative;
    margin-left: 3%;
}
span.material-icons.select_stripe_customer_update_btn {
    position: absolute;
    top: 3px;
    left: 0;
    font-size: 30px;
}
div#select_invoice_cusomer_opt_div {
    position: absolute;
    width: 15.35%;
    z-index: 10;
    left: 0.5%;
    margin-top: 40px;
    box-shadow: 0px 0px 5px #aaa;
    border-radius: 4px;
    padding: 5px 15px;
    background: white;
}
div#select_invoice_cusomer_opt_count_div {
    position: relative;
    width: 40%;
    font-size: 13px;
    height: 25px;
    text-align: left;
    color: #aaa;
    margin-top: 13px;
    margin-left: 15px;
}
.select_customer_options {
    position: relative;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 3px 2px;
    box-sizing: border-box;
}
.select_customer_options:hover {
    cursor: pointer;
    /*font-size: 17px;*/
    font-weight: 500;
    color: #0087a2;
}
div#stripe_customer_invoice_title_txt {
    position: relative;
    width: 94%;
    left: 0%;
    padding: 5px 3%;
    margin-top: 10px;
    font-size: 22px;
    text-align: center;
    color: #aaa;
    /*box-shadow: 0px 2px 5px #aaa;*/
}
div#stripe_invoices_contains_div {
    position: fixed;
    margin-top: 110px;
    overflow: auto;
    width: 90%;
    height: 310px;
    display: flex;
    flex-direction: column;
}
div#no_invoices {
    position: relative;
    width: 100%;
    text-align: center;
    margin-top: 20%;
    color: cadetblue;
}
div#stripe_invoices_contains_div::-webkit-scrollbar {
  display: none;
}
.customer_invoice_item_div {
    position: relative;
    width: 90%;
    left: 2%;
    margin: 4px 0px 20px 10px;
    max-height: 320px;
    display: flex;
    flex-direction: row;
    padding: 2px 2px 20px 2px;
    box-shadow: 0px 0px 5px #aaa;
    border-radius: 4px;
    transition: 0.8s 0.1s;
}
.customer_invoice_status_info_div {
    position: relative;
    width: 15%;
    height: 100%;
    text-align: center;
    background: white;
    color: white;
}
.customer_invoice_status_txt_div {
    position: relative;
    margin-top: 0px;
    width: auto;
    height: 25px;
    background: #008cb2;
    padding: 8px 0px 0px 0px;
}
/*.customer_invoice_status_val_div {
    position: relative;
    height: 25px;
    padding: 7px 0px 0px 0px;
    background: #0979aa;
}*/
.customer_invoice_status_val_div {
    position: relative;
    height: 25px;
    top: -33px;
    padding: 21px 5px 19px 5px;
    background: #f5f7fa;
    color: #29ced3;
    font-weight: 600;
}
.customer_invoice_update_div {
    position: relative;
    width: 60%;
    height: calc(100% - 50px);
    margin-top: 25px;
    left: 20%;
}
.customer_invoice_changeOfVoid_btn_div,.customer_invoice_changeOfUncollectible_btn_div {
    position: relative;
    width: 80%;
    left: 10%;
    margin-top: 3px;
    height: 30px;
    background: #723b3b8c;
    border-radius: 4px;
    text-align: center;
}
.customer_invoice_delete_btn_div {
    position: relative;
    width: 80%;
    left: 10%;
    margin-top: 3px;
    height: 30px;
    background: #cf000082;
    border-radius: 4px;
    text-align: center;
}
.customer_invoice_send_btn_div {
    position: relative;
    width: 80%;
    left: 10%;
    margin-top: 3px;
    height: 30px;
    background: #74cb74;;
    border-radius: 4px;
    text-align: center;
}
.customer_invoice_delete_btn_div:hover {
    background: crimson;
}
.customer_invoice_send_btn_div:hover {
    background: #44b744;
}
.customer_invoice_changeOfVoid_btn_div:hover,.customer_invoice_changeOfUncollectible_btn_div:hover {
    background: #b4a8a8c2;
}
button.customer_invoice_changeOfVoid_btn,button.customer_invoice_delete_btn,button.customer_invoice_send_btn,button.customer_invoice_changeOfUncollectible_btn {
    position: relative;
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    background: none;
    color: white;
    font-size: 15px;
    cursor: pointer;
}
.customer_invoice_details_div {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 85%;
}
/*.customer_inv\&rec_num_div {
    position: relative;
    display: flex;
    flex-direction: row;
    height: 65px;
    background: #19aad1;
    color: white;
}*/
.customer_inv\&rec_num_div {
    position: relative;
    display: flex;
    flex-direction: row;
    height: 65px;
    background: #F1F4F7;
    color: #857e7e;
}
.customer_invoice_num {
    position: relative;
    width: auto;
    height: 20px;
    margin-top: 23px;
    margin-left: 20px;
}
.customer_invoice_rec_num {
    position: relative;
    width: auto;
    height: 20px;
    margin-top: 23px;
    margin-left: 20px;
}
.customer_invoice_date_details_div {
    position: absolute;
    width: auto;
    height: 20px;
    margin-top: 23px;
    right: 20px;
}
.customer_invoice_otherDetails_div {
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 10px 0px;
    color: #838383;
    font-size: 16px;
    width: 95%;
    left: 2.5%;
    top: 5px;
    margin-top: 10px;
}
.customer_invoice_period {
    position: relative;
    margin-top: 0px;
}
.customer_invoice_pdf {
    position: absolute;
    right: 65px;
}
a.customer_invoice_pdf_a {
    text-decoration: none;
    color: #666;
}
.customer_invoice_pdf_btn_div {
    display: flex;
    flex-direction: row;
    width: 100%;
    color: #0087a2;
}
span.material-icons.invoice_pdf_icon {
    position: relative;
    font-size: 17px;
    left: 5px;
    top: 2px;
}
.customer_invoice_hosted_invUrl {
    position: absolute;
    top: 5px;
    right: 45px;
}
span.material-icons.inv_hosted_url_icon {
    position: relative;
    font-size: 20px;
    top: 5px;
}

div.customer_invoice_list_items {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 95%;
    left: 2.5%;
    top: 5px;
    padding: 10px 0px;
    max-height: 40%;
    overflow: auto;
}
div.customer_invoice_list_items::-webkit-scrollbar {
  display: none;
}
.customer_invoice_list_item_title_div,.customer_invoice_list_item {
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 5px 10px;
    height: 20px;
    box-shadow: 0px 0px 3px #aaa;
    border-radius: 4px;
    color: #5c4e4e;
    top: 2px;
    width: 95%;
    left: 1px;
}
.customer_invoice_list_item{
    box-shadow: none;
    margin-top: 5px;
}
.ci_description_div,.ci_li_description_div {
    position: relative;
    width: 30%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.ci_qty_div,.ci_li_qty_div {
    position: relative;
    width: 10%;
    text-align: center;
}
.ci_price_div,.ci_li_price_div {
    position: relative;
    width: 20%;
    text-align: center;
}
.ci_amount_div,.ci_li_amount_div {
    position: relative;
    width: 20%;
    text-align: center;
}
.ci_discount_div,.ci_li_discount_div {
    position: relative;
    width: 20%;
    text-align: center;
}
.customer_invoice_calc_div {
    position: relative;
    display: flex;
    font-size: 15px;
    flex-direction: column;
    width: 35%;
    left: 55%;
    top: 10%;
    padding: 10px 20px;
    box-shadow: 0px 0px 3px #aaa;
    border-radius: 4px;
    border: 4px solid;
    border-color: #e27e7e;
    border-right: none;
    border-left: none;
    border-bottom: none;
}
.customer_invoice_subtotal_div,.customer_invoice_coupon_div,.customer_invoice_total_div,.customer_invoice_tax_div {
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 3px 0px 0px 0px;
}
.customer_invoice_subtotal_txt_div,.customer_invoice_coupon_txt_div,.customer_invoice_tax_txt_div,.customer_invoice_amount_txt_div {
    position: relative;
    width: 65%;
}
.customer_invoice_subtotal_val_div,.customer_invoice_coupon_val_div,.customer_invoice_tax_val_div,.customer_invoice_amount_val_div {
    position: relative;
    width: 35%;
}
.expand_invoice_item {
    position: absolute;
    bottom: 0%;
    left: -10%;
}
.expand_icon {
    top: 0;
    left: 0;
}
div#confirm_box_full_div {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #aaaaaa3b;
    font-family: 'Roboto';
}
div#confirm_box_div {
    position: relative;
    width: 300px;
    height: 70px;
    left: 40%;
    top: 1px;
    padding: 10px 10px;
    background: white;
    box-shadow: 0px 0px 8px #6d6d6d;
    border-radius: 2px;
}
div#confirm_box_text_div {
    position: relative;
    width: 100%;
    height: 30px;
    text-align: center;
    color: #666;
    font-size: 17px;
}
div#confirm_box_inp_div {
    position: relative;
    width: 50%;
    left: 25%;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    cursor: pointer;
}
div#confirm_yes_btn {
    position: relative;
    width: 50%;
    padding: 3px 0px;
    text-align: center;
    background: #577decc4;
    color: white;
}
div#confirm_no_btn {
    position: relative;
    width: 50%;
    padding: 3px 0px;
    text-align: center;
    background: #f0f0f0;
    color: #666;
}

div#stripe_loader_full_div {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #fffffff5;
    background-image: linear-gradient(white, #00e0ff42,white);
}
div#stripe_loader_div {
    position: relative;
    width: 90%;
    height: 25%;
    top: 35%;
    left: 5%;
    text-align: center;
    font-size: 400%;
    font-family: 'Roboto';
    color: #005eff;
    font-weight: bolder;
    opacity: 1;
    /*background: #ffffffb0;*/
    padding: 20px 0px 0px 0px;
    animation: loading_stripe 1.5s infinite;
    transition:0.8s 0.2s;
}
@keyframes loading_stripe {
  0% {opacity: 0.3;}
  20% {opacity: 0.6;}
  40% {opacity: 0.9;}
  50% {opacity: 1;}
  60% {opacity: 0.9;}
  80% {opacity: 0.6;}
  100% {opacity: 0.3;}
}
div#stripe_loader_top_design_div {
    position: relative;
    background: #00fffb91;
    top: 45px;
    width: 100%;
    height: 40px;
    right: -20px;
    transform: skew(349deg);
}
div#stripe_loader_top_design_div::after {
    content: "";
    position: absolute;
    width: 58%;
    top: 50%;
    left: 40%;
    border-width: 19px;
    border-style: solid;
    border-color: #0000ed61;
}
div#stripe_loader_bottom_design_div {
    position: relative;
    background: #00fffb91;
    top: 45px;
    width: 85%;
    height: 40px;
    right: -20px;
    transform: skew(349deg);
}
div#stripe_loader_bottom_design_div::after {
    content: "";
    position: absolute;
    width: 100%;
    top: 50%;
    left: 25%;
    border-width: 19px;
    border-style: solid;
    border-color: #0000ed61;
}
div#loader_top_div {
    position: fixed;
    right: 0;
    top: 3%;
    width: 180px;
    transform: rotate(352deg);
    /*animation: t_sty 2s infinite;
    transition:0.8s 0.2s;*/
}
div#loader_bottom_div {
    position: fixed;
    bottom: 25%;
    left: -80px;
    width: 180px;
    transform: rotate(352deg);
    /*animation: b_sty 2s infinite;
    transition:0.8s 0.2s;
*/}

/*@keyframes t_sty {
  0% {transform: skew(349deg);}
  20% {transform: skew(349deg);}
  40% {transform: skew(349deg);}
  50% {transform: skew(349deg);}
  60% {transform: skew(349deg);}
  80% {transform: skew(349deg);}
  100% {transform: skew(349deg);}
}
@keyframes b_sty {
  0% {transform: skew(349deg);}
  20% {transform: skew(349deg);}
  40% {transform: skew(349deg);}
  50% {transform: skew(349deg);}
  60% {transform: skew(349deg);}
  80% {transform: skew(349deg);}
  100% {transform: skew(349deg);}
}*/