<!DOCTYPE html>
<html>
	<head>
<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
	<script src="https://ulgebra-cdn-cicd-crm-msgbrd.gitlab.io/pipelinescicd/js/ZohoEmbededAppSDK-1.0.5.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

 	<script src="./js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="./css/bootstrap.min.css">

 	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
 	<!-- <link href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
 -->
 	<link href="https://ulgebra-cdn-cicd-crm-msgbrd.gitlab.io/pipelinescicd/MessageBird/css/sendEmail.css" rel="stylesheet">
	<link href="https://ulgebra-cdn-cicd-crm-msgbrd.gitlab.io/pipelinescicd/MessageBird/css/template.css" rel="stylesheet">
 	<script src="https://ulgebra-cdn-cicd-crm-msgbrd.gitlab.io/pipelinescicd/MessageBird/js/smsTemplate.js"></script>

 	<!-- <link href="../app/css/sendEmail.css" rel="stylesheet">
 	<link href="../app/css/template.css" rel="stylesheet">
 	<script src="../app/js/smsTemplate.js"></script> -->


	</head>
	<body>
	<!-- <div id="loader"></div> -->
	<div id="Error"	class="overlay"><div class="text" id="ErrorText"> </div>
    </div>

    
	<div id="templateContainer">		
   <div class="singleLine">
   	<div class="textLable">Template Name</div>
   	<input id="templateName" type="text" value="" maxlength="50"></input>
   </div>
   <div  class="singleLine">
   <div class="textLable">Choose Module</div>
   <div class="template">
	    <div class="dropdown">
		  <button id="selectedmodule" class="dropdown-toggle choosemodules" type="button" data-toggle="dropdown">Contacts
		  <span class="caret"></span></button>
		  <ul class="dropdown-menu" id="templateList" style="max-width:100px;min-width:100px;">
		  	<li class="templateItem"  onclick="selectModule('Contacts')">Contacts</li>
		  	<li class="templateItem"  onclick="selectModule('Leads')">Leads</li>
		  	<li class="templateItem"  onclick="selectModule('Deals')">Deals</li>
		  	<!-- <li class="templateItem"  onclick="selectModule('Events')">Events</li> -->
		  </ul>
		</div>
	</div>	
   </div>
    <div id="contentDiv"  class="mappingDiv">
  					
		    	<div id="emailEditorsEmail">
		    	<div id="emailEditorEmail">
				<div class="insert">
					<div style="float:left;">Message</div>
					<div style="float:right;min-height:30px;padding-left:10px;margin-right:7px;" class="dropdown dropdown">
					    <button id="moduleFields" class="btnn dropdown-toggle" style="width:188px;" type="button" data-toggle="dropdown">Insert Contact Fields
					    <span class="caret"></span></button>
					    <ul class="dropdown-menu" style="max-width:190px;min-width:190px;" id="dropdown-menu-email">
					    </ul>
				    </div>
					 <div style="float:right;min-height:30px;padding-left:10px;" class="dropdown dropdown">
					    <button class="btnn dropdown-toggle" type="button" data-toggle="dropdown">Insert User Fields
					    <span class="caret"></span></button>
					    <ul class="dropdown-menu" id="dropdown-menu-user">
					    </ul>
				    </div>
				</div>
		    	<div  class="editable notranslate" contenteditable="true" id="emailContentEmail" onmouseup="openlink()"></div>
				</div>
				</div>	
				<div class="footer">
					<div class="send" id="send" onClick="saveTemplate()" style="margin-top:5px;">
						Save
					</div>
					<div class="scheduleCheck" style="margin-top:5px;padding-right: 10px;" >Approved by WhatsApp</div>
					<div class="webdesktop" style="margin-top:5px;" ><input type="checkbox" id="approved" style="font-size:30px;cursor: pointer;margin-top:15px;float:left;">
					<div class="styled-select slate fieldMap" style="float:left;margin-left:20px;margin-top:5px;">
                      <select  name="field4" id="approvedTemplates">
                      </select>
                    </div></div>
					<div id="plmp" style="display:none;">
					<!-- <div class="fieldMapp" style="clear:both;margin-left:85px;">
		                <div class="fromField">
		                      <div>{{1}}</div>
		                </div>
		                <i style="float:left;min-width:4%;text-align:center;padding-left:10px;padding-right:10px;" class="material-icons ">arrow_forward</i>
		                <div class="toField">
		                  <input style="width:240px;height:32px;" type="text"></input>
		                </div>
		                <i style="float:left;min-width:4%;text-align:center;padding-top:5px;padding-left:10px;" class="material-icons" onclick="addMap()" >add</i>
		            </div> -->
        			</div>
				</div>
	</div>
	</div>
	</body>
</html>
