:root {
  --fontSize: 12px;
  --defMargin: 10px;
  --themeBackground:#fff;
  --themeBackground2:#fff;
  --themeBackground2:#fff;
  --themeBackground3:initial;
  --themeColor:#000;
  --themeColor2:royalblue;
}

body {
  /*margin: auto;*/
  /*max-width: 450px;*/
  /*display: flex;*/
  /*flex-direction: column;*/
  background-color: var(--themeBackground);
  color: var(--themeColor);
  margin-left: 0px;
  margin-right: 0px;
}
/* .darkmode{
    background-color: #181b34;
    color: #d5d8df;
}
.darkmode .events {
  background-color: #393b53;
}
.content_copy{
  color: royalblue;
}
.darkmode .content_copy{
  color: #0eca71;
} */


#main {
  display: flex;
  flex-direction: column;
  /* background-color: #fff;
  height: 100vh; */
}

#showing {
  font-size: var(--fontSize);
  text-align: center;
  max-width: 100%;
  flex: 1;
  /* word-wrap: break-word;
  word-break: break-all; */
  /* text-align-last: left; */
}

select {
  font-size: var(--fontSize);
  border-radius: 4px;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 150px;
}

button {
  font-size: var(--fontSize) !important;
  /*margin: 10px .1px;*/
}

.count-container, #showing, .lag {
  align-self: center;
  margin: var(--defMargin);
  text-align: center;
}

.count-container {
  font-size: calc(var(--fontSize));
  font-weight: bolder;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: rgb(86,86,86);
}

.count {
  color: #fff;
  background-color: black;
  border-radius: 10px;
  padding: 0px 10px;
  font-size: calc(var(--fontSize) - 2px);
  padding: 3px 7px;
}

.events {
  margin: calc(var(--defMargin) - 5px) 10px;
  padding: calc(var(--defMargin) - 2px);
  border: 1px solid #ccc;
  cursor: pointer;
  overflow: auto;
  border-radius: 5px;
  background-color: var(--themeBackground2);
  box-shadow: 0px 2px 5px rgba(0,0,0,0.4);
  border: none;
  margin: 10px 10%;
  padding: 15px 15px;
}
.events:hover{
  background-color: var(--themeBackground3);

}

.events:hover {
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.eventStatus, .createdAt {
  float: right;
  font-size: var(--fontSize);
  clear: both;
}

.eventStatus {
  text-transform: uppercase;
  margin-right: 2px;
}

/**/
.field-data{
  font-size: 13px;
}
.event-field {
  padding: 5px;
  font-size: var(--fontSize);
  margin-bottom: 7px;
}
.field-qtn{
  font-weight:bold;
  margin-top: 10px;
}
.content_copy {
  /* width: 100px; */
  display: flex;
  color: var(--themeColor2);
}

.field-title {
  display: flex;
  font-weight: bold;
  text-transform: capitalize;
  font-size: var(--fontSize);
  margin-bottom:5px;
  font-size: 16px;
}

/* .field-data {
margin-left: 5px;
} */

.line {
  background-color: darkgreen;
  width: 95%;
  height: 1px;
  margin: var(--defMargin);
}

.field-links {
  display: flex;
  justify-content: center;
  font-size: var(--fontSize);
}

.field-links>a {
  margin: 0px 10px;
  font-size: var(--fontSize);
}

.btn-sm{
  box-shadow:2px 3px 5px rgba(0,0,0,0.3);
  padding:5px 12px;
  border-radius:20px;
}
.btn-danger{
  background-color: crimson;
  color: white;
}
.btn-danger:hover{
  background-color: red;
}
.btn-success{
  background-color: green;
  color: white;
}
.btn-success:hover{
  background-color: forestgreen;
}
.lag {
  align-self: center;
}

select, option {
  padding: 5px 10px;
}

.material-icons {
  font-size: calc(var(--fontSize) + 8px);
}

.rotate {
  animation: rotate 2s linear infinite;
  /* color: blue; */
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

a {
  text-decoration: none;
}

.profile-pan {
  display: flex;
  margin-bottom: 10px;
  align-items: center;
  padding: 5px;
  border: 1px solid gray;
}

.profile {
  line-height: 15px;
}

.profile-url {
  font-size: 12px;
  cursor: pointer;
}

.profile-name {
  font-weight: bold;
  font-size: 14px;
}

.avatar {
  font-size: 30px;
  margin-right: 3px;
}
.alert.alert-danger {
    font-size: var(--fontSize);
}
.disabled{
  opacity: 0.4;
}
.btn-pan {
    display: flex;
    align-items: center;
    justify-content: center;
}
.avatar-img {
  width: 50px;
  margin-right: 5px;
  border-radius: 50px;
}
.custom-btn{
  background-color: hsl(217deg 100% 50%);
  padding: 2px 7px;
  color: #f7f7f7;
  border-radius: 3px;
}
.custom-btn:hover{
  background-color: hsl(217deg 100% 45%);
}
.profile-pan{
  border-radius: 5px;
  padding:15px 20px;
  box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
  border: 1px solid whitesmoke;
}
#upcomming{
  margin-bottom:30px;
}
.profile-pan,
            .events-links {
                background-color: #fff;
                overflow: auto;
            }
            .events-links {
                padding: 10px 18px;
                margin: 15px 10px;
              box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
              border-radius:5px;
              border-width: 0px 0px 0px 5px !important;
            }
            .events-links>div {
                display: flex;
                align-items: center;
            }
            .events:hover {
                background-color: #fff;
            }
            .event,
            .event-title {
                margin: calc(var(--defMargin) - 5px) 10px;
                padding: calc(var(--defMargin) - 2px);
                border: 1px solid #ccc;
                overflow: auto;
                border-radius: 4px;
                background-color: var(--themeBackground2);
                box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
                border: none;
                padding: 10px 20px;
              margin-bottom:10px;
            
            }
.event{
  padding-bottom:20px;
}
/*            button {
        
                border: none;
                margin: 1px;
                background: #2073b7;
                color: #fff;
            }button {
        
            button:hover {
                background-color: #144a75;
            }*/
            .content_copy{
                align-items: center;
            }
            
              .newCalendlyEventIframe{
                position: fixed;
                top: 40px;
                bottom: 0px;
                left: 0px;
                right: 0px;
                display: flex;
                flex-direction: column;
                align-items: center;
                background-color:rgba(f,f,f,.5);
                backdrop-filter: blur(5px);
                overflow:scroll;
                z-index: 2;
              }
              @supports not (backdrop-filter: none) {
                .newCalendlyEventIframe {
                  background-color: rgba(256,256,256,0.9);
                }
              }
.peana-ttl {
  margin-top:-5px;
  padding:7px 15px 0px 15px;
  font-size: 18px;
  background-color: whitesmoke;
  color: rgb(86,86,86);
  z-index: 1;
}

.peana-userlist{
    margin: 0px;
    background-color: whitesmoke;
    padding:5px 10px;
    overflow-x: auto;
    width: 100%;
    white-space: nowrap;
    box-sizing: border-box;
    position: sticky;
    padding-bottom: 15px;
    z-index: 1;
}
.peana-u-item>div{
    display: inline-block;
    vertical-align: middle;
}
.peanai-pic{
    background-color: aliceblue;
    height:40px;
    width:40px;
    border-radius: 50px;
    margin-right: 2px;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
}
.peana-u-item{
    display: inline-block;
    margin: 5px 5px;
    background-color: white;
    padding:5px 20px 5px 7px;
    border-radius: 100px;
    box-shadow: 1px 2px 4px rgba(0,0,0,0.2);
    border:1px solid transparent;
}
.peanai-bottom{
    font-size:12px;
    color: grey;
}
.peana-u-item:hover{
    border: 1px solid royalblue;
    cursor: pointer;
    /*background-color: black;*/
    /*color: white;*/
    box-shadow: 3px 5px 7px rgba(0,0,0,0.3);
}
.peana-u-item.selected, .peana-userlist.allAgents #peaneai-allAgents{
    background-color: royalblue;
    color: white;
}
.peana-u-item.selected *, .peana-userlist.allAgents #peaneai-allAgents *{
    color: white;
}
iframe#peanea-main-new-meeting-iframe {
    width: 100%;
    height:1000px;
    border: none;
    margin: 0;
}
.peana-meeting-iframe{
    padding-top:20px;
    text-align:center;
    background-color: #fbfcfd;
    z-index: 1;
}
.reduceTopCalendlyPadding {
    margin-top: -66px;
}
.peana-meetin-iframe-loader {
    content: "Please wait...";
    font-size: 20px;
    text-align: center;
    left: 0px;
    right: 0px;
    padding: 40px 0px;
    background-color: rgba(256,256,256,0.6);
    position: absolute;
    color: rgb(86,86,86);
    z-index: 1;
}
.peana-nav-item {
    display: inline-block;
    padding: 0px 5px;
    color: rgba(0,0,0,0.4);
    font-size: 12px;
    vertical-align: middle;
}
.peana-nav-item:not(:last-of-type){
    border-right :1px solid silver;
    padding-right:10px;
}
.peana-nav-item.selected{
    color: black;
    font-size: 16px;
}
.peana-nav-item:hover{
  color: black;
  cursor: pointer;
}
#peana-event-types-links{
    padding: 15px 10%; 
}
.signOutbackWindow{
    z-index: 2;
}
.peana-userlist.allAgents .peana-u-item.selected{
  background-color: white;
}

.peana-userlist.allAgents .peana-u-item.selected .peanai-top{
  color: black;
}
.peana-userlist.allAgents .peana-u-item.selected .peanai-bottom{
  color: grey;
}
.ev-past-meet-btn{
    background-color: white;
    border: 1px solid silver;
    border-radius: 100px;
    box-shadow: 0px 2px 2px rgba(0,0,0,0.2);
    color: grey;
}
.ev-past-meet-btn:hover, .ev-past-meet-btn:disabled:hover{
    background-color: black;
    color: white;
}