body{
    overflow-x: hidden;
}
.ua-app-type-lookup{
    background-color: aliceblue;
}
.pageLookUpPageHolder{
    margin-top: 5px;
}
/* .loo-ttl-field-item{
    /* display: inline-block;
} */
.loo-ttl-field-item input {
    padding: 5px 10px;
    box-shadow: 0px 2px 4px rgb(0 0 0 / 20%);
    border-radius: 100px;
    font-size: 11px;
    padding-left: 30px;
    border: 1px solid whitesmoke;
}
.loo-ttl-fields-holder{
    padding: 5px;
}

.loo-ttl{
    padding: 10px 10px 0px;
    font-size: 16px;
    color: rgb(50,50,50);
    display: none;
}
.loo-header{
    padding:0px 10px;
    margin-top: 25px;
    padding-bottom: 0px;
    background-color: white;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 0px;
}

.loo-show-results-tip{
    padding:5px 10px;
    text-align: center;
    color: grey;
    font-size: 10px;
}
#loo-result-count{
    background-color: black;
    color: white;
    padding:2px 5px;
    border-radius: 50px;
    font-size: 10px;
    margin: 0px 2px;
}
.loo-result-item{
    margin: 10px;
    background-color: white;
    padding: 10px 15px;
    box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
    border-radius: 5px;
    padding-bottom: 0px;
    margin-bottom: 30px;
/*     border-bottom: 5px solid grey; */
}
.lri-ttl{
    font-size: 17px;
    padding: 5px 0px;
    margin-bottom: 0px;
    font-weight: bold;
    color: royalblue;
}
.lri-act-item{
    margin: 5px 0px;
    display: inline-block;
    color: rgb(50,50,50);
    padding: 2px 10px;
    font-size: 10px;
    border-radius: 15px;
    margin-left: 5px;
    border: 1px dotted;
}
.lri-act-item .material-icons{
    vertical-align: middle;
    font-size: 16px;
    margin-right: 2px;
    color: grey;
}
.lri-act-item:hover{
    box-shadow: 0px 1px 3px rgba(0,0,0,0.6);
    cursor: pointer;
    color: black;
}
.ua-loo-new-record-item .lri-ttl{
    color: white;
}

/*******copied *********/
 a {
    color :#00bcd4;
    text-decoration: none;
  }
  body{
    background-color: whitesmoke;
}

div#showModuleRecLists_div,#showModuleFieldLists_div {
    position: relative;
    width: 90%;
    left: 5%;
    padding: 20px 3px;
    display: flex;
}
.showModuleRecLists,.showModuleFieldLists {
    position: relative;
    width: 30%;
    text-align: center;
    background: #acb9e59e;
    color: rgb(0 0 0);
    margin-left: 3px;
    padding: 5px 2px;
    border-radius: 4px;
}
.showModuleRecLists:hover,.showModuleFieldLists:hover {
    background: royalblue;
    color: white;
    cursor: pointer;
}
.choosed_showModuleRecLists,.choosed_showModuleFieldLists {
    background: royalblue;
    color: white;
    cursor: pointer;
}

.inline-button {
  cursor: pointer;
  display: inline-block;
    padding:7px 0px 7px 20px;
    width: 40%;
    box-sizing: border-box;
    background-color: #ddd;
    border-radius: 70px;
    color: rgba(0,0,0,0.7);
    font-size: 16px;
    
}
.cl-selected{
    background-color: royalblue;
    color: white;
}
.list-button {
  cursor: pointer;
}


div {
  font-size: 15px;
}

.heading {
  font-size: 20px
}
.moredots{
    display: inline-block;
    vertical-align: middle;
    /* float: right; */
    padding: 10px 20px;
        margin-top: -1px;
}
.menu {
    width: 4px;
    height: 4px;
    background-color: grey;
    margin: 3px 0;
    border-radius: 5px;
}

.main_menu_list {
    text-align: center;
}

.main_menu {
  display: none;
    position: fixed;
    top: 55px;
    background-color: rgba(0,0,0, 0.7);
    bottom: 0px;
    left: 0px;
    right: 0px;
    text-align: center;
    z-index: 10;
}
.main_menu_list{
    padding: 5px;
    display: inline-block;
    background-color: white;
    border-radius: 5px;
    margin-top: 50px;
    padding: 10px 0px;
    text-align: left;
}
.main_menu_list>div{
    padding: 10px 15px;
    color: rgba(0,0,0,0.8);
}
.main_menu_list>div:hover{
    cursor: pointer;
    background-color: whitesmoke;
}
    input{
    padding:7px 10px;
/*     border: 1px solid #e8e7e7; */
        border-width: 0px 0px 2px 0px;
    margin:7px 5px 7px 0px;
    border-radius:5px;
    width:100%;
    box-sizing: border-box;
        outline: none;
        border-color: #e8e7e7;
}
#contact-lead-display{
    margin-top: 5px;
}
#input-form{
    background-color: whitesmoke;
    padding: 20px 10px 30px 10px;
}
#create-button{
    margin: 10px;
    background-color: royalblue;
    color: white;
    padding: 5px 15px;
    border-radius: 10px;
    border: 1px solid blue;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2)
}
#create-button:hover{
    background-color: navy;
    cursor: pointer;
}
.form-inner{
    background-color: whitesmoke;
    margin-top: 10px;
}
.zcrm-add-title{
    font-size: 18px;
    margin-bottom: 20px;
    color: grey;
}
#menu-icon{
    font-size: 18px;
    font-weight: bold;
}
.appname{
        vertical-align: middle;
    padding: 14px 10px;
    display: inline-block;
}
.moredots:hover{
    background-color: white;
    cursor: pointer;
    border-radius: 50px;
}
.moredots:hover .menu{
  background-color: black;
}
div#plugin-url {
    margin-top: 20px;
    line-height: 1.75;
}
.config-tttl{
  padding: 0px 10px;
  color: darkcyan;
  font-style: 15px;
  font-weight: 800;
}
#plugin-url b{
  font-weight: 1000;
}
.plugin-icon-svg{
  float: left;
    margin-right: 7px;
    height: 25px;
    width: 25px;
    margin-top: -5px;
}
#reset-configuration{
  color: red;
}
.no-zoho-crm-tip,.in-zoho-crm-tip {
    color: crimson;
    font-size: 12px;
    margin-top: -2px;
    margin-bottom: 10px;
    border: 1px dotted;
    padding: 5px 15px;
    border-radius: 20px;
    display: inline-block;
    background-color: rgba(250,0,0,0.1);
    /* float: right; */
}
.in-zoho-crm-tip{
  color: green;
  background-color: rgba(0,250,0,0.1);
}
div#contactlead-details {
    padding: 0px 5px;
}
.ucrm-typ-ttl{
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
  color: green;
}
.field {
    margin:5px 5px 7px 5px;
}
.cd-field-label {
    color: grey;
    font-size: 14px;
}
.cd-field-edit input {
    border: 1px solid transparent;
    margin-left: 0px;
}
.field button {
    position: absolute;
    right: 0px;
    /* top: 0px; */
    bottom: 10px;
}
.cd-field-edit{
  position: relative;;
}
.cd-field-edit:hover input {
    border: 1px solid silver;
}
.cd-field-edit input:active,.cd-field-edit input:focus{
  border: 1px solid black;
}
.cd-field-edit button {
    background-color: transparent;
    border: none;
    color: grey;
    cursor: pointer;
    /* font-size: 16px; */
}
.cd-field-edit button .material-icons {
    font-size: 16px;
    /* margin-top: 1px; */
}
.cd-field-edit button:hover{
  cursor: pointer;
  color: black;
}
button.cd-field-save-btn .material-icons {
    font-size: 22px;
}
button.cd-field-save-btn {
    font-size: 22px;
    background-color: green;
    color: white;
    /* color: green; */
    padding: 4px 10px;
    bottom: 7px;
    border-radius: 6px;
    z-index: 3;
    /* margin-top: -9px; */
}
.in-zoho-crm-tip .material-icons {
    /* float: right; */
    vertical-align: middle;
    margin-top: -3px;
    font-size: 17px;
    margin-left: 3px;
}
.in-zoho-crm-tip:hover {
    color: royalblue;
    background-color: rgba(0,0,250,0.1);
}
#add-note, .lri-addNote-Holder {
    background-color: white;
    padding:0px 5px;
    border-radius: 5px;
}
input#add-a-title, .note-title-inp {
    border-bottom: 1px solid #dcdada;
    border-radius: 0px;
}
textarea#add-a-note, .note-content-inp {
    width: 100%;
    padding: 7px 10px 10px;
    min-height: 75px;
    border: none;
    font-size: 14px;
    font-family: Roboto;
    outline: none;
    background-color: lightyellow;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid whitesmoke;
}

.notes-container {
    background-color: white;
        padding-bottom: 50px;
}
.lri-note-ttl {
    padding: 10px;
    font-size: 16px;
}
.lri-note-ttl .material-icons {
    vertical-align: middle;
    /* margin-top: 10px; */
}
.note-inp-holder {
    /* border: 1px solid #d2d1d1; */
/*     padding: 5px; */
    margin-bottom: 15px;
/*     box-shadow: 0px 3px 5px rgba(0,0,0,0.2); */
}
button#save-note, .save-note-btn, .cancel-note-btn {
    background-color: royalblue;
    color: white;
    padding: 3px 10px;
    border-radius: 5px;
    border-color: royalblue;
    border: 1px solid royalblue;
}
.cancel-note-btn{
  background-color: grey;
}
button#save-note:hover, .save-note-btn:hover, .cancel-note-btn{
  cursor: pointer;
  background-color: navy !important;
  color: white !important;
}
button#add-notes-button, .add-note-button {
    background-color: green;
    color: white;
    border: none;
    padding: 4px 15px;
    border-radius: 15px;
    float: right;
}
button#add-notes-button:hover, .add-note-button:hover{
  cursor: pointer;
  background-color: forestgreen;
}
.note-item {
    box-shadow: 1px 3px 3px rgba(0,0,0,0.2);
    padding: 7px 15px;
    margin: 15px 5px;
    background-color: lightyellow;
    border-radius: 5px;
}
.note-item-cont{
    font-size: 14px;
}
.note-item-ttl {
    font-size: 18px;
    margin-bottom: 5px;
    font-weight: bold;
    /* background-color: whitesmoke; */
}
.tal-center{
  color: grey;
  text-align: center;
  font-style: 15px;
}
.cd-field-edit input{
    margin-top: 2px;
}
.app-logo-holder{
     position: fixed;
    bottom:20px;
     left: 0px; 
    right: 0px;
    text-align: center;
}
.app-logo-holder-inner{
   display: inline-block;
    padding: 30px;
    background-color: white;
    text-align: center;
    box-shadow: 0px 5px 10px rgba(0,119,0,0.5);
    border-radius: 100px;
}


.wc-top-minimize-btn:hover{
  background-color: rgba(0,0,0,0.5);
  cursor: pointer;
}
.whatcetra-max-frame-btn{
  display: none;
  position: fixed;
  z-index: 1000;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    backdrop-filter: blur(1px);
    background-color: rgba(0,0,0,0.5);
    color: white;
        padding-top: 50vh;
        text-align: center;
}
.whatcetra-max-frame-btn span{
  font-size: 45px;
}
.whatcetra-max-frame-btn:hover{
  cursor: pointer;
  background-color: rgba(0,0,0,0.75);
}
	 
.chromeextnpopup {
    position: fixed;
    background-color: rgba(0,0,0,0.7);
    top:50px;
    right:0px;
    left:0px;
    bottom:0px;
    text-align:center;
    z-index: 10;
}
.cetp-inner{
    display : inline-block;
    background-color:  white;
    padding: 20px 25px;
    margin: 25px;
    position: relative;
    text-align: left;
    border-radius: 5px;
}
.cetp-ttl{
    font-size: 25px;
    color: royalblue;
}
.cetp-close{
    position: absolute;
    right: 20px;
    top: 5px;
    color: crimson;
    cursor: pointer;
}
.cetp-content{
    padding:15px;
    color: rgb(86,86,86);
    line-height:1.5;
}
.cetp-install{
    border-radius:5px;
    border: none;
    background-color: royalblue;
    color : white;
    padding: 7px 10px;
    box-shadow: 0px 5px 5px rgba(0,0,0,0.3);
    font-size: 16px;
}
.cetp-install .material-icons{
    float: left;
    margin-right: 5px;
    margin-top: -4px;
}
.cetp-install:hover{
    background-color: navy;
}
.ad-field-table-row>div {
    width: 100%;
    padding: 4px;
    font-size: 12px;
}

.ad-field-table-row {
    display: inline-flex;
    width: 100%;
    border-bottom: 1px dotted silver;
    background-color: white;
    padding: 5px;
}

.ad-field-table {
    margin: 10px;
}
.ad-field-table-row-start, .ad-field-table-row-end{
  /*padding: 5px;*/
  display: block;
}
.ad-field-table-row-start{
  margin-top: 3px;
}
.ad-field-table-row-end{
  margin-bottom: 10px;
}
.ad-field-table-name {
    font-weight: bold;
    color: grey;
}

#additionalFieldsHolder{
  padding: 10px;
}
.ad-field-contact-detail-row-start{
      font-size: 25px;
    /*margin-top: 15px;*/
    margin-bottom: 10px;
    /*padding-top: 10px;*/
    margin-bottom: 15px;
    padding-bottom: 7px;
    border-bottom: 1px dotted silver;
}
.ad-field-contact-detail-row-end{
  color: grey;
  text-align: center;
  padding-top: 10px;
}
.filterFieldInput{
  display: inline-block;
    /*float: right;*/
    width: 110px;
    margin: 0px;
    border-radius: 50px;
    border: 1px solid rgba(0,0,0,0.2);
    font-size: 11px;
    padding:4px 10px;
}
.filterFieldInput:focus{
  box-shadow: inset 0 0 1px 1px rgba(0,0,0,0.1);
}
.fieldItemHolder {
    margin-bottom: 7px;
}
.ad_edit_save_btn .material-icons{
      font-size: 22px !important;
    position: absolute;
    top: 6px;
    color: royalblue;
    box-shadow: 0px 0px 5px;
    border-radius: 20px;
}
.ad_edit_save_btn .material-icons:hover{
  color: navy;
  box-shadow: 0px 2px 5px rgb(0 0 0 / 50%);
}
.spinnow {
    color: royalblue;
    -webkit-animation: spin 2s linear infinite;
    -moz-animation: spin 2s linear infinite;
    -ms-animation: spin 2s linear infinite;
    -o-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
@-ms-keyframes spin {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}


div#msf_full_contain_div {
    position: fixed;
    width: 100%;
    left: 0%;
    height: 100%;
    z-index: 1;
    background: white;
}
div#msf_cont_div {
    position: relative;
    display: flex;
    width: 100%;
}
div#msf_allFields, #msf_selectedFields {
    position: relative;
    width: 45%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0px 4px 1px #aaa;
    border: 1px solid #aaa;
    height: 400px;
    overflow: auto;
    border-radius: 2px;
}
.msf_allFields_item, .msf_selectedFields_item {
    position: relative;
    width: 100%;
    display: flex;
    padding: 5px 5px;
}
.msf_fName {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 85%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 12px;
    padding: 2px 3px;
}
.msf_fName:hover {
    background: #93caf1a6;
}
.msf_add, .msf_remove {
    position: relative;
    width: 15%;
}
div#msf_close {
    position: relative;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    padding: 5px 2px;
    margin-top: 20px;
    background: #d4d4d5;
    text-align: center;
    margin-bottom: 10px;
    border-radius: 10px;
    cursor: pointer;
}


::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #c9c9c9;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #a1a1a1;
}
.adp-field-item{
                padding: 5px 12px;
                border-bottom: 1px dotted whitesmoke;
                font-size: 14px;
            }
            .adp-field-item:hover{
                cursor:pointer;
                background-color: whitesmoke;
            }

            .adp-holder{
                position: absolute;
                top: 78%;
                background-color: white;
                z-index: 10;
                left: 0px;
                right: 40px;
                box-shadow: 0px 25px 25px rgb(0 0 0 / 20%);
            }
            .adp-dd-focus-holder{
                position: fixed;
                top: 0px;
                bottom: 0px;
                right: 0px;
                left: 0px;
                background-color: rgba(0,0,0,0.1);
                z-index: 9;
            }

            input[readonly], input[disabled] {
                background-color: rgba(0,0,0,0.1);
            }

            .cd-field-edit textarea {
                width: 100%;
                height: 75px;
                border: 1px solid silver;
                border-radius: 5px;
                font-family: 'Roboto';
                padding: 5px 7px;
                box-sizing: border-box;
            }

            .ad-foundCount{
                font-size: 14px;
                color: green;
                font-weight: bold;
            }
            .topactiondiv{
                text-align:right;
            }
            .notesToggleBtn:hover{
                cursor: pointer;
                background-color: orange;
            }
            .notesToggleBtn .in-zoho-crm-tip {
                background-color: #ffa50014;
                color: #c58103;
                margin-right:5px;
                border: 1px solid;
            }
            .notesToggleBtn .in-zoho-crm-tip:hover {
                background-color: #ffa50040;
                color: #8a5d0b;
            }
            .notes-container{
                display: none;
                margin-bottom: 15px;
            }
/*********end of copied*******/
.lri-fields-list{
    margin-left: -15px;
    margin-right: -15px;
    padding: 15px 15px 10px;
    background-color: whitesmoke;
    
}
.loo-result-item{
    position: relative;
}
.lri-ri-min{
    position: absolute;
    right: 0px;
    top: 0px;
    color: grey;
    padding: 10px;
    background-color: inherit;
}
.lri-ri-min .material-icons{
    font-size: 16px;
}
.lri-ri-min:hover{
    cursor: pointer;
    color: green;
}
.lri-actions{
    padding-bottom: 17px;
}
.loo-results-actions{
    margin: 10px;
    position: relative;
    padding-left: 10px;
    opacity: 0.5;
}
.loo-results-actions:hover{
    opacity: 1;
}
.loo-results-actions .lri-ri-min{
    right: 7px;
    top: -7px;
}
.lri-current-module-disp{
    font-size: 13px;
}
.lri-btn-create-record {
    display: inline-block;
    border: 1px solid green;
    color: green;
    padding: 3px 7px 2px 4px;
    border-radius: 5px;
    margin-right: 10px;
    box-shadow: 0px 2px 5px rgb(0 0 0 / 10%);
    margin-bottom: 5px;
    font-size: 11px;
}
.lri-btn-create-record .material-icons{
    font-size: 16px;
    vertical-align: middle;
    margin-top: -2px;
}
.lri-btn-create-record:hover{
    cursor: pointer;
    color: white;
    background-color: green;
    border-color: green;
}
.ua-loo-new-record-item .lriai-note{
    display: none;
}
.ua-loo-new-record-item{
    background-color: royalblue;
    /*! color: white; */
    border: 1px solid royalblue;
}
.ua-loo-new-record-item .cd-field-edit input{
    border: 1px solid whitesmoke;
    box-shadow: 0px 0px 1px inset rgba(0,0,0,0.5);
}
.ua-loo-new-record-item .cd-field-edit input:hover, .ua-loo-new-record-item .cd-field-edit input:active, .ua-loo-new-record-item .cd-field-edit input:focus{
    box-shadow: 0px 0px 3px inset rgba(0,0,0,0.3);
    border: 1px solid silver;
}
.ua-loo-new-record-item .lri-fields-list{
    background-color: white;
}
.ua-loo-new-record-item .cd-field-mandatory{
    position: relative;
}
.ua-loo-new-record-item .cd-field-mandatory .cd-field-label:after{
    content: "*Required";
    margin-left: 5px;
    color: crimson;
    float: right;
    font-size: 10px;
    background-color: whitesmoke;
    padding: 5px 10px;
    position: absolute;
    right: 0px;
    top: -2px;
}
.ua-loo-rci-field-act-item{
    display: inline-block;
    background-color: whitesmoke;
    color: grey;
    padding:5px 15px;
    margin: 0px 5px;
    font-size: 10px;
    text-align: center;
    box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
    border-radius: 50px;
}
.ua-loo-rci-field-act-item:hover{
    cursor: pointer;
    color: black;
    box-shadow: 0px 3px 5px rgba(0,0,0,0.4);
}
.ua-loo-new-rci-actions{
    padding: 25px;
    margin: 0px -15px;
    background-color: white;
    padding-top: 5px;
    padding-bottom: 30px;
}
.ua-loo-new-rci-action-item{
    background-color: royalblue;
    color: white;
    padding: 7px 10px;
    border-radius: 10px;
    display: inline-block;
    font-size: 11px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.4);
}
.ua-loo-new-rci-action-item:hover{
    cursor: pointer;
    background-color: navy;
}
.lri-fields-act-list{
    background-color: white;
    margin: 0px -15px;
    padding:0px 0px 15px;
    text-align: center;
    padding-top: 15px;
}
#loo-fields-config-window .error-window-close{
    top: 0px;
    bottom: unset;
}
.error-window-subtitle{
    margin-top: -35px;
    font-size: 18px;
    font-weight: bold;
    color: navy !important;
}
#loo-fields-config-window .error-window-detail{
    padding-top: 30px;
    text-align: center;
}
.loo-fields-config-table-col{
    background-color: white;
    display: inline-block;
    width: 48%;
    border-radius: 5px;
    box-shadow: 0px 3px 4px rgba(0,0,0,0.2);
    vertical-align: top;
    height: 100%;
    height: 70vh;
    text-align: left;
    border: 1px solid rgba(0,0,0,0.1);
    overflow-y: hidden;  
}
.loo-fields-config-table-col:hover{
    overflow-y: auto;
}
.lfct-item{
    font-size: 12px;
    padding: 5px 7px;
    position: relative;
    color: rgb(80,80,80);
}
.lfct-item:hover{
    background-color: whitesmoke;
    cursor: grab;
}
.lfct-item .material-icons{
    font-size: 16px;
    vertical-align: middle;
    color: silver;
    position: absolute;
    right: 0px;
    bottom: 0px;
    padding:4px 7px;
}
.loo-fields-config-table-col-ttl{
    text-align: center;
    background-color: whitesmoke;
    padding: 5px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    margin-bottom: 5px;
}
#loo-fields-config-table-col-show .loo-fields-config-table-col-ttl .material-icons{
    color: green;
}
#loo-fields-config-table-col-hide .loo-fields-config-table-col-ttl .material-icons{
    color: crimson;
}
.loo-fields-config-table-col-ttl .material-icons{
    vertical-align: middle;
    margin-right: 4px;
    margin-top: -2px;
    font-size: 16px;
    color: grey;
    
}
.lfct-item.dragoverwaiting:before{
    content: "";
    width: 100%;
    display: block;
    background-color: aliceblue;
    text-align: center;
    height: 25px;
    margin-bottom: 5px;
    border: 1px dotted rgba(0,0,100,0.3);
}
.lfct-drop-space-receiver{
    height: 70vh;   
}
.lfct-drop-space-receiver.waitingfordrop{
    background-color: aliceblue;
}
.lfct-item.lfct-drop-space-receiver:hover{
    background-color: transparent;
    cursor: unset;
}
.ua-loo-new-record-item .lri-fields-act-list{
    padding-top: unset;
}
.lri-notes-container{
    display: none;
}
.note-item-time{
    text-align: right;
    font-size: 12px;
    color: grey;
}
.lri-notesHistoryHolder {
  padding-bottom: 10px;
  max-height: 225px;
  overflow-y: auto;
}
.save-note-btn:disabled{
    color: royalblue !important;
    color: white !important;
}
.loo-ttl-field-item{
  position: relative;
}
.loo-ttl-field-item .material-icons{
  position: absolute;
  left: 3px;
  top: 10px;
  font-size: 15px;
  background-color: white;
  padding: 1px 5px;
  border-radius: 10px;
  color: grey;
}
.whatcetra-max-frame-btn{
  display: none;
  position: fixed;
  z-index: 1000;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    backdrop-filter: blur(1px);
    background-color: rgba(0,0,0,0.5);
    color: white;
        padding-top: 50vh;
        text-align: center;
}
.whatcetra-max-frame-btn span{
  font-size: 45px;
}
.whatcetra-max-frame-btn:hover{
  cursor: pointer;
  background-color: rgba(0,0,0,0.75);
}
.wc-top-minimize-btn {
    right: 7px;
    position: fixed;
    top: 20px;
    background-color: black;
    padding: 1px 7px;
    color:white;
}
.wc-top-minimize-btn:hover{
  background-color: silver;
  color: black;
  cursor: pointer;
}
.loo-disclaim-message{
    text-align: center;
    margin: 10%;
    margin-top: 25px;
    border-radius: 10px;
    background-color: lightyellow;
    color: darkgoldenrod;
    font-size: 11px;
    padding: 10px 20px;
    line-height: 1.3;
}
.loo-disclaim-message-ttl{
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid whitesmoke;
}
#inp-lookup-search-module{
    background-color: black;
    color: white;
    border-radius: 20px;
    padding: 4px 8px;
    vertical-align: middle;
    font-size: 13px;
}
.ua-app-type-lookup .siteName a{
    color: #e1dede !important;
    font-size: 16px;
    font-weight: normal;
}
.ua-app-type-lookup .mainSearchBarHolder{
    background-color: #202c33;
}
.ua-app-type-lookup .siteLogo{
    border-left: 16px solid #979595;
}
.ua-app-type-lookup img#signInUserImg{
        border: 2px solid black;
}
.ua-app-type-lookup .userInfoBtn:hover img{
    box-shadow: 0px 1px 5px rgba(0,0,0, 1);
}
.ua-app-type-lookup .userInfoBtn:hover{
    background-color: transparent;
}
.ua-app-type-lookup .mainSearchBarHolder{
    padding: 17px 15px;
    border-left: 1px solid rgba(256,256,256,0.2);
}
.ua-app-type-lookup .sidePanelView .userInfoBtn{
    top: 16px;
}
.lri-act-item.lriai-link{
    color: royalblue;
}
.lri-act-item.lriai-link .material-icons{
    color: royalblue;
}
.lri-act-item.lriai-note{
    color: darkorange;
}
.lri-act-item.lriai-note .material-icons{
    color: darkorange;
}
.lriai-note:hover{
    background-color: darkorange;
}
.lriai-link:hover{
    background-color: royalblue;
}
.lriai-link:hover .material-icons, .lriai-note:hover .material-icons{
    color: white;
}
.lriai-link:hover, .lriai-note:hover{
    border: 1px solid;
    box-shadow: none;
    color: white;
}
.ua-loo-new-record-item .lriai-link, .ua-loo-new-record-item .lriai-link .material-icons{
    color: white;
}
.sidePanelView .userInfoBtn{
    top: 20px;
    right: 50px !important;
}
#saasAuthIDCredit{
    top: 22px;
    display: none;
}
.ua-app-type-lookup #saasAuthIDCredit , .ua-app-type-lookup #saasAuthIDCredit a{
    color: silver;
}
.lri-labels-holder:not(:empty) {
    margin-top: -5px;
    margin-bottom: 8px;
}
.lri-label-item {
    display: inline-block;
    color: white;
    padding: 1px 7px 2px;
    font-size: 11px;
    background-color: black;
    border-radius: 1px;
}
.lri-realtedItemsHistoryHolder .lri-ttl{
    font-size: 14px;
    font-weight: normal;
}
.lri-realtedItemsHistoryHolder .loo-result-item{
    margin: 5px 0px;
    padding: 5px 8px 3px 12px;
}
.lri-realtedItemsHistoryHolder .lri-actions{
    padding-bottom: 10px;
}
lri-realtedItemsHistoryHolder {
    max-height: 60vh;
    overflow-y: auto;
    overflow-x: hidden;
    border-bottom: 1px dotted silver;
    margin-bottom: 20px;
    box-shadow: 0px 0px 5px inset rgb(0 0 0 / 30%);
    padding: 5px;
}
.lri-rel-list-container {
    margin-top: -19px;
}
a{
    color: royalblue;
}
.ua-loo-new-record-item .lri-ttl a{
    color: white;
}
.ua-loo-new-record-item .lriai-related-module{
    display: none;
}
.loo-header-nav{
  background-color: white;
  margin-bottom: 10px;
  width: 100%;
  padding: 2px;
  margin-top: -3px;
  padding-bottom: 7px;
  border-bottom: 1px solid rgba(0,0,0,0.08);
  padding-left: 7px;
}
.loo-header-nav-item{
  display: table-cell;
  font-size: 9px;
  padding: 4px 5px 4px 10px;
  border-right: 1px solid whitesmoke;
  margin: 0px;
  border-radius: 10px;
}
.loo-header-nav-item>div{
  display: inline-block;
  vertical-align: middle;
}
.lhni-label{
  font-size: 11px;
}
.lhni-count{
  font-size: 9px;
  color: grey;
  margin-left:2px;
}
.loo-header-nav-item:hover{
  cursor: pointer;
  background-color: aliceblue;
  color: black;
}
.loo-header-nav-item.selected{
  background-color: black;
  color: white;
  padding-left: 8px;
  padding-right: 7px;
}
.loo-result-item:first-of-type{
    margin-top: 5px;
}
.ua-loo-new-rci-action-item.create-cancel-button{
    background-color: whitesmoke;
    color: grey;
}
.lriai-temp{
  margin-top:7px;
}
.lriai-temp .dropdownDisplayText{
   font-size: 10px !important;
}
.lriai-temp .dropdownDisplayArrow{
  margin-top:-3px;
}
.dropdownDisplayText{
    font-size: 11px;
}
.windowOuterHolder{
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    background-color: rgba(0,0,0,0.2);
    z-index: 1000;
    padding: 2% 2%;
    backdrop-filter: blur(3px);
}
.fwna-actions-holder {
    position: fixed;
    bottom: 0px;
    background-color: white;
    left: 0px;
    right: 0px;
    text-align: center;
    padding:15px 10px;
    box-shadow: 0px -1px 5px rgb(0 0 0 / 30%);
}

.fwna-act-item {
    display: inline-block;
    box-shadow: 0px 2px 5px rgb(0 0 0 / 30%);
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 15px;
    margin: 0px 5px;
}
.fwna-act-item:hover {
    cursor: pointer;
    background-color: navy !important;
    color: white;
}
#fwnai-messages-list-holder {
    overflow-y: auto;
    max-height: 64vh;
    padding-bottom: 100px;
}
.lriai-export-chat{
    color: darkmagenta;
    display: none;
}
.lriai-export-chat .material-icons{
    color: darkmagenta;
}
.siteName{
    margin-right: 0px;
}
.ualic_sub_status_tip{
    display: none;
}
.mainSearchBarHolder .signUserInfoHolder {
    float: right;
    margin-right: 20px;
}