body{
  font-family: Roboto;
}
h1{
  font-weight: lighter;
  text-align: center;
  margin-top: 35px;
  margin-bottom: 40px;
}
h3{
  color: rgb(86,86,86);
  margin-left: 25px;
  font-weight: normal;
  margin-bottom: 20px;
}
.saasAppConTtl .integAppIcon{
  max-height: 35px;
  vertical-align: middle;
  margin-right: 15px;
}
.saasAppIntegListContainer{
  display: none;
}
.saasAppConTtl>div{
  display: inline-block;
  vertical-align: middle;
}
.saasAppConTtl{
  font-size: 25px;
 
}
.saasAppContainer{
  padding: 30px 25px;
  margin:0px 5%;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  
}


.saasAppContainer:hover{
  background-color: whitesmoke;
  cursor: pointer;
}
.integAppItem{
  display: inline-block;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
  padding:23px 20px;
  margin: 10px;
  padding-top: 10px;
  border-radius: 4px;
  background-color: white;
  width: 47%;
  box-sizing: border-box;
  text-align: left;
}
.integAppItem .integAppIcon{
  max-height: 50px;
  vertical-align: middle;
}
.saasAppIntegListContainer{
  margin-top: 10px;
  padding: 20px;
  cursor: default;
  box-sizing: border-box;
  text-align: center;
}

.integAppActions a{
/*   background-color: royalblue; */
  color: white;
  text-decoration: none;
  padding: 5px 15px;
  font-size: 14px;
  display: inline-block;
  border-radius: 5px;
  margin-top: 7px;
  border: 1px solid royalblue;
  color: royalblue;
  box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
}
.integAppActions a:hover{
  background-color: royalblue;
  color: white;
}
.integAppName{
  font-size: 20px;
  display: inline-block;
  vertical-align: middle;
}
.saasAppConIconHolder{
  width: 250px;
}
.ulgebra-top-logo{
  vertical-align: middle;
  height:50px;
  margin-right: 5px;
}
.appcursor-install-btn:hover{
  background-color: navy !important;
}