.pageNotifForm{
  margin-top: 10px;
  padding: 10px;
}
.pnf-item input{
  padding: 7px 10px;
    border: 1px solid rgba(0,0,0,.2);
    box-shadow: inset 0 0 3px rgb(0 0 0 / 20%);
    font-size: 15px;
    border-radius: 3px;
    width: 50vw;
  vertical-align: middle;
}
.pnf-item button, .pil-item button{
  padding: 7.5px 15px;
  vertical-align: middle;
  border-radius: 30px;
  background-color: royalblue;
  color: white;
}
.pnf-actions-holder{
  margin-top: 10px;
}
.pnf-add-more-btn{
  padding: 5px 15px 6px;
  border-radius: 30px;
  background-color: black;
  color: white;
}
.pnf-item button:hover{
  background-color: navy;
}
.pnf-item{
  display: block;
  margin-bottom: 10px;
}
.pnf-item-index{
  margin-right: 7px;
  color: silver;
  width: 15px;
  display: inline-block;
  font-size: 14px;
}
.pil-item{
  padding: 5px;
  border-bottom: 1px solid whitesmoke;
}
.pil-item>div{
  display: inline-block;
  vertical-align: middle;
}
.pil-item button{
  font-size: 10px;
  padding:3px 10px 4px;
  border: none;
}
.pil-item-status{
  font-size: 12px;
  margin: 0px 10px;
  color: grey;
  
}
.pil-item-name{
  width: 40vw;
  font-size: 14px;
}
button.pnf-item-btn-delete{
  background-color: transparent !important;
  color: crimson;
  padding: 0px 4px;
}
button.pnf-item-btn-delete:hover{
  color: red;
}
button.pnf-item-btn-invitelink{
  border:1px green solid;
  background-color: transparent;
  color: green;
  box-shadow: 0px 1px 3px rgba(0,0,0,0.2);
}
button.pnf-item-btn-invitelink.highlight-now{
    background-color: forestgreen;
    color:white;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.3);
    font-size: 14px;
    padding: 7px 15px 7px 15px;
}
button.pnf-item-btn-invitelink:hover{
  cursor: pointer;
  background-color: darkgreen;
  color: white;
}
.pnf-invitees-list-holder:empty::after{
  content: "No users added";
  display: block;
  background-color: white;
  text-align: center;
  padding: 20px;
  color: grey;
}
.piliod-content:empty::after{
  content: "None of your device/browser receives this app's notifications.";
  display: block;
  background-color: transparent;
  text-align: center;
  padding: 20px;
  color: silver;
}
.pnf-invitees-list-holder.pnf-invitees-apps-list-holder:empty::after{
    content: "No apps subscribed";
}
#invite-link-show-popup-outer{
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(0,0,0,0.7);
  text-align: center;
  z-index: 10;
  display: none;
}
.ilsp-inner{
  display: inline-block;
  margin-top: 10%;
  background-color: white;
  text-align: left;
  padding:30px 30px 40px;
  border-radius: 3px;
  position: relative;
}
.ilsp-ttl{
  font-size: 25px;
  margin-bottom: 20px;
   color: royalblue;
}
.ilsp-content{
  color: rgb(86,86,86);
  font-size: 14px;
}
.ilsp-content input{
  margin: 10px 0px;
  padding: 5px 10px;
  width: 100%;
  box-sizing: border-box;
}
.ilsp-content button{
  border-radius: 100px;
  padding: 5px 15px 7px;
  background-color: royalblue;
  color: white;
  border: none;
  box-shadow: 1px 2px 3px rgba(0,0,0,0.5);
}
.ilsp-content button:hover{
  cursor: pointer;
  background-color: navy;
}
button.ilsp-close{
  background-color: crimson;
  position: absolute;
  right: 0px;
  top: 0px;
  border: none;
  font-size: 14px;
  padding: 3px 10px 5px;
  color: white;
}
button.ilsp-close:hover{
  background-color: red;
}
#ilsp-user-invite-link{
  color: royalblue;
  background-color: rgba(0,0,250,0.1);
  border: 1px dotted royalblue;
  font-size: 12px;
  margin-bottom: 25px;
}
.pnf-item-btn-invitelink .material-icons{
  float: left;
  margin-top: -1px;
  font-size: 20px;
  margin-right: 5px;
}
.pil-item-other-devices{
    padding: 15px 25px 20px;
    display: block !important;
    margin: 20px 25px 10px;
    background-color: whitesmoke;
}
.piliod-ttl{
    color: gray;
    margin-bottom: 10px;
}
.pil-item-name .material-icons{
  vertical-align: middle;
  margin-top: -2px;
}
.pil-item-name span{
  display: inline-block;
  padding:1px 10px 1px 7px;
  vertical-align: middle;
}
.pil-item-name span:not(:last-of-type){
  border-right: 1px solid rgba(0,0,0,0.1);
}
.pil-item-other-devices .pil-device-item{
  padding: 5px;
}
.pil-item-other-devices .pil-device-item:not(:last-of-type){
/*   border-bottom: 1px solid rgba(0,0,0,0.1); */
}