@media only screen and (max-width: 500px) {

    html,
    body {
        width: 100%;
        position: relative;
        font-size: 14px;
        height: calc(100% - 29px);
    }

    .mainSearchBarHolder {
        width: calc(100% - 30px);
        z-index: 30;
    }

    .pageEventAppNewAppointmentHolder {
        width: 100%;
    }

    .pageContentHolder {
        width: 100%;
        position: relative;
        height: 100%;
        /* overflow: hidden; */
    }

    .pageEventAppNewAppointmentHolder {
        width: 100%;
        position: relative;
        height: max-content;
    }

    div#workflowInstructionDialog {
        width: 100%;
    }

    div#UA_LIC_USERS_CONFIG_MODAL {
        width: 100%;
    }

    div#sms-prog-window {
        width: 100%;
    }

    .signedUserOptions.visible {
        width: 100%;
        /* position: relative; */
        right: 0px !important;
    }

    .ssf-recip-item {
        height: 15px;
        text-overflow: ellipsis;
        max-width: calc(100% - 50px);
        white-space: nowrap;
        display: flex;
        width: max-content;
    }

    div#ssf-recip-list-add-holdr {
        left: -14px;
        width: 100%;
        position: relative;
        cursor: default;
        display: flex;
        justify-content: center;
    }

    #ssf-recip-list-add-holdr .dropdownInner.focusCancellerOverlaySupported div {
        position: relative;
        max-width: calc(100% - 10px);
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    input#inp-new-recip {
        width: 60%;
        position: relative;
        min-width: 70%;
        top: 10px;
    }

    .signUserInfoHolder.signedIn {
        position: absolute;
        top: -3px;
        width: 100%;
    }

    .ssf-def-country-code-holder.hideOnChatView {
        width: 100%;
        display: inline-block;
        position: relative;
        right: 0;
        transform: none;
        line-height: 1.5;
        margin: 0 !important;
        cursor: default;
        padding-top: 15px;
    }

    .userInfoBtn,
    .sidePanelView .userInfoBtn {
        position: absolute;
        top: 15px;
        right: 35px;
        border-radius: 100%;
        width: 30px;
    }

    div#ssf-fitem-template-var-holder {
        width: calc(100% + 10px) !important;
        padding-top: 7px;
        top: 5px;
        padding-right: 3px !important;
        text-align: right;
        position: relative;
        box-sizing: border-box;
        /* left: 10px; */
    }

    .view-chato-view div#ssf-fitem-template-var-holder {
        width: calc(100% + 0px) !important;
        left: 10px;
        padding-bottom: 9px;
        padding-top: 0;
    }


    span#signInUserName {
        white-space: nowrap;
        display: inline-block;
        text-overflow: ellipsis;
        font-weight: 700;
        width: 100%;
        overflow: hidden;
    }

    div#suo-item-ua-profile-nav {
        height: 40px;
        white-space: nowrap;
        display: flex;
        flex-direction: column;
        padding: 10px 20px 10px 52px;
        font-size: 14px !important;
        line-height: 1.5;
    }

    .ssf-added-recip-holder {
        width: calc(100% - 5px);
    }

    .focusCancellerOverlaySupported {
        max-width: 100% !important;
        min-width: 100%;
    }

    div#ssf-recip-list-add-holdr .dropdownOuter {
        max-width: 156px;
    }

    .btn-reset {
        position: relative;
        right: -10px;
        top: 3px;
    }

    .item-list-popup {
        height: calc(100% - 100px);
        top: 50px;
    }

    .pop-win-close {
        position: relative;
        top: -36px;
        right: -15px;
    }

    button.ssf-new-recip-action-btn.primary-action-btn {
        position: relative;
        top: 25px;
    }

    button.ssf-new-recip-action-btn {
        position: relative;
        top: 25px;
    }

    .ssf-new-recip-form.hideOnChatView {
        padding: 20px 10px 40px 10px;
        width: calc(100% - 5px);
    }

    .windowPageTitle {
        padding-top: 45px;
    }

    .error-window-title {
        padding-top: 45px;
        font-size: 20px;
    }

    .windowPageTitle {
        padding-top: 45px !important;
        font-size: 16px;
        font-weight: 500;
    }

    #wi-webhook-url textarea {
        max-width: calc(100% - 10px) !important;
        min-width: calc(100% - 10px) !important;
        cursor: default;
        min-height: max-content !important;
        margin: 0px 0px;
        max-height: max-content !important;
        height: max-content !important;
        text-overflow: ellipsis;
        word-break: break-word;
    }

    textarea#inp-workflow-multiline-msg {
        max-width: calc(100% - 0px) !important;
        min-width: calc(100% - 0px) !important;
    }

    .error-window-detail div {
        left: 0px !important;
        margin-left: 0 !important;
        font-size: 15px !important;
    }

    .ssf-lic-usr-list-tem {
        display: flex;
        width: 100%;
        position: relative;
        justify-content: flex-start;
        min-height: 43px;
        padding: 8px 15px !important;
        box-sizing: border-box;
        padding-top: 10px !important;
    }

    .ssf-lic-usr-list-tem .sslic-actions {
        right: 10px;
        position: absolute;
        padding-top: 1px;
        font-size: 12px;
    }

    div#SAAS_LIC_USERS_CONFIGURE_LIST {
        position: relative;
        top: 15px;
        left: -10px;
        cursor: default;
    }

    .sslic-bulk-actions {
        position: relative;
        top: 5px;
        left: 5px;
    }

    .userInfoBtn:hover {
        box-shadow: 0px 0px 9px;
    }

    button.ua_service_login_btn.ua_primary_action_btn {
        position: relative;
        /* left: 20px; */
        top: 2px;
    }

    .tpaichan-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 18px;
        border-radius: 7px;
    }

    select#in-msg-saas-entity-module-select {
        position: relative;
        left: -5px;
        font-size: 12px !important;
    }

    span.tpaichani-name {
        padding-top: 10px;
    }

    div#incoming-module-config-item {
        line-height: 1.8;
    }

    .view-chato-view .messagePeopleHeader {
        display: flex;
        flex-direction: column;
        border-radius: 7px;
        padding: 0px 5px 0px 15px;
        max-height: 50px;
    }

    .view-chato-view .ssf-def-country-code-holder.hideOnChatView {
        right: 60px;
        top: 10px;
        position: relative;
    }

    .view-conversationo-view .ssf-def-country-code-holder.hideOnChatView {
        right: 80px;
        top: 10px;
        position: relative;
    }

    .view-chato-view .cht-emoji-btn {
        margin-left: 15px;
        margin-top: -30px;
    }

    .view-chato-view .messageActionFooter {
        padding-left: 20px;
        z-index: 1;
        /* left: -20px; */
        padding-right: 20px;
        max-height: 160px;
        height: max-content;
        position: relative;
        overflow: overlay;
        overflow-x: hidden;
    }

    .view-chato-view .messagePeopleHeader .focus-canceller-overlay {
        border-radius: 7px;
    }

    .view-chato-view .messagePeopleHeader .dropdownDisplaySlip {
        border-radius: 3px;
        position: relative;
        min-width: 90px;
        max-width: 100%;
    }

    .view-chato-view .messagePeopleHeader .ssf-fitem {
        width: 100% !important;
        display: inline-flex;
        margin-bottom: 0px;
        padding: 0px;
        position: relative;
    }

    textarea#inp-ssf-main-message {
        min-width: calc(100% + 10px) !important;
        max-width: calc(100% + 10px) !important;
        min-height: 70px !important;
        max-height: 280px !important;
        width: calc(100% + 10px) !important;
        margin: 0 0px;
    }

    .view-chato-view textarea#inp-ssf-main-message {
        min-width: calc(100% + 0px) !important;
        max-width: calc(100% + 0px) !important;
        min-height: 56px !important;
        max-height: 150px !important;
        width: calc(100% + 0px) !important;
        margin: 0 0px;
    }

    .show-on-view-conversationo-view .ssf-fitem-ans {
        display: flex;
        justify-content: flex-start;
        position: relative;
        top: 14px;
    }

    .show-on-view-conversationo-view button.main-search-btn {
        position: relative !important;
        right: 27px !important;
        padding-top: 4px !important;
        height: 29px !important;
        top: -1px !important;
        margin-top: 0px !important;
    }

    .show-on-view-conversationo-view input#ua-msg-conv-search-number {
        padding: 5px 15px 4px 15px !important;
        height: 18px;
    }

    .view-chato-view .messagePeopleHeader .dropdownDisplaySlip .dropdownDisplayText {
        width: 100%;
        padding-right: 10px;
        position: relative;
    }

    .view-chato-view .messagePeopleHeader .dropdownDisplaySlip .dropdownDisplayArrow {
        top: 5px;
    }

    .view-chato-view .messagePeopleHeader .ssf-fitem-ans {
        position: relative;
        width: calc(100% - 65px);
    }

    .view-chato-view .messagePeopleHeader .ssf-fitem-ans .dropdownOuter {
        position: relative;
        max-width: 100% !important;
    }

    .view-chato-view .messagePeopleHeader .focusCancellerOverlaySupported {
        width: 100%;
        min-width: 100%;
    }

    .ddopt-act-item-holder {
        right: 0px;
    }

    .ddopt-act-item {
        right: 0px;
        position: relative;
    }

    .view-conversationo-view div#uaCHATConvListHolder {
        display: none;
        width: 0;
    }

    .view-conversationo-view .messageActionFooter {
        margin-left: 0 !important;
    }

    .view-conversationo-view div#chatbox-message-holder {
        margin-left: 0 !important;
        position: initial;
        padding-bottom: 157px !important;
        padding-top: 15px;
    }

    .view-conversationo-view div#chatbox-message-holder:empty::before {
        left: 0;
        bottom: 170px;
    }

    .siteName {
        width: 85px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    div#nav_viewTypeSwitch {
        position: relative;
        left: -27px;
        top: 3px;
    }

    .stw-attachbutton {
        position: relative;
        font-size: 15px;
    }

    .view-message-form-view .stw-attachbutton {
        padding: 3px 15px 4px 5px !important;
        top: -7px;
    }

    #sms-form-item-item-message .ssf-fitem-ans {
        width: 100%;
        position: relative;
    }

    .view-chato-view div#sms-form-item-item-message {
        position: relative;
    }

    .view-chato-view .ssf-fitem.ssf-win-actions-holder {
        width: 100%;
        right: 0;
        display: flex;
        position: relative;
        justify-content: space-between;
        bottom: -5px;
        height: 30px;
    }

    button#primary-send-btn {
        width: max-content;
        position: relative;
        right: 0px;
        top: 0px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .view-chato-view button#primary-send-btn {
        width: max-content;
        position: absolute;
        right: 22px;
        top: 0px;
    }

    .view-chato-view .stw-attachbutton {
        position: relative !important;
        bottom: 0 !important;
        left: -10px !important;
        top: 12px;
    }

    div#sms-form-item-item-message {
        width: calc(100% - 10px);
        padding: 8px 0px;
    }

    .view-chato-view div#sms-form-item-item-message {
        width: 100%;
        padding: 8px 0px;
    }

    .view-chato-view .stw-attachbutton {
        left: 20px !important;
    }

    .cht-emoji-btn {
        padding: 0px 0px 2px 1px;
        margin-left: 3px;
        margin-top: -31px;
        position: absolute;
    }

    .view-chato-view .cht-emoji-btn {
        position: relative;
    }

    .view-chato-view .messageActionFooter div.stw-attachbutton .material-icons {
        position: relative;
        left: -30px;
        top: -2px;
        font-size: 15px !important;
    }

    .tfmsf-row-item {
        display: flex;
        align-items: flex-start;
        position: relative;
        width: 100%;
    }

    .tfmsf-row-item .tfmsf-col {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        position: relative;
    }

    select.inp-saas-field-mapping-property {
        position: relative;
        z-index: 14;
    }

    .tpaichan-field-mapping-tpa-fields {
        overflow: visible !important;
        width: 150px;
    }

    .tfmsf-col.tpaichan-field-mapping-tpa-fields input {
        width: 100%;
    }

    .tpaichan-field-mapping-saas-fields {
        width: 100px;
    }

    .tpaichan-field-mapping-saas-divider {
        width: 40px;
    }

    .sslic-identity {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        width: 50%;
        position: relative;
        left: 7px;
        font-size: 12px !important;
    }

    .sslic-name {
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 12px;
        overflow: hidden;
        width: 100%;
    }

    .sslic-email {
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 12px;
        overflow: hidden;
        width: 100%;
    }

    .picletter {
        font-size: 13px !important;
        padding-top: 4.5px !important;
        padding-left: 1px !important;
        font-weight: 600;
    }

    .sslic-pic {
        width: 25px;
        height: 25px;
        position: relative;
        top: 2px;
    }

    .sslic-index {
        padding-right: 5px;
        padding-top: 6px;
    }

    #error-window-tpa_twilio_senders .error-window-detail {
        line-height: 1.7;
    }

    .view-message-form-view .stw-attachbutton i {
        font-size: 17px !important;
        position: relative;
        top: 7px;
        left: 3px;
    }

    .ssf-fitem-label {
        font-size: 15px;
    }



    #workflowInstructionDialog .ssf-fitem-ans {
        margin: 10px 5px !important;
    }

    #workflowInstructionDialog .ssf-fitem.hideoncalculatedwiparams div {
        margin: 10px 0px !important;
    }

    #workflowInstructionDialog .ssf-fitem-ans .wiparams-pre-code {
        margin: 5px 0;
    }

    pre#wiparams-body-code-whatsapp {
        top: 6px;
        margin: 0;
        position: relative;
    }

    .wiparams-body-code-ttl {
        margin-top: 10px;
    }

    .suo-item-ac-labels {
        font-size: 15px !important;
        padding-right: 20px;
    }

    .suo-item-ac-labels .ac_name_id {
        font-size: 12px;
    }

    span#signInUserEmail {
        white-space: nowrap;
        display: inline-block;
        text-overflow: ellipsis;
        width: 100%;
        overflow: hidden;
        font-weight: 400;
        font-size: 12px;
        color: gray;
    }

    div#suo-item-ua-profile-nav .material-icons {
        position: absolute;
        left: 20px;
        top: 31px;
    }

    .help_apikey_tip a {
        font-size: 10px !important;
        position: relative;
        top: -3px;
    }

    #sms-form-item-item-message .ssf-fitem-label {
        position: relative;
        left: 10px;
    }

    .error-window-close {
        padding: 3px 10px;
        font-size: 13px;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 10px;
        height: max-content;
        position: fixed;
    }

    .error-window-close i {
        font-size: 14px;
    }

    button.win-ttl-close {
        font-size: 14px;
        padding-top: 6px;
    }

    input#inp-ssf-new-sender-name {
        margin-left: 7px;
    }

    button.ssf-action-btn.primary-form-btn {
        padding: 3px 10px 3px;
        min-height: 25px;
    }

    div#ssf-recip-phonetype-holder {
        padding: 10px 0px;
    }

    .ssf-recip-add-holdr.hideOnChatView {
        padding: 2px 10px 3.5px;
        font-size: 12px;
    }

    .view-chato-view #chatbox-message-holder {
        position: relative;
        width: calc(100% - 25px);
        overflow-x: hidden;
        bottom: 0px !important;
        height: calc(100% - 236px) !important;
    }

    .view-chato-view .chatmessage-item:last-of-type {
        margin-bottom: 0px;
    }

    .view-chato-view .chatmessage-item:first-of-type {
        margin-top: 0px;
    }

    .view-chato-view .msgmedia-holdr:not(:empty) {
        height: max-content;
    }

    .view-chato-view .messagePeopleHeaderOuter {
        position: relative;
        height: 77px;
        z-index: 20;
        max-height: 50px;
    }

    .view-chato-view #singleSMSFormHolder {
        position: relative;
        width: 100%;
        height: calc(100% - 10px);
    }

    div#contact-search-items {
        height: calc(100% - 115px);
        position: relative;
    }

    .item-search-box {
        height: 50px;
        position: relative;
    }

    .ssf-recip-item-label {
        width: 100%;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    #workflowInstructionDialog input#ua-inp-escaped-multiline-msg {
        margin: 0 !important;
    }

    #workflowInstructionDialog .ssf-switchformtip.hideoncalculatedwiparams ul {
        margin: 7px 0 !important;
    }

    .view-chato-view .hideOnChatView {
        display: none !important;
    }

    .view-chato-view .pageContentHolder {
        overflow: hidden;
    }

    .view-chato-view .messagePeopleHeader .ssf-fitem .ssf-fitem-label {
        width: 75px !important;
        margin-right: 0;
        position: relative;
    }

    .view-chato-view .messagePeopleHeader .ssf-fitem .ssf-fitem-ans {
        width: calc(100% - 75px) !important;
        position: relative;
    }

    .view-chato-view #DD_HOLDER_RECIPIENT_LIST {
        width: calc(100% + 0px) !important;
        position: relative;
    }

    div#saasAuthIDCredit {
        right: 100px;
    }

    div#nav_viewTypeSwitch .dropdownOuter {
        width: 84px;
    }

    #nav_viewTypeSwitch .dropdownDisplaySlip {
        padding: 3px 10px 3px 10px;
        border-radius: 15px;
    }

    div#ssf-manual-workflow-btn-holder {
        margin-top: 40px !important;
    }

    .view-message-form-view #singleSMSFormHolder {
        padding-bottom: 5px;
    }

    #nav_viewTypeSwitch .ddi-item:last-of-type {
        display: none;
    }

    .view-chato-view .DD_HOLDER_SENDER_LIST_inner img {
        width: 15px !important;
        height: 15px !important;
    }

    .view-chato-view .DD_HOLDER_SENDER_LIST_inner div {
        width: 15px !important;
        height: 15px !important;
    }

    .view-chato-view .messagePeopleHeaderOuter_WA #connectedWhatsAppDiv {
        font-size: 10px;
        top: -1px;
        position: relative;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        width: calc(100% - 40px) !important;
    }

    .view-chato-view .messagePeopleHeaderOuter_WA .DD_HOLDER_SENDER_LIST_inner {
        left: -15px;
        position: relative;
        top: -1px;
    }

    .view-chato-view .messagePeopleHeaderOuter_WA .ssf-fitem-label {
        display: none;
    }

    .view-chato-view .messagePeopleHeaderOuter_WA .messagePeopleHeader {
        height: 45px;
    }

    .view-chato-view .DD_HOLDER_RECIPIENT_LIST_WA .dropdownOuter {
        position: relative !important;
        top: 12px;
        left: -70px
    }

    .view-chato-view .DD_HOLDER_RECIPIENT_LIST_WA div {
        font-size: 10px !important;
    }

    .windowPageInner {
        margin: 20% 10%;
    }

    .ssf-tip {
        line-height: 1.5;
        padding: 8px 15px !important;
    }

    #UA_LIC_CRM_PHONE_CONFIG_MODAL .windowPageTitle {
        padding-top: 20px !important;
    }

    #peanea-copy-fields-list-dropdown-holder {
        position: static !important;
        justify-content: center;
    }

    .penea-invitee-search {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 2px;
    }

    .not_important {
        display: none;
    }

    #DD_HOLDER_SENDER_LIST .focusCancellerOverlaySupported {
        width: unset !important;
        max-width: 85vw !important;
    }

}







.settingPageView .signedUserOptionsInr .ua_settings_outer {
    text-align: left;
    /* background-color: #65478512; */
    width: calc(100% + 0px);
    position: relative;
    /* left: -10px; */
}

.settingPageView .signedUserOptionsInr .ua_settings_outer .ua_settings_subTitle {
    box-sizing: border-box;
    width: calc(100% - 30px);
    position: relative;
    left: 15px;
    padding: 15px 17px 8px 1px;
    font-weight: 500;
    border: 0;
    border-bottom: 1px #8e8e8e1f;
    border-style: double;
    /* border-radius: 0%5px; */
    /* border-top-left-radius: 0; */
    /* border-top-right-radius: 0; */
    overflow: hidden;
    background-color: white;
}

.settingPageView .signedUserOptionsInr .ua_settings_outer .ua_settings_subBody {
    box-sizing: border-box;
    width: calc(100% + 0px);
    position: relative;
    box-sizing: border-box;
    padding-top: 10px;
    padding-left: 10px;
}


.settingPageView .signedUserOptionsInr .ua_settings_outer .ua_settings_divisions {
    border-radius: 5px;
    overflow: hidden;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    /* background-color: #6547851f; */
}

.settingPageView .ac_DetailMain_id {
    display: flex !important;
    height: 100%;
    padding-top: 8px;
    width: calc(100% + 0px) !important;
}

.settingPageView .ac_subName_id {
    position: relative;
    top: 0px;
    text-align: left !important;
    padding-left: 0;
    width: calc(100% - 10px) !important;
    padding-right: 0px;
    box-sizing: border-box;
}

.settingPageView .ac_subDetail_id {
    position: relative;
    display: flex !important;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    white-space: unset !important;
    top: 0;
    width: calc(100% - 50px) !important;
    justify-content: flex-start;
    padding-left: 3px;
    padding-top: 0px;
}

.settingPageView .ac_subName_logo {
    font-size: 35px;
    position: relative !important;
    height: 40px;
    top: 0px !important;
    left: 0 !important;
    width: 50px !important;
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.settingPageView .ac_subName_id span,
.settingPageView .ac_subName_id div,
.settingPageView .ac_name_id div,
.settingPageView .ac_name_id span {
    text-align: left !important;
    padding-left: 0px;
    width: max-content !important;
    display: contents !important;
    white-space: unset !important;
    top: 0 !important;
    overflow: unset !important;
}

.settingPageView .suo-item span.material-icons {
    width: 40px !important;
    top: unset !important;
    height: 40px !important;
    left: unset !important;
    display: flex;
    justify-content: center;
    font-size: 35px;
    align-items: center;
}

.settingPageView #suo-item-support-help a {
    display: inline-block;
    font-size: 9.7px;
    padding: 1px 7px 0px 7px;
    border-radius: 20px;
}

.settingPageView .suo-item .ac_name_id {
    position: relative;
    top: 0px;
    bottom: unset;
    left: 0;
    text-align: left;
    padding-left: 0px;
    width: calc(100% - 0px);
    padding-right: 0px !important;

}

.settingPageView .signedUserOptionsInr .suo-item {
    height: 40px !important;
    width: calc(50% - 60px) !important;
    height: max-content !important;
    padding-bottom: 0px !important;
    padding-top: 0px !important;
}

.settingPageView div#suo-item-ua-profile-nav span {
    display: inline !important;
}

.settingPageView div#suo-item-ua-profile-nav {
    width: 100% !important;
    padding-left: 10px !important;
    box-sizing: border-box;
    height: 40px !important;
}

.settingPageView div#suo-item-ua-profile-nav .material-icons {
    top: -1px !important;
}

.settingPageView .titleSettingPageView {
    padding-left: 37px;
    padding-top: 33px;
}

@media only screen and (max-width: 500px) {
    .settingPageView .signedUserOptionsInr .suo-item {
        width: calc(100% - 60px) !important;
    }
}

.settingPageView .signedUserOptionsInr .settingPageHoverMainDiv {
    transition: 0.3s;
    vertical-align: top;
    overflow: unset !important;
    z-index: 10;
    height: max-content !important;
}

.settingPageView .signedUserOptionsInr .ac_DetailMain_idHover {
    border-radius: 5px;
    height: max-content !important;
    background-color: #f0f8ff;
    padding-top: 13px;
    position: relative;
    top: 0px;
    left: -13px;
    padding-left: 13px;
    padding-right: 35px;
    box-shadow: 0px 2px 3px rgb(212 223 232 / 95%);
}



.settingPageView .signedUserOptionsInr .ac_subName_idHover {
    white-space: initial !important;
    word-break: break-word;
}

.settingPageView .signedUserOptionsInr .ac_name_idHover {
    white-space: initial !important;
    padding-bottom: 12px;
    word-break: break-word;
}

.settingPageView .signedUserOptionsInr .ua_settings_footer {
    width: 100%;
}

.settingPageView .signedUserOptionsInr .uaSetting_footerOuter {
    width: calc(100% - 50px);
    display: inline-block !important;
}

.settingPageView .signedUserOptionsInr .uaSetting_Subfooter {
    width: 30%;
    display: inline-block;
}

.settingPageView a#signedProfileUserLink_subs .suo-item {
    width: 100% !important;
    box-sizing: border-box;
    padding-bottom: 30px !important;
}

.settingPageView a#signedProfileUserLink .suo-item {
    width: 100% !important;
    box-sizing: border-box;
    padding-bottom: 30px !important;
}

.settingPageView div#signoutBtn {
    width: 100% !important;
    box-sizing: border-box;
    padding-bottom: 30px !important;
}

.settingPageView .signedUserOptionsInr .uaSetting_Subfooter .uaSettingFootSubTitle {
    padding-top: 5px;
    padding-bottom: 5px;
}

@media only screen and (max-width: 350px) {
    .settingPageView .signedUserOptionsInr .uaSetting_Subfooter {
        width: 100%;
        display: inline-block;
    }
}

.settingPageView a#signedProfileUserLink .suo-item span.material-icons,
.settingPageView #signoutBtn span.material-icons,
.settingPageView #signedProfileUserLink_subs span.material-icons {
    width: calc(100% - 40px) !important;
    top: 20px !important;
}

.settingPageView #signoutBtn span.material-icons {
    width: 100% !important;
}