.roundedCorner.dropdownDisplaySlip{
  border-radius: 100px;
  display: flex;
  justify-content: space-between;
  padding: 5px 15px 5px 15px;
}
#ssf-fitem-template-var-holder .focusCancellerOverlaySupported {
    width: 100%;
    min-width: 100%;
}
.pageContentHolder, .pageEventAppNewAppointmentHolder{
  padding-top: 15px;
}
.ssf-fitem{
  padding: 8px 12px;
  margin-bottom: 15px;
}
.ssf-fitem-ans{
  margin-top: 5px;
}
.ssf-fitem-label{
  font-size: 16px;
  color: #02425c;
  margin-left: 5px;
  font-size: 20px;
}

.dropdownInner{
  display: none;
  text-align: left;
}

.ssf-new-recip-excel-form .add_button_holder{
  display:none;
}
.ssf-new-recip-excel-form, .ssf-recip-add-holdr.excel{
  display: none;
}

.dropdownDisplaySlip{
  background-color: whitesmoke;
  padding: 5px 25px 5px 15px;
  font-size: 14px;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
  color: rgb(50, 50, 50);
  border-radius: 2px;
  display: inline-block;
}
.dropdownDisplaySlip:hover{
  cursor: pointer;
  color: black;
  box-shadow: 0px 2px 10px rgba(0,0,0,0.4);
}
.dropdownDisplaySlip:hover .dropdownDisplayArrow{
  border-top-color: royalblue;
}
.dropdownDisplayArrow{
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 7px solid #2f2f2f;
  font-size: 0;
  line-height: 0;
  margin-top: -7px;
  margin-left: 10px;
}

.dropdownDisplaySlip>div{
  display: inline-block;
}

#inp-ssf-main-message, #inp-ssf-main-template-message{
  box-sizing: border-box;
  padding:10px 15px;
  margin:0px -12px;
  width: calc(100% + 24px);
  border: none;
  box-shadow: 0px 0px 7px rgba(0,0,0,0.3) inset;
  min-height: 150px;
  font-size: 14px;
  font-family: "Roboto";
  outline: none;
  line-height: 1.5;
}
#inp-ssf-main-template-message{
     width: calc(100%);
     margin:0px;
}
#addNewTemplateMessageWindow #ssf-fitem-new-template-var-holder{
    text-align: center;
}
.ssf-action-btn{
  padding: 5px 15px 6px;
  border: none;
  border-radius: 100px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
}
.view-message-form-view .ssf-action-btn {
  padding: 7px 15px 8px;
}
.ssf-action-btn:hover{
  cursor: pointer;
  background-color: navy;
  color: white;
}
.ssf-action-btn.primary-form-btn{
  background-color: royalblue;
  color: white;
}
.ssf-action-btn.primary-form-btn:hover{
  background-color: navy;
}
/* .view-message-form-view .ssf-action-btn.primary-form-btn{
  background-color: #0687be;
} */
.dropdownOuter{
  position: relative;
  width: max-content;
  max-width: 156px;
  margin-left: 10px;
}
.add_button_holder {
  padding: 10px;
}
span#ssf-rec-def-countrycode-criteria {
  border: 1px solid lightgray;
  padding: 2px;
  border-radius: 3px;
  box-shadow: 0px 0px 1px lightgrey;
}
input.dd-item-other-input {
    position: absolute;
    left: calc(100% + 5px);
    top: -0%;
}
div#DD_HOLDER_MsgType_LIST {
    position: relative;
    top: 14px;
}

#DD_HOLDER_MsgType_LIST .ssf-fitem-label {
    position: relative;
    top: -5px;
}
.dropdownInner{
  position: absolute;
  left: 0px;
  background-color: white;
  min-width: 200px;
  box-shadow: 2px 5px 22px rgba(0,0,0,0.3);
  padding:5px 0px;
  border-radius: 3px;
  max-height: 50vh;
  overflow-y: auto;
  /*! border-bottom: 5px solid silver; */
  /* bottom: 0px; */
}
.ddi-item{
  padding: 7px 12px;
  font-size: 13px;
  text-align: left;
  width: 100%;
  box-sizing: border-box;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  position: relative;
}
.ddi-item:hover{
  cursor: pointer;
  background-color: whitesmoke;
}
#ssf-fitem-template-var-holder, #ssf-fitem-new-template-var-holder{
  /*float: right;*/
  margin-bottom: 0px;
  margin-right: 30px;
  padding-right: 2px;
}
#ssf-fitem-template-var-holder>.dropdownOuter, #ssf-fitem-new-template-var-holder>.dropdownOuter{
  display: inline-block;
  max-width: 200px;
  margin-bottom: 2px;
}
#ssf-fitem-template-var-holder .dropdownDisplaySlip, #ssf-fitem-new-template-var-holder .dropdownDisplaySlip{
  border-radius: 100px;
  padding-right: 10px;
  margin-left: 5px;
}
.ssf-recip-holder{
  
  display: block;
  padding:2px 15px;
  min-height: 20px;
  margin:0px -12px;
  width: calc(100% + 12px);
  box-sizing: border-box;
}
.ssf-added-recip-holder:empty:before{
  content: "No recipients selected";
  display: block;
  color: black;
  text-align: center;
  color: silver;
  padding: 10px;
  box-sizing: border-box;
}
.ssf-recip-add-holdr{
  float: right;
  font-size: 13px;
  background-color: white;
  border-color: green;
  color: green;
  padding: 4px 12px;
  border: 1px solid green;
  border-radius: 100px;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
}
.ssf-recip-add-holdr:hover{
    cursor: pointer;
    background-color: green;
    color: white;
    border-color: green;
}
.ssf-new-recip-form{
  text-align: center;
  padding: 10px;
  padding-bottom: 10px;
  display: none;
  background-color: whitesmoke;
}
.column_chooser{
  padding: 7px;
}

.column_chooser>div {
  display: inline-block;
}
.column_chooser_holder{
  display:none;
}
#inp-new-recip{
  padding: 5px 20px;
  border: none;
  border-bottom: 2px solid green;
  min-width: 40vw;
  margin-right: 10px;
  background-color: rgba(0,250,0,0.01);
}
.ssf-new-recip-label{
  margin-bottom: 5px;
  color: green;
  border-top: 1px solid rgba(0,0,0,0.1);
  padding-top: 10px;
}
.ssf-new-recip-action-btn{
  padding: 5px 15px 7px;
  border-radius: 100px;
  border: none;
}
.ssf-new-recip-action-btn:hover{
  background-color: grey;
}
.ssf-new-recip-action-btn.primary-action-btn{
  background-color: darkgreen;
  color: white;
}
.ssf-new-recip-action-btn.primary-action-btn:hover{
  background-color: green;
}
.focus-canceller-overlay{
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  background-color: rgba(0,0,0,0.2);
  z-index: 1;
}
.focusCancellerOverlaySupported{
  z-index: 3;
  width: 200px;
  min-width: 200px;
  overflow-x: hidden;
}

.focusCancellerOverlaySupported::-webkit-scrollbar {
    width: 2px;
}

.focusCancellerOverlaySupported::-webkit-scrollbar-thumb {
    background: #2d7dcb;
    border-radius: 8.2px;
}

.focusCancellerOverlaySupported::-webkit-scrollbar-track {
    background-color: transparent;
}

.focusCancellerOverlaySupported::-webkit-scrollbar:horizontal {
    height: 0px;
    display: none;
}
.dd-item-other-input{
  border: 1px solid rgba(0,0,0,0.2);
  padding: 5px 15px 6px;
  border-radius: 100px;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.1) inset;
  display: none;
}
.ssf-recip-item{
  display: inline-block;
  background-color: white;
  color: green;
  border: 1px solid green;
  padding: 4px 12px;
  font-size: 13px;
  border-radius: 100px;
  padding-right: 30px;
  position: relative;
  margin: 5px 2px;
}
.ssf-recip-item>div{
  display: inline-block;
}
.ssf-recip-item-remove{
  background-color: crimson;
  color: white;
  position: absolute;
  right: 1px;
  border-radius: 100px;
  top: 1px;
  bottom: 1px;
  padding: 8px;
  padding-top: 2px;
}
.ssf-recip-item-remove:hover{
  background-color: red;
  cursor: pointer;
}

.ssf-added-recip-holder{
  max-height: 120px;
  overflow-y: auto;
  padding:5px 10px;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.1) inset;
  background-color: whitesmoke;
}
#recip-count-holder{
  display: inline-block;
  font-size: 12px;
  color: green;
  padding: 2px 5px;
  border-radius: 100px;
  margin-left: 2px;
}
#ssf-new-recip-countrycode{
    display: inline-block;
}
.inpDropdownFilter{
    padding: 4px 10px;
    border-radius: 100px;
    border: 1px solid silver;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.1) inset;
    box-sizing: content-box;
    margin: 4px 5px 5px 6px;
    width: calc(100% - 34px);
}
#ssf-fitem-template-var-holder, #ssf-fitem-new-template-var-holder{
  display: block;
  width: calc(100% + 15px);
  text-align: center;
  background-color: rgba(0,0,0,0.02);
  margin-top: 10px;
  padding: 5px;
  margin:0px -10px;
  margin-bottom: 5px;
  margin-top: 0px;
  padding-right: 2px;
}
#ssf-fitem-template-var-holder .dropdownDisplaySlip, #ssf-fitem-new-template-var-holder .dropdownDisplaySlip{
  font-size: 11px;
  padding: 4px 10px;
  background-color: white;
  display: flex;
  width: 130px;
  justify-content: space-between;
}
#ssf-fitem-template-var-holder .dropdownDisplayArrow, #ssf-fitem-new-template-var-holder .dropdownDisplayArrow{
  border-top-width: 5px;
  margin: 0;
  position: relative;
  top: 5px;
}
.dropdownDisplayText {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-right: 15px;
    color: #02425c;
}
.roundedCorner .dropdownDisplayArrow {
    margin: 0;
    position: relative;
    top: 7px;
}
.ua_primary_action_btn{
    background-color: royalblue;
    color: white;
    border: 1px solid;
    padding: 6px 13px;
    border-radius: 3px;
}
.ua_primary_action_btn:hover{
    cursor: pointer;
    background-color: navy;
}
#saasAuthIDName, #saasAuthIDCredit{
    display: inline-block;
    position: absolute;
    right: 105px;
    top: 19px;
    font-size: 12px;
    color: silver;
}
#saasAuthIDName:hover, #saasAuthIDCredit:hover{
    cursor: pointer;
    color: royalblue;
}
.windowPageOuter{
  position: fixed;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  background-color: rgba(0,0,0,0.5);
  z-index: 5;
  overflow-y: auto;
}
.windowPageInner{
  position: relative;
  background-color: white;
  margin: 5% 10%;
  border-radius: 3px;
  padding-bottom: 25px;
  box-shadow: 0px 0px 30px rgba(0,0,0,0.5);
}
.windowPageTitle{
  font-size: 23px;
  padding: 20px 10px 15px 15px;
  color: royalblue;
}
.win-ttl-close {
    position: absolute;
    right: 0px;
    top: 0px;
    color: white;
    background-color: crimson;
    /* border-radius: 100px; */
    border: none;
    font-size: 16px;
    text-align: center;
    /* width: 28px; */
    padding: 4px 10px 6px 10px;
}
.win-ttl-close:hover{
  background-color: red;
}
.windowPageContent .ssf-fitem-ans input{
  padding: 5px;
  border: 1px solid black;
  border-width: 0px 0px 2px 0px;
  box-sizing: border-box;
  width: calc(100% - 20px);
  margin: 0px -10px 0px 10px;
}
#addNewTemplateMessageWindow .ssf-fitem-label{
  padding-left: 7px;
}
#inp-ssf-template-title:focus{
  border-color: royalblue;
}
.ssf-fitem:not(.messageInputHolder){
  padding-left: 10px;
  padding-right: 10px;
}
.ssf-win-actions-holder{
  padding-left: 15px !important;
}
.ddi-item.isActionBtn{
    color: royalblue;
    /*border: 1px solid royalblue;*/
    margin: 0px 5px 0px 5px;
    border-radius: 100px;
    font-size: 12px;
    text-align: right;
    text-align: center;
    width: calc(100% - 10px);
    box-sizing: border-box;
}
.ddi-item.isActionBtn:hover{
    cursor: pointer;
/*    background-color: royalblue;
    color: white;*/
    font-weight: bold;
}
.suo-item-ac-labels .ac_name_id{
    font-size: 12px;
    text-align: right;
    display: block;
    color: grey;
}

#ac_name_label_saas.suo-item, #ac_name_label_tpa.suo-item{
    /* color: green; */
}

#ssf-recip-phonetype-holder{
/*   background-color: whitesmoke; */
  padding: 2px 10px;
  margin: 0px 2px;
}
.ssfrpt-item{
  display: inline-block;
  font-size: 12px;
  background-color: white;
  margin-left: 5px;
  border:1px solid silver;
  padding: 1px 8px;
  border-radius: 20px;
  color: rgb(100,100,100);
  cursor: pointer;
}
.ssfrpt-item.selected:hover, .ssfrpt-item.selected{
  cursor: pointer;
  background-color: green;
  color: white;
  border-color: green;
}
.ssf-recip-item.unselected{
    display: none;
}
.ssf-recip-item-label i{
    font-style: normal;
    font-size: 11px;
    color: #a6a3a3;
}
.success-window-outer .error-window-title {
    color: green;
}
.sidePanelView .nvts_item{
    display: none;
}
.sidePanelView .userInfoBtn{
  position: fixed;
  right:5px;
  top:11px;
}
.sidePanelView #saasAuthIDName{
  right:50px;
  top:16px;
  font-size:14px;
}
.sidePanelView #ssf-fitem-template-var-holder{
  text-align:center;
  padding:10px 0px;
  box-sizing:border-box;
  width: unset;
  margin: 0px;
}
.sidePanelView .dropdownOuter{
/*   display:block !important; */
  margin:0px;
  margin-bottom: 2px;
}
.sidePanelView .dropdownDisplaySlip{
  margin:1px 0px;
}

.sidePanelView .ssf-fitem-label{
  font-size:17px;
}
.sidePanelView .ssf-fitem{
  margin-bottom:10px;
}
.sidePanelView .ssf-fitem:last-of-type{
  margin-top:-10px;
}
.ssf-recip-add-holdr{
    font-weight: normal;
    margin: 0px 5px;
}
.ssf-input-holder {
  padding: 10px;
}

.column_chooser_holder {
  padding: 0px 10px;
}

.sidePanelView .error-window-close{
  position:fixed;
  bottom:10%;
  top:10px;
  height: max-content;
}
.sidePanelView .ssf-recip-item-remove{
    background-color: transparent;
    color: crimson;
}
.sidePanelView .suo-item{
  font-size:14px;
}
.sidePanelView .ssf-new-recip-form{
    padding:10px 0px;
}
.sidePanelView #ssf-recip-phonetype-holder{
    margin-top: 5px;
}
.sidePanelView #inp-new-recip{
    width: 97%;
    padding: 5px 0px 5px 7px;
    margin-bottom: 5px;
    margin-top: 5px;
}
.sidePanelView #ssf-new-recip-countrycode  .dropdownDisplaySlip{
    width: 97%;
    padding: 5px 0px 5px 7px;
}
.sidePanelView .ssf-temp-placehold-item-input{
    width: 55vw;
    font-size: 11px;
    padding: 5px;
}
.sidePanelView #ssf-fitem-template-placeholder-holder{
    margin-top: 20px;
    padding: 5px;
}
.sidePanelView .ssf-fitem-label{
    font-weight: bold;
}
.ssf-tip{
    padding: 0px 15px;
    margin: -5px 0px 12px;
    color: grey;
    font-size: 14px;
}
#wiparams-holder i{
    font-size: 12px;
    color: grey;
}
#wi-webhook-url{
    width: 100%;
}
#wi-webhook-url textArea{
    width: calc(100% - 20px);
    box-sizing: border-box;
    padding: 10px;
    font-family: inherit;
    border: 1.5px dotted silver;
    background-color: aliceblue;
    margin-bottom: -10px;
    margin: 0px 10px;
    height: 40px;
}
#workflowInstructionDialog .windowPageTitle{
    padding: 20px 10px 15px 25px;
}
.dd-item-other-save{
    display: none;
    color: darkcyan;
    font-size: 14px;
    margin-left: 7px;
    cursor: pointer;
}
.dd-item-other-save:hover{
    cursor: pointer;
    color:royalblue;
}
.ssf-temp-placehold-item{
  margin:5px;
}
.ssf-temp-placehold-item>span{
  vertical-align: middle;
}
.ssf-temp-placehold-item-label{
  display: inline-block;
  background-color: royalblue;
  color:white;
  padding:5px 7px;
  font-size:14px;
}
.ssf-temp-placehold-item-input{
  padding:5px 10px;
  border:1px solid silver;
  border-radius:3px;
  width:30vw;
}
.ssf-temp-placehold-item-icon{
   color:royalblue;
}
#ssf-fitem-template-placeholder-holder{
  padding:5px 25px 3px;
  display: none;
}
.msgRespItem{
                border-bottom: 1px dotted rgba(0,0,0,0.1);
                padding: 5px;
            }
            .msgRespItem>div{
                display: inline-block;
                font-size: 14px;
            }
            .mri-status{
                font-size: 12px !important;
                cursor: pointer;
                margin-left: 5px;
                color: grey;
            }
            #totMsgDisp{
                margin-bottom: 10px;
                font-size: 14px;
                color: darkorange;
            }
            .pa-content{
                padding: 5px 10px;
                max-height: 275px;
                overflow-y: auto;
            }
            .stw-attachbutton:hover{
                cursor: pointer;
                color:cyan;
            }
            .loadingdiv{
                width: 100%;
            }
            .hideThisInSpecific{
                display: none;
            }
            pre {outline: 1px solid #ccc; padding: 5px; margin: 5px; }
.string { color: green; }
.number { color: darkorange; }
.boolean { color: blue; }
.null { color: magenta; }
.key { color: royalblue; }
span._fill_here {
    color: crimson;
    background-color: aliceblue;
    padding: 0px 3px;
}
.wiparams-body-code-ttl{
    background-color: royalblue;
    color: white;
    margin-bottom: -5px;
    padding: 7px 10px 9px;
    margin-top: 20px;
}
.wiparams-pre-code{
    box-shadow: 0px 2px 10px rgb(0 0 0 / 30%);
    line-height: 1.5;
    border: 1px dotted royalblue;
    border-top: none;
    margin-bottom: 10px;
    overflow-x: auto;
}
.help_apikey_tip a {
    padding: 3px 10px;
    font-size: 11px;
    background-color: darkcyan;
    display: inline-block;
    color: white;
    border-radius: 50px;
    margin-bottom: 5px;
    box-shadow: 0px 1px 5px rgb(0 0 0 / 30%);
}
.help_apikey_tip a :hover{
    cursor: pointer;
    background-color: cyan;
}

.countdown {
  position: relative;
  margin: auto;
  margin-top: 100px;
  height: 40px;
  width: 40px;
  text-align: center;
}

.countdown-number {
  color: white;
  display: inline-block;
  line-height: 40px;
}

.countdown svg {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  transform: rotateY(-180deg) rotateZ(-90deg);
}

.countdown svg circle {
  stroke-dasharray: 113px;
  stroke-dashoffset: 0px;
  stroke-linecap: round;
  stroke-width: 2px;
  stroke: white;
  fill: none;
  animation: countdown10s 10s linear infinite forwards;
}

@keyframes countdown10s {
  from {
    stroke-dashoffset: 0px;
  }
  to {
    stroke-dashoffset: 113px;
  }
}
#showExpandModalBtn{
    background-color: transparent;
    border: none;
    color: gray;
    width: 100%;
    margin-top: 10px;
    font-size: 12px;
}
#showExpandModalBtn:hover{
    cursor: pointer;
    color: royalblue;
}
#showExpandModalBtn:hover .material-icons{
    transform: scale(1.2);
}
#showExpandModalBtn .material-icons{
    vertical-align: middle;
    margin-top: -3px;
    margin-right: 5px;
}
.topModalExpandBtn{
    color: grey;
}
.topModalExpandBtn:hover{
    cursor: pointer;
    color: royalblue;
    transform: scale(1.2);
}
#ssf-fitem-template-var-holder .dropdownDisplayText{
    text-transform: capitalize;
}
div#ssf-recip-list-add-holdr:hover {
  color: black;
}
.windowPageInner .ssf-fitem{

    margin-bottom:5px;
    
}
.ssf-fitem-label{
    font-size: 20px;
    font-weight: bold;
}
.view-chat-view .ssf-fitem-label{
    font-size: 13px;
}
.ddopt-act-item {
    display: inline-block;
    right: 5px;
    /* top: 0px; */
    /* bottom: 0px; */
    padding: 2px 4px;
    /* display: none; */
    padding-top: 7px;
    color: white;
}
.ddopt-act-item:hover{
    cursor: pointer;
    background-color: crimson;
    color: white;
}
.ddopt-act-item .delete_forever{
    color: crimson;
}
.ddi-item:hover .ddopt-act-item-holder{
    display: block;
}
.ddopt-act-item-holder{
    position: absolute;
    right: 6px;
    top: 0px;
    bottom: 0px;
    background-color: black;
    display: none;
}
.ddopt-act-item .material-icons {
    font-size: 16px;
}
.material-icons.dditem-pin-def {
    font-size: 15px;
    float: right;
    color: royalblue;
    position: absolute;
    right: 0px;
    background-color: white;
    padding: 0px 5px;
}
.showOnChatView{
    display: none;
}
.view-chat-view .showOnChatView{
    display: block;
}
.view-chat-view .hideOnChatView{
    display: none;
}
.view-message-form-view .hideOnFormView{
    display: none;
}
.view-chat-view .messagePeopleHeader{
    display: flex;
    background-color: rgba(256,256,256,0.5);
    /* position:fixed; */
    /* left:0px; */
    /* right:0px; */
    /* z-index:1; */
    border-radius: 100px;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
    padding-left:10px;
    /*transform: scale(0.9);*/
    backdrop-filter: blur(25px);
}
.view-chat-view .messagePeopleHeader .ssf-fitem{
    width:100%;
    display: inline-flex;
    margin-bottom:0px;
    padding: 5px;
}
.view-chat-view .messagePeopleHeader .ssf-fitem .ssf-fitem-label{
    padding:8.5px 0px;
    margin-right:10px;
}
.view-chat-view .messagePeopleHeader .ssf-fitem:first-of-type{
    width: 50%;
}
.view-chat-view .messagePeopleHeader .ssf-fitem div{
  vertical-align: middle;
}

#DD_HOLDER_RECIPIENT_LIST{
  margin-top: 0px;
}
.view-chat-view .dropdownOuter{
  max-width: unset;
}
.view-chat-view .messageActionFooter{
  position: fixed;
  left: 0px;
  right: 0px;
  padding-left:50px;
  padding-bottom:5px;
  bottom:0px;
  padding-right:20px;
  background-color: whitesmoke;
/*   box-shadow: 0px -2px 5px rgba(0,0,0,0.1); */
}
.view-chat-view .ssf-win-actions-holder{
  position:absolute;
  right: 25px;
  bottom:8.5px;
  padding:0px 5px;
}
.view-chat-view .primary-send-btn{
  
}
.view-chat-view .messageInputHolder{
  padding:0px;
  margin:0px;
}
.view-chat-view #inp-ssf-main-message{
  padding: 7px 20px;
  margin:0px;
  width:100%;
  box-sizing: border-box;
  border-radius: 20px;
  max-height: 50vh;
  min-height: 55px;
}
.view-chat-view .messageActionFooter .ssf-fitem-label{
  display:none;
}
.view-chat-view .messageActionFooter div.stw-attachbutton{
  border: none !important;
  display: inline-block !important;
  padding: 0px !important;
  margin: 0px !important;
  background-color: transparent !important;
  position: fixed;
  left: 11px;
  bottom:20px;
  
}
.view-chat-view .messageActionFooter div.stw-attachbutton .material-icons{
  background-color: white !important;
  font-size: 20px !important;
  box-shadow: 0px 3px 5px rgba(0,0,0,0.4);
  color: grey !important;
  border: 1px solid;
  transform: rotate(30deg);
}
.view-chat-view .messageActionFooter div.stw-attachbutton .material-icons:hover{
  cursor: pointer;
  background-color: black !important;
  box-shadow: 0px 3px 10px rgba(0,0,0,0.6);
  color: white !important;
  border-color:black;
}
.view-chat-view .messageActionFooter #attachedfile{
  display: none;
  
}
.view-chat-view .messageActionFooter .dropdownInner{
  bottom: 0px;
}
.view-chat-view #ssf-fitem-template-var-holder{
  background-color: transparent;
  text-align:
  center;
  padding-bottom:3px;
  padding-top: 4px;
}
#nav_viewTypeSwitch{
  display: none;
  margin-left: -30px;
}
.nvts_item{
  display: inline-block;
  font-size: 12px;
  padding:0px 5px;
  color: grey;
}
.nvts_item:not(:last-of-type){
  border-right: 1px solid 
}
.nvts_item:hover{
  cursor: pointer;
  color: orange;
}
.nvts_item.selected{
  color: darkorange;
  font-weight: bold;
  border-color: silver;
}

.chatbox-outer,.chatbox-initiator{
    width: 525px;
        display: inline-block;
        border: 10px solid whitesmoke;
        padding: 10px 0px 5px;
        position: relative;
}
.chatbox-outer,.chatbox-initiator{
    width: 525px;
        display: inline-block;
        border: 10px solid whitesmoke;
        padding: 10px 0px 5px;
        position: relative;
}
.chatbox-inner{
    overflow:   hidden;
    position:   relative;
    width:      100%;
    height:     350px;
      z-index: 1;
      box-sizing: border-box;
          
}
.chat-message-author {
    margin-bottom: 3px;
    font-size: 12px;
    color: darkcyan;
    text-align: right;
    cursor:pointer;
}
img.cma-ppic:hover {
    transform: scale(2);
}
.chatmessages-inner{
    
    overflow:   auto;
    position:   absolute;
      left: 0px;
      right: 0px;
    bottom:     0;
    max-height: 350px;
      padding:0px 15px 0px 10px;
}
.chatmessage-item{
    padding-top: 7px;
    width: 100%;
}
.chatmessage-content img, .chatmessage-content video{
    max-width: 100%;
        max-height: 400px;
}
.chatmessage-content a{
    color: white;
}
.chatmessage-content{
    display: inline-block;
    max-width: 85%;
    background-color: whitesmoke;
        text-align: left;
        line-height: 1.28; 
            word-break: break-word; 
}
.chatmessage-item.direction-out{
    text-align: right;
}
.chatmessage-item.direction-in .chatmessage-content{
    background-color: #1b87e5;
    border-radius: 0px 15px 15px 15px;
    color: white;
    padding: 5px 15px 5px;
    box-sizing:  border-box;
    font-size: 14px;
}
.chatmessage-item.direction-out .chatmessage-content{
    background-color: white;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 15px 15px 0px 15px;
    color: #004f73;
    padding: 5px 15px 5px;
    box-sizing:  border-box;
    font-size: 14px;
}
.chatmessage-item.direction-in.unread{
    background-color: lightyellow;
}
.chatmessage-item.direction-out .chatmessage-content a{
    color: black;
}
.chatmessage-time{
    font-size: 10px;
  padding: 5px 5px 5px 0px;
    color: grey;
}
.inp-sendmessage {
    font-family: sans-serif;
    box-sizing: border-box;
    width: 100%;
    padding: 10px 15px;
    font-size: 14px;
    line-height: 1.3;
    height: 68px;
    outline: none;
    max-width: 100%;
    border-radius: 5px;
    z-index: 2;
    position: sticky;
    border: none;
}
.chataction{
    box-shadow: 0px -7px 5px rgba(0,0,0,0.1);
    text-align: right;
}
.cich-iocd-form-inp textarea:focus{
    border-color: grey;
}
.btn-sendmessage{
    padding: 5px 15px;
    font-size: 14px;
    border: none;
    background-color: royalblue;
    color: white;
    border-radius: 5px;
    margin: 1px;
    margin-right: 10px;
}
.btn-sendmessage:hover{
    cursor: pointer;
    background-color: navy;
}
.chatmessage-time .fullTime{
    display: none;
}
.column_chooser>span {
  width: 170px;
  display: inline-block;
}
.loadingdiv{
    z-index: 5;
    background-color: royalblue;
    color: white;
    padding: 25px 15px;
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
}
.loadingdiv .spinnow{
    color: white;
}
.prevMessageBtn{
        text-align: center;
    background-color: aliceblue;
    padding: 7px;
    margin-bottom: 10px;
    color: grey;
}
.prevMessageBtn:hover{
    cursor: pointer;
    color: black;
}
.loadedLoadmore{
    padding: 3px;
}
.loadedLoadmore:hover{
    cursor: default;
}
.msgStatus{
    border-left: 1px solid silver;
    padding-left: 3px;
}
#sms-form {
    width: 90%;
    border: none;
    position: relative;
}
.form-title{
    display: block;
}
div#selSnippet{
    width: 80%;
    padding:5px 15px;
}
.btn-input-autofill-popup, .btn-input-autofill-popup:hover{
    display: block;
    background: none;
    padding: 0px;
}
input:focus, textarea{
    outline: none;
}
textarea{
    font-family: sans-serif !important;
}
.processingFull{
        position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 0px;
    font-size: 25px;
    text-align: center;
    padding-top: 15%;
    z-index: 2;
    background-color: rgba(250,250,250,0.885);
}
.conv-list-item {
    padding: 10px;
    border-bottom: 1px solid whitesmoke;
    background-color: whitesmoke;
}
.conv-list-item:hover{
    cursor: pointer;
    background-color: rgba(0,250,0,0.02);
    color: royalblue;
}
.conv-number{
        margin-top: 5px;
    font-size: 14px;
    color: grey;
}
.conv-list-item:hover{
    background-color: rgba(0,250,0,0.02);
}
.conv-list-item.selected{
    background-color: rgba(0,250,0,0.06);
}
.chatbox-initiator{
    vertical-align: top;
}
div#backToConvBtn {
    display:none;
    position: absolute;
    top: -30px;
}
.initiateConv{
    /* display:none; */
}
.chat-no-perm-send{
    padding: 15px 15px 7px 15px;
    background-color: whitesmoke;
    color: grey;
    margin-top: 5px;
    margin-bottom: -5px;
}
img.cma-ppic {
    max-width: 20px;
    vertical-align: middle;
    border-radius: 50px;
    margin-left: 2px;
}
.conv-access{
    color: silver;
    font-size: 14px;
    text-align: right;
    margin-bottom: -4px;
}
.chat-send {
    text-align: right;
}
.chat-channel-choose{
        font-size: 12px;
    color: grey;
}
.replychosediv select {
    margin: 0px 10px 0px 2px;
    font-size: 14px;
    outline: none;
    border-color: silver;
}
.replychosediv{
    display: inline-block;
    font-size: 12px;
}

.chatmessage-item.direction-out {
/*     border-width: 0px 2px 0px 2px; */
/*     border-style: solid; */
    padding-right: 5px;
}

.chatmessage-item.direction-in {
/*     border-width: 0px 0px 0px 2px; */
/*     border-style: solid; */
    padding-left: 5px;
}
.attach{
    border:none;
    cursor:pointer;
}
.chatmessage-item.col-0{
    border-color: #16a085;
}
.chatmessage-item.col-1{
    border-color: #f39c12;
}
.chatmessage-item.col-2{
    border-color: #2980b9;
}
.chatmessage-item.col-3{
    border-color: #d35400;
}
.chatmessage-item.col-4{
    border-color: #6c5ce7;
}
.chatmessage-item.col-5{
    border-color: #e84393;
}
.chatmessage-item.col-6{
    border-color: #2c3e50;
}
.chatmessage-item.col-7{
    border-color: #00cec9;
}
.chatmessage-item.col-8{
    border-color: #8e44ad;
}
.chatmessage-item.col-9{
    border-color : black;
}
.chat-message-author {
    margin-bottom: 3px;
    font-size: 12px;
    color: darkcyan;
    text-align: right;
    cursor:pointer;
}
img.cma-ppic:hover {
    transform: scale(2);
}
.chatmessages-inner{
    overflow:   auto;
    position:   absolute;
    left: 0px;
    right: 0px;
    bottom:     0;
    max-height: 350px;
      padding:0px 15px 0px 10px;
}
.chatmessage-item{
    padding-top: 7px;
    width: 100%;
}
.chatmessage-content img, .chatmessage-content video{
    max-width: 100%;
        max-height: 400px;
}
.chatmessage-content a{
    color: white;
}
.chatmessage-content{
    display: inline-block;
    max-width: 85%;
    background-color: whitesmoke;
        text-align: left;
        line-height: 1.28; 
            word-break: break-word; 
}
.chatmessage-item.direction-out{
    text-align: right;
}
.chatmessage-item.direction-in .chatmessage-content{
    background-color: black;
    border-radius: 0px 15px 15px 15px;
    color: white;
    padding: 5px 15px 5px;
    box-sizing:  border-box;
    font-size: 14px;
}
.chatmessage-item.direction-out .chatmessage-content{
    background-color: white;
/*     border: 1px solid rgba(0,0,0,0.1); */
    border-radius: 15px 15px 0px 15px;
    color: black;
    padding: 5px 15px 5px;
    box-sizing:  border-box;
    font-size: 14px;
}
.chatmessage-item.direction-in.unread{
    background-color: lightyellow;
}
.chatmessage-item.direction-out .chatmessage-content a{
    color: inherit;
}
.chatmessage-time{
    font-size: 10px;
  padding: 5px 5px 5px 0px;
    color: grey;
}
.inp-sendmessage {
    font-family: sans-serif;
    box-sizing: border-box;
    width: 100%;
    padding: 10px 15px;
    font-size: 14px;
    line-height: 1.3;
    height: 68px;
    outline: none;
    max-width: 100%;
    border-radius: 5px;
    z-index: 2;
    position: sticky;
    border: none;
}
.chataction{
    box-shadow: 0px -7px 5px rgba(0,0,0,0.1);
    text-align: right;
}
.cich-iocd-form-inp textarea:focus{
    border-color: grey;
}
.btn-sendmessage{
    padding: 5px 15px;
    font-size: 14px;
    border: none;
    background-color: royalblue;
    color: white;
    border-radius: 5px;
    margin: 1px;
    margin-right: 10px;
}
.btn-sendmessage:hover{
    cursor: pointer;
    background-color: navy;
}
.chatmessage-time .fullTime{
    display: none;
}

.loadingdiv{
    z-index: 5;
    background-color: royalblue;
    color: white;
    padding: 25px 15px;
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
}
.prevMessageBtn{
        text-align: center;
    background-color: aliceblue;
    padding: 7px;
    margin-bottom: 10px;
    color: grey;
}
.prevMessageBtn:hover{
    cursor: pointer;
    color: black;
}
.loadedLoadmore{
    padding: 3px;
}
.loadedLoadmore:hover{
    cursor: default;
}
.msgStatus{
    border-left: 1px solid silver;
    padding-left: 3px;
}
#sms-form {
    width: 90%;
    border: none;
    position: relative;
}
.form-title{
    display: block;
}
div#selSnippet{
    width: 80%;
    padding:5px 15px;
}
.form-label{
    margin-top: 15px;
    margin-bottom: 5px;
    color: slategray;
    font-size: 14px;
}
.btn-input-autofill-popup, .btn-input-autofill-popup:hover{
    display: block;
    background: none;
    padding: 0px;
}
input:focus, textarea{
    outline: none;
}
textarea{
    font-family: sans-serif !important;
}
.processingFull{
        position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 0px;
    font-size: 25px;
    text-align: center;
    padding-top: 15%;
    z-index: 2;
    background-color: rgba(250,250,250,0.885);
}
.conv-list-item {
    padding: 10px;
    border-bottom: 1px solid whitesmoke;
    background-color: whitesmoke;
}
.conv-list-item:hover{
    cursor: pointer;
    background-color: rgba(0,250,0,0.03);
    color: royalblue;
}
.conv-number{
        margin-top: 5px;
    font-size: 14px;
    color: grey;
}
.conv-list-item:hover{
    background-color: rgba(0,250,0,0.03);
}
.conv-list-item.selected{
    background-color: rgba(0,250,0,0.06);
}
.chatbox-initiator{
    vertical-align: top;
}
div#backToConvBtn {
    display:none;
    position: absolute;
    top: -30px;
}
.chat-no-perm-send{
    padding: 15px 15px 7px 15px;
    background-color: whitesmoke;
    color: grey;
    margin-top: 5px;
    margin-bottom: -5px;
}
img.cma-ppic {
    max-width: 20px;
    vertical-align: middle;
    border-radius: 50px;
    margin-left: 2px;
}
.conv-access{
    color: silver;
    font-size: 14px;
    text-align: right;
    margin-bottom: -4px;
}
.chat-send {
    text-align: right;
}
.chat-channel-choose{
        font-size: 12px;
    color: grey;
}
.replychosediv select {
    margin: 0px 10px 0px 2px;
    font-size: 14px;
    outline: none;
    border-color: silver;
}
.replychosediv{
    display: inline-block;
    font-size: 12px;
}

.chatmessage-item.direction-out {
/*     border-width: 0px 2px 0px 2px; */
/*     border-style: solid; */
    padding-right: 5px;
}

.chatmessage-item.direction-in {
/*     border-width: 0px 0px 0px 2px; */
/*     border-style: solid; */
    padding-left: 5px;
}

#templatesList{
    display: none;
}
.chatmessage-item.col-0{
    border-color: #16a085;
}
.chatmessage-item.col-1{
    border-color: #f39c12;
}
.chatmessage-item.col-2{
    border-color: #2980b9;
}
.chatmessage-item.col-3{
    border-color: #d35400;
}
.chatmessage-item.col-4{
    border-color: #6c5ce7;
}
.chatmessage-item.col-5{
    border-color: #e84393;
}
.chatmessage-item.col-6{
    border-color: #2c3e50;
}
.chatmessage-item.col-7{
    border-color: #00cec9;
}
.chatmessage-item.col-8{
    border-color: #8e44ad;
}
.chatmessage-item.col-9{
    border-color : black;
}

.spinnow {
    vertical-align: middle;
    font-size: 35px;
    color: royalblue;
    -webkit-animation: spin 2s linear infinite;
    -moz-animation: spin 2s linear infinite;
    -ms-animation: spin 2s linear infinite;
    -o-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
@-ms-keyframes spin {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
.msgsts-failed .chatmessage-content,.msgsts-rejected .chatmessage-content {
  background-color: crimson !important;
  box-shadow: 0px 5px 10px rgba(200,0,0,0.1);
}
.msgsts-failed .chat-message-author,.msgsts-rejected .chat-message-author {
    color: crimson;
}
#existingConvListWindow{
    width: 35% !important;
}
#existingConvWindow{
    width: 60%;
    box-sizing: border-box;
}
select {
    padding: 3px 10px;
    /* border: 1px solid silver; */
    box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
    border: none;
}

.fMItem {
    display: inline-block;
    vertical-align:middle;
    margin: 0px 5px;
}
.fMItem .material-icons{
    border:none;
    padding:0px;
    margin:0px;
    color: darkcyan;
    font-size: 18px;
}
.fieldMapp{
    margin: 10px 0px;
}

.fMItem:first-child{
    font-size: 14px;
    background-color: darkcyan;
    color:white;
    padding:3px 7px 5px;
}
.fMItem input{
    padding : 5px 10px;
    border: 1px solid darkcyan;
    border-radius: 3px;
    color: darkcyan;
}

.direction-out a.addChatUrl {
    color: #d4e6ce !important;
}

a.addChatUrl:hover {
    text-decoration: underline;
}

.direction-out span.addChatMobile {
    color: #d4e6ce !important;
}

.direction-in span.addChatMobile {
    color: #02a242 !important;
}

.direction-in a.addChatUrl {
    color: #02a242 !important;
}
.view-chat-view .messagePeopleHeaderOuter{
    margin-top: -10px;
    position: fixed;
    left: 0px;
    right: 0px;
    z-index: 1;
    background-color: rgba(256,256,256,0.6);
    padding-top: 7px;
    backdrop-filter: blur(3px);
    padding-bottom: 7px;
}
.chatmessage-item:first-of-type{
  margin-top: 200px;
}
.chatmessage-item:last-of-type{
  margin-bottom: 20px;
}
#chatbox-message-holder{
    display: none;
}
.view-chat-view #chatbox-message-holder{
    display: block;
}
@supports not (backdrop-filter: none) {
  .view-chat-view .messagePeopleHeaderOuter, .error-window-outer, .process-window-outer, .messagePeopleHeader {
    background-color: rgba(256,256,256,0.98);
  }
}
.theaterClose{
    display: none;
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: crimson;
    color: white;
    z-index: 11;
    padding: 4px 10px 5px;
    border-radius: 100px;
    cursor: pointer;
    box-shadow: 0px 2px 10px rgba(250,0,0,0.4);
}

.chatmessage-content img, .chatmessage-content video{
    max-width: 100%;
    max-height: 200px;
}
.chatmessage-item.direction-out .spinnow{
    color: white !important;
}

.chatmessage-item.direction-out .chatmessage-content{
    background-color: black;
    color: white;
}
.chatmessage-item.direction-in .chatmessage-content{
    background-color: #e39400;
    color: white;
    box-shadow: 0px 2px 2px rgba(0,0,0,0.2);
}
.chatmessage-time:hover .smallTime{
    color: silver;
}
.chatmessage-item:hover .fullTime{
    display: inline-block;
}
.loadingdiv{
    padding: 10px 15px;
    font-size: 14px;
}

span.msgStatus .material-icons {
    font-size: 12px;
    float: right;
    vertical-align: middle;
    font-weight: bold;
}
.msgStatus{
    margin-left: 5px;
}
.msgsts-read .msgStatus{
    color: royalblue;
}
.chatmessage-item .chatmessage-content{
    font-size: 15px;
    cursor: pointer;
    line-height: 1.4;
} 
.chatmessage-item.direction-out .chatmessage-content{
    background-color: #16a085;
} 
.chatmessage-item.msgTheater{
    position: fixed;
    top: 0px;
    padding: 45px;
    left: 0px;
    right: 0px;
    margin: 0px;
    background-color: rgba(256,256,256,0.6);
    bottom: 0px;
    z-index: 10;
    backdrop-filter: blur(5px);
    box-sizing: border-box;
}
.msgTheater .chatmessage-content{
    font-size: 16px;
}
.msgTheater .chatmessage-content img, .msgTheater .chatmessage-content video{
    max-height: 400px !important;
}
.theaterClose{
    display: none;
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: crimson;
    color: white;
    z-index: 11;
    padding: 4px 10px 5px;
    border-radius: 100px;
    cursor: pointer;
    box-shadow: 0px 2px 10px rgba(250,0,0,0.4);
}

/*.ch-channel-sms .chatmessage-item.direction-out .chatmessage-content{
    background-color: forestgreen;
}

.ch-channel-sms .btn-sendmessage{
    background-color: forestgreen;
}*/


#chat_to_phone:hover, #chat_conversation_label:hover, #chat_channel_label:hover{
    cursor: pointer;
    border: 1px solid silver;
}
div#chatbox-message-holder:empty::before {
    content: "You have no messages here";
    padding: 50px;
    position: fixed;
    bottom: 200px;
    text-align: center;
    left: 0px;
    right: 0px;
    color: grey;
}

img.cma-ppic {
    max-width: 20px !important;
}
.direction-out .chat-message-author{
    color: white;
}

.zoomEffect{
    animation:zoomEffect 1s infinite;
}
@keyframes zoomEffect {
    0% {
        transform:scale(1);
    }
    50% {
        transform:scale(2.5);
    }
    100% {
        transform:scale(1);
    }
}
.cht-attachmentNameHolder{
    background-color: aliceblue;
    display: none;
    margin-bottom: 7px;
    color: darkcyan;
    padding: 3px 15px;
    font-size: 14px;
    border-radius: 16px;
    border: 1px dotted;
    margin-top: -5px;
    position: relative;
    padding-right: 30px;
}

.cht-attch-close, .cht-attch-prog{
    border-radius: 35px;
    padding: 0px 6px 1px;
    position: absolute;
    top: 2px;
    bottom: 2px;
    right: 2px;
    border: none;
    background-color: crimson;
    color: white;
}
.cht-attch-prog{
    background-color: green;
}
.cht-attch-close:hover{
    background-color: red;
}
#DD_HOLDER_SENDER_LIST .dropdownOuter{
    max-width: 100%;
}

#DD_HOLDER_RECIPIENT_LIST .dropdownOuter{
    max-width: 250px;
}
.view-chat-view .messagePeopleHeader .focus-canceller-overlay{
    border-radius: 100px;
}
.nvts_item:last-of-type{
    margin-left: -5px;
}
.msgmedia-holdr:not(:empty){
    height: 200px;
    padding: 5px 0px;
}
.signedUserOptions{
    overflow-y: auto;
}
.ssf-lic-usr-list-tem{
  padding: 10px;
  border-radius: 100px;
}
.ssf-lic-usr-list-tem:hover{
  background-color: whitesmoke;
}
.ssf-lic-usr-list-tem:not(:last-child){
  border-bottom: 1px solid rgba(0,0,0,0.1);
}
.ssf-lic-usr-list-tem>div{
  display: inline-block;
  vertical-align: top;
  margin: 0px 2px;
}
.sslic-pic{
  height: 35px;
  width: 35px;
  background-color: #bbddfa;
  border-radius: 100px;
  text-align: center;
}
.sslic-name{
  font-size: 15px;
}
.sslic-email{
  font-size: 13px;
  color: grey;
}
.sslic-actions{
  float: right;
  padding-top: 3px;
}
.sslic-bulk-actions{
  text-align:right;
  float:right;
}
.sslic-act-item, .sslic-bulk-actions button{
  border: none;
  padding: 5px 15px;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.4);
  background-color: white;
  border-radius: 50px;
}
.sslic-act-add{
  border:1px solid green;
  color: green;
}
.sslic-act-remove{
  border:1px solid crimson;
  color: crimson;
}
.sslic-act-add:hover{
  background-color: green;
}
.sslic-act-remove:hover{
  background-color: crimson;
}
.sslic-act-wait:hover{
  background-color: white;
  color: black;
}
.sslic-index{
    padding-top: 10px;
    font-size: 14px;
    color: grey;
}
.sslic-act-wait, .sslic-act-remove{
    display: none;
}
.sslic-pic .picletter{
  font-size:18px;
  padding-top:7.5px;
  color: #0063b7;
}
#SAAS_LIC_USERS_CONFIGURE_LIST:empty::before{
    content: 'Fetching users...';
    text-align: center;
    color: silver;
    padding: 50px;
    display: block;
}
.sslic-cred-shared-user .sslic-act-remove{
    display: block;
}
.sslic-cred-shared-user .sslic-act-add{
    display: none;
}
.sslic-cred-shared-user{
    background-color: aliceblue;
}
.sslic-bulk-actions button:hover{
  background-color: royalblue;
  color: white;
}
.sslic-bulk-actions{
    display: none;
}
.ualic-exist-admin-account-item{
  padding: 10px 25px;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
  max-width: 90%;
  background-color: white;
  border-radius: 5px;
}
.ualic-exist-admin-account-item:first-of-type{
  margin-top:20px;
}
.ualiceaa-name{
  font-size: 20px;
  margin-bottom: 7px;
}
.ualiceaa-email{
  color: grey;
  font-size:16px;
}
.ualic-exist-admin-account-item.my-own-ac-lic-btn{
  border-radius: 100px;
  margin-top: 10px;
  text-align: center;
  color: royalblue;
  border:1px solid royalblue;
  padding: 10px 40px;
  display: inline-block;
}

.my-own-ac-lic-btn .ualiceaa-name{
  font-size: 16px;
  margin-bottom:3px;
}
.my-own-ac-lic-btn .ualiceaa-email{
  font-size: 13px;
}
.ualic-exist-admin-account-item:hover{
  background-color: royalblue;
  color: white;
  cursor: pointer;
}
.ualic-exist-admin-account-item:hover *{
  background-color: royalblue;
  color: white;
  cursor: pointer;
}
.ualic-exist-admin-account-item.selected:before {
   content: "Current default account";
   border-radius: 100px;
    background-color: green;
    color: white;
    padding:1px 10px 2px;
    font-size: 13px;
    display:inline-block;
    border:1px solid rgba(256,256,256,0.4);
    margin-bottom: 7px;
}
.ualic-exist-admin-account-item.selected {
    background-color: royalblue;
    color: white;
}
.ualic-exist-admin-account-item.selected *{
    color: white;
}
.view-chat-view #searchAndAddFromContactBtn, .view-chat-view #ssf-recip-list-add-holdr{
    display: none;
}
.item-list-popup{
    min-width: 50%;
}
.ssf-new-recip-form{
    box-shadow: 0px 10px 25px rgba(0,0,0,0.2);
    position:
    relative;
    padding:20px 10px;
    background-color: white;
    margin-top:5px;
    margin-bottom: 10px;
}
.ssf-recip-choice-btn{
    display: inline-block;
    margin:0px 2px 10px;
    background-color: whitesmoke;
    padding:4px 12px 5px;
    font-size: 14px;
    box-shadow: 0px 2px 5px rgb(0 0 0 / 20%);
    border-radius:30px;
}
.ssf-recip-choice-btn .material-icons{
    vertical-align: middle;
    font-size:18px;
    float: left;
    margin-right: 3px;
    margin-top:-1px;
}
.ssf-recip-choice-btn:hover{
      cursor: pointer;
      color: black;
      box-shadow: 0px 2px 10px rgba(0,0,0,0.4);
}
#ssf-recip-list-add-holdr .dropdownOuter{
    max-width: unset;
}

#uaCHATConvListHolder{
  position:
  fixed;
  left:0px;
  bottom:0px;
  top: 50px;
  /*z-index:2;*/
  background-color: white;
  width:40%;
  overflow-y: auto;
}
.ua-conv-list-item{
  padding:12px 10px;
  width: 100%;
  box-sizing:border-box;
  position: relative;
  background-color: whitesmoke;
  opacity: 0.7;
  
}
.ua-conv-list-item>div{
  vertical-align: middle;
}
.ua-conv-list-item:not(:last-of-type){
  border-bottom:1px solid rgba(0,0,0,0.1);
}
.ucli-pic{
  display: inline-block;
  height: 40px;
  width:40px;
  /*background-color: whitesmoke;*/
  /*border-radius: 50px;*/
  background-size:auto 100%;
}
.ucli-det{
  display: inline-block;
  width: calc(100% - 60px);
  padding-left: 3px;
}
.ucli-time{
  position: absolute;
  right:0px;
  font-size: 11px;
  color: grey;
  padding: 2px 10px;
}
.ucli-name{
  margin-bottom:5px;
  font-size:17px;
}
.ucli-msg{
  color: rgb(110,110,110);
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.ucli-msg .material-icons{
  font-size: 18px;
  float:left;
  margin-right:4px;
}
.ucli-msg.read .material-icons{
    color:royalblue;
}
.ua-conv-list-item:hover{
  background-color: rgba(0,250,0,0.03);
  cursor: pointer;
  opacity: 1;
}
.ua-conv-list-item:hover .ucli-pic{
  /*background-color: silver;*/
}
.ua-conv-list-item.selected{
  background-color: rgba(0,250,0,0.06);
  opacity: 1;
}
.view-conversation-view #chatbox-message-holder{
  margin-left:40%;
}
.view-conversation-view .messagePeopleHeaderOuter{
  /* display: none; */
}
 
.view-conversation-view .messageActionFooter{
  margin-left:40%;
}
.view-conversation-view .messageActionFooter div.stw-attachbutton{
  left:calc(40% + 11px);
}
.view-conversation-view div#chatbox-message-holder:empty::before{
    left: 40%;
}
#uaCHATConvListHolder{
    display: none;
}
.view-conversation-view #uaCHATConvListHolder{
    display: block;
}
#nav_viewTypeSwitch .dropdownDisplaySlip{
    font-size: 13px;
    padding: 4px 12px;
}
#nav_viewTypeSwitch .dropdownDisplayArrow{
    top: 5px;
}
.view-conversation-view .messageActionFooter{
    display: none;
}
.ua-conv-list-item:first-of-type{
  margin-top:53px;
}

.view-conversation-view .messagePeopleHeaderOuter{
  display: block;
  /*width:40%;*/
  box-sizing: border-box;
  padding: 5px 10px;
  /*margin-top: -5px;*/
}
.view-conversation-view .messagePeopleHeader{
  margin:0px;
  transform: none;
  
  box-sizing: border-box;
}
.view-conversation-view .show-on-view-conversation-view{
    display: block !important;
}
.ssf-def-country-code-holder{
  text-align:right;
  font-size:12px;
  color: grey;
  margin-right: 55px;
  margin-top:2px;
}
#ssf-rec-def-countrycode input{
  font-size:12px;
  width:30px;
  border-radius:2px;
  border:none;
  border-bottom: 1px solid silver;
  padding:2px;
}
#ssf-rec-def-countrycode-criteria select{
  box-shadow: none;
  background-color: transparent;
  padding: 0px;
  font-size:12px;
  outline: none;
  color:grey;
}
#ssf-rec-def-countrycode-criteria select:hover{
  cursor: pointer;
  color: royalblue;
}
.ssf-def-country-code-holder:hover{
  color: black !important;
  transform: scale(1.1);
  /*margin-right:80px;*/
}
.ssf-def-country-code-holder:hover #ssf-rec-def-countrycode-criteria select{
  color: royalblue;
}
.conv-msg-sts.read .material-icons{
    color: royalblue;
}
conv-msg-sts.received .material-icons{
    color: green;
}
.ucli-unread{
    display: none;
    border-radius: 20px;
    position: absolute;
    right: 20px;
    bottom: 10px;
    background-color: #0aae0a;
    color: white;
    font-size: 9px;
    text-align: center;
    padding: 2px 5px;
}
.ua-conv-list-item.last-msg-in{
    background-color: white;
    opacity: 1;
}
.ua-conv-list-item.last-msg-in.selected{
    background-color: rgba(0,250,0,0.06);
    opacity: 1;
}
.ua-conv-list-item.last-msg-in:hover{
    background-color: whitesmoke;
}
.cht-emoji-btn{
    cursor: pointer;
    padding:2px 5px 1px;
    font-size:16px;
    border-radius: 50px;
    opacity: 0.5;
    background-color: transparent;
    margin-top: -30px;
    float: left;
    margin-left: 10px;
    position: sticky;
}
.cht-emoji-btn:hover{
  cursor: pointer;
  box-shadow: 0px 2px 10px rgba(0,0,0,0.5);
  background-color: black;
  opacity: 1;
}
.msg-attch{
    border: 1px dotted silver;
    padding: 10px;
    border-radius: 35px;
    background-color: royalblue;
}

.msg-attch .material-icons{
    vertical-align: middle;
    margin-top: -3px;
}

.view-chat-view .messagePeopleHeader{
    margin: 5px 30px;
}
.view-chat-view .dropdownDisplayText{
    font-size: 12px;
}
.view-chat-view .ssf-fitem-ans{
    margin-top: 4px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 18px;
  font-size: 14px;
  vertical-align: middle;
  margin-right: 3px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ca2222;
  -webkit-transition: .4s;
  transition: .4s;
   border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 10px;
  width: 10px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2ab934;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(18px);
  -ms-transform: translateX(18px);
  transform: translateX(18px);
}

/*------ ADDED CSS ---------*/
.slider:after
{
 content:'';
 color: white;
 display: block;
 position: absolute;
 transform: translate(-50%,-50%);
 top: 50%;
 left: 50%;
 font-size: 9px;
 font-family: Verdana, sans-serif;
}

input:checked + .slider:after
{  
  content:'';
}

/*--------- END --------*/

.tpaichan-item {
    margin: 10px 0px;
    border: 1px solid whitesmoke;
    width: 90%;
    padding: 10px;
    border-radius: 40px;
    color: rgb(86,86,86);
    background-color: white;
    box-sizing: border-box;
}
.tpaichan-item:first-of-type{
    margin-top: 15px;
}
.success{
  color: green;
}
.info{
  color: royalblue;
}
.danger{
  color: crimson;
}
.sent-pan{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-left: 10px solid;
  /* border-bottom: 1px solid; */
  margin: 5px;
  padding: 1px 5px;
  /* border-color: yellow; */
  flex-wrap: wrap;
  border-radius: 2px;
}
.sent-pan .sent-to{
  margin-right: 10px;
  font-weight: bold;
  flex: 1;
}
.sent-pan .sent-msg{
  display: flex;
  align-items: center;
}
.sent-pan .sent-icon{
  font-size: 20px;
}
.sign-in-suggest-email{
        font-weight: 700;
    background-color: rgba(0,250,0,.2);
    padding: 1px 5px;
    border: 1px dotted;
    margin: 2px 2px;
    border-radius: 100px;
    font-size: 13px;
    margin-right: 4px;
}
.error-window-inner, .process-window-inner{
    margin-left: 0%;
    overflow-y: auto;
    height: 100%;
    padding: 0px 7%;
    padding-bottom: 50px;
    width: 100%;
    box-sizing: border-box;
}
.error-window-close{
    right: 10px;
    top: 10px;
    height: max-content;
    position: fixed;
}
.tpaichan-devider {
    border: 1px solid whitesmoke;
    padding: 15px;
    margin: 15px 0px;
    border-radius: 5px;
    backdrop-filter: blur(20px);
    box-sizing: border-box;
}
#suo-item-ua-profile-nav:hover{
    cursor: default;
    background-color: white;
}
#signInUserEmail{
    font-size: 10px;
    color: grey;
    margin-left: 5px;
}
.view-message-form-view #singleSMSFormHolder{
    padding-bottom: 100px;
}
.inp-item-errorText{
    color: red;
    font-size: 14px;
    margin: 5px 10px;
    margin-top: 10px;
    display: none;
}

.tfmsf-row-item {}

.tfmsf-row-item {
    border-bottom: 1px solid whitesmoke;
    padding: 5px;
}

.tfmsf-col {
    display: inline-block;
    width: 44%;
    margin: 2px;
    vertical-align: middle;
    box-sizing: border-box;
    text-overflow: clip;
    overflow-wrap: anywhere;
    font-size: 14px;
    color: rgb(80,80,80);
}

.tfmsf-col.tpaichan-field-mapping-saas-divider {
    width: 40px;
    text-align: center;
}
.tfmsf-row-item-header .tfmsf-col{
    font-size: 17px;
    font-weight: bold;
    color:black;
}
#tpaichan-user-mapping-title,#tpaichan-fields-mapping-title{
        font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    background-color: whitesmoke;
    padding: 10px 15px;

}
.ssfrdup-text{
    color: #ff8c00;
    font-size: 11px;
    padding: 0px 7px;
    background-color: #fafad2;
    display: inline-block;
    margin: 0px 2px;
    /* border: 1px dotted orange; */
    vertical-align: middle;
}
.sidePanelView #ssf-fitem-template-var-holder .dropdownDisplaySlip{
    width:unset;
}
.sidePanelView #ssf-fitem-template-var-holder>.dropdownOuter, .sidePanelView #ssf-fitem-new-template-var-holder>.dropdownOuter{
    max-width:90% !important;
}

.cht-emoji-btn-template {
    cursor: pointer;
    width: max-content;
}

#master-tpai-incom-chan-item{
    width: 100%;
}

#in-msg-saas-entity-module-select{
    width: unset;
}

.error-window-detail{
    width: 100%;
}
.field-update-in-progress{
    animation: borderColorSwitch 2s linear infinite forwards;
}
.field-update-success-progress{
    background-color: lightgreen;
}
@keyframes borderColorSwitch {
  0% {
    background-color: lightyellow;
  }
  50% {
    /* border: 1px solid royalblue; */
  }
  100% {
    background-color: aliceblue;
  }
}
.sidePanelView .sslic-act-add{
    font-size: 9px !important;
    padding: 2px 12px !important;
}
.sidePanelView .sslic-email, .sidePanelView .sslic-name{
    font-size: 10px !important;
}
.sidePanelView .sslic-index{
    display: none !important;
}
.sidePanelView .ssf-lic-usr-list-tem{
    padding: 1px !important;
}
.sidePanelView .sslic-pic{
    display: none !important;
}
#saasAuthIDCredit{
    display: block;
}
#saasAuthIDCredit a{
    color: grey;
}
.wi-calculated-workflow-tip{
    background-color: lightyellow;
    color: darkgoldenrod;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px dotted;
    font-size: 14px;
}
#primary-send-btn-workflow,#show-use-other-providers{
    background-color: transparent;
    box-shadow: none;
    color: grey;
    font-size: 12px;
}
#primary-send-btn-workflow:hover, #show-use-other-providers:hover{
    cursor: pointer;
    color: black;
}
.ssf-switchformtip{
    background-color: lightgoldenrodyellow;
    color: darkgoldenrod;
    font-size: 14px;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    margin: 0px 15px;
    margin-bottom: 15px;
}
.ssf-switchformtip b{
    border-bottom: 1px dotted;
}
.ssf-switchformtip b:hover{
    cursor: pointer;
    color: green;
}
#page-min-max-btn{
  position: fixed;
  top:0px;
  left:0px;
  right:0px;
  bottom:0px;
  z-index: 1000000;
  background-color: rgba(256,256,256,0.9);
  color: grey;
  padding: 40px;
  text-align: center;
  font-size: 13px;
}
#page-min-max-btn i{
  vertical-align: middle;
  margin-left: 5px;
  margin-top:-2px;
}
#page-min-max-btn:hover{
  background-color: rgba(250,250,250,0.95);
  cursor: pointer;
    color: green;
}

::-webkit-scrollbar {
        width: 5px;
    }

    ::-webkit-scrollbar-thumb {
        background: #2d7dcb;
        border-radius: 8.2px;
    }

    ::-webkit-scrollbar-track {
        background-color: transparent;
    }

    ::-webkit-scrollbar:horizontal {
        height: 0px;
        display: none;
    }
    .view-chat-view .hideOnChatView {
    display: none !important;
}
.tpaichanfina{
  padding: 5px 7px;
    border-radius: 5px;
    border: 1px solid silver;
    width: 100%;
    box-sizing: border-box;
}
.tfmsf-row-item:hover{
  background-color: whitesmoke;
  color: black;
}
.tpaichan-tpa-event-fields-dd-outer{
  position: absolute;
  right: 60px;
  text-align: right;
}
#tpaichan-tpa-event-fields-dd-items{
  background-color: white;
  box-shadow: 0px 5px 10px rgba(0,0,0,0.5);
  border-radius: 5px;
  max-height: 50vh;
    overflow-y: auto;
}
.fsca-app-innr{
  position: relative;
}
.tpaif-dditem {
  padding: 5px 10px;
  font-size: 12px;
  text-align: left;
  color: navy;
}
.tpaif-dditem:hover{
  cursor: pointer;
  background-color: whitesmoke;
}
.tpaif-dditem i{
  color: grey;
  font-style: normal;
  font-size: 11px;
  margin-left: 10px;
}
.tpaif-dditem:hover i{
  color: grey;
}
.tpaichan-eve-dd-close-btn{
  background-color: crimson;
    color: white;
    border: none;
}
.tpaichan-eve-dd-close-btn:hover{
  background-color: red;
  cursor: pointer;
}
.tfmsf-col i {
  font-size: 10px;
  color: grey;
  font-style: normal;
  margin-left: 3px;
}
.tfmsf-desc-tip{
  padding: 7px 15px;
  margin: 10px;
  background-color: lightyellow;
  color: darkgoldenrod;
  text-align: center;
  border-radius: 5px;
  font-size: 12px;
}

.tfmsf-action-item {
  background-color: royalblue;
  color: white;
  padding: 10px 15px;
  border: 1px solid blue;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgb(0 0 0 / 30%);
  font-size: 14px !important;
  width: 100%;
}
.fsca-supportingItem {
  margin: 15px 0px;
}

.fsca-app-content-header {
  font-size: 24px;
  color: royalblue;
  font-weight: bold;
  margin-bottom: 20px;
}
.fsca-app-title{
  font-size: 15px;/* border-bottom: 1px solid silver; */margin-bottom: 20px;/* padding-bottom: 10px; */position: fixed;left: 0px;right: 0px;background-color: #343539;color: whitesmoke;padding: 11px 20px;top: 48px;box-shadow: 0px 2px 5px rgba(0,0,0,0.3);
}

.fmlitem {
  box-shadow: 0px 2px 5px rgb(0 0 0 / 20%);
  padding: 10px 15px;
  color: rgb(86,86,86);
  font-size: 14px;
  border-radius: 5px;
  margin: 15px 0px;
}

.fmlitemname {
  font-weight: bold;
  font-size: 19px;
  color: black;
  margin-bottom: 3px;
}

.fmlitemtime {
  text-align: right;
  font-size: 10px;
}

.fmlitemfilter {
  font-size: 12px;
  margin-bottom: 10px;
  color: grey;
}
.fmlitemact {
  /* border: 1px solid silver; */
  padding: 3px 7px;
  margin-right: 5px;
  border-radius: 13px;
  box-shadow: 0px 1px 3px rgba(0,0,0,0.3);
}
.fmlitemact:hover{
  cursor: pointer;
  background-color: black;
  color:white;
}
.fsca-field-map-list-holder {
  margin-bottom: 20px;
}
.fsca-new-form-close{
  font-size: 14px;
    vertical-align: middle;
    background-color: crimson;
    color: white;
    padding: 6px 10px;
    margin-bottom: 6px;
    float: right;
    border-radius: 7px;
}
.fsca-new-form-close:hover{
  cursor: pointer;
  background-color: red;
}
.fsca-new-form-new-btn{
  float: right;
    background-color: green;
    color: white;
    border: none;
    padding: 6px 15px;
    border-radius: 20px;
    font-size: 13px !important;
    box-shadow: 0px 3px 4px rgb(0 0 0 / 20%);
}
.fsca-new-form-new-btn:hover{
  cursor: pointer;
  background-color: darkgreen;
}
.fmlitemfieldcount {
  background-color: whitesmoke;
  color: grey;
  padding: 2px 7px;
  font-size: 10px;
  border-radius: 30px;
  margin-left: 19px;
}
.fmlitemfilter b{
  color: darkcyan;
}
.go-to-fieldmap-link{
  font-size: 14px;
  background-color: royalblue;
  color: white;
  padding: 7px 12px;
  margin-top: 10px;
  display: inline-block;
  border-radius: 7px;
}
.go-to-fieldmap-link:hover{
  background-color: navy;
  color: white;
}
.fullscreen-page-ttl {
  padding: 10px;
    font-size: 16px;
    background-color: #007f7f;
    color: white;
    backdrop-filter: blur(25px);
    text-align: left;
    padding-left: 20px;
}

.fullscreen-page-outer {
  position: fixed;
  top: 58px;
  bottom: 0;
  left: 0;
  right: 0;
  backdrop-filter: blur(35px);
  z-index: 100;
}

.fwnai input[type="checkbox"] {
  display: inline-block;
  width: unset;
  vertical-align: middle;
}

.fwnaim {
  box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
  display: inline-block;
  padding: 6px 6px;
  border-radius: 6px;
  font-size: 13px;
  vertical-align: middle;
}

.fwnai {
  padding: 4px 10px;
  overflow-wrap: anywhere;
}

.fwnai-o .fwnaim {
  background-color: #d9fdd3;
}

.fwnai-i .fwnaim {
  background-color: white;
}

i.fwnait {
  font-size: 10px;
  color: silver;
  display: none;
}

.fullscreen-page-content {
  padding: 10px 5px;
}
.fwnai.selected{
  background-color: darkslategray;
}

.fwnai:first-of-type{
  padding-top: 10px;
}
.fwnai:last-of-type{
  padding-bottom: 40px;
}
.fullscreen-page-content-bulk-actions .fwnai{
  padding-top:0px;
  padding:5px 10px;
  margin-top:-5px;
}
#nav_notificationIcon{
  position: absolute;
    right: 70px;
    top: 15px;
}
#ua_current_app_alert_count{
  position: absolute;
    right: -4px;
    top: -8px;
    background-color: crimson;
    color: white;
    padding: 1px 5px;
    font-size: 11px;
    border-radius: 20px;
}
#nav_notificationIcon .material-icons{
  z-index: 1;
  position: sticky;
}
#nav_notificationIcon:hover{
  cursor:pointer;
  color: royalblue;
  opacity: 1 !important;
}
.notification-side-panel-actions{
  padding: 0px 10px;
  text-align: right;
  margin-bottom: 5px;
}
.notification-side-panel-outer {
  display: none;
  background-color: white;
  position: fixed;
  right: 0px;
  top: 50px;
  bottom: 0px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
  max-width: 90%;
  overflow-y: auto;
  z-index: 2;
  box-shadow: 0px 0px 50px rgb(0 0 0 / 30%);
  min-width: 40%;
}
.notification-side-panel-outer:hover{
  z-index: 100;
}
.nspc-item {
  border-bottom: 1px solid rgba(0,0,0,0.1);
  padding: 9px 15px;
}

.nspc-item.unread{
  background-color: lightyellow;
}

.nspc-item-time {
  font-size: 10px;
  color: #a29f9f;
  text-align: right;
  margin-top: 2px;
}

.nspc-item-content {
  font-size: 14px;
}

.nspc-item-ttl {
  font-size: 12px;
  margin-bottom: 5px;
  color: rgb(13, 41, 126);
}

.notification-side-panel-tl {
  font-size: 20px;
  padding: 10px;
}

button.btn-mark-all-read-notif {
  border: none;
  color: royalblue;
  border-radius: 30px;
  font-size: 12px;
}
.btn-mark-all-read-notif:hover{
  color: white;
  background-color: navy;
}
#nav_notificationIcon.no-notifications{
  opacity: 0.5;
}

.ucli-saas-det {
  width: 100%;
  display: flex;
  font-size: 13px;
  text-align: center;
  margin-top: 5px;
}
.ucli-saas-init-rcd {
  position: relative;
  width: max-content;
  max-width: 85%;
}
.ucli-saas-det-item {
  position: relative;
  display: flex;
  /* width: calc(100% - 10px); */
  overflow: hidden;
  white-space: nowrap;
  border: 1px solid #ccc4c4;
  border-radius: 10px;
  margin: 5px;
  text-align: left;
}
.ucli-saas-all-rcd .ucli-saas-det-item {
  border-radius: 5px;
}
.ucli-saas-det-item-mdl-name {
  position: relative;
  margin-right: 5px;
  background: #ececec;
  padding: 2px 5px;
  max-width: 200px;
  min-width: 50px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.ucli-saas-det-item-rcd-name {
  position: relative;
  padding: 2px 3px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: royalblue;
  width: 100%;
}
.ucli-saas-view-all {
  position: absolute;
  width: 15%;
  right: 10px;
  padding: 3px 3px;
  color: royalblue;
  margin-top: 5px;
}
.ucli-saas-all-rcd {
  position: absolute;
  display: block;
  background: white;
  width: 65%;
  height: max-content;
  z-index: 1;
  padding: 5px 1px;
  border-radius: 5px;
  box-shadow: rgb(170 170 170) 0px 0px 5px 1px;
  border: 1px solid #aaa;
}
.ucli-saas-det-item:hover {
  box-shadow: 2px 2px 5px 0px #aaa;
}
.ucli-saas-all-rcd::after {
  content: "";
  position: absolute;
  right: -10px;
  top: 7px;
  border-right: 0px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid rgb(86 86 86 / 28%);
  border-top: 10px solid transparent;
}
#agent-user-collisions-list-holder{
  position: fixed;
    top: 0px;
    left: 25%;
    z-index: 2;
}
.uaclu-item {
  position: relative;
  background-color: #a8f0c6;
  border: 1px solid #38fd88;
  color: #024a20;
  padding: 5px 15px 7px;
  border-radius: 10px;
  font-size: 11px;
  width: 100%;
  box-shadow: 0px 4px 5px rgb(0 200 0 / 20%);
  margin: 8px;
}

.uaclu-close {
  position: absolute;
  right: 15px;
  top: 11px;
}

.uaclu-name {
  font-size: 14px;
}

.uaclu-time {
  font-size: 10px;
  margin-top: 2px;
}
.uaclu-close:hover{
  cursor: pointer;
  color: crimson;
}

.ripple {
  margin: auto;
  background-color: #fff;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  display: grid;
  animation: ripple 3s linear infinite;
}

.ripple::before,
.ripple::after {
  content: "";
  grid-area: 1/1;
  border-radius: 50%;
  animation: inherit;
  animation-delay: 1s;
}

.ripple::after {
  animation-delay: 2s;
}

@keyframes ripple {
  0% {
    box-shadow: 0 0 0 .7rem rgba(255, 255, 255, 0.2);
  }
  100% {
    box-shadow: 0 0 0 8rem rgba(255, 255, 255, 0);
  }
}
.expired-uaclu{
  background-color: black;
  color: white;
  border-color: silver;
}
.ssf-fitem-ttl-icon {
  vertical-align: middle;
  margin-right: 3px;
  margin-top: -2px;
  color: #004f73;
  font-size: 17px !important;
}
#primary-send-btn .ssf-fitem-ttl-icon {
  color: white;
  font-size: 14px !important;
  margin-top: -1px;
}
.view-chat-view .ssf-fitem-ttl-label{
  display: none;
}
.view-message-form-view #DD_HOLDER_SENDER_LIST .dropdownDisplaySlip.roundedCorner{
  background-color: white;
  color: #02425c;
}
.pageContentHolder{
  background-color: #fbfdff;
}
.view-chat-view .ssf-action-btn{
  padding: 4px 12px 5px;
  font-size: 12px;
  padding: 4px 12px 5px;
  font-size: 12px;
  background-color: #0984e3;
  color: white;
}
.view-chat-view #primary-send-btn .ssf-fitem-ttl-icon {
  color: white;
}
body.view-chat-view{
  background-color: #fbfdff;
  background-image: url('./../images/messenger_icons/background.jpg?v=3');
  background-size: auto 300%;
}
.ua-send-alert.ua-send-warning {
  padding: 5px 10px;
  background-color: #dd2012;
  color: white;
  opacity: 1;
  transition: opacity 0.6s;
  margin-bottom: 15px;
  border-radius: 5px;
  font-size: 12px;
}
span.ua-send-alert-closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 15px;
  line-height: 15px;
  cursor: pointer;
  transition: 0.3s;
}
.pageTitle{
  opacity:0;
}
.view-chat-view .messagePeopleHeaderOuter:hover{
  opacity:1;
}
.event-chatbox-on-focus.view-chat-view .messagePeopleHeaderOuter, .event-chatbox-on-focus.view-conversation-view .messagePeopleHeaderOuter{
 top:5px;
}
.event-chatbox-on-focus.view-chat-view .mainSearchBarHolder, .event-chatbox-on-focus.view-conversation-view .mainSearchBarHolder{
  display: none;
}
.event-chatbox-on-focus.view-chat-view .pageContentHolder, .event-chatbox-on-focus.view-conversation-view .pageContentHolder{
  padding: 0px;
}
.event-chatbox-on-focus.view-chat-view #ssf-fitem-template-var-holder, .event-chatbox-on-focus.view-conversation-view #ssf-fitem-template-var-holder{
  display: none;
}
.event-chatbox-on-focus.view-chat-view .messageActionFooter:hover #ssf-fitem-template-var-holder, .event-chatbox-on-focus.view-conversation-view .messageActionFooter{
  display: block;
}
.event-chatbox-on-focus.view-conversation-view #uaCHATConvListHolder{
  top:0px;
}
#agent-user-collisions-list-holder:hover{
  z-index: 50;
}
div#peanea-copy-fields-list {
  position: relative;
  width: 100%;
}
div#peanea-copy-fields-list-dropdown-holder {
  position: absolute;
  display: flex;
  padding: 2px;
  right: 0;
}
div#peanea-copy-fields-list-dropdown-holder > * {
  margin: 10px;
}
.sidePanelView .peanea-copy-fields-list{
  display: none;
}


/*   Setting Page View Styles    */

.settingPageView .signedUserOptions {
    width: 100%!important;
    display: inline-block!important;
    box-sizing: border-box;
    text-align: center;
    right: 0!important;
    background-color: rgba(255,255,255,.95);
    padding-top: 70px;
    height: 100%;
    position: fixed;
    top: 0;
    z-index: 10;
}

.settingPageView .signedUserOptionsInr {
    width: calc(100% - 50px);
    display: inline-block !important;
    padding: 5px 25px;
    text-align: center;
}

.settingPageView .signedUserOptionsInr .suo-item {
    /* transition: 0.1s; */
    width: calc(35% - 0px);
    min-width: calc(35% - 0px);
    /* display: inline-flex !important; */
    display: inline-block !important;
    padding: 13px !important;
    height: 40px !important;
    /* box-shadow: 0px 0px 2.5px rgb(0 27 58 / 45%); */
    margin: 5px 5px;
    border-radius: 5px;
    position: relative;
    text-align: left;
    text-overflow: ellipsis;
    /* font-weight: 700; */
    overflow: hidden;
    white-space: nowrap !important;
    font-size: 13px!important;
    line-height: 1.5 !important;
    padding-bottom: 22px !important;
    /* border: 1px solid rgba(0,0,0,0); */
    padding-top: 5px !important;
    padding-right: 35px !important;
}

.settingPageView .suo-item span.material-icons {
    font-size: 35px;
    position: relative !important;
    height: 40px;
    top: 12px !important;
    left: 0 !important;
    width: 40px !important;
    color: #67686a;
}

.settingPageView .suo-item span, .settingPageView .suo-item div, .settingPageView .suo-item .anl_servicename, .settingPageView .suo-item .ac_name_id {
    white-space: nowrap;
    display: inline-block;
    text-overflow: ellipsis;
    width: 100%;
    overflow: hidden;
    text-align: center;
}

.settingPageView a#signedProfileUserLink_subs .suo-item {
    width: 15%;
    min-width: 15%;
    height: 5px !important;
    overflow: hidden;
    white-space: nowrap !important;
    font-size: 12px!important;
    line-height: 0.5 !important;
    padding: 0px 20px !important;
    padding-bottom: 20px !important;
    padding-top: 60px !important;
    display: inline-block !important;
    text-align: center;
    /* color: #0f6c19; */
    /* text-shadow: 0px 0px 1px; */
}

.settingPageView a#signedProfileUserLink .suo-item {
    width: 15%;
    min-width: 15%;
    height: 5px !important;
    overflow: hidden;
    white-space: nowrap !important;
    font-size: 12px!important;
    line-height: 0.5 !important;
    padding: 0px 20px !important;
    padding-bottom: 20px !important;
    padding-top: 60px !important;
    display: inline-block !important;
    text-align: center;
    color: #005bd3;
    text-shadow: 0px 0px 0.5px;
}

.settingPageView div#signoutBtn {
    width: 15%;
    min-width: 15%;
    height: 5px !important;
    overflow: hidden;
    white-space: nowrap !important;
    font-size: 12px!important;
    line-height: 0.5 !important;
    padding: 0px 20px !important;
    padding-bottom: 20px !important;
    padding-top: 60px !important;
    display: inline-block !important;
    text-align: center;
    /* color: #991204; */
    /* text-shadow: 0px 0px 1px; */
}

.settingPageView .signedUserOptionsInr hr {
    position: relative;
    top: 10px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
    height: 0;
}

.settingPageView div#suo-item-ua-profile-nav:hover {
    background-color: transparent !important;
}

.settingPageView .signedUserOptionsInr .suo-item:hover {
    background-color: aliceblue;
}

.settingPageView div#suo-item-ua-profile-nav {
    width: calc(70% + 90px) !important;
    padding: 0px 0px !important;
    margin: 5px 0px !important;
    align-items: center;
    display: inline-block !important;
    justify-content: flex-end;
    padding-bottom: 5px !important;
    font-size: 12px !important;
    flex-direction: column !important;
    flex-wrap: nowrap;
    align-content: center;
    padding-top: 5px !important;
    left: 0;
    height: 28px !important;
}

.settingPageView .suo-item .anl_servicename {
    position: relative;
    left: 2px;
    text-align: left;
    top: 6px;
    width: max-content;
}

.settingPageView .suo-item .ac_name_id {
    position: absolute;
    bottom: 15px;
    left: 0px;
    text-align: left;
    padding-left: 60px;
    width: calc(100% - 100px);
    padding-right: 55px !important;
}

.settingPageView span#signInUserName {
    width: auto !important;
    font-weight: 700;
}

.settingPageView span#signInUserEmail {
    width: auto !important;
    top: -1px !important;
    position: relative;
}

.settingPageView a#signedProfileUserLink .suo-item span.material-icons, .settingPageView #signoutBtn span.material-icons, .settingPageView #signedProfileUserLink_subs span.material-icons {
    top: 15px !important;
    position: absolute !important;
    width: 100% !important;
}

.settingPageView #signoutBtn span.material-icons {
    left: -7px !important;
    /* color: #b73f32; */
    /* text-shadow: 0px 0px 1.3px; */
}

.settingPageView div#suo-item-ua-profile-nav .material-icons {
    top: -4px !important;
}

.settingPageView {
    overflow: hidden;
}

.settingPageView .closeSettingPageView {
    display: flex;
    position: absolute;
    right: 10px;
    font-size: 25px;
    text-shadow: 0 0 0;
    color: #787878;
    cursor: pointer;
    top: 5px;
    z-index: 30;
    width: 40px;
    height: 40px;
    background-color: #dcdada;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
}

.settingPageView .titleSettingPageView {
    display: inline-block;
    position: absolute;
    padding-left: calc(15% - 25px);
    font-size: 22px;
    text-shadow: 0px 0px 0px;
    color: #787878;
    cursor: default;
    top: 0px;
    z-index: 30;
    /* height: 75px; */
    width: calc(100% - 0px);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding-top: 28px;
    padding-right: 75px;
    box-sizing: border-box;
    background-color: rgba(256, 256, 256, 0.95);
    backdrop-filter: blur(37px);
}

.settingPageView .titleSettingPageView div {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.settingPageView .closeSettingPageView:hover {
    color: #760909;
    background-color: #d8d0d0;
    text-shadow: 0px 0px 1px;
}

.settingPageView a#signedProfileUserLink .suo-item span.material-icons {
    color: #005bd3;
    text-shadow: 0px 0px 1px;
}

@media only screen and (max-width: 500px) {
    
.settingPageView .signedUserOptionsInr .suo-item {
    width: 75%;
}

.settingPageView div#suo-item-ua-profile-nav {
    padding-left: calc(10% + -5px) !important;
}

.settingPageView span#signInUserEmail {
    width: auto !important;
    position: absolute;
    top: 22px !important;
    margin-left: 0px;
}

.settingPageView div#suo-item-ua-profile-nav .material-icons {
    top: 0px !important;
}

.settingPageView span#signInUserName {
    position: absolute;
}

.settingPageView .windowPageOuter {
    z-index: 30;
}

.settingPageView .closeSettingPageView {
    z-index: 30;
}

.settingPageView .titleSettingPageView {
    font-size: 18px;
    z-index: 30;
    padding-left: calc(20% - 25px);
}
    
}

.settingPageView .titleSettingPageView{
  display: block !important;
}
#suo-item-ua-app-lic-plan{
  color: royalblue;
}
#suo-item-ua-app-lic-plan .material-icons, #suo-item-ua-app-lic-plan .ac_name_id{
  color: royalblue;
}

/*   Setting Page View Styles    */

/*  all ua sms  */
div#ua-all-in-one-sms-container {
  position: absolute;
  top: 50px;
  background: white;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.ua-all-in-one-sms-ttl {
  position: relative;
  margin: 5% 15%;
  font-size: 25px;
  color: rgb(113 113 113);
  background: #f0f0f0;
  width: max-content;
  padding: 5px 20px;
}

div#ua-allInOneSms-apps-holder {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 50px;
  padding: 10px;
  width: 70%;
  left: 15%;
}

.ua-allInOneSms-appItem {
  position: relative;
  width: 100px;
  height: 115px;
  background: white;
  box-shadow: 0px 0px 5px 1px #aaa;
  border-radius: 5px;
  cursor: pointer;
}

.ua-allInOneSms-appItem-notif {
  position: absolute;
  width: 15px;
  height: 15px;
  background: crimson;
  color: white;
  z-index: 1;
  top: -5px;
  right: -5px;
  text-align: center;
  padding: 3px;
  font-size: 12px;
  border-radius: 50px;
}

.ua-allInOneSms-appItem-icon-holder {
  position: relative;
  width: 90px;
  left: 5px;
  height: 90px;
}

img.ua-allInOneSms-appItem-icon {
  position: relative;
  width: 100%;
  height: 100%;
}

.ua-allInOneSms-appItem-name {
  position: relative;
  font-size: 13px;
  width: 90px;
  left: 5px;
  text-align: center;
  padding: 0px 2px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ua-allInOneSms-appItem-add {
  position: relative;
  font-size: 50px;
  color: #aaa;
  text-align: center;
  padding: 15px 0px;
}

.ua-iacard {
  box-shadow: 0px 0px 2px 1px #047907;
}

.ua-allInOneSms-appItem:hover {
  box-shadow: 0px 0px 10px 0px #aaa;
}

.ua-all-in-one-sms-close {
  position: absolute;
  top: 20px;
  right: 20px;
  background: #a39f9f;
  color: white;
  padding: 5px 8px;
  border-radius: 50px;
  font-size: 13px;
  cursor: pointer;
}
#suo-item-lic-users-manage-users{
  color: green;
}
#suo-item-lic-users-manage-users .material-icons, #suo-item-lic-users-manage-users .ac_name_id{
  color: green;
}

/*   Setting Page View Styles    */

/*   App Usage Analytics    */


#userStatisticOuterDiv {
  display: inline-block;
  width: 100%;
  text-align: center;
}

.userSubStatisticDiv {
  text-align: left;
  background-color: rgba(214,218,218,0.7);
  width: calc(100% - 10px);
  min-width: calc(50% - 10px);
  display: inline-block;
  padding: 10px 15px;
  box-sizing: border-box;
  /* border-radius: 2px; */
  box-shadow: inset 0px 0px 70px #c493a97d;
  line-height: 25px;
  cursor: pointer;
  margin: 2px 2.5px;
  padding-left: 20px;
  border: 0px;
  border-left: 5px #e26e00;
  border-style: solid;
  text-transform: capitalize;
}

.userSubStatisticTitDiv {
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.userSubStatisticValDiv {
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

div#userSubStatisticDetailsDiv {
  width: calc(100% - 10px);
  background-color: #e1d6e9bd;
  display: inline-block;
  padding: 20px;
  box-sizing: border-box;
  max-height: 250px;
  overflow: auto;
  border-bottom-left-radius: 5px;
  cursor: default;
  margin: -2px 3px;
  border-bottom-right-radius: 5px;
  position: relative;
  top: 0px;
}

.userSubStatisticDetailSubDiv {
  display: flex;
  background-color: rgb(0 0 0 / 3%);
  margin: 2px 0px;
  padding: 10px 20px;
  border-radius: 3px;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
  text-align: left;
}

.userSubStatisticDetailSubDivHead {
  font-weight: bolder;
  width: calc(90px);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.userSubStatisticDetailSubDivMid {
  font-weight: bolder;
  width: 20px;
  text-align: center;
  text-shadow: 0px 0px 1px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.userSubStatisticDetailSubDivBody {
  color: #436089;
  font-weight: 500;
  padding-left: 15px;
  box-sizing: border-box;
  width: calc(100% - 110px);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}


.userSubStatisticDiv:hover {
  box-shadow: inset 0px 0px 70px #996b807d;
}

.userSubStatisticDiv.userSubStatisticDivSelected {
  border: 0;
  border-radius: 0;
  background-color: #e1d6e9bd !important;
  box-shadow: none;
  text-shadow: 0px 0px 0.5px gray;
  border-bottom: 1px solid #8080801a;
}

.userSubStatisticDetailSubDivEmpty {
  width: calc(100% - 0px);
  height: 100%;
  top: 0;
  border-top-left-radius: 0px;
  box-sizing: border-box;
  padding-top: 8px;
  color: #a12020;
  text-shadow: 0px 0px 1px;
}


/*   App Usage Analytics    */

#notSignedInError{
  padding-bottom: 75px;
}
.ssf-fitem-radio{
  font-size: 12px;
  margin-left: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;}
.ssf-fitem-radio-item{
  display: flex;
  align-items: center;
  gap: 2px;
  cursor: pointer;
}

.ualic_sub_status_tip, .aa-ualic_sub_status_tip{
  display: none !important;
}
.sidePanelView .pmt-plansholder{
  min-width: unset;
}
.sidePanelView .pmt-ttl{
  margin-bottom: 15px;
  font-size: 18px;
  padding-top: 7px;
}
.sidePanelView .pmtp-planname{
  font-size: 18px;
}
.sidePanelView #pmtp-currencySelector{
    top: 40px;
    font-size: 11px;
    padding: 3px 7px;
}
.sidePanelView .pmtqn-ttl{
  font-size: 18px;
  margin-bottom: 10px;
}
.sidePanelView .pmtqn-subttl{
  font-size: 13px;
}
.sidePanelView #ua-lic-use-shared-ac-btn{
  margin-bottom: 5px;
}

.pmtw-sec-holder{
 
    background-color: white;
    display: inline-block;
    margin-top: 30px;
    padding: 10px 25px;
    border-radius: 30px;
    position: relative;
    box-shadow: 0px 5px 25px rgb(0 0 0 / 30%);
    max-width: 90%;
    max-height: 85%;
    overflow-y: auto;
    box-sizing: border-box;
    text-align: center;
    color: green;
    display: none;
}
.pmtw-sec-top-text{
  font-size: 14px;
  
  font-weight: bold;
}
.pmtw-sec-bottom-text{
    color: grey;
    font-size: 10px;
    margin-top: 2px;
}
.pmtw-sec-holder:hover{
  cursor: pointer;
  background-color: green;
  color: white;
}
.pmtw-sec-holder:hover div{
  color: white;
}
.sidePanelView .lcp-lic-item-ttl{
  font-size: 14px;
}
.sidePanelView .lcpi-buymore-lic-btn{
  float: none;
  font-size: 10px;
  margin-top: 12px;
}
.sidePanelView .lcpi-quantity span{
  display: block;
    margin-top: 15px;
    margin-left: 0px !important;
    font-size: 11px;
}
.sidePanelView .lcpi-user-tip{
  margin: 10px 0px;
  font-size: 12px;
  border-radius: 5px;
}
.sidePanelView .lcpi-users{
  margin: 15px 0px;
}
.sidePanelView .lcpi-user-item{
  margin: 0px;
  margin-bottom: 7px;
}
.sidePanelView .inp_lcpi-user{
  font-size: 12px;
}

@media only screen and (max-width: 320px) {

body {
    overflow: auto;
    width: 320px !important;
}

#lic-sub-allowed-user-holder, .signedOut, #notSignedInError, .mainSearchBarHolder, .pageTitle {
    width: 290px !important;
    position: unset;
}

header {
  max-height: 53px;
}

}
#trial-expire-subscription-dynamic-island{
  background-color: crimson;
}
#trial-expire-subscription-dynamic-island .pmtw-sec-top-text, #trial-expire-subscription-dynamic-island .pmtw-sec-bottom-text{
  color: white;
}
.pmtw-holder{
  padding-bottom: 50px;
}
.sidePanelView .pmt-plansholder {
  padding: 10px 20px 0px;
}
#page-min-max-btn {
  z-index: 10000000000;
}
.pmtw-outer{
  overflow-y: auto;
}
.sidePanelView .pmtp-item{
  margin-bottom: 20px;
}
.pmtp-descalim-tip a{
  color: grey;
}
#ua-lic-product-plans .pmtw-holder{
  background-color: aliceblue;
}
.sidePanelView #ask-shared-access-admin-tip{
  font-size: 12px;
}



