
.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}
.pt{
  cursor: pointer;
}
.mdlslect{
  float:left;
  margin-left:30px;
  cursor: pointer;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 17px;
}

.slider.round:before {
  border-radius: 50%;
}
.settingsContainer{
  width:100%;
  float:left;
}
.appContainer{
  width:100%;
  float:left;
  padding:10px;
}
.triggersetting{
  width:18%;
  float:left;
  text-align:center;
  padding:10px;
}
.fieldMapperContainer{
      float: left;
      clear: both;
      min-width: 490px;
      display: none;
    }
    .fieldMapp{
      padding-top: 10px;
      float: left;
      clear: both;
      min-width: 490px;
    }
    .fromField{
      float: left;
      min-width: 38%;
    }
    .arrowIcon{
      padding-left: 0px;
      padding-top: 4px;
      float: left;
      width: 9%;
      text-align: center;
    }
    .styled-select.fieldMap {
       height: 29px;
       overflow: hidden;
       width :200px;
    }
    .styled-select.fieldMap select {
       background: transparent;
       border: none;
       font-size: 14px;
       height: 29px;
       padding: 5px; 
       width :200px;
    }
    .styled-select.slate.fieldMap {
       height: 32px;
    }

    .styled-select.slate.fieldMap select {
       border: 1px solid #ccc;
       font-size: 16px;
       height: 32px;
    }
    .eventFieldMap{
      padding-top: 0px;
      float: left;
      clear: both;
    }
    .eventname{
      text-align: center;
      max-width: 455px;
      min-width: 455px;
      background: grey;
      color: white;
      clear: both;
      cursor: pointer;
    }
    .active, .collapsible:hover {
      background-color: #555;
    }
    .collapsible {
      text-align: center;
      background-color: #777;
      color: white;
      cursor: pointer;
      padding: 10px;
      width: 100%;
      border: none;
      outline: none;
      font-size: 15px;
    }
    .collapsible:after {
      content: '\002B';
      color: white;
      font-weight: bold;
      float: right;
      margin-left: 5px;
    }

    .active:after {
      content: "\2212";
    }
    .btns{

      clear: both;
      float: right;
      padding-top: 5px;
      padding-right: 15px;
    }
    .btn{
      margin-left:10px;
      padding-left: 10px;
      padding: 6px 15px;
      float: left;
      color: #fff;
      font-size: 14px;
      text-align: center;
      border: none;
      border-radius: 2px;
      cursor: pointer;
      font-family: "ProximaNovaRegular",sans-serif;
    }
    .save{
        color: white;
        background-color: #0c7bf4!important;
        border: solid 1px #0c7bf4!important;
    }
    .cancel{
        color: #3c3c3c;
        background: #fff;
        border: solid 1px #c4c4c4;
    }
    .moduleSettings{
      padding-top:20px;
      padding-bottom:20px;
      clear: both;
      float: left;
      width: 100%;
    }
    fieldset {
      overflow: hidden;
      border:none!important;
      padding-left: 0px!important;
    }
    
    .modules {
      float: left;
      clear: none;
    }
    
    .radiolabel {
      float: left;
      clear: none;
      display: block;
      padding: 0px 1em 0px 8px;
    }
    
    input[type=radio],
    input.radio {
      float: left;
      clear: none;
      margin: 2px 0 0 2px;
    }
    .overlay {
      position: fixed;
      display: none;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0,0,0,0.5);
      z-index: 2;
    }

    .text{
      position: absolute;
      top: 50%;
      left: 50%;
      font-size: 17px;
      color: white;
      transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
    }
