.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
    position: relative;
    left: 25px;
    top: 4px;
    cursor: pointer;
}
#select_customer_dropdown_icon,#select_org_dropdown_icon {
    position: relative;
    padding: 1px 4px;
    left: 0px;
    top: 0;
    font-size: 25px;
    font-weight: 600;
    color: #0087a2;
    cursor: pointer;
}
div#select_xero_customer_name_div, div#select_xero_org_name_div {
    position: relative;
    width: 90%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
body::-webkit-scrollbar {
  display: none;
}
div#xero_invoice_full_div {
    position: relative;
    width: 90%;
    height: 100%;
    left: 35%;
    top: 100px;
    font-family: roboto;
    display: flex;
    flex-direction: column;
}
div#xero_invoice_customer_div,div#xero_invoice_org_div {
    position: relative;
    width: 33%;
    height: 50px;
    display: flex;
    flex-direction: row;
}
div#select_invoice_cusomer_div,div#select_invoice_org_div {
    position: relative;
    width: 15%;
    display: flex;
    flex-direction: column;
}
div#select_invoice_cusomer_opt_title_div,div#select_invoice_org_opt_title_div {
    position: relative;
    width: 100%;
    height: 100%;
}
span.material-icons {
    position: relative;
    padding: 1px 0px;
    font-size: 25px;
    font-weight: 600;
    color: #0087a2;
    cursor: pointer;
}
div#select_customer_name_div,div#select_org_name_div  {
    position: relative;
    min-width: 60%;
    padding: 6px 12px;
    max-width: 80%;
    font-size: 20px;
    height: 25px;
    font-weight: 600;
    color: #0087a2;
    border: 1px solid #f0f0f0;
    border-left: 4px solid #0087a2;
    border-radius: 4px;
    box-shadow: 1px 1px 2px #aaa;
    display: flex;
    flex-direction: row;
    cursor: pointer;
}
div#select_xero_customer_update_div {
    position: relative;
    margin-left: 3%;
}
span.material-icons.select_xero_customer_update_btn {
    position: absolute;
    top: 3px;
    left: 0;
    font-size: 30px;
}
div#select_invoice_cusomer_opt_div,div#select_invoice_org_opt_div {
    position: absolute;
    width: 15.35%;
    z-index: 10;
    left: 0.5%;
    margin-top: 40px;
    box-shadow: 0px 0px 5px #aaa;
    border-radius: 4px;
    padding: 5px 15px;
    background: white;
}
div#select_invoice_cusomer_opt_div {
    left: 37.5%;
}
div#select_invoice_cusomer_opt_count_div,div#select_invoice_org_opt_count_div {
    position: relative;
    width: 40%;
    font-size: 11px;
    height: 25px;
    text-align: left;
    color: #aaa;
    margin-top: 13px;
    margin-left: 15px;
}
.select_customer_options,.select_org_options {
    position: relative;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 3px 2px;
    box-sizing: border-box;
}
.select_customer_options:hover,.select_org_options:hover {
    cursor: pointer;
    /*font-size: 17px;*/
    font-weight: 500;
    color: #0087a2;
}
div#xero_customer_invoice_title_txt {
    position: relative;
    width: 90%;
    left: -33%;
    padding: 5px 3%;
    margin-top: 40px;
    font-size: 22px;
    text-align: center;
    color: #aaa;
    box-shadow: 0px 2px 5px #aaa;
}
div#xero_invoices_contains_div {
    position: fixed;
    margin-top: 110px;
    overflow: auto;
    width: 90%;
    height: 400px;
    display: flex;
    flex-direction: column;
    margin-left: -30%;
}
div#no_invoices {
    position: relative;
    width: 100%;
    text-align: center;
    margin-top: 20%;
    color: cadetblue;
}
div#xero_invoices_contains_div::-webkit-scrollbar {
  display: none;
}
.customer_invoice_item_div {
    position: relative;
    width: 90%;
    left: 2%;
    margin: 4px 0px 20px 10px;
    max-height: 320px;
    display: flex;
    flex-direction: row;
    padding: 2px 2px 20px 2px;
    box-shadow: 0px 0px 5px #aaa;
    border-radius: 4px;
    transition: 0.8s 0.1s;
}
.customer_invoice_status_info_div {
    position: relative;
    width: 15%;
    height: 100%;
    text-align: center;
    background: white;
    color: white;
}
.customer_invoice_status_txt_div {
    position: relative;
    margin-top: 0px;
    width: auto;
    height: 25px;
    background: #008cb2;
    padding: 8px 0px 0px 0px;
}
/*.customer_invoice_status_val_div {
    position: relative;
    height: 25px;
    padding: 7px 0px 0px 0px;
    background: #0979aa;
}*/
.customer_invoice_status_val_div {
    position: relative;
    height: 25px;
    top: -33px;
    padding: 21px 5px 19px 5px;
    background: #f5f7fa;
    color: #29ced3;
    font-weight: 600;
}
.customer_invoice_update_div {
    position: relative;
    width: 60%;
    height: calc(100% - 50px);
    margin-top: 25px;
    left: 20%;
}
.customer_invoice_changeOfVoid_btn_div,.customer_invoice_changeOfUncollectible_btn_div {
    position: relative;
    width: 80%;
    left: 10%;
    margin-top: 3px;
    height: 30px;
    background: #723b3b8c;
    border-radius: 4px;
    text-align: center;
}
.customer_invoice_delete_btn_div {
    position: relative;
    width: 80%;
    left: 10%;
    margin-top: 3px;
    height: 30px;
    background: #cf000082;
    border-radius: 4px;
    text-align: center;
}
.customer_invoice_send_btn_div {
    position: relative;
    width: 80%;
    left: 10%;
    margin-top: 3px;
    height: 30px;
    background: #74cb74;;
    border-radius: 4px;
    text-align: center;
}
.customer_invoice_delete_btn_div:hover {
    background: crimson;
}
.customer_invoice_send_btn_div:hover {
    background: #44b744;
}
.customer_invoice_changeOfVoid_btn_div:hover,.customer_invoice_changeOfUncollectible_btn_div:hover {
    background: #b4a8a8c2;
}
button.customer_invoice_changeOfVoid_btn,button.customer_invoice_delete_btn,button.customer_invoice_send_btn,button.customer_invoice_changeOfUncollectible_btn {
    position: relative;
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    background: none;
    color: white;
    font-size: 15px;
    cursor: pointer;
}
.customer_invoice_details_div {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 85%;
}
/*.customer_inv\&rec_num_div {
    position: relative;
    display: flex;
    flex-direction: row;
    height: 65px;
    background: #19aad1;
    color: white;
}*/
.customer_inv\&rec_num_div {
    position: relative;
    display: flex;
    flex-direction: row;
    height: 65px;
    background: #F1F4F7;
    color: #857e7e;
}
.customer_invoice_num {
    position: relative;
    width: auto;
    height: 20px;
    margin-top: 23px;
    margin-left: 20px;
}
.customer_invoice_rec_num {
    position: relative;
    width: auto;
    height: 20px;
    margin-top: 23px;
    margin-left: 20px;
}
.customer_invoice_date_details_div {
    position: absolute;
    width: auto;
    height: 20px;
    margin-top: 23px;
    right: 20px;
}
.customer_invoice_otherDetails_div {
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 10px 0px;
    color: #838383;
    font-size: 16px;
    width: 95%;
    left: 2.5%;
    top: 5px;
    margin-top: 10px;
}
.customer_invoice_period {
    position: relative;
    margin-top: 0px;
}
div.invoice_total_amount_details_div {
    position: absolute;
    right: 0;
}
.customer_invoice_pdf {
    position: absolute;
    right: 65px;
}

.customer_invoice_pdf_btn_div {
    display: flex;
    flex-direction: row;
    width: 100%;
    color: #0087a2;
    cursor: pointer;
}
span.material-icons.invoice_pdf_icon {
    position: relative;
    font-size: 17px;
    left: 5px;
    top: 2px;
}
.customer_invoice_hosted_invUrl {
    position: absolute;
    top: 5px;
    right: 45px;
}
span.material-icons.inv_hosted_url_icon {
    position: relative;
    font-size: 20px;
    top: 5px;
}

div.customer_invoice_list_items {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 95%;
    left: 2.5%;
    top: 5px;
    padding: 10px 0px;
    max-height: 40%;
    overflow: auto;
}
div.customer_invoice_list_items::-webkit-scrollbar {
  display: none;
}
.customer_invoice_list_item_title_div,.customer_invoice_list_item {
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 5px 10px;
    height: 20px;
    box-shadow: 0px 0px 3px #aaa;
    border-radius: 4px;
    color: #5c4e4e;
    top: 2px;
    width: 95%;
    left: 1px;
}
.customer_invoice_list_item{
    box-shadow: none;
    margin-top: 5px;
}
.ci_description_div,.ci_li_description_div {
    position: relative;
    width: 30%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.ci_qty_div,.ci_li_qty_div {
    position: relative;
    width: 10%;
    text-align: center;
}
.ci_price_div,.ci_li_price_div {
    position: relative;
    width: 20%;
    text-align: center;
}
.ci_amount_div,.ci_li_amount_div {
    position: relative;
    width: 20%;
    text-align: center;
}
.ci_discount_div,.ci_li_discount_div {
    position: relative;
    width: 20%;
    text-align: center;
}
.customer_invoice_calc_div {
    position: relative;
    display: flex;
    font-size: 15px;
    flex-direction: column;
    width: 35%;
    left: 55%;
    top: 10%;
    padding: 10px 20px;
    box-shadow: 0px 0px 3px #aaa;
    border-radius: 4px;
    border: 4px solid;
    border-color: #e27e7e;
    border-right: none;
    border-left: none;
    border-bottom: none;
}
.customer_invoice_subtotal_div,.customer_invoice_coupon_div,.customer_invoice_total_div,.customer_invoice_tax_div {
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 3px 0px 0px 0px;
}
.customer_invoice_subtotal_txt_div,.customer_invoice_coupon_txt_div,.customer_invoice_tax_txt_div,.customer_invoice_amount_txt_div {
    position: relative;
    width: 65%;
}
.customer_invoice_subtotal_val_div,.customer_invoice_coupon_val_div,.customer_invoice_tax_val_div,.customer_invoice_amount_val_div {
    position: relative;
    width: 35%;
}
.expand_invoice_item {
    position: absolute;
    bottom: 0%;
    left: -10%;
}
.expand_icon {
    top: 0;
    left: 0;
}
div#confirm_box_full_div {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #aaaaaa3b;
    font-family: 'Roboto';
}
div#confirm_box_div {
    position: relative;
    width: 300px;
    height: 70px;
    left: 40%;
    top: 1px;
    padding: 10px 10px;
    background: white;
    box-shadow: 0px 0px 8px #6d6d6d;
    border-radius: 2px;
}
div#confirm_box_text_div {
    position: relative;
    width: 100%;
    height: 30px;
    text-align: center;
    color: #666;
    font-size: 17px;
}
div#confirm_box_inp_div {
    position: relative;
    width: 50%;
    left: 25%;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    cursor: pointer;
}
div#confirm_yes_btn {
    position: relative;
    width: 50%;
    padding: 3px 0px;
    text-align: center;
    background: #577decc4;
    color: white;
}
div#confirm_no_btn {
    position: relative;
    width: 50%;
    padding: 3px 0px;
    text-align: center;
    background: #f0f0f0;
    color: #666;
}

/*loader_website*/
.loader_website {
  position: fixed;
  top: 0;
  left: 0px;
  z-index: 1100;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: block;

  -webkit-transition: ease-in-out 0.1s;
  -moz-transition: ease-in-out 0.1s;
  -o-transition: ease-in-out 0.1s;
  -ms-transition: ease-in-out 0.1s;
  transition: ease-in-out 0.1s;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
.loader_website * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
body.loader .loader_website span {
  top: 30%;
}
.loader_website > span {
  display: block;
  width: 48px;
  height: 48px;
  padding: 4px;
  background-color: #ffffff;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -o-border-radius: 100%;
  -ms-border-radius: 100%;
  border-radius: 100%;
  position: absolute;
  left: 50%;
  margin-left: -24px;
  top: -50px;

  -webkit-transition: ease-in-out 0.1s;
  -moz-transition: ease-in-out 0.1s;
  -o-transition: ease-in-out 0.1s;
  -ms-transition: ease-in-out 0.1s;
  transition: ease-in-out 0.1s;

  -webkit-box-shadow: #000 0px 5px 10px -5px;
  -moz-box-shadow: #000 0px 5px 10px -5px;
  -o-box-shadow: #000 0px 5px 10px -5px;
  -ms-box-shadow: #000 0px 5px 10px -5px;
  box-shadow: #000 0px 5px 10px -5px;
}
.loader_website > span > svg {
  fill: transparent;
  stroke: #6f79ea;
  stroke-width: 5;
  animation: loader_dash 2s ease infinite, loader_rotate 2s linear infinite;
}
@keyframes loader_dash {
  0% {
    stroke-dasharray: 1, 95;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 85, 95;
    stroke-dashoffset: -25;
  }
  100% {
    stroke-dasharray: 85, 95;
    stroke-dashoffset: -93;
  }
}
@keyframes loader_rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*loader_website*/
