

		td {
		  text-align: left;
		  padding: 25px;
		}
		input  {
		  max-width: 750px;
		  width: 70%;
		  padding: 8px 15px;
		  box-sizing: border-box;
		  float: left;
		}
      

   .goog-te-banner-frame.skiptranslate {
            display: none !important;
        }
        body {
            top: 0px !important;
        }
        @font-face {
  font-family: 'zb-fonticons';
  src:  url('/fonts-icon/zb-fonticons.eot?9bjl2c');
  src:  url('/fonts-icon/zb-fonticons.eot?9bjl2c#iefix') format('embedded-opentype'),
    url('/fonts-icon/zb-fonticons.ttf?9bjl2c') format('truetype'),
    url('/fonts-icon/zb-fonticons.woff?9bjl2c') format('woff'),
    url('/fonts-icon/zb-fonticons.svg?9bjl2c#zb-fonticons') format('svg');
  font-weight: normal;
  font-style: normal;
}
#loader {
	margin-top: 220px;
	margin-left: 324px;
	margin-right: 320px;
	margin-bottom: 220px;
	border: 5px solid #f3f3f3;
	-webkit-animation: spin 1s linear infinite;
	animation: spin 1s linear infinite;
	border-top: 5px solid #555;
	border-radius: 50%;
	width: 50px;
	height: 50px;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.button {
  background-color:#f7f8f9;
  border: none;
  width: 33px;
  max-height:30px;
}
.saveapikey{
  	padding: 10px 15px;
	box-sizing: border-box;
	float:left;
	max-width: 60px;
	width:20%;
	cursor:pointer;
	color: #fff;
    background: #42a2eb;
}
.apikeyinput{
	min-width: 400px;
	float:left;
	clear: both;
}
#webHookurl{
	float:left;
	clear: both;
	max-width: 670px;
	overflow-x: auto;
	overflow-y: auto;
}
 .error-message {
	  color: #cc0033;
	  display: inline-block;
	  font-size: 16px;
	  line-height: 18px;
	  margin: 5px 0 0;
}
.overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
}

.text{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 17px;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}
/* The switch - the box around the slider */
		.switch {
		  position: relative;
		  display: inline-block;
		  width: 60px;
		  height: 34px;
		}
		.btn {
			padding: 2px 0px 1px 0px;
		}
		/* Hide default HTML checkbox */
		.switch input {
		  opacity: 0;
		  width: 0;
		  height: 0;
		}

		/* The slider */
		.slider {
		  position: absolute;
		  cursor: pointer;
		  top: 0;
		  left: 0;
		  right: 0;
		  bottom: 0;
		  background-color: #ccc;
		  -webkit-transition: .4s;
		  transition: .4s;
		}

		.slider:before {
		  position: absolute;
		  content: "";
		  height: 26px;
		  width: 26px;
		  left: 4px;
		  bottom: 4px;
		  background-color: white;
		  -webkit-transition: .4s;
		  transition: .4s;
		}

		input:checked + .slider {
		  background-color: #2196F3;
		}

		input:focus + .slider {
		  box-shadow: 0 0 1px #2196F3;
		}

		input:checked + .slider:before {
		  -webkit-transform: translateX(26px);
		  -ms-transform: translateX(26px);
		  transform: translateX(26px);
		}

		/* Rounded sliders */
		.slider.round {
		  border-radius: 34px;
		}

		.slider.round:before {
		  border-radius: 50%;
		}
		.styled-select {
		   height: 29px;
		   width :200px;
		     overflow: hidden;
		     text-overflow: ellipsis; 
  white-space: nowrap; 
		}
		.styled-select select {
		   background: transparent;
		   border: none;
		   font-size: 14px;
		   height: 29px;
		   padding: 5px; 
		   width :200px;
		    overflow: hidden;
  text-overflow: ellipsis; 
  white-space: nowrap; 
		}
		.styled-select.slate {
		   height: 32px;
		   text-overflow: ellipsis; 
  white-space: nowrap; 
		}

		.styled-select.slate select {
		   border: 1px solid #ccc;
		   font-size: 16px;
		   height: 32px;
		}
		.fieldMapperContainer{
			padding-top: 10px;
			float: left;
			clear: both;
			min-width: 750px;
		  	display: none;
		}
		.fieldMapp{
			padding-top: 10px;
			float: left;
			clear: both;
			min-width: 1050px;
		}
		.fromField{
			padding-right: 5px;
			float: left;
			min-width: 20%;
		}
		.toField{
			padding-left: 5px;
			float: left;
			min-width: 30%;
		}
		.arrowIcon{
			padding-left: 22px;
			padding-top: 3px;
			float: left;
			width: 15%;
			text-align: center;
		}
		.styled-select.fieldMap {
		   height: 29px;
		   overflow: hidden;
		   width :200px;
		}
		.styled-select.fieldMap select {
		   background: transparent;
		   border: none;
		   font-size: 14px;
		   height: 29px;
		   padding: 5px; 
		   width :200px;
		}
		.styled-select.slate.fieldMap {
		   height: 32px;
		}

		.styled-select.slate.fieldMap select {
		   border: 1px solid #ccc;
		   font-size: 16px;
		   height: 32px;
		}
		.eventFieldMap{
			padding-top: 10px;
			float: left;
			clear: both;
		}
		.countyCode{
			width: 185px;
			height: 33px;
		}

		.contactme {
    position: absolute;
    right: 30px;
    top: 85px;
    width: 400px;
    line-height: 2;
    border: 1px dotted darkturquoise;
    padding: 10px;
    border-radius: 5px;
    background-color: aliceblue;
}



.outerOfSettingDetails {
    width: 100%;
    box-sizing: border-box;
    position: relative;
    margin: 20px 0px 20px 0px;
    display: flex;
    flex-direction: column;
padding: 40px;background-color: white;padding-bottom: 70px;}

.outerOfSettingDetailsHead {
    width: max-content;
    height: 27px;
    font-size: 16px;
    text-shadow: 0px 0px 1px;
    display: flex;
    border: 0;
    border-bottom: 2px;
    border-style: inset;
    margin-bottom: 18px;
}

.outerOfSettingDetailsBSup1Head, .outerOfSettingDetailsBSup2Head {
    font-size: 14px;
    height: 24px;
    font-weight: 300;
}

.outerOfSettingDetailsBSup2BList {
    width: 230px;
}

.outerOfSettingDetailsBSup1BList {
    width: 230px;
}

span.emptyouterOfSettingDetailsBSelected {
    color: #25064373;
}

.checkModuleCreateHoverDiffClass, .checkModuleCreateHoverDiffClass:hover {
    background-color: #04310917;
}

.outerOfSettingOutDetails {
    width: 100%;
}

.outerOfSettingOutDetails .outerOfSettingDetailsBody {
    top: -15px;
    position: relative;
}

.createModuleDrop, .dropUlOut, .template_FieldDiv, .sender_FieldDiv {
    position: relative;
    display: flex;
    flex-direction: column;
}

details.dropUlOut.chooseModuleTemp {
    top: 0px;
}

.choose, .templateChoose, .senderChoose {
    float:left;
    width: 155px;
    font-size: 13px;
    /* background-color: #fff; */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    top: -0.5px;
    position: relative;
    text-transform: capitalize;
}

.extraSettingPageHead {
    /* border-radius: 27%3px; */
    width: max-content;
    height: 16px;
    font-size: 12px;
    box-sizing: border-box;
    /* padding: 0px 5px; */
    box-shadow: 0px 0px 3px #ffffff;
    display: flex;
    overflow: hidden;
    cursor: default;
    color: #868697;
    text-shadow: 0px 0px 1px;
    padding-right: 5px;
    top: 5px;
    position: relative;
}

.extraSettingPageHead svg {
    width: 18px;
    height: 29px;
    fill: #a7a7a7;
    position: relative;
    top: -5px;
    right: -6px;
}

.dropListButtCreate, .dropListButt, .senderFieldDivButt, .templateListFieldDivButt {
    background-color: whitesmoke;
    padding: 5px 15px !important;
    border-radius: 3px;
    box-shadow: 1px 1px 3px rgb(0 0 0 / 30%);
    font-size: 13px !important;
    color: black;
    border: none !important;
    text-align: left;
    outline: 0 !important;
    width: 200px;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.senderFieldDivButt .arrowIcon {
    color: #f9f5f6d6;
}
.arrowIcon, .dp_arrowIcon, .dp_arrowIcon_rught{
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.33em solid;
    border-right: 0.33em solid transparent;
    border-bottom: 0;
    border-left: 0.33em solid transparent;
    position: relative;
    top: 0.5px;
    right: -4px;
    color: #7c7c7c;
} 

.dp_arrowIcon {
    border-top: .25em solid;
    border-right: .25em solid transparent;
    border-bottom: 0;
    border-left: .25em solid transparent;
    color: #3e3e3e;
    position: relative;
    top: 1.5px;
}

.createModuleDrop, .dropUlOut, .template_FieldDiv, .sender_FieldDiv {
    position: relative;
    display: flex;
    flex-direction: column;
}

.moduleFieldDiv, .moduleFieldDivTemp, .userFieldDiv, .templateFieldDiv, .userFieldDivTemp {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: 1.4px;
}

.userFieldDiv, .userFieldDivTemp {
    width: 154px;
}

.dropdown-menu{
    overflow: auto;
    margin: auto;
    background-color: rgb(253 253 253);
    z-index: 10;
    width: 100%;
    border-radius: 3px;
    box-shadow: 0px 2.5px 2px #52525261;
    padding: 3px 0px;
    position: absolute;
    top: 26.5px;
    max-height: 215px;
}

span.addModuleToCheckListSVG, span.addModuleToCheckListSVGCreate {
    position: absolute;
    right: 8px;
    top: 5px;
}

.checkModuleHoverDiffClass, .checkModuleHoverDiffClass:hover {
    background-color: #3104040f;
}

.outerOfSettingDetailsBody {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
}

.outerOfSettingDetailsBSup1 {
    display: flex;
    flex-direction: column;
    /* height: 70px; */
    width: 100%;
}

.outerOfSettingDetailsBSup2 {
    display: flex;
    flex-direction: column;
    /* height: 70px; */
    width: 100%;
    position: relative;
    top: 20px;
}

.outerOfSettingDetailsBSup1Body {
    display: flex;
    width: 100%;
}

.outerOfSettingDetailsBSup2Body {
    display: flex;
}

.outerOfSettingDetailsBSup1BSelected, .outerOfSettingPhonesBSup1BSelected {
    background-color: #6633990f;
    /* height: 100%; */
    width: calc(100% - 240px);
    position: relative;
    /* text-overflow: ellipsis; */
    /* white-space: nowrap; */
    /* overflow: hidden; */
    box-sizing: border-box;
    padding: 5px 15px 4px 15px;
    font-size: 13px;
    box-shadow: 0px 0px 1px rgb(0 0 0 / 60%);
    color: #250643;
    left: 10px;
    word-break: break-word;
top: 0px;}

.outerOfSettingDetailsBSup2BSelected, .outerOfSettingPhonesBSup2BSelected {
    background-color: #6633990f;
    height: 100%;
    width: calc(100% - 240px);
    position: relative;
    left: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
    padding: 5px 15px 4px 15px;
    font-size: 13px;
    box-shadow: 0px 0px 1px rgb(0 0 0 / 60%);
    color: #250643;
top: 1px;}

button.dropdown_Butt, .templateItem {
    color: #727272;
    border: 0;
    background-color: transparent;
    width: 100%;
    padding: 7px 30px 5px 15px;
    margin: 0;
    font-size: 11px;
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-align: left;
    box-sizing: border-box;
    cursor: default;
    text-transform: capitalize;
    position: relative;
}

.headofExtensionSetting {
		background-color: white;margin: 0px 20px;
}

::-webkit-scrollbar-thumb {
    background: #2d7dcb;
    border-radius: 8.2px;
}

::-webkit-scrollbar-track {
    background-color: rgb(253 253 253);
}

::-webkit-scrollbar {
    width: 2px;
}

.stepContent button,#addNewNumberBtn{
  background-color: transparent !important;
  border: none;
  color: black !important;
  padding: 0 !important;
  border-radius: 0 !important;
  font-size: 13px !important;
  box-shadow: none !important;
}

.dp_arrowIcon_rught {
    border-top: 0.3em solid transparent;
    border-right: 0;
    border-bottom: 0.3em solid transparent;
    border-left: 0.31em solid;
    color: #3e3e3e;
    position: relative;
    top: 0.5px;
}