    body{
    font-family: sans-serif;
padding: 0px !important;
}
.chatbox-outer,.chatbox-initiator{
    width: 500px;
        display: inline-block;
        border: 10px solid whitesmoke;
        padding: 10px 0px 5px;
        position: relative;
}
.chatbox-inner{
    overflow:   hidden;
    position:   relative;
    width:      100%;
    height:     350px;
      z-index: 1;
      box-sizing: border-box;
          
}
.chatmessages-inner{
    
    overflow:   auto;
    position:   absolute;
      left: 0px;
      right: 0px;
    bottom:     0;
    max-height: 350px;
      padding:0px 10px;
}
.chatmessage-item{
    padding-top: 7px;
    width: 100%;
}
.chatmessage-content img, .chatmessage-content video{
    max-width: 100%;
        max-height: 400px;
}
.chatmessage-content a{
    color: white;
}
.chatmessage-content{
    display: inline-block;
    max-width: 85%;
    background-color: whitesmoke;
        text-align: left;
        line-height: 1.28; 
            word-break: break-word;  
}
.chatmessage-item.direction-out{
    text-align: right;
}
.chatmessage-item.direction-in .chatmessage-content{
    background-color: #1b87e5;
    border-radius: 0px 15px 15px 15px;
    color: white;
    padding: 5px 15px 5px;
    box-sizing:  border-box;
    font-size: 14px;
}
.chatmessage-item.direction-out .chatmessage-content{
    background-color: white;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 15px 15px 0px 15px;
    color: black;
    padding: 5px 15px 5px;
    box-sizing:  border-box;
    font-size: 14px;
}
.chatmessage-item.direction-in.unread{
    background-color: lightyellow;
}
.chatmessage-item.direction-out .chatmessage-content a{
    color: black;
}
.chatmessage-time{
    font-size: 10px;
  padding: 5px 5px 5px 0px;
    color: grey;
}
.inp-sendmessage{
    font-family: sans-serif;
    width: 80%;
    padding: 10px 15px;
    font-size: 14px;
    line-height: 1.3;
    height: 50px;
    outline : none;
    max-width: 100%;
    
    border-radius: 5px;
        z-index: 2;
        position: sticky;
        border: none;
}
.chataction{
    box-shadow: 0px -7px 5px rgba(0,0,0,0.1);
}
.cich-iocd-form-inp textarea:focus{
    border-color: grey;
}
.btn-sendmessage{
    padding: 5px 15px;
    font-size: 14px;
    border: none;
    background-color: royalblue;
    color: white;
    border-radius: 5px;
    margin: 1px;
}
.btn-sendmessage:hover{
    cursor: pointer;
    background-color: navy;
}
.chatmessage-time .fullTime{
    display: none;
}
.chatmessage-item:hover .fullTime{
    /*display: block;*/
}
.chatmessage-item:hover .smallTime{
    /*display: none;*/
}
.loadingdiv{
    z-index: 5;
    background-color: royalblue;
    color: white;
    padding: 25px 15px;
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
}
.prevMessageBtn{
        text-align: center;
    background-color: aliceblue;
    padding: 7px;
    margin-bottom: 10px;
    color: grey;
}
.prevMessageBtn:hover{
    cursor: pointer;
    color: black;
}
.loadedLoadmore{
    padding: 3px;
}
.loadedLoadmore:hover{
    cursor: default;
}
.msgStatus{
    border-left: 1px solid silver;
    padding-left: 3px;
}
#sms-form {
    width: 90%;
    border: none;
    position: relative;
}
.form-title{
    display: block;
}
div#selSnippet{
    width: 80%;
    padding:5px 15px;
}
.form-label{
    margin-top: 15px;
}
.btn-input-autofill-popup, .btn-input-autofill-popup:hover{
    display: block;
    background: none;
    padding: 0px;
}
input:focus, textarea{
    outline: none;
}
textarea{
    font-family: sans-serif !important;
}
.processingFull{
        position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 0px;
    font-size: 25px;
    text-align: center;
    padding-top: 15%;
    z-index: 2;
    background-color: rgba(250,250,250,0.885);
}
.conv-list-item {
    padding: 10px;
    border-bottom: 1px solid whitesmoke;
}
.conv-list-item:hover{
    cursor: pointer;
    background-color: whitesmoke;
    color: royalblue;
}
.conv-number{
        margin-top: 5px;
    font-size: 14px;
    color: grey;
}
.conv-list-item:hover{
    background-color: aliceblue;
}
.conv-list-item.selected{
    background-color: whitesmoke;
}
.chatbox-initiator{
    vertical-align: top;
}
div#backToConvBtn {
    position: absolute;
    top: -40px;
    display: none;
}
#existingConvListWindow{
    width: 35% !important;
}
#existingConvWindow{
    width: 60%;
    box-sizing: border-box;
}
.spinnow {
    vertical-align: middle;
    font-size: 35px;
    color: royalblue;
    -webkit-animation: spin 2s linear infinite;
    -moz-animation: spin 2s linear infinite;
    -ms-animation: spin 2s linear infinite;
    -o-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
@-ms-keyframes spin {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
.loadingdiv .spinnow{
    color: white;
}
.msgsts-failed .chatmessage-content {
    border: 1px solid red !important;
    box-shadow: 0px 5px 10px rgba(200,0,0,0.1);
}
.msgsts-failed .chat-message-author {
    color: crimson;
}
