.upload-area {
    height: 130px;
    text-align: center;
    overflow: auto;
    background-color: white;
}

.upload-area:hover {
    cursor: pointer;
}

#file {
    display: none;
}

/* Thumbnail */
.thumbnail {
    width: 80px;
    height: 80px;
    border: 1px solid lightgray;
    border-radius: 3px;
    /* float: left; */
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
    box-shadow: inset 0px -10px 10px #ededed;
    position: relative;
}

.size {
    font-size: 9px;
    font-weight: 500;
    color: #575b63;
    position: relative;
    top: 1px;
}

.folderPath {
   width: 100%;
   /* border: 2px solid lightgray; */
   border-radius: 3px;
   text-align: left;
   overflow: auto;
   box-sizing: border-box;
   padding: 10px;
   padding-left: 2px;
   margin: 0px 0px;
   margin-bottom: 0px;
   display: flex;
   height: 50px;
}

.newfolder {
  padding: 10px;
  width: 100%;
  position: relative;
  box-sizing: border-box;
  border: 0;
  background-color: white;
  box-shadow: inset 0px 0px 3px #c3c3c34d;
  padding: 10px 15px;
  font-size: 17px;
  outline: 0;
  border: 1px solid silver;
}

.newfolderSec {
  width: 100%;
  position: relative;
  box-sizing: border-box;
  padding: 20px;
  padding-bottom: 17px;
  text-align: center;
}

.containerOuter {
    border: 1px #c5c1c1;
    border-style: dashed;
    border-width: thin;
    background-color: #fcfbfb;
    display: flex;
    justify-content: center;
    align-items: center;
    /*height: 200px;*/
    margin-bottom: 10px;
}

html, body {
    background-color: #f0f0f0;
    height: 100%;
    width: 100%;
    margin: 0;
    overflow: hidden;
    border: 0;
    cursor: default;
}

.container {
    width: 100%;
    padding:5px 15px;
}

div#uploadfile {
    margin: 0;
    font-family: system-ui;
    font-size: 11px;
    display: inline-block;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: inset 0px 0px 1px #2d2d2da8;
}

.uploadFileViewDiv {
    width: 80px;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    position: relative;
}

.uploadFileViewSize {
    width: 80px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 20;
}

.uploadButtonDiv {
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding-bottom: 0;
}

.uploadButtonDiv button {
    background-color: #e8f5e914;
    outline: 0;
    border: 1px solid #2e7d32;
    padding: 4px 13px;
    padding-top: 6px;
    cursor: pointer;
    color: #2e7d32;
}

.newfolderSecOuter {
    border: 1px #c5c1c1;
    border-style: dashed;
    border-width: thin;
    background-color: #fcfbfb;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* height: 150px; */
    /* margin-top: 3px; */
    box-sizing: border-box;
    /* padding-bottom: 12px; */
    box-shadow: 0px 5px 6px #cfcfcf80;
    /*margin-top: 30px;*/
}

.newfolderSec button {
    background-color: #e8f5e914;
    outline: 0;
    border: 1px solid #2e7d32;
    padding: 4px 13px;
    padding-top: 6px;
    cursor: pointer;
    color: #2e7d32;
    margin-top: 20px;
    position: relative;
    top: 5px;
}

div#content {
    width: 100%;
    position: relative;
    /* padding: 30px 0px; */
    padding-top: 0px;
    box-sizing: border-box;
    max-height: 500px;
    /* overflow: hidden; */
}

.singleFileStyle {
    display: flex;
    /* height: 100%; */
    width: 100%;
    box-sizing: border-box;
    padding: 12px;
    background-color: #fdfdfde0;
    border-radius: 3px;
    position: relative;
    margin: 4px 0px;
    margin-top: 0;
    cursor: pointer;
}

.name-edit {
    width: calc(100% - 50%);
    /* min-width: 200px; */
    border: 0;
    outline: 0;
    font-size: 16px;
    border-style: outset;
    border-width: thin;
    box-sizing: border-box;
    padding: 6.5px 10px;
    padding-top: 7px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.updateFieldStyle {
    display: flex;
    position: absolute;
    right: 0;
    height: 100%;
    top: 0;
    align-items: center;
    justify-content: flex-end;
    padding-top: 3px;
    width: 300px;
}

span.material-icons.editFileButt {
    cursor: pointer;
    color: #72727a;
    position: relative;
    right: 35px;
}

span.material-icons.deleteFileButt {
    cursor: pointer;
    color: #72727a;
    position: relative;
    right: 15px;
}

span.material-icons.editFileButt:hover {
    color: #0d47a1;
    text-shadow: 1px 1px 4px #8d87878a;
}

span.material-icons.deleteFileButt:hover {
    color: #bd2323;
    text-shadow: 1px 1px 4px #8d87878a;
}

.editFieldOpen {
    display: flex;
    width: calc(100% - 330px);
    box-sizing: border-box;
    padding: 0px 13px;
    height: 100%;
}

.name-save {
    margin-left: -1px;
    background-color: green;
    color: white;
    border: 0;
    outline: 0;
    padding: 0px 15px;
    /* border-radius: 100%; */
    font-weight: 500;
    cursor: pointer;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

button.hit-editDiv {
    border: 0;
    outline: 0;
    background-color: #fbfbfb;
    color: #72727a;
    width: 14px;
    height: 14px;
    margin-left: 16px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 30px;
    cursor: pointer;
    margin-top: 12px;
}

.editFieldOpen {
  display: none;
}

.folderPath span {
    font-size: 14px;
    font-weight: 500;
    font-family: system-ui;
    cursor: pointer;
    /* position: relative; */
    top: 5px;
    padding: 0px 4px;
}

span.splitFolderPath {
    padding: 0px 3px;
    font-size: 18px;
    margin-top: -3px;
    color: #7d7d7dba;
    cursor: default;
    font-weight: 400;
}

span.material-icons.homeFolderPath {
    font-family: 'Material Icons';
    font-size: 20px;
    position: relative;
    top: 5px;
    padding: 0;
}

.homeFolderPathDiv {
    position: relative;
    top: 0px !important;
    padding-right: 0px;
    margin-left: -4px;
}

.noFilesFound {
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    background-color: #fcfbfb;
    border: 1px #9e9e9e59;
    border-style: dashed;
    border-radius: 1px;
    position: relative;
    margin: 10px 0px 20px 0px;
}

.singleFileStyleHead {
    width: calc(100% - 10px);
    display: flex;
    font-size: 13px;
    padding-bottom: 1px;
    top: 3px;
}

.singleFileStyleHeadSub {
    background-color: #ffffff0f;
    box-sizing: border-box;
    padding: 4px 10px;
    box-shadow: inset 1px 0px 3px #c1bebe0f;
    font-family: system-ui;
}

.name_uploadedFile {
    padding: 6px;
    width: calc(100% - 330px);
    padding-left: 17px;
    box-sizing: border-box;
    padding-right: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding-right: 30px;
    box-sizing: border-box;
    font-family: system-ui;
}

.uploadedFileType {
    width: 30px;
    display: flex;
    align-items: center;
    /* height: 100%; */
    justify-content: center;
    position: relative;
}

span.material-icons.uploadedFileTypeSpan {
    display: flex;
    height: 100%;
    align-items: center;
    left: 0;
    position: relative;
    top: 2px;
    color: #72727a;
    font-size: 22px;
    font-family: 'Material Icons';
}

.singleFileStyleHeadSub.singleFileStyleTypeSub {
    width: 47px;
}

.singleFileStyleHeadSub.singleFileStyleNameSub {
    width: calc(100% - 350px);
}

.singleFileStyleHeadSub.singleFileStyleSizeSub {
    width: 100px;
}

.folderPath span:hover {
    color: #315382;
}

span.splitFolderPath:hover {
    color: #7d7d7dba;
}

.singleFileStyle:hover {
    box-shadow: 1px 1px 3px grey;
    background-color: white;
}

.fileOpenedOuterDiv {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 20;
    /* background-color: #042a3a8a; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.fileOpenedInnerDiv {
    width: 350px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    box-shadow: 2px 2px 10px #afafaf;
    border-radius: 10px;
    z-index: 20;
    overflow: hidden;
    cursor: default;
    position: absolute;
}

.contentInnerMain::-webkit-scrollbar {
    width: 3px;
}

.contentInnerMain::-webkit-scrollbar-thumb {
    background-color: #b8b8b8ab;
    box-shadow: 0px 0px 5px #696666;
}

#uploadfile::-webkit-scrollbar {
    width: 3px;
}

#uploadfile::-webkit-scrollbar-thumb {
    background-color: #2d7dcb;
}

div.contentBodyOuter::-webkit-scrollbar {
    display: none;
}

div.contentBodyOuter {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

html {
    width: 100%;
}

.contentBodyOuter {
    overflow: overlay;
    width: 100%;
    height: calc(100% - 50px);
    /* display: inline-grid; */
    box-sizing: border-box;
    padding: 0px 15px;
    position: relative;
    z-index: 20;
}

.closeOfOpenedFile {
    position: absolute;
    right: 13px;
    top: 15px;
    z-index: 20;
}

.closeOfOpenedFile span {
    cursor: pointer;
    color: #000000;
    font-size: 19px;
    border-radius: 100%;
    text-shadow: 0px 0px 20px white;
    z-index: 20;
}

.closeOfOpenedFile span:hover {
    color: #500707;
    text-shadow: 0px 0px 18px #700707;
    font-weight: 600;
}

.downloadOpenFile {
    position: absolute;
    right: 13px;
    z-index: 13;
    bottom: 8px;
}

.downloadOpenFile span {
    font-size: 20px;
    color: #5369b2;
    font-weight: 500;
    cursor: pointer;
    text-shadow: 0px 0px 2px white;
}

.downloadOpenFile span:hover {
    text-shadow: 0px 0px 2px;
}

.nameOfOpenedFile {
    position: absolute;
    top: 0;
    left: 0;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 11%4px;
    border: 5px #7a777763;
    box-sizing: border-box;
    border-style: dashed;
    border-left: 0;
    border-width: thin;
    border-top: 0;
    box-shadow: 0px 0px 5px #88868680;
    padding: 3px 10px;
    padding-right: 4px;
    width: 76px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 12px;
    background-color: #cdcdcd2b;
    height: 25px;
    display: flex;
    align-items: center;
    font-family: system-ui;
    z-index: 17;
}

.nameOfOpenedFile span {text-overflow: ellipsis;overflow: hidden;white-space: nowrap;position: relative;width: 100%;}

.detailsOfOpenedFile {
    position: absolute;
    display: flex;
    left: 7px;
    bottom: 8px;
    font-size: 9px;
    font-family: system-ui;
    z-index: 10;
}

.hintOfOpenedFile {
    color: #35698f;
    box-sizing: border-box;
    padding: 1px 5px;
    padding-bottom: 2px;
    margin-left: 3px;
    /* box-shadow: 1px 1px 3px #26699b; */
    border-radius: 41px;
    font-weight: 700;
    text-transform: uppercase;
}

.selectedOPenedFile {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
}

.fileOpenedInnerDivAudio {
    background-color: #f1f3f4;
        padding-bottom: 10px;
            height: 90px;
}

.documenOpenedFile {
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 20px;
    z-index: 21;
    display: flex;
    top: 0px;
    align-items: center;
    background-color: #f1f3f4;
}

.driveFileDocImg span {
    font-size: 57px;
    color: #3f4040;
    display: flex;
    align-items: center;
}

.driveFileDocImg {
    height: 100%;
    width: 57px;
    position: relative;
    display: flex;
    align-items: center;
    top: 1px;
}

.driveFileDocName {
    font-size: 18px;
    width: calc(100% - 114px);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    box-sizing: border-box;
    padding-right: 20px;
    margin-top: 10px;
    font-family: 'Circular-Loom';
}

.driveFileDocLink {
    width: 57px;
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
    top: 6px;
    color: #5d5e5e;
}

.driveFileDocLink span {
    font-size: 30px;
    cursor: pointer;
}

.draiveFileDocType {
    position: absolute;
    z-index: 21;
    left: 28px;
    bottom: 9px;
    font-size: 10px;
    font-family: system-ui;
    font-weight: 500;
    color: #9fa6af;
    width: 40px;
    display: flex;
    justify-content: center;
}

.singleFileStyleHeadSub.singleFileStyleRemoveSub {
    position: absolute;
    right: 0;
    width: 55px;
    padding-left: 10px;
    text-align: center;
}

.singleFileStyleHeadSub.singleFileStyleEditSub {
    position: absolute;
    right: 55px;
    width: 38px;
    padding-left: 9px;
    text-align: center;
}

.uploadedFileLinkSub {
    position: absolute;
    left: 85px;
    height: 100%;
    width: 50px;
    top: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #72727a;
}

.uploadedFileSize {
    width: 50px;
    display: flex;
    height: 100%;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    color: #72727a;
    font-size: 15px;
    font-family: monospace;
}


.singleFileStyleHeadSub.singleFileStyleLinkSub {
    width: 120px;
}

.uploadedFileLinkSubSpan:hover {
    color: #026802;
    cursor: pointer;
    text-shadow: 1px 1px 3px #4c4b4ba3;
}

span.material-icons.uploadedFileLinkSubSpan {
    margin-top: -5px;
}

.driveFileDocLink span:hover {
    color: #026802;
    text-shadow: 1px 1px 3px #4c4b4ba3;
}

.contentInnerMain {
    width: calc(100% + 11px);
    height: calc(100% - 0px);
    max-height: 470px;
    overflow: auto;
    box-sizing: border-box;
    padding: 0px 5px;
    position: relative;
    left: -5px;
}

#floatingCirclesG{
    position:relative;
    width:45px;
    height:45px;
    margin:auto;
    transform:scale(0.6);
        -o-transform:scale(0.6);
        -ms-transform:scale(0.6);
        -webkit-transform:scale(0.6);
        -moz-transform:scale(0.6);
}

.f_circleG{
    position:absolute;
    background-color: rgb(240 240 240);
    height:8px;
    width:8px;
    border-radius:4px;
    -o-border-radius:4px;
    -ms-border-radius:4px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    animation-name:f_fadeG;
    -o-animation-name:f_fadeG;
    -ms-animation-name:f_fadeG;
    -webkit-animation-name:f_fadeG;
    -moz-animation-name:f_fadeG;
    animation-duration:1.2s;
    -o-animation-duration:1.2s;
    -ms-animation-duration:1.2s;
    -webkit-animation-duration:1.2s;
    -moz-animation-duration:1.2s;
    animation-iteration-count:infinite;
    -o-animation-iteration-count:infinite;
    -ms-animation-iteration-count:infinite;
    -webkit-animation-iteration-count:infinite;
    -moz-animation-iteration-count:infinite;
    animation-direction:normal;
    -o-animation-direction:normal;
    -ms-animation-direction:normal;
    -webkit-animation-direction:normal;
    -moz-animation-direction:normal;
}

#frotateG_01{
    left:0;
    top:18px;
    animation-delay:0.05s;
        -o-animation-delay:0.45s;
        -ms-animation-delay:0.45s;
        -webkit-animation-delay:0.45s;
        -moz-animation-delay:0.45s;
}

#frotateG_02{
    left:5px;
    top:5px;
    animation-delay:0.2s;
        -o-animation-delay:0.6s;
        -ms-animation-delay:0.6s;
        -webkit-animation-delay:0.6s;
        -moz-animation-delay:0.6s;
}

#frotateG_03{
    left:18px;
    top:0;
    animation-delay:0.35s;
        -o-animation-delay:0.75s;
        -ms-animation-delay:0.75s;
        -webkit-animation-delay:0.75s;
        -moz-animation-delay:0.75s;
}

#frotateG_04{
    right:5px;
    top:5px;
    animation-delay:0.5s;
        -o-animation-delay:0.9s;
        -ms-animation-delay:0.9s;
        -webkit-animation-delay:0.9s;
        -moz-animation-delay:0.9s;
}

#frotateG_05{
    right:0;
    top:18px;
    animation-delay:0.65s;
        -o-animation-delay:1.05s;
        -ms-animation-delay:1.05s;
        -webkit-animation-delay:1.05s;
        -moz-animation-delay:1.05s;
}

#frotateG_06{
    right:5px;
    bottom:5px;
    animation-delay:0.82s;
        -o-animation-delay:1.2s;
        -ms-animation-delay:1.2s;
        -webkit-animation-delay:1.2s;
        -moz-animation-delay:1.2s;
}

#frotateG_07{
    left:18px;
    bottom:0;
    animation-delay:0.9s;
        -o-animation-delay:1.35s;
        -ms-animation-delay:1.35s;
        -webkit-animation-delay:1.35s;
        -moz-animation-delay:1.35s;
}

#frotateG_08{
    left:5px;
    bottom:5px;
    animation-delay:1.1s;
        -o-animation-delay:1.5s;
        -ms-animation-delay:1.5s;
        -webkit-animation-delay:1.5s;
        -moz-animation-delay:1.5s;
}



@keyframes f_fadeG{
    0%{
        background-color:rgb(0,0,0);
    }

    100%{
        background-color: rgb(240 240 240);
    }
}

@-o-keyframes f_fadeG{
    0%{
        background-color:rgb(0,0,0);
    }

    100%{
        background-color:rgb(240 240 240);
    }
}

@-ms-keyframes f_fadeG{
    0%{
        background-color:rgb(0,0,0);
    }

    100%{
        background-color:rgb(240 240 240);
    }
}

@-webkit-keyframes f_fadeG{
    0%{
        background-color:rgb(0,0,0);
    }

    100%{
        background-color:rgb(240 240 240);
    }
}

@-moz-keyframes f_fadeG{
    0%{
        background-color:rgb(0,0,0);
    }

    100%{
        background-color:rgb(240 240 240);
    }
}

.loadingAnimation {
    width: 100%;
    height: 75px;
    display: flex;
}

button.hit-editDiv:hover {
    color: #b83d3d;
    text-shadow: 1px 1px 3px #4c4b4ba3;
}

span.material-icons.uploadedFileLinkSubSpan:active {
    color: #025202;
    cursor: pointer;
    text-shadow: 0px 0px 15px #063e05cf;
}

.driveFileDocLink span:active {
    color: #025202;
    cursor: pointer;
    text-shadow: 0px 0px 15px #063e05cf;
}

.uploadFileViewDiv span {
    font-size: 40px;
    position: relative;
    top: 4px;
    text-shadow: 0px 0px 84px;
}

div#uploadfile h3 {
    font-weight: 500;
    font-family: system-ui;
    position: relative;
    top: 7px;
    color: #3a3a3a;
    text-shadow: 2px 2px 6px #4d4a4a70;
}

span.RemoveUploadFile {
    position: absolute;
    top: -2px;
    right: 5px;
    font-size: 17px;
    z-index: 20;
    text-shadow: 0px 0px 10px white;
}

span.RemoveUploadFile:hover {
    color: #a40c0c;
    text-shadow: 0px 0px 1px;
}

.signedAccountImg {
    width: 40px;
    display: flex;
    align-items: center;
}

.signedAccountImg img {
    border-radius: 100%;
    box-shadow: 1px 1px 5px #5d5a5ac4;
}

.authorizedAccount {
    width: 100%;
    height: 50px;
    display: flex;
    box-sizing: border-box;
    padding: 5px 10px;
    box-shadow: 0px 0px 10px #d9d9d9bf;
}

.signedAccountDetail {
    width: 100%;
    display: flex;
}

.signedAccountName {
    font-family: 'Circular-Loom';
    height: 44px;
    display: flex;
    align-items: center;
    padding: 0px 10px;
}

.signedAccountExit {
    display: flex;
    align-items: center;
}

button#signout_button {
    display: flex;
    align-items: center;
    border: 0;
    width: 20px;
    padding: 0;
    height: 26px;
    outline: 0;
    cursor: pointer;
    position: absolute;
    right: 20px;
    text-shadow: 1px 1px 3px #4541418c;
}

button#signout_button:hover {
    text-shadow: 0px 0px 20px;
}

button#signout_button:active {
    color: #940a0a;
    text-shadow: 0px 0px 20px;
}

.signedAccountHeadDiv {
    width: 100%;
    height: 100%;
    display: flex;
}

.signInAccountHeadDiv {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

button#authorize_button {
    background-color: #ef2d2d;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    padding: 4px 10px;
    /* text-shadow: 0px 0px 1px; */
    font-family: 'Circular-Loom';
    border-radius: 2px;
    color: white;
    cursor: pointer;
    box-shadow: 1px 1px 4px #a09b9b;
}

button#authorize_button:hover {
    box-shadow: 1px 1px 4px #5d5959;
}

.signedAccountEmail {
    font-family: 'Circular-Loom';
    font-size: 13px;
    color: #676767;
    position: relative;
    right: 42px;
}

.selectRootFolder {
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 30;
    position: relative;
}

.selectRootFolderId {
    box-sizing: border-box;
    padding: 10px;
    width: 50%;
    display: flex;
    justify-content: center;
    background-color: #f6f5f5;
    margin: 5px 5px;
    border-radius: 2px;
    cursor: pointer;
    z-index: 30;
    position: relative;
}

.selectRootFolderOuter {
    box-sizing: border-box;
    padding: 10px;
    font-family: system-ui;
    position: fixed;
    top: 25px;
    z-index: 30;
    left: 15%;
    right: 15%;
    background-color: white;
    border-radius: 10px;
    padding: 10px 20px 50px 20px;
}

.selectRootFolderHead {
    width: 100%;
    box-sizing: border-box;
    padding: 15px 5px;
    font-family: sans-serif;
    color: royalblue;
    font-size: 18px;
    font-weight: bold;
}

.selectRootFolderId:hover {
    background-color: #f7f7f7;
    box-shadow: 1px 1px 3px #acacac85;
}

select#rootFolderId {
    position: absolute;
    height: calc(100% + 2px);
    width: 100%;
    top: 0px;
    cursor: pointer;
    color: transparent;
    opacity: 0;
    outline: 0;
    border: 0;
}

select#rootFolderId option {
    color: #000000d4;
}

.loadingAnimationFullView {
    width: 100%;
    height: 100%;
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: #0000009c;
}

.f_circleGfull{
    position:absolute;
    background-color: rgb(240 240 240);
    height:8px;
    width:8px;
    border-radius:4px;
    -o-border-radius:4px;
    -ms-border-radius:4px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    animation-name:f_fadeGfull;
    -o-animation-name:f_fadeGfull;
    -ms-animation-name:f_fadeGfull;
    -webkit-animation-name:f_fadeGfull;
    -moz-animation-name:f_fadeGfull;
    animation-duration:1.2s;
    -o-animation-duration:1.2s;
    -ms-animation-duration:1.2s;
    -webkit-animation-duration:1.2s;
    -moz-animation-duration:1.2s;
    animation-iteration-count:infinite;
    -o-animation-iteration-count:infinite;
    -ms-animation-iteration-count:infinite;
    -webkit-animation-iteration-count:infinite;
    -moz-animation-iteration-count:infinite;
    animation-direction:normal;
    -o-animation-direction:normal;
    -ms-animation-direction:normal;
    -webkit-animation-direction:normal;
    -moz-animation-direction:normal;
}

@-o-keyframes f_fadeGfull{
    0%{
        background-color:rgb(240 240 240);
    }

    100%{
        background-color:rgb(0,0,0);
    }
}

@-ms-keyframes f_fadeGfull{
    0%{
        background-color:rgb(240 240 240);
    }

    100%{
        background-color:rgb(0,0,0);
    }
}

@-webkit-keyframes f_fadeGfull{
    0%{
        background-color:rgb(240 240 240);
    }

    100%{
        background-color:rgb(0,0,0);
    }
}

@-moz-keyframes f_fadeGfull{
    0%{
        background-color:rgb(240 240 240);
    }

    100%{
        background-color:rgb(0,0,0);
    }
}

.newFolderSectionWindow {
    padding-top: 100px;
    text-align: center;
    display: block;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 100;
    background-color: rgba(0,0,0,0.5);
}


.newFolderSectionWindow .newfolderSec {
    display: inline-block;
    background-color: white;
    width: inherit;
    position: relative;
    box-sizing: border-box;
    padding: 20px;
    padding-bottom: 17px;
    text-align: center;
    border-radius: 5px;
    top: 0px;
}

.newFolderSectionWindow .newfolder{
    box-shadow: inset 0px 0px 5px rgb(0 0 0 / 20%);
}

.newFolderNameCreateButt:hover{
    cursor: pointer;
    background-color: green;
    color: white;
}
#syncAttachBtn:hover{
    cursor: pointer;
    background-color: green;
    color: white !important;
}
#newfolderbtn:hover{
    cursor: pointer;
    background-color: black;
    color: white;
}
#newfoldercancelbtn:hover{
    background-color: crimson;
    color: white !important;
}
.fim-checkbox{
    display: none;
    height: 15px;
    width: 15px;
    background-color: white;
    border: 2px solid royalblue;
}
.fim-checkbox:hover, .fileIsInClipBoard.fileItemDiv .fim-checkbox{
    cursor: pointer;
    background-color: royalblue;
}
.fileItemDiv:hover .fim-checkbox, .fileIsInClipBoard.fileItemDiv .fim-checkbox{
    display: block;
}
.fileItemDiv:hover .uploadedFileTypeSpan, .fileIsInClipBoard.fileItemDiv .uploadedFileTypeSpan{
    display: none;
}
#bulkActionClipBoard{
    font-family: system-ui;
    position: fixed;
    top: 0px;
    left: 25%;
    padding: 10px 25px;
    z-index: 100;
    background-color: #0d9bad;
    color: white;
    box-shadow: 0px 0px 35px rgb(0 0 0 / 30%);
    border-radius: 0px 0px 5px 5px;
}

#bulkActionClipBoard button {
    padding: 3px 10px;
    border: 1px solid;
    margin: 0px 3px;
    border-radius: 3px;
}

#bulkActionClipBoard button:first-of-type{
    margin-left: 30px;
}

#bulkActionClipBoard button:hover{
    cursor: pointer;
    background-color: white;
}

.fileIsInClipBoard{
    background-color: aliceblue !important;
}
.fileIsInClipBoard:hover{
    background-color: aliceblue !important;
}
#bact-paste{
    background-color: darkgoldenrod;
    color: white;
    border-color: orange;
}
#bact-paste:hover{
    background-color: darkgoldenrod !important;
    color: white;
    border-color: orange !important;
}