body{
    margin:0px;
    padding:0px;
    overflow:hidden;
    height:100vh;
}



@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
#notes {
  background-color: #e7f3fe;
  padding-left: 4px ;
}
.error-message {
  color: #cc0033;
  display: inline-block;
  font-size: 16px;
  line-height: 18px;
  margin: 5px 0 0;
  display: none;
}
.links{
    width: 100%;
    box-sizing: border-box;
    padding: 0px 40px;
}
.bookingLink{
    width: calc(100% + 0px);
    color: #272727;
    background-color: #ffffff00;
    text-decoration: auto;
    box-sizing: border-box;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: flex-end;
    overflow: hidden;
    position: relative;
}
.title{
    font-size: 16px;
    width: 100%;
    font-family: system-ui;
    box-sizing: border-box;
    padding: 10px 0px;
    border: 0px;
    border-bottom: 1px #d0d0d0;
    border-style: solid;
}
.container{
    display: none;
    width:100%;
    height: 100%;
    overflow: auto;
    box-sizing: border-box;
    padding-bottom: 40px;
}

#loader {
    width: 100%;
    height: 100%;
    justify-content: center;
    display: flex;
    box-sizing: border-box;
    background-color: white;
    text-align: left;
    align-items: center;
    position: absolute;
    z-index: 1000;
    left: 0;
    top: 0;
    margin: 0;
}

/* message loading style */

.wcMsgLoadingInner {
    margin: 0 auto;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.06),0 2px 5px 0 rgba(0,0,0,.2);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    color: rgba(0,0,0,0.25);
}

.wcMsgLoadingOuter {
    display: flex;
    flex: none;
    justify-content: center;
    padding: 15px 0px;
    box-sizing: border-box;
}

.wcMsgLoadingSvgCircle {
    stroke: #ccc;
    stroke-dasharray: 1,150;
    stroke-dashoffset: 0;
    stroke-linecap: round;
    animation: wcMsgLoadingSvgCircle 1.5s ease-in-out infinite;
}

.wcMsgLoadingSVG {
    animation: wcMsgLoadingSVG 2s linear infinite;
}

@keyframes wcMsgLoadingSVG{
    to{transform:rotate(1turn)}
}

@keyframes wcMsgLoadingSvgCircle{
    0%{stroke-dasharray:1,150;stroke-dashoffset:0}
    50%{stroke-dasharray:90,150;stroke-dashoffset:-35}
    to{stroke-dasharray:90,150;stroke-dashoffset:-124}
}

/* message loading style */

.userBookingLink {
    width: 125px;
    height: 125px;
    display: inline-block;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: 0px 0px 1px #3c4768;
    margin: 10px;
    border-radius: 3px;
    /* border-top: 0.1px solid #66666617; */
    background-position: center;
    background-size: 103%;
    transition: top 0.3s;
    position: relative;
}

.showUserBody {
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
    padding: 15px 0px;
    text-align: center;
}

.userBookingLink:hover {
    box-shadow: 0px 4px 3px #3c4768a6, inset 0px 1px 3px #8b8b8b26;
    top: -2px;
}

.userAppointLink {
    width: 100%;
    box-sizing: border-box;
    background-color: #d8d8d8e3;
    font-size: 12px;
    font-family: system-ui;
    padding: 5px 15px;
    text-shadow: 0px 0px 5px #0000004d;
    color: black;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

::-webkit-scrollbar-thumb {
    background: #2d7dcb;
    border-radius: 8.2px;
}

::-webkit-scrollbar-track {
    background-color: rgb(253 253 253);
}

::-webkit-scrollbar {
    width: 2px;
}

.eventBookingLink {
    width: 100%;
    box-sizing: border-box;
    text-align: left;
    box-shadow: 0px 0px 0px;
    border-bottom: 1px solid #f8f8f8;
    border-radius: 3px;
    font-family: system-ui;
    font-size: 15px;
    display: flex;
    height: 40px;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.eventBookingLink:hover {
    background-color: #e9f0f5;
}

.overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
}

.text{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 17px;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}