body {
    box-sizing:border-box;
    font-family:Roboto;
    margin:0
   }
   header {
    background:#f5f5f5;
    padding:15px 5%;
    box-shadow:0 0 5px rgba(0,0,0,.3)
   }
   header a {
    color:#fff;
    font-weight:800;
    text-decoration:none
   }
   main {
    display:none;
    margin:4rem auto 6rem;
    max-width:650px;
    width:90vw
   }
   #firebaseui-auth-container {
    font-weight:800;
    margin:4rem auto 6rem;
    max-width:650px;
    width:90vw
   }
   footer {
    color:#444;
    font-size:.875rem;
    text-align:center
   }
   footer a {
    color:inherit
   }
   .products {
    display:grid;
    gap:2rem;
    grid-template-columns:repeat(2,1fr);
    margin-top:3rem
   }
   .product img {
    width:300px
   }
   .product input {
    border:1px solid #039be5;
    border-radius:.25rem;
    font-size:1.125rem;
    line-height:1.25rem;
    padding:.25rem
   }
   button {
    cursor:pointer;
    background:crimson;
    border:none;
    color:#fff;
    border-radius:3px;
    padding:5px 10px 6px;
    outline:0
   }
   button:disabled {
    opacity:.5;
    cursor:not-allowed
   }
   button:hover {
    cursor:pointer;
    background-color:red
   }
   #signout {
    margin:0 10px;
    box-shadow:0 1px 5px rgba(0,0,0,.2)
   }
   select {
    transition:box-shadow .2s ease;
    background:0 0;
    border:3px solid #fbc02e;
    font-size:16px;
    color:#ff8c00;
    outline:none
   }
   select:hover {
    background-color:#fbc02e;
    color:#fff;
    cursor:pointer
   }
   label {
    display:block
   }
   .test-card-notice {
    display:block;
    margin-block-start:1em;
    margin-block-end:1em;
    margin-inline-start:0;
    margin-inline-end:0
   }
   .card-number {
    display:inline;
    white-space:nowrap;
    font-family:Menlo,Consolas,monospace;
    color:#3c4257;
    font-weight:500
   }
   .card-number span {
    display:inline-block;
    width:4px
   }
   #brandname {
    font-size:30px;
    margin:0 5px
   }
   header img,
   header span {
    vertical-align:middle
   }
   header img {
    margin-top:5px
   }
   .pagename {
    font-size:25px;
    font-weight:200;
    margin-left:10px
   }
   .contact-us-top {
    float:right;
    color:grey;
    margin-top:17px;
    font-weight:400
   }
   .contact-us-top:hover {
    color:#000
   }
   .brand div {
    display:inline-block
   }
   .profiledet {
    float:right;
    margin-top:10px;
    margin-right:20px;
    text-align:right
   }
   #userimg {
    height:30px;
    width:30px;
    border-radius:30px;
    vertical-align:middle
   }
   #username {
    vertical-align:middle;
    margin-left:5px;
    font-size:16px
   }
   .products-list {
    text-align:center
   }
   .product-item {
    text-align:left;
    padding:5px 10px;
    box-shadow:0 2px 5px rgba(0,0,0,.2);
    margin:10px;
   }
   .product-name * {
    vertical-align:middle
   }
   .product-name {
    font-size:20px;
    padding:5px
   }
   .product-name img {
    margin-right:7px;
    max-height:50px
   }
   .plan-name {
    color:#565656;
    padding:10px;
    
   }
   .price-item .plan-name{
     font-size: 20px;
     text-align: center;
     color: black;
     margin-bottom: 7px;
   }
   .plan-name b {
    font-size:20px
   }
   .product-container {
    display:inline-flex;
    width:100%;
    padding:10px 5%;
    box-sizing:border-box
   }
   .product-container>div {
    width:100%
   }
   .price-list,
   .price-list .product-item {
    display:none
   }
   .actypeselect {
    padding:10px 0;
    margin-bottom:30px
   }
   .price-list {
    padding:10px 20px
   }
   .subscription-type-holder label {
    display:inline-block;
    margin:0 10px 0 5px;
    vertical-align:middle
   }
   .showAfterSubType {
    display:none
   }
   .paynowbtn {
    opacity:0;
    float:right;
    color:#fff;
    background-color:green;
    border:1px solid green;
    box-shadow:0 2px 5px rgba(0,0,0,.2);
    vertical-align:middle;
    margin-top:-4px
   }
   .product-item:hover .paynowbtn {
    opacity:1;
    background-color:#006400
   }
   .product-item:hover {
    background-color:#f5f5f5;
    cursor:pointer
   }
   .listprice {
        text-align: center;
       font-size: 17px;
       color: rgb(86,86,86);
   }
   .chosenProduct {
    background-color:#eaeaea;
    border:4px solid silver;
   }
   .signedin {
    display:none
   }
   .processing {
    display:none;
    position:fixed;
    top:0;
    bottom:0;
    right:0;
    left:0;
    text-align:center;
    padding-top:20%;
    font-size:25px;
    color:#fff;
    background-color:rgba(0,0,0,.5);
    z-index: 100;
   }
   #my-subscription {
    position:absolute;
    right:10px;
    top: 130px;
    width:100%;
    text-align:end
   }
   #billing-portal-button {
    border-radius:30px;
    padding:7px 20px;
    font-size:16px;
    border:2px solid green;
    background-color:#fff;
    color:green
   }
   #billing-portal-button:hover {
    background-color:green;
    color:#fff
   }
   #subcribed-portal-button {
    border-radius:30px;
    padding:7px 20px;
    font-size:16px;
    border:2px solid #7931a6;
    background-color:#fff;
    color:#7931a6;
    margin-left:10px
   }
   #subcribed-portal-button:hover {
    background-color:#7931a6;
    color:#fff
   }
   .quan-btn {
    background-color:#ff8c00;
    font-size:30px;
    vertical-align:middle;
    padding:0 13px
   }
   .quan-count {
    padding:7px;
    vertical-align:middle;
    border:1px solid #ff8c00;
    font-size:16px
   }
   #proceedToPayBtn {
    margin-top:25px;
    background-color:green;
    font-size:16px;
    padding:12px 30px;
    border-radius:5px;
    width:100%;
    box-shadow:0 3px 3px rgba(0,0,0,.3)
   }
   #proceedToPayBtn:hover {
    background-color:#32cd32
   }
   #currencySelector {
    margin-right:10px;
    border-radius:30px;
    padding:5px 10px;
    vertical-align:middle
   }
   #license-detail-submit-page {
    padding:7px 15px;
    margin-left:7px;
    border-radius:30px;
    border:2px solid #4169e1;
    background-color:#4169e1;
    font-size:16px;
    vertical-align:middle
   }
   .addUserEmailIdOut {
    position:relative;
    box-sizing:border-box;
    padding:0;
    margin:10px;
    height:50px;
    width:calc(100% - 20px);
    box-shadow:0 2px 5px rgb(0 0 0/20%)
   }
   .addUserEmailIdBox {
    width:100%;
    height:100%;
    position:relative
   }
   input.addUserEmailIdInput {
    width:100%;
    position:relative;
    padding:20px;
    box-sizing:border-box;
    height:100%;
    font-size:19px;
    outline:0;
    border:0;
    border-bottom:2px solid
   }
   .addUserEmailIdInputErr {
    border-color:#e52828!important
   }
   .addUsersEmailIdSaveButt:hover {
    background-color:#075e07;
    box-shadow:2px 2px 9px rgb(0 0 0/41%)
   }
   .addedUserEmailIdOut {
    width:100%;
    height:100%;
    display:flex;
    position:relative;
    align-items:center
   }
   .addedUserEmailId {
    width:100%;
    box-sizing:border-box;
    padding:20px
   }
   .addUserEmailIdRemove {
    position:inherit;
    box-sizing:border-box;
    padding:25px;
    font-size:21px;
    color:#afafaf;
    font-weight:300;
    cursor:pointer
   }
   .addUserEmailIdRemove:hover {
    font-weight:400;
    text-shadow:1px 1px 2px #b2b2b2a1;
    color:#b02e2e
   }
   .addUsersEmailIdSaveButt {
    margin-top:25px;
    background-color:green;
    font-size:16px;
    padding:12px 30px;
    border-radius:5px;
    box-shadow:0 3px 3px rgb(0 0 0/30%);
    cursor:pointer;
    border:none;
    color:#fff;
    margin:10px;
    text-align:center;
    position:relative
   }
   .license-configure-panel {
    margin: 0 7%;
    box-shadow:0 10px 25px rgba(0,0,0,.3);
    padding:15px;
    border-radius:5px;
    margin-top: 35px;
    margin-bottom: 50px;
   }
   .lcp-ttl {
    font-size:22px;
    color:green
   }
   .lcp-content {
    padding:10px
   }
   .lcp-lic-item {
    padding:15px;
    border:1px solid rgba(0,0,0,.1);
    margin:10px;
    box-shadow:0 1px 5px rgba(0,0,0,.2);
    border-radius:5px
   }
   .lcp-lic-item-ttl {
    font-size:20px;
    margin-bottom:7px
   }
   .lcpi-quantity {
    font-size:14px;
    color:grey;
    margin-bottom:5px
   }
   .lcpi-user-item>div {
    display:inline-block;
    margin:0 5px
   }
   .lcpi-user-item {
    padding:10px;
    width:100%
   }
   .lcpi-u-inp input {
    padding:7px 10px;
    border:1px solid rgba(0,0,0,.2);
    box-shadow:inset 0 0 3px rgba(0,0,0,.2);
    font-size:15px;
    border-radius:3px;
    width:50vw
   }
   .lcpi-u-inp input:disabled {
    border:none;
    background-color:#f5f5f5;
    box-shadow:none
   }
   .lcpi-action {
    margin-top:5px;
    padding-left:35px
   }
   .lcpi-action-save {
    padding:7px 20px;
    font-size:14px;
    background-color:#4169e1
   }
   .lcpi-user-tip {
    background-color:#f5f5f5;
    font-size:14px;
    padding:5px 15px;
    border-radius:15px;
    margin:15px;
    margin-bottom:5px;
    color:grey
   }
   .lcpi-action-save:hover {
    cursor:pointer;
    background-color:navy
   }
   .lcpi-itemmeta>div {
    display:inline-block;
    margin-right:8px
   }
   .lcpi-icon img {
    max-height:45px
   }
   .lcpi-plantype {
    background-color:#008b8b;
    color:#fff;
    padding:4px 10px;
    font-size:12px;
    border-radius:15px;
    display:inline-block
   }
   .c-red {
    color:red
   }
   .lcpi-item-fetch-status {
    text-align:center;
    width:100%;
    color:grey;
    font-size:14px;
    display:block;
    padding:15px 0
   }
   .prod_company_ttl img{
     max-height: 35px;
     vertical-align: middle;
     margin: 0px 5px;
   }
   .prod_company_ttl{
     margin-top: 0px;
     font-size: 30px;
     font-weight: 500;
     text-align: left;
     padding: 15px 20px 10px;
   }
   .prod_company_apps_holder{
     margin-bottom: 40px;
       padding: 10px 50px;
   }
   .pmtppf-item{
     font-size: 14px;
     list-style: inside;
     display: list-item;
     /*line-height: 1.4;*/
     color: rgba(86,86,86);
     text-align: left;
   }
   .price-item{
     /*display: inline-block !important;*/
     width: inherit;
     vertical-align: top;
   }
   .pmt-ttl{
       font-size: 22px;
       color: royalblue;
       padding: 10px 0px 0px 5px;
       margin-bottom: 5px;
   }
   .pmtp-planprice{
       text-align: center;
       font-size: 17px;
       color: rgb(86,86,86);
       margin-top: 10px;
   }
   .pmtp-plan-actions{
       text-align: center;
       margin-top: 5px;
   }
   .pmtppa-btn{
       padding: 7px 15px;
       border: none;
       border-radius: 5px;
       background-color: royalblue;
       color: white;
       font-size: 14px;
   }
   .pmtppa-btn:hover{
       background-color: navy;
       cursor: pointer;
   }
   .pmt-plansholder{
           min-width: 450px;
       text-align: center;
       padding: 0px 20px;
   }
   .pmtp-planperhow{
       font-size: 12px;
       text-align: center;
       color: grey;
   }
   .pmtp-plan-features{
       margin-top: 5px;
       padding: 5px 10px;
       max-width: 200px;
   }
   .pmtppf-item{
       font-size: 13px;
       margin: 5px 0px;
       color: rgb(50,50,50);
       display: list-item;
       list-style-type: circle;
       text-align: left;
       list-style: outside;
   }
   .pmtw-outer {
       position: fixed;
       top: 0px;
       left: 0px;
       right: 0px;
       bottom: 0px;
       background-color: rgba(0,0,0,0.7);
       text-align: center;
       z-index: 10;
   }
   .pmtw-holder {
       background-color: white;
       display: inline-block;
       text-align: left;
       margin-top: 30px;
       padding: 10px 15px 30px;
       border-radius: 5px;
       position: relative;
       box-shadow: 0px 5px 25px rgb(0 0 0 / 30%);
       max-width: 90%;
       max-height: 85%;
       overflow-y: auto;
       min-width: 40%;
   }
   .pmt-ttl{
       font-size: 22px;
       color: royalblue;
       padding: 10px 0px 0px 5px;
       margin-bottom: 5px;
   }
   .pmtp-planprice{
       text-align: center;
       font-size: 17px;
       color: rgb(86,86,86);
   }
   .pmtp-plan-actions{
       text-align: center;
       margin-top: 5px;
   }
   .pmt-ttl select{
       position: absolute;
       right: 40px;
       top:12px;
       padding: 4px 10px;
       border-radius: 25px;
       box-shadow: 0px 2px 5px rgb(0 0 0 / 20%);
       border: 1px solid darkorange;
       color: white;
       font-size: 12px;
       background-color: darkorange;
   }
   
   .pmt-userquantityholder{
     display: none;
       position: absolute;
       bottom: 0px;
       background-color: white;
   
       left: 0px;
       right: 0px;
       top: 0px;
       background-color: rgba(0,0,0,0.2);
   }
   .pmtqn-inner{
       background-color: white;
       position: absolute;
       left: 0px;
       bottom: 0px;
       right: 0px;
       box-shadow: 0px -10px 10px rgba(0,0,0,0.2);
       padding: 10px 20px 30px;
   }
   .pmtqn-back{
       color:rgb(86,86,86);
       font-size: 14px;
       padding: 5px 0px;
       color: crimson;
       margin-bottom: 10px;
   }
   .pmtqn-back:hover{
       cursor: pointer;
       color: red;
   }
   .pmtqn-content>div{
       display: inline-block;
   }
   
   .pmtqn-inc-btn{
       padding: 0px 3px;
       width: 20px;
       text-align: center;
       background-color: darkorange;
       color: white;
       font-size: 20px;
       border-radius: 4px;
   }
   .pmtqn-inc-btn:hover{
       cursor: pointer;
       background-color: orange;
   }
   .pmtqn-inc-inp input{
       padding: 7px 5px;
       width: 70px;
       text-align: center;
       vertical-align: middle;
       margin-top: -5px;
       border:1px solid orange;
       font-size: 17px;
       color: darkgoldenrod;
   }
   .pmtqn-ttl{
       font-size: 19px;
   }
   .pmtqn-subttl{
       font-size: 14px;
       color: grey;
   }
   .pmtqn-content{
       margin-top: 10px;
       text-align: center;
       padding: 15px 10px 15px;
   
   }
   .ualic_sub_status_tip{
       float: left;
       margin-right: 130px;
       margin-top: 3px;
       cursor: pointer;
   }
   
   .pmtw-close{
         position: absolute;
       right: 0px;
       top: 0px;
       background-color: crimson;
       color: white;
       padding: 4px 11px 5px;
       font-size: 18px;
   }
   .pmtw-close:hover{
     cursor: pointer;
     background-color: red;
   
   }
   .priceListHolder{
     text-align: center;
   }
   .pmt-mainTtl{
     padding: 15px 20px;
     color: rgb(50, 50, 50);
     font-weight: 300;
     margin: -10px -15px 10px;
     background-color: whitesmoke;
   }
   
   .transferCreditsToWhatcetra, .transferCreditsToWhatcetraH, .transferCreditsToUlgebra {
       position: relative;
       float: left;
       height: 38px;
       display: flex;
       flex-direction: row;
       justify-content: center;
       align-items: center;
       box-sizing: border-box;
       padding: 15px;
       padding-left: 0px;
   }
   
   .transferCreditsToWhatcetraDiv, .transferCreditsToWhatcetraDivH {
       background: rebeccapurple;
       color: white;
       height: 35px;
       position: relative;
       box-sizing: border-box;
       display: flex;
       align-items: center;
       justify-content: center;
       padding: 0 16px;
       font-size: 13px;
       font-weight: 300;
       border-radius: 3px;
       cursor: pointer;
       text-shadow: 1px 1px 2px #28005bbf;
       box-shadow: 1px 1px 2px rebeccapurple;
       transition: 0.1s;
   }
   
   .transferCreditsToUlgebraDiv {
       background: #a53073;
       color: white;
       height: 35px;
       position: relative;
       box-sizing: border-box;
       display: flex;
       align-items: center;
       justify-content: center;
       padding: 0 16px;
       font-size: 13px;
       font-weight: 300;
       border-radius: 3px;
       cursor: pointer;
       text-shadow: 1px 1px 2px #5b0033bf;
       box-shadow: 1px 1px 2px #7a235f;
       transition: 0.1s;
   }
   
   .transferCreditsToWhatcetraDivH:hover {
       box-shadow: inset 0px 0px 32px #5a1e3f33;
   }
   
   .transferCreditsToWhatcetraDiv:hover {
       box-shadow: 0px 0px 7px rebeccapurple;
   }
   
   .transferCreditsToUlgebraDiv:hover {
       box-shadow: 0px 0px 7px #99337c;
   }
   
   .addIntegaration_outer, .addIntegaration_outerH, .addIntegaration_outer_ulg {
       width: 100%;
       height: 100%;
       position: fixed;
       z-index: 2600;
       top: 0;
       left: 0;
       justify-content: center;
       display: flex;
       background-color: rgba(0,0,0,0.3);
       align-items: center;
       overflow: auto;
       /* padding-top: 10%; */
       /* padding-bottom: 10%; */
       box-sizing: border-box;
   }
   
   div#addIntegaration, #addIntegarationH {
       background-color: rgb(253 247 255);
       border-radius: 7px;
       height: fit-content !important;
       z-index: 800 !important;
       padding: 0px !important;
       margin: 0px;
       box-shadow: 0px 2px 10px #564864;
       width: 845px;
       position: relative;
       overflow: hidden;
   }
   
   div#addIntegaration_ulg {
       background-color: rgb(254 251 252);
       border-radius: 7px;
       height: fit-content !important;
       z-index: 800 !important;
       padding: 0px !important;
       margin: 0px;
       box-shadow: 0px 2px 10px #644859;
       width: 845px;
       position: relative;
       overflow: hidden;
   }
   
   span#close_integarationDiv:hover, span#close_integarationDiv_ulg:hover {
       color: rgb(106 6 6);
       text-shadow: 0px 0px 1px;
   }
   
   span#close_integarationDivH:hover {
       color: rgb(153 0 0);
       text-shadow: 0px 0px 1px;
   }
   span#close_integarationDiv, #close_integarationDivH, span#close_integarationDiv_ulg {
       position: absolute;
       z-index: 100;
       box-sizing: border-box;
       cursor: pointer;
       border-radius: 39px;
       font-size: 21px;
       justify-content: center;
       margin-top: 13px;
       margin-left: 21px;
       display: flex;
       align-items: center;
       color: #66339973;
       text-shadow: 0px 0px 1px;
   }
   
   span#close_integarationDiv_ulg {
       color: #99336f73;
   }
   
   .chooseExlFileTit label, .chooseExlFileTitH label {
       box-shadow: 0px 0px 5px rgb(60 17 91 / 59%);
       width: 100%;
       justify-content: center;
       height: 100%;
       box-sizing: border-box;
       padding: 15px;
       border-radius: 7px;
       display: flex;
       border-bottom-left-radius: 0px;
       border-bottom-right-radius: 0px;
       color: #5e3c7f;
       /* font-weight: 300; */
       background-color: rgb(226 211 231);
       text-shadow: 1px 1px 2px #884caf7d;
   }
   
   .chooseExlFileTit_ulg label {
       box-shadow: 0px 0px 5px rgb(91 17 68 / 59%);
       width: 100%;
       justify-content: center;
       height: 100%;
       box-sizing: border-box;
       padding: 15px;
       border-radius: 7px;
       display: flex;
       border-bottom-left-radius: 0px;
       border-bottom-right-radius: 0px;
       color: #7f3c6e;
       /* font-weight: 300; */
       background-color: rgb(231 211 226);
       text-shadow: 1px 1px 2px #af4c907d;
   }
   
   #Campain_nameField label, #Campain_nameField_ulg label {
       box-shadow: 2px 2px 3px rgba(0,0,0,0.1);
       width: 100%;
       justify-content: center;
       padding: 9px;
       border: 1px dotted rgba(0,0,0,0.3);
       font-size: 12px;
       box-sizing: border-box;
       display: flex;
       cursor: pointer;
       border-radius: 3px;
       border-top-right-radius: 7px;
       margin-top: 5px;
       background-color: transparent;
       margin-bottom: -2px;
   }
   
   div#Campain_nameField, div#Campain_nameField_ulg {
       display: block;
       box-sizing: border-box;
       padding: 25px 38px 0px 38px;
   }
   
   #Campain_nameField label:hover {
       background-color: rgb(133,234,171,0.2);
   }
   
   #Campain_nameField_ulg label:hover {
       background-color: rgb(133,234,171,0.2);
   }
   
   div#bodyField_Input, div#bodyField_Input_ulg {
       position: relative;
       width: 100%;
   }
   
   input#integaration_name, #integarate_webhook, input#integaration_name_ulg, #integarate_webhook_ulg {
       outline: 0;
       border: 0pX;
       justify-content: flex-end;
       box-sizing: border-box;
       padding: 10px 15px 9px 15px;
       width: 100%;
       margin-top: 5px;
       font-size: 15px;
       background-color: transparent;
       border-radius: 3px;
       border-top-right-radius: 7px;
       box-shadow: 2px 2px 3px rgb(165 128 174 / 47%);
       border-bottom: 2px solid;
       border-color: transparent;
       border-top: 3px solid transparent !important;
   }
   
   input#integaration_name::placeholder, input#integarate_webhook::placeholder {
       content: attr(placeholder);
       color: rgb(73 2 93 / 36%)
   }
   
   input#integaration_name_ulg::placeholder, input#integarate_webhook_ulg::placeholder {
       content: attr(placeholder);
       color: rgb(73 2 93 / 36%)
   }
   
   div.headTitle_Iput, div.integarate_name, div.headTitle_Iput_ulg, div.integarate_name_ulg {
       /* display: flex; */
       align-items: flex-end;
       position: relative;
       font-weight: 400;
       top: 33px;
       left: 14px;
       font-size: 15px;
       text-shadow: 0px 0px 1px;
       transition: 0.3s;
       color: transparent;
   }
   
   div#error_inputIntegarate, #error_inputEmail {
       font-size: 12px;
       padding-top: 4px;
       color: #b64040;
       position: absolute;
       left: 5px;
       margin-top: 5px;
       text-shadow: 0px 0px 1px rebeccapurple;
   }
   
   div#error_inputIntegarate_ulg, #error_inputEmail_ulg {
       font-size: 12px;
       padding-top: 4px;
       color: #b64040;
       position: absolute;
       left: 5px;
       margin-top: 5px;
       text-shadow: 0px 0px 1px rebeccapurple;
   }
   
   .integaration_footer {
       width: 100%;
       justify-content: center;
       display: flex;
       box-sizing: border-box;
       padding-bottom: 22px;
       padding-top: 25px;
   }
   
   .integaration_footer_ulg {
       width: 100%;
       justify-content: center;
       display: flex;
       box-sizing: border-box;
       padding-bottom: 22px;
       padding-top: 25px;
   }
   
   div.waCreditChangeSend:hover {
       box-shadow: 0px 0px 7px #663399de, inset 0px 0px 34px rgb(0 0 0 / 45%);
   }
   
   div.ulgCreditChangeSend:hover {
       box-shadow: 0px 0px 7px #99337cde, inset 0px 0px 34px rgb(0 0 0 / 45%);
   }
   
   .waCreditChangeSend {
       padding: 6px 38px;
       padding-bottom: 5px;
       float: left;
       font-size: 15px;
       text-align: center;
       border: none;
       background-color: #48256bd4;
       border-radius: 3px;
       color: white;
       border-top-right-radius: 8px;
       cursor: pointer;
       box-shadow: 1.5px 2px 3px #663399ab;
   }
   
   .ulgCreditChangeSend {
       padding: 6px 38px;
       padding-bottom: 5px;
       float: left;
       font-size: 15px;
       text-align: center;
       border: none;
       background-color: #6b2555d4;
       border-radius: 3px;
       color: white;
       border-top-right-radius: 8px;
       cursor: pointer;
       box-shadow: 1.5px 2px 3px #9933737a;
   }
   
   .integaration_nameFocus{
     display: flex !important;
     top: 0 !important;
     left: 0 !important;
     color: #7023bc !important;
   }
   
   .integaration_nameFocus_ulg{
     display: flex !important;
     top: 0 !important;
     left: 0 !important;
     color: #bc237d !important;
   }
   
   .addIntegaration_outerBody, .addIntegaration_outerBody_ulg {
       display: flex;
       width: 100%;
       position: relative;
   }
   
   div#Campain_nameField.integareteUrlName, div#Campain_nameField_ulg.integareteUrlName_ulg {
       width: 70%;
       padding-right: 15px;
       position: relative;
   }
   
   div#Campain_nameField.webhookUrlAdd, div#Campain_nameField_ulg.webhookUrlAdd_ulg {
       width: 30%;
       padding-left: 0;
       position: relative;
   }
   
   div#error_inputEmail, div#error_inputEmail_ulg {
       left: 42px;
   }
   
   .statusTransferCreditsDiv {
        position: fixed;
        z-index: 100;
        box-shadow: 1px 1px 3px #07010db5;
        top: 15vh;
        left: 10%;
        right: 10%;
        height: 60vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 3px;
        justify-content: space-evenly;
        box-sizing: border-box;
        padding: 9px;
        background-color: #d8c5e5;
   }
   
   .statusTransferCreditsDiv_ulg {
       position: fixed;
       z-index: 100;
       box-shadow: 1px 1px 3px #07010db5;
       top: 15vh;
       left: 10%;
       right: 10%;
       height: 60vh;
       display: flex;
       flex-direction: column;
       align-items: center;
       border-radius: 3px;
       justify-content: space-evenly;
       box-sizing: border-box;
       padding: 9px;
       background-color: #e5c5da;
   }
   
   .statusTransferCreditsDivFood {
       background-color: #440880;
       color: #f3e6ff;
       font-size: 14px;
       box-sizing: border-box;
       padding: 3px 10px;
       border-radius: 2px;
       box-shadow: 0px 0px 5px rebeccapurple;
       cursor: pointer;
       position: relative;
       top: -5px;
   }
   
   .statusTransferCreditsDivFood_ulg {
       background-color: #80084b;
       color: #ffe6f7;
       font-size: 14px;
       box-sizing: border-box;
       padding: 3px 10px;
       border-radius: 2px;
       box-shadow: 0px 0px 5px #99336c;
       cursor: pointer;
       position: relative;
       top: 0px;
   }
   
   .statusTransferCreditsDivBody {
        font-size: 15px;
        width: 100%;
        word-break: break-word;
        box-sizing: border-box;
        padding: 35px;
        text-overflow: ellipsis;
        align-items: center;
        overflow: hidden;
        white-space: pre-wrap;
        justify-content: center;
        color: #000000db;
        text-shadow: 0 0 1px;
        overflow-y: auto;
        padding-top: 10px;
        padding-bottom: 100px;
   }
   
   .statusTransferCreditsDivBody_ulg {
       font-size: 15px;
       width: 100%;
       word-break: break-word;
       box-sizing: border-box;
       padding: 35px;
       text-overflow: ellipsis;
       align-items: center;
       overflow: hidden;
       white-space: pre-wrap;
       justify-content: center;
       color: #000000db;
       text-shadow: 0px 0px 1px;
       overflow-y: auto;
       padding-top: 10px;
       padding-bottom: 100px;
   }
   
   .transferCreditsToWhatcetraDivH {
       background-color: whitesmoke;
       box-shadow: none;
       border-radius: 0;
       padding: 0px 10px;
       height: 40px;
       border-left: 1px solid rgba(0,0,0,.03);
       position: relative;
       top: 1px;
   }
   
   .addIntegaration_outerBodyH {
       max-height: 325px;
       width: 100%;
       overflow: auto;
       box-sizing: border-box;
       padding: 0px 0px;
       font-size: 13px;
       font-family: system-ui;
       background-color: #7a73770f;
       z-index: 0;
       /* box-shadow: inset 0px 1px 3px #52064394; */
       padding-bottom: 0;
   }
   
   .outerTransferCreditsShow {
       width: 100%;
       box-shadow: 0px 1px 2px rgb(0 0 0 / 3%);
       box-sizing: border-box;
       padding: 30px 0px 15px;
   }
   
   .outerTransferCreditsShowM1 {
       width: 100%;
       display: flex;
       justify-content: space-evenly;
       height: 25px;
       align-items: center;
       font-family: fantasy;
   }
   
   .outerTransferCreditsShowM2 {
       width: 100%;
       display: flex;
       justify-content: space-around;
       align-items: flex-start;
       /* height: 25px; */
   }
   
   .outerTransferCreditsShowM3 {
       width: 100%;
       display: flex;
       justify-content: flex-end;
       position: relative;
       right: 30px;
       box-sizing: border-box;
       padding-top: 15px;
   }
   
   .outerTransferCreditsShowM1From, .outerTransferCreditsShowM1Svg, .outerTransferCreditsShowM1To {
       width: calc(100%/3);
       font-size: 14px;
   }
   
   .outerTransferCreditsShowM1From {
       text-align: end;
   }
   
   .outerTransferCreditsShowM1To {
       text-align: start;
   }
   
   .outerTransferCreditsShowM2Fstatus {
       text-align: end;
       display: flex;
       align-items: flex-end;
       flex-direction: column;
       justify-content: flex-start;
       box-sizing: border-box;
       padding-top: 10px;
   }
   
   .outerTransferCreditsShowM2Fstatus, .outerTransferCreditsShowM2Tstatus, .outerTransferCreditsShowM2Gstatus {
       width: calc(100%/3);
   }
   
   .outerTransferCreditsShowM1Svg {
       text-align: center;
       position: relative;
       top: 25px;
   }
   
   .outerTransferCreditsShowM2Tstatus {
       text-align: start;
       display: flex;
       justify-content: flex-start;
       align-items: flex-start;
       flex-direction: column;
       box-sizing: border-box;
       padding-top: 10px;
   }
   
   .outerTransferCreditsShowM2Gstatus {
       text-align: center;
   }
   
   .outerTransferCreditsShowM3T {
       font-size: 12px;
       color: #543838;
   }
   
   .outerTransferCreditsShowM3T {
       font-size: 12px;
       color: #cdc2d0;
       text-shadow: 0px 0px 1px #90899126;
   }
   
   .chooseExlFileTitH label {
       background-color: rgb(254 249 255);
       text-shadow: 1px 1px 2px #aa93a09e;
       box-shadow: 0px 0px 5px rgb(209 194 209 / 59%);
       z-index: 10;
       color: #1c002196;
   }
   
   span#close_integarationDivH {
       color: #c8b9cd;
   }
   
   .addIntegaration_outerBodyH::-webkit-scrollbar {
       width: 3px;
   }
   
   .addIntegaration_outerBodyH::-webkit-scrollbar-thumb {
       background-color: #c1accd;
   }
   
   .outerTransferCreditsShowM3Svg {
       position: relative;
       right: -5px;
       top: 0.2px;
       box-shadow: 0px 0px 2px #7b33998c;
       border-radius: 100%;
       height: 15px;
   }
   
   .outerTransferCreditsShowE {
       width: 100%;
       height: 100px;
       display: flex;
       justify-content: center;
       align-items: center;
       font-size: 16px;
       color: #68151536;
       text-shadow: 0px 0px 1px;
       font-weight: 300;
   }
   
   /* message loading style */
   
   .loaderOuterDiv {
       width: 100%;
       justify-content: center;
       display: flex;
       box-sizing: border-box;
       padding: 20px;
       text-align: left;
   }
   
   .wcMsgLoadingInner {
       margin: 0 auto;
       background-color: #fff;
       border-radius: 50%;
       box-shadow: 0 1px 1px 0 rgba(0,0,0,.06),0 2px 5px 0 rgba(0,0,0,.2);
       display: flex;
       align-items: center;
       justify-content: center;
       width: 35px;
       height: 35px;
       color: rgba(0,0,0,0.25);
   }
   
   .wcMsgLoadingOuter {
       display: flex;
       flex: none;
       justify-content: center;
       padding: 15px 0px;
       box-sizing: border-box;
   }
   
   .wcMsgLoadingSvgCircle {
       stroke: #ccc;
       stroke-dasharray: 1,150;
       stroke-dashoffset: 0;
       stroke-linecap: round;
       animation: wcMsgLoadingSvgCircle 1.5s ease-in-out infinite;
   }
   
   .wcMsgLoadingSVG {
       animation: wcMsgLoadingSVG 2s linear infinite;
   }
   
   @keyframes wcMsgLoadingSvgCircle{
       0%{stroke-dasharray:1,150;stroke-dashoffset:0}
       50%{stroke-dasharray:90,150;stroke-dashoffset:-35}
       to{stroke-dasharray:90,150;stroke-dashoffset:-124}
   }
   
   @keyframes wcMsgLoadingSVG{
       to{transform:rotate(1turn)}
   }
   
   /* message loading style */
   
   .outerTransferCreditsShowM2FstatusM, .outerTransferCreditsShowM2TstatusM {
       background-color: #9075961a;
       padding: 0px 8px 3px;
       border: 1px #81339942;
       border-style: dashed;
       border-radius: 3px;
       /* max-width: 70px; */
       text-overflow: ellipsis;
       /* overflow: hidden; */
       /* white-space: nowrap; */
       box-sizing: border-box;
   }
   
   .outerTransferCreditsShowN {
       display: flex;
       justify-content: center;
       width: 100%;
       height: 33px;
       align-items: center;
       cursor: pointer;
       background-color: #c9b4bd0d;
       color: #8e4e6b;
       text-shadow: 0px 0px 1px;
   }
   
   .outerTransferCreditsShowN:hover {
       background-color: #c9b4bd45;
   }
   
   .outerTransferCreditsShowM2FstatusT {
       display: flex;
       /* max-width: calc(100% - 70px); */
       flex-direction: row;
       justify-content: center;
       align-items: center;
       white-space: break-spaces;
       overflow: hidden;
       /* width: 100%; */
   }
   
   .outerTransferCreditsShowM1SvgTAdd, .outerTransferCreditsShowM1SvgTSub {
       font-family: monospace;
       font-size: 10px;
       text-align: center;
       position: relative;
       color: #007300;
   }
   
   .outerTransferCreditsShowM1SvgM {
       font-size: 32px;
       position: relative;
       top: -21px;
       color: #005600;
   }
   
   .outerTransferCreditsShowM2FstatusT1 {
       /* width: calc(100% - 70px); */
       overflow: hidden;
       text-overflow: ellipsis;
       white-space: break-spaces;
       /* display: inline-block; */
       /* background-color: #e3dbcc; */
       box-sizing: border-box;
       padding: 13px 0px;
       color: #937988;
       line-height: 1.5;
   }
   
   .outerTransferCreditsShowM1SvgM.outerTransferCreditsShowM1SvgMr {
       top: -13px;
       color: #850101;
   }
   
   .outerTransferCreditsShowM2TstatusT1 {
       padding: 10px 0px 0px;
       color: #9d7d91;
       line-height: 1.5;
   }
   
   .outerTransferCreditsShowM1SvgTSub.outerTransferCreditsShowM1SvgTSubre {
       top: -30px;
       color: #7f0000;
   }
   
   .outerTransferCreditsShowM2hint {
       position: relative;
       box-sizing: border-box;
       padding-top: 20px;
       width: 335px;
       color: #8d7395;
   }
   .plan-appcode{
        float: right;
        margin-top: -20px;
        color: silver;
        font-size: 10px;
   }