.THIS.hide {
 	display: none;
 }
 
 .THIS.btn {
 	margin-bottom: 10px;
 }

.THIS label.uiLabel {
    padding-right: 12px;
}

.THIS textarea {
	border: 1px solid #dce4ec;
    border-radius: 4px;
    width: 400px;
    margin-left:20px;
}
.THIS h2 {
    font-size: 12px;
    font-weight: bold;
    padding-bottom: 15px;
}
.THIS.uiMenu {
    margin: 20px;
}
.THIS.fl {
    float: left;
}