<aura:component implements="force:lightningQuickAction,force:hasRecordId" controller="newapex">
    <aura:handler name="init" action="{!c.doInit}" value="{!this}"/>
    <aura:attribute name="mergeFields" type="String[]" default="Open, Closed, Closed Won, Any"/>
    <aura:attribute name="phoneFields" type="String[]" default="Open, Closed, Closed Won, Any"/>
	<aura:attribute name="contact" type="Contact"/>
        <ui:menu class="fl">
            <ui:menuTriggerLink aura:id="phone" label="Select Phone Field"/>
            <ui:menuList class="actionMenu" aura:id="actionMenu">
                <aura:iteration items="{!v.phoneFields}" var="s">
                    <ui:actionMenuItem label="{!s}" click="{!c.updateTriggerLabel}"/>
                </aura:iteration>
            </ui:menuList>
        </ui:menu>
        
    	<ui:menu class="fl">
            <ui:menuTriggerLink aura:id="merge" label="Insert Merge Fields"/>
            <ui:menuList class="actionMenu" aura:id="actionMenu">
                <aura:iteration items="{!v.mergeFields}" var="s">
                    <ui:actionMenuItem label="{!s}" click="{!c.insertMergeField}"/>
                </aura:iteration>
            </ui:menuList>
        </ui:menu>
	<ui:inputTextArea aura:id="comments"  value="" rows="5"/>
     <ui:button class="btn" label="Send" press="{!c.sendWhatsapp}"/>	
     
</aura:component>