<aura:component implements="lightning:actionOverride,flexipage:availableForRecordHome,force:hasRecordId" controller="newapex" access="global">
  	
    <aura:attribute name="isTemplateSaved" type="String" default="false"/>
    <aura:attribute name="mergeFields" type="String[]" default=""/>
    <aura:attribute name="fieldsMapList" type="String[]"/>
    <aura:attribute name="objects" type="String[]" default="Lead,Contact"/>
    <aura:attribute name="modalContext" type="String" default="New" />
    <aura:attribute name="newTemplate" type="WhatsApp_Template__c" />
    <force:recordData aura:id="forceRecord"
                recordId="{!v.recordId}"
                targetFields="{!v.newTemplate}"
                fields="Id,Name,Template_Message__c,Object_Name__c"
                mode="EDIT" 
                recordUpdated="{!c.handleRecordUpdated}"/>
	<aura:handler name="init" action="{!c.doInit}" value="{!this}"/>
    <div aura:id="editDialog" role="dialog" tabindex="-1" aria-labelledby="header43" class="">
        <div class="slds-modal__container">
                <div class="slds-modal__header">
                    <h2 class="slds-text-heading--medium">{!modalContext} Record</h2>
            </div>
            <div class="slds-modal__content slds-p-around--medium slds-grid slds-wrap ">
                <ui:inputText label="Enter Template Name" class="field" value="{!v.newTemplate.Name}"/>
                <lightning:select aura:id="objectName" name="select1" onchange="{!c.selectObject}" value="{!v.newTemplate.Object_Name__c}">
                    <aura:iteration items="{!v.objects}" var="s">
                        <option value="{!s}" >{!s}</option>
                    </aura:iteration>    
                </lightning:select>
                <ui:menu class="col">
                    <ui:menuTriggerLink aura:id="merge" label="Insert Merge Fields"/>
                    <ui:menuList class="actionMenu" aura:id="actionMenu">
                        <aura:iteration items="{!v.mergeFields}" var="s">
                            <ui:actionMenuItem label="{!s}" click="{!c.insertMergeField}"/>
                        </aura:iteration>
                    </ui:menuList>
                </ui:menu>
    			<ui:inputTextArea aura:id="message"  value="{!v.newTemplate.Template_Message__c}" rows="5"/>
            </div>
            <div class="slds-modal__footer">                
                <lightning:button variant="neutral" label="Cancel" onclick="{!c.cancelDialog}" />
                <lightning:button variant="brand" label="Submit" onclick="{!c.storeTemplate}" />
            </div>
        </div>
    </div>
</aura:component>
